Repository microsoft/vscode, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hediet, @alexdima, @lszomoru, @joaomoreno, @TylerLeonhardt, @rzhao271, @lramos15, @bpasero, @deepak1556, @mjbvz, @benibenj, @Tyriar, @sandy081, @alexr00, @jrieken

.github/CODEOWNERS:

# GitHub actions required reviewers
.github/workflows/monaco-editor.yml @hediet @alexdima @lszomoru @joaomoreno
.github/workflows/no-package-lock-changes.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/no-yarn-lock-changes.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/pr-darwin-test.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/pr-linux-cli-test.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/pr-linux-test.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/pr-node-modules.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/pr-win32-test.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/pr.yml @lszomoru @joaomoreno @TylerLeonhardt @rzhao271
.github/workflows/telemetry.yml @lramos15 @lszomoru @joaomoreno

# Base Utilities
src/vs/base/common/extpath.ts @bpasero @deepak1556
src/vs/base/common/glob.ts @bpasero @deepak1556
src/vs/base/common/path.ts @bpasero @deepak1556
src/vs/base/common/stream.ts @bpasero @deepak1556
src/vs/base/browser/domSanitize.ts @mjbvz
src/vs/base/node/pfs.ts @bpasero @deepak1556
src/vs/base/parts/contextmenu/** @bpasero @deepak1556
src/vs/base/parts/ipc/** @bpasero @deepak1556
src/vs/base/parts/sandbox/** @bpasero @deepak1556
src/vs/base/parts/storage/** @bpasero @deepak1556

# Base Widgets
src/vs/base/browser/ui/grid/** @joaomoreno @benibenj
src/vs/base/browser/ui/list/** @joaomoreno @benibenj
src/vs/base/browser/ui/sash/** @joaomoreno @benibenj
src/vs/base/browser/ui/splitview/** @joaomoreno @benibenj
src/vs/base/browser/ui/table/** @joaomoreno @benibenj
src/vs/base/browser/ui/tree/** @joaomoreno @benibenj

# Platform
src/vs/platform/auxiliaryWindow/** @bpasero @benibenj
src/vs/platform/backup/** @bpasero @Tyriar
src/vs/platform/editor/** @bpasero @benibenj
src/vs/platform/environment/** @bpasero @deepak1556
src/vs/platform/files/** @bpasero @deepak1556
src/vs/platform/ipc/** @bpasero @deepak1556
src/vs/platform/launch/** @bpasero @deepak1556
src/vs/platform/lifecycle/** @bpasero @deepak1556
src/vs/platform/menubar/** @bpasero @deepak1556
src/vs/platform/native/** @bpasero @deepak1556
src/vs/platform/sharedProcess/** @bpasero @deepak1556
src/vs/platform/state/** @bpasero @deepak1556
src/vs/platform/storage/** @bpasero @deepak1556
src/vs/platform/utilityProcess/** @bpasero @deepak1556
src/vs/platform/window/** @bpasero @deepak1556
src/vs/platform/windows/** @bpasero @deepak1556
src/vs/platform/workspace/** @bpasero @sandy081
src/vs/platform/workspaces/** @bpasero @sandy081

# Bootstrap
src/bootstrap-cli.ts @bpasero @deepak1556
src/bootstrap-esm.ts @bpasero @deepak1556
src/bootstrap-fork.ts @bpasero @deepak1556
src/bootstrap-import.ts @bpasero @deepak1556
src/bootstrap-meta.ts @bpasero @deepak1556
src/bootstrap-node.ts @bpasero @deepak1556
src/bootstrap-server.ts @bpasero @deepak1556
src/cli.ts @bpasero @deepak1556
src/main.ts @bpasero @deepak1556
src/server-cli.ts @bpasero @deepak1556
src/server-main.ts @bpasero @deepak1556

# Electron Main
src/vs/code/** @bpasero @deepak1556

# Workbench Services
src/vs/workbench/services/activity/** @bpasero @benibenj
src/vs/workbench/services/auxiliaryWindow/** @bpasero @benibenj
src/vs/workbench/services/chat/** @bpasero @sandy081
src/vs/workbench/services/contextmenu/** @bpasero @benibenj
src/vs/workbench/services/dialogs/** @alexr00 @bpasero
src/vs/workbench/services/editor/** @bpasero @benibenj
src/vs/workbench/services/environment/** @bpasero @deepak1556
src/vs/workbench/services/files/** @bpasero @deepak1556
src/vs/workbench/services/filesConfiguration/** @bpasero @benibenj
src/vs/workbench/services/history/** @bpasero @benibenj
src/vs/workbench/services/host/** @bpasero @deepak1556
src/vs/workbench/services/label/** @bpasero @benibenj
src/vs/workbench/services/layout/** @bpasero @benibenj
src/vs/workbench/services/lifecycle/** @bpasero @deepak1556
src/vs/workbench/services/notification/** @bpasero @benibenj
src/vs/workbench/services/path/** @bpasero @benibenj
src/vs/workbench/services/progress/** @bpasero @benibenj
src/vs/workbench/services/storage/** @bpasero @deepak1556
src/vs/workbench/services/textfile/** @bpasero @benibenj
src/vs/workbench/services/textmodelResolver/** @bpasero @jrieken
src/vs/workbench/services/untitled/** @bpasero @benibenj
src/vs/workbench/services/utilityProcess/** @bpasero @deepak1556
src/vs/workbench/services/views/** @sandy081 @benibenj @bpasero
src/vs/workbench/services/workingCopy/** @bpasero @jrieken
src/vs/workbench/services/workspaces/** @bpasero @sandy081

# Workbench Core
src/vs/workbench/common/** @bpasero @benibenj @sandy081
src/vs/workbench/browser/** @bpasero @benibenj @sandy081
src/vs/workbench/electron-browser/** @bpasero @benibenj @sandy081

# Workbench Contributions
src/vs/workbench/contrib/files/** @lramos15 @bpasero
src/vs/workbench/contrib/update/browser/releaseNotesEditor.ts @alexr00 @joaomoreno

# VS Code API
# Ensure the API team is aware of changes to the vscode-dts file
# this is only about the final API, not about proposed API changes
src/vscode-dts/vscode.d.ts @jrieken @mjbvz @alexr00

more
  eslint.config.js
  src/vs/base/parts/ipc/node/ipc.mp.ts
  src/vs/base/parts/sandbox/node/electronTypes.ts
  src/vs/platform/sharedProcess/electron-main/sharedProcess.ts
  src/vs/workbench/api/node/extensionHostProcess.ts
Owners: @bpasero, @deepak1556

more
  eslint.config.js
  src/vs/platform/environment/node/argv.ts
Owners: @bpasero, @deepak1556

more
  eslint.config.js
  src/vs/platform/storage/electron-main/storageIpc.ts
Owners: @bpasero, @deepak1556

more
  eslint.config.js
Owners: none

fix: refactor navigation titles for uncovered lines to use constants
  src/vs/workbench/contrib/testing/browser/codeCoverageDecorations.ts
Owners: none

more
  eslint.config.js
  src/vs/workbench/services/workspaces/browser/abstractWorkspaceEditingService.ts
  src/vs/workbench/services/workspaces/common/workspaceIdentityService.ts
Owners: @bpasero, @sandy081

more
  eslint.config.js
  src/vs/platform/ipc/electron-browser/services.ts
Owners: @bpasero, @deepak1556

Fix import path for IChatEntitlementService in StatsStatusBar
  src/vs/workbench/contrib/editTelemetry/browser/editStats/statsStatusBar.ts
Owners: none

more
  eslint.config.js
  src/vs/workbench/contrib/files/browser/fileActions.ts
Owners: @lramos15, @bpasero

more
  eslint.config.js
  src/vs/workbench/electron-browser/parts/titlebar/titlebarPart.ts
Owners: @bpasero, @benibenj, @sandy081

Version updated to 1.104.3
  package.json
Owners: none

Fix LoggerChannel deregisterLogger crash by sanitizing URI scheme properly
  src/vs/platform/log/electron-main/logIpc.ts
Owners: none

Switch to using snapshots for asserting HTML output
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_can_handle_unsorted_inline_decorations.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__11485__Visible_whitespace_conflicts_with_before_decorator_attachment.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__116939__Important_control_characters_aren_t_rendered.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__118759__enable_multiple_text_editor_decorations_in_empty_lines.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__119416__Delete_Control_Character__U_007F_____127___displayed_as_space.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__124038__Multiple_end-of-line_text_decorations_get_merged.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__136622__Inline_decorations_are_not_rendering_on_non-ASCII_lines_when_renderControlCharacters_is_on.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__18616__Inline_decorations_ending_at_the_text_length_are_no_longer_rendered.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__19207__Link_in_Monokai_is_not_rendered_correctly.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22352__COMBINING_ACUTE_ACCENT__U_0301_.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22352__Partially_Broken_Complex_Script_Rendering_of_Tamil.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22832__Consider_fullwidth_characters_when_rendering_tabs.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22832__Consider_fullwidth_characters_when_rendering_tabs__render_whitespace_.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__30133__Empty_lines_don_t_render_inline_decorations.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__32436__Non-monospace_font___visible_whitespace___After_decorator_causes_line_to__jump_.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__33525__Long_line_with_ligatures_takes_a_long_time_to_paint_decorations.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__33525__Long_line_with_ligatures_takes_a_long_time_to_paint_decorations_-_not_possible.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__37208__Collapsing_bullet_point_containing_emoji_in_Markdown_document_results_in______character.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__37401__40127__Allow_both_before_and_after_decorations_on_empty_line.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__38123__editor_renderWhitespace___boundary__renders_whitespace_at_line_wrap_point_when_line_is_wrapped.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__38935__GitLens_end-of-line_blame_no_longer_rendering.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__42700__Hindi_characters_are_not_being_rendered_properly.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__91936__Semantic_token_color_highlighting_fails_on_line_with_selected_text.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__137036__Issue_in_RTL_languages_in_recent_versions.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__19673__Monokai_Theme_bad-highlighting_in_line_wrap.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__20624__Unaligned_surrogate_pairs_are_corrupted_at_multiples_of_50_columns.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__2255__Weird_line_rendering_part_1.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__2255__Weird_line_rendering_part_2.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__91178__after_decoration_type_shown_before_cursor.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__95685__Uses_unicode_replacement_character_for_Paragraph_Separator.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__99589__Rendering_whitespace_influences_bidi_layout.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue_microsoft_monaco-editor_280__Improved_source_code_rendering_for_RTL_languages.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_overflow.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_typical_line.0.html
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

feat: add test suite for navigation between sidebar views and commands
  src/vs/workbench/test/browser/actions/navigationActions.test.ts
Owners: none

test: ensure no disposables are leaked in task schema v2 tests
  src/vs/workbench/contrib/tasks/test/common/jsonSchema_v2.test.ts
Owners: none

Adopt more snapshot assertions
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_does_not_emit_width_for_monospace_fonts.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_2_leading_tabs.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_4_leading_spaces.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_8_leading_spaces.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_mixed_leading_spaces_and_tabs.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_all_in_middle.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_multiple__initially_unsorted_selections.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_multiple_selections.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_no_selections.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_selection_spanning_part_of_whitespace.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_selections_next_to_each_other.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_whole_line_selection.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_8_leading_and_8_trailing_whitespaces.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_leading__inner__and_trailing_whitespace.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_leading__inner__and_without_trailing_whitespace.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_line_containing_only_whitespaces.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_in_middle_but_not_for_one_space.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_skips_faux_indent.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_simple.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_simple_two_tokens.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__6885__Does_not_split_large_tokens_in_RTL_text.0.html
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

More snapshots
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_can_handle_unsorted_inline_decorations.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__11485__Visible_whitespace_conflicts_with_before_decorator_attachment.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__116939__Important_control_characters_aren_t_rendered.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__118759__enable_multiple_text_editor_decorations_in_empty_lines.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__119416__Delete_Control_Character__U_007F_____127___displayed_as_space.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__124038__Multiple_end-of-line_text_decorations_get_merged.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__136622__Inline_decorations_are_not_rendering_on_non-ASCII_lines_when_renderControlCharacters_is_on.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__18616__Inline_decorations_ending_at_the_text_length_are_no_longer_rendered.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__19207__Link_in_Monokai_is_not_rendered_correctly.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22352__COMBINING_ACUTE_ACCENT__U_0301_.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22352__Partially_Broken_Complex_Script_Rendering_of_Tamil.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22832__Consider_fullwidth_characters_when_rendering_tabs.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__22832__Consider_fullwidth_characters_when_rendering_tabs__render_whitespace_.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__30133__Empty_lines_don_t_render_inline_decorations.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__32436__Non-monospace_font___visible_whitespace___After_decorator_causes_line_to__jump_.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__33525__Long_line_with_ligatures_takes_a_long_time_to_paint_decorations.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__33525__Long_line_with_ligatures_takes_a_long_time_to_paint_decorations_-_not_possible.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__37208__Collapsing_bullet_point_containing_emoji_in_Markdown_document_results_in______character.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__37401__40127__Allow_both_before_and_after_decorations_on_empty_line.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__38123__editor_renderWhitespace___boundary__renders_whitespace_at_line_wrap_point_when_line_is_wrapped.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__38935__GitLens_end-of-line_blame_no_longer_rendering.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__42700__Hindi_characters_are_not_being_rendered_properly.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_issue__91936__Semantic_token_color_highlighting_fails_on_line_with_selected_text.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__137036__Issue_in_RTL_languages_in_recent_versions.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__19673__Monokai_Theme_bad-highlighting_in_line_wrap.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__2255__Weird_line_rendering_part_1.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__2255__Weird_line_rendering_part_2.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__91178__after_decoration_type_shown_before_cursor.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__95685__Uses_unicode_replacement_character_for_Paragraph_Separator.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__99589__Rendering_whitespace_influences_bidi_layout.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue_microsoft_monaco-editor_280__Improved_source_code_rendering_for_RTL_languages.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_overflow.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_typical_line.1.snap
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

feat: add file system watchers for markdown preview updates
  extensions/markdown-language-features/package.json
  extensions/markdown-language-features/src/preview/preview.ts
Owners: none

Add an option bag for creating the RenderLineInput
  src/vs/editor/common/viewLayout/viewLineRenderer.ts
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

Renames
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

More assertSnapshot adoption
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_does_not_emit_width_for_monospace_fonts.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_2_leading_tabs.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_4_leading_spaces.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_8_leading_spaces.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_-_mixed_leading_spaces_and_tabs.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_all_in_middle.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_multiple__initially_unsorted_selections.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_multiple_selections.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_no_selections.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_selection_spanning_part_of_whitespace.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_selections_next_to_each_other.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_selection_with_whole_line_selection.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_8_leading_and_8_trailing_whitespaces.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_leading__inner__and_trailing_whitespace.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_leading__inner__and_without_trailing_whitespace.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_for_trailing_with_line_containing_only_whitespaces.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_in_middle_but_not_for_one_space.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_render_whitespace_skips_faux_indent.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_simple.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_2_createLineParts_simple_two_tokens.1.snap
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

Update PHPDoc array tokenization with spaces and newlines
  extensions/php/syntaxes/php.tmLanguage.json
Owners: none

Fix issue #260239
  src/vs/editor/common/viewLayout/viewLineRenderer.ts
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__137036__Issue_in_RTL_languages_in_recent_versions.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__260239__HTML_containing_bidirectional_text_is_rendered_incorrectly.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__260239__HTML_containing_bidirectional_text_is_rendered_incorrectly.1.snap
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__6885__Does_not_split_large_tokens_in_RTL_text.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue__99589__Rendering_whitespace_influences_bidi_layout.0.html
  src/vs/editor/test/common/viewLayout/__snapshots__/viewLineRenderer_renderLine_issue_microsoft_monaco-editor_280__Improved_source_code_rendering_for_RTL_languages.0.html
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Owners: none

Engineering - improve macOS CLI sign job
  build/azure-pipelines/darwin/product-build-darwin-cli-sign.yml
  build/azure-pipelines/darwin/steps/product-build-darwin-cli-sign.yml
Owners: none

Fix typo
  build/azure-pipelines/darwin/steps/product-build-darwin-cli-sign.yml
Owners: none

Stricter array check
  extensions/php/syntaxes/php.tmLanguage.json
Owners: none

personal adds to the vscode codeline
  .devcontainer-simple/.env.example
  .devcontainer-simple/Dockerfile
  .devcontainer-simple/README.md
  .devcontainer-simple/devcontainer.json
  .gitignore
  install_deps.sh
  setup_llm.sh
  start_claude.sh
  vscode.code-workspace
Owners: none

Enable WWW-Authenticate Step-up
  src/vs/base/common/oauth.ts
  src/vs/base/test/common/oauth.test.ts
  src/vs/workbench/api/browser/mainThreadMcp.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostAuthentication.ts
  src/vs/workbench/api/common/extHostMcp.ts
Owners: none

Remove unnecessary extensions
  build/gulpfile.extensions.js
  build/npm/dirs.js
  extensions/erdos-code-cells/extension.webpack.config.js
  extensions/erdos-code-cells/package-lock.json
  extensions/erdos-code-cells/package.json
  extensions/erdos-code-cells/package.nls.json
  extensions/erdos-code-cells/src/codeCellManager.ts
  extensions/erdos-code-cells/src/codeLenses.ts
  extensions/erdos-code-cells/src/commands.ts
  extensions/erdos-code-cells/src/context.ts
  extensions/erdos-code-cells/src/decorations.ts
  extensions/erdos-code-cells/src/documentManager.ts
  extensions/erdos-code-cells/src/extension.ts
  extensions/erdos-code-cells/src/folding.ts
  extensions/erdos-code-cells/src/logging.ts
  extensions/erdos-code-cells/src/parser.ts
  extensions/erdos-code-cells/src/test/codeCellManager.test.ts
  extensions/erdos-code-cells/src/test/codeLenses.test.ts
  extensions/erdos-code-cells/src/test/context.test.ts
  extensions/erdos-code-cells/src/test/decorations.test.ts
  extensions/erdos-code-cells/src/test/folding.test.ts
  extensions/erdos-code-cells/src/test/parser.test.ts
  extensions/erdos-code-cells/src/test/utils.ts
  extensions/erdos-code-cells/src/utils.ts
  extensions/erdos-code-cells/tsconfig.json
  extensions/erdos-environment/extension.webpack.config.js
  extensions/erdos-environment/package-lock.json
  extensions/erdos-environment/package.json
  extensions/erdos-environment/package.nls.json
  extensions/erdos-environment/src/extension.ts
  extensions/erdos-environment/tsconfig.json
  extensions/erdos-r/src/extension.ts
  extensions/erdos-r/src/pandoc.ts
  extensions/erdos-supervisor/package.json
Owners: none

Fix: don't apply inertial scrolling if input device is a mouse. (#268284)
  src/vs/base/browser/ui/scrollbar/scrollableElement.ts
Owners: none
