Repository microsoft/vscode, pull requests merged in 2018-12, with the labels that each got.

#63193 Fix #62365 : Added useGlobalStorageForSuggestions Setting
  src/vs/editor/common/config/commonEditorConfig.ts
  src/vs/editor/common/config/editorOptions.ts
  src/vs/editor/contrib/suggest/suggestMemory.ts
  src/vs/editor/contrib/suggest/test/completionModel.test.ts
  src/vs/monaco.d.ts
Labels: suggest

#64271 SelectBox: Restore _sticky = false. Fixes: #64265
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: bug, dropdown

#64634 schedule update overflow action due to reflow
  src/vs/base/browser/ui/menu/menubar.ts
Labels: perf

#64619 Add GitErrorCode to apply command
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
Labels: git

#56149 Investigate Electron 3.0.x
  .yarnrc
  cgmanifest.json
  package.json
  src/bootstrap-window.js
  src/main.js
  src/typings/electron.d.ts
  src/vs/base/node/extfs.ts
  src/vs/base/node/request.ts
  src/vs/code/electron-main/windows.ts
  src/vs/editor/browser/services/codeEditorServiceImpl.ts
  src/vs/editor/browser/widget/codeEditorWidget.ts
  src/vs/platform/issue/electron-main/issueService.ts
  src/vs/platform/keybinding/common/abstractKeybindingService.ts
  src/vs/platform/keybinding/common/keybinding.ts
  src/vs/platform/keybinding/test/common/mockKeybindingService.ts
  src/vs/platform/node/zip.ts
  src/vs/workbench/api/electron-browser/mainThreadWebview.ts
  src/vs/workbench/browser/parts/activitybar/activitybarPart.ts
  src/vs/workbench/parts/html/electron-browser/htmlPreviewPart.ts
  src/vs/workbench/parts/webview/electron-browser/webview-pre.js
  src/vs/workbench/parts/webview/electron-browser/webviewEditor.ts
  src/vs/workbench/parts/webview/electron-browser/webviewElement.ts
  test/smoke/package.json
  test/smoke/yarn.lock
  yarn.lock
Labels: electron-3.0.x-update

#64785 Fixes #64747
  src/vs/base/browser/ui/tree/media/tree.css
Labels: tree

#64109 SelectBox: constructor, interface refactor. Addresses: #58922
  src/vs/base/browser/ui/actionbar/actionbar.ts
  src/vs/base/browser/ui/selectBox/selectBox.ts
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
  src/vs/base/browser/ui/selectBox/selectBoxNative.ts
  src/vs/workbench/parts/debug/browser/debugActionItems.ts
  src/vs/workbench/parts/debug/electron-browser/breakpointWidget.ts
  src/vs/workbench/parts/output/browser/outputActions.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
  src/vs/workbench/parts/terminal/electron-browser/terminalActions.ts
Labels: dropdown

#64461 Allow TerminalOptions.cwd to be a URI or a string
  src/vs/vscode.d.ts
  src/vs/workbench/api/node/extHost.protocol.ts
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/parts/terminal/common/terminal.ts
  src/vs/workbench/parts/terminal/electron-browser/terminalProcessManager.ts
  src/vs/workbench/parts/terminal/node/terminalEnvironment.ts
Labels: api-finalization, api-proposal

#64305 Update "Open changes" icons to better reflect diff changes
  extensions/git/resources/icons/dark/open-change.svg
  extensions/git/resources/icons/light/open-change.svg
Labels: git

#44562 Ask to add known huge folders to .gitignore, fixes #44304
  extensions/git/src/repository.ts
Labels: git

#59163 Add display handling of files added by git add -N
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git
