Repository microsoft/vscode, pull requests merged in 2018-08, with the labels that each got.

#55543 Settings Editor: Add aria labels for input elements Fixes: #54836
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: accessibility, settings-editor

#55354 Add option to enable cycling of parameter hints
  src/vs/editor/common/config/commonEditorConfig.ts
  src/vs/editor/common/config/editorOptions.ts
  src/vs/editor/contrib/parameterHints/parameterHintsWidget.ts
  src/vs/monaco.d.ts
  src/vs/platform/telemetry/common/telemetryUtils.ts
Labels: editor-parameter-hints, feature-request

#53487 Remove PPromise
  build/monaco/monaco.d.ts.recipe
  src/vs/base/common/async.ts
  src/vs/base/common/winjs.base.d.ts
  src/vs/base/parts/ipc/common/ipc.ts
  src/vs/base/parts/ipc/node/ipc.cp.ts
  src/vs/base/parts/ipc/test/node/ipc.perf.ts
  src/vs/base/parts/ipc/test/node/testService.ts
  src/vs/base/test/common/async.test.ts
  src/vs/monaco.d.ts
  src/vs/platform/url/common/urlIpc.ts
  src/vs/workbench/api/electron-browser/mainThreadFileSystem.ts
  src/vs/workbench/api/electron-browser/mainThreadWorkspace.ts
  src/vs/workbench/api/node/extHostFileSystem.ts
  src/vs/workbench/parts/debug/test/common/mockDebug.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
  src/vs/workbench/parts/preferences/browser/tocTree.ts
  src/vs/workbench/parts/tasks/electron-browser/task.contribution.ts
  src/vs/workbench/parts/webview/electron-browser/webviewEditorInput.ts
  src/vs/workbench/services/files/electron-browser/remoteFileService.ts
  src/vs/workbench/test/workbenchTestServices.ts
Labels: debt, engineering

#56173 SelectBox: Prevent layout/hide on no room/offscreen Fixes: #55750
  src/vs/base/browser/ui/contextview/contextview.ts
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: bug, dropdown

#56617 new mnemonics behavior
  src/vs/base/browser/ui/menu/menu.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
Labels: workbench-menu

#56820 IPC protocol should be buffer based, not JSON based
  src/vs/base/parts/ipc/electron-browser/ipc.electron-browser.ts
  src/vs/base/parts/ipc/electron-main/ipc.electron-main.ts
  src/vs/base/parts/ipc/node/ipc.cp.ts
  src/vs/base/parts/ipc/node/ipc.electron.ts
  src/vs/base/parts/ipc/node/ipc.net.ts
  src/vs/base/parts/ipc/node/ipc.ts
  src/vs/base/parts/ipc/test/node/ipc.net.test.ts
  src/vs/base/parts/ipc/test/node/testService.ts
  src/vs/base/test/node/uri.test.data.txt
  src/vs/code/electron-browser/issue/issueReporterMain.ts
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/code/electron-main/app.ts
  src/vs/code/electron-main/launch.ts
  src/vs/platform/dialogs/node/dialogIpc.ts
  src/vs/platform/driver/common/driver.ts
  src/vs/platform/driver/electron-browser/driver.ts
  src/vs/platform/driver/electron-main/driver.ts
  src/vs/platform/driver/node/driver.ts
  src/vs/platform/extensionManagement/node/extensionManagementIpc.ts
  src/vs/platform/issue/node/issueIpc.ts
  src/vs/platform/localizations/node/localizationsIpc.ts
  src/vs/platform/log/node/logIpc.ts
  src/vs/platform/menubar/node/menubarIpc.ts
  src/vs/platform/telemetry/node/telemetryIpc.ts
  src/vs/platform/update/node/updateIpc.ts
  src/vs/platform/url/node/urlIpc.ts
  src/vs/platform/windows/node/windowsIpc.ts
  src/vs/platform/workspaces/node/workspacesIpc.ts
  src/vs/workbench/common/extensionHostProtocol.ts
  src/vs/workbench/electron-browser/main.ts
  src/vs/workbench/electron-browser/shell.ts
  src/vs/workbench/electron-browser/workbench.ts
  src/vs/workbench/node/extensionHostMain.ts
  src/vs/workbench/node/extensionHostProcess.ts
  src/vs/workbench/parts/debug/node/debugger.ts
  src/vs/workbench/parts/debug/node/telemetryApp.ts
  src/vs/workbench/services/extensions/electron-browser/extensionHost.ts
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
  src/vs/workbench/services/extensions/node/rpcProtocol.ts
  src/vs/workbench/services/files/node/watcher/nsfw/watcherIpc.ts
  src/vs/workbench/services/files/node/watcher/nsfw/watcherService.ts
  src/vs/workbench/services/files/node/watcher/unix/watcherIpc.ts
  src/vs/workbench/services/files/node/watcher/unix/watcherService.ts
  src/vs/workbench/services/search/node/searchIpc.ts
  src/vs/workbench/services/search/node/searchService.ts
  src/vs/workbench/services/search/node/textSearchWorkerProvider.ts
  src/vs/workbench/services/search/node/worker/searchWorkerIpc.ts
  test/smoke/tools/copy-driver-definition.js
Labels: feature-request, ipc

#56954 Fix issues related to setting height calcualtion
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: settings-editor

#56957 Fix exclude controls not accounting for the description height
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: settings-editor

#56917 debug remove stdFork usage
  src/vs/workbench/parts/debug/node/debugAdapter.ts
Labels: debt, debug

#56948 Fix bug causing settings name to sometimes be improperly copied.
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
Labels: settings-editor

#57103 Settings: Allow description to toggle checkbox Fixes: #54053
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: bug, settings-editor, ux

#57050 Enum descriptions in new settings editor via SelectBox widget
  src/vs/base/browser/ui/selectBox/selectBox.ts
  src/vs/base/browser/ui/selectBox/selectBoxCustom.css
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
  src/vs/base/browser/ui/selectBox/selectBoxNative.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
  src/vs/workbench/parts/preferences/browser/settingsWidgets.ts
Labels: settings-editor

#57129 Settings: Only add label target for checkbox
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: accessibility, settings-editor

#57116 Simplify and fix bugs in no results/result count message logic
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
  src/vs/workbench/parts/preferences/browser/settingsTreeModels.ts
Labels: settings-editor

#57184 Settings: call onChange for checkbox toggle
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: accessibility, bug, settings-editor

#57165 Settings tweaks
  src/vs/workbench/parts/preferences/browser/media/settingsEditor2.css
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
  src/vs/workbench/parts/preferences/browser/settingsWidgets.ts
Labels: settings-editor

#57314 Settings: Fix aria labels using role=form. Fixes: #54836
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: accessibility, settings-editor
