Repository microsoft/vscode, pull requests merged in 2018-10, with the labels that each got.

#59727 Use hosted build agents for Linux builds
  build/tfs/product-build.yml
Labels: vscode-build

#59738 linux build: limit yarn child concurrency
  build/tfs/linux/product-build-linux.yml
Labels: vscode-build

#47886 Fix #45853
  extensions/merge-conflict/package.json
  extensions/merge-conflict/package.nls.json
  extensions/merge-conflict/src/commandHandler.ts
Labels: merge-conflict

#59855 return of the dynamic menu
  src/vs/code/electron-main/app.ts
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/platform/menubar/electron-main/menubarService.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
Labels: mac, workbench-menu

#59936 enable dynamic menu on linux/windows
  src/vs/code/electron-main/app.ts
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/platform/menubar/electron-main/menubarService.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
Labels: linux, windows, workbench-menu

#60000 make actionbar support different trigger keys
  src/vs/base/browser/ui/actionbar/actionbar.ts
  src/vs/base/browser/ui/menu/menu.ts
Labels: workbench-menu

#60004 adding ability to set checked state for menu item at registration
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsControl.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/parts/codeEditor/electron-browser/toggleMinimap.ts
  src/vs/workbench/parts/codeEditor/electron-browser/toggleRenderControlCharacter.ts
  src/vs/workbench/parts/codeEditor/electron-browser/toggleRenderWhitespace.ts
  src/vs/workbench/parts/files/electron-browser/fileActions.contribution.ts
Labels: workbench-menu

#60040 fix undo, redo, selectAll on macOS
  src/vs/platform/menubar/electron-main/menubar.ts
Labels: mac, workbench-menu

#60167 Stabilize active terminal APIs
  src/vs/vscode.d.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
Labels: api-finalization

#60169 remove context listener in menubarControl
  src/vs/platform/actions/common/menu.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
Labels: menus, workbench-menu

#59992 Reducing menubar cache verbosity
  src/vs/code/electron-main/keyboard.ts
  src/vs/code/electron-main/menus.ts
  src/vs/platform/menubar/common/menubar.ts
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/platform/menubar/electron-main/menubarService.ts
  src/vs/platform/menubar/node/menubarIpc.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
Labels: workbench-menu

#60226 Settings: Labeling for "Modified in ..." Fixes #59492
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: accessibility, settings-editor

#60706 SelectBox: Use visually-hidden for describedby with VoiceOver. Fixes: #60429
  src/vs/base/browser/ui/selectBox/selectBoxCustom.css
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: accessibility-voiceover, dropdown

#60787 debug: on restart, make sure to first disconnect and only then run th…
  src/vs/workbench/parts/debug/electron-browser/debugService.ts
Labels: debug

#61412 SelectBox: Electron select labeling. Workaround for #60929
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: accessibility, bug, dropdown

#61415 Outputs:SelectBox: Tweak select label. Fixes: #60726
  src/vs/workbench/parts/output/browser/outputActions.ts
Labels: accessibility, dropdown, output

#61457 DebugConfigurations: No separator if no configurations. Fixes #58984
  src/vs/workbench/parts/debug/browser/debugActionItems.ts
Labels: debug, dropdown

#60048 Add APIs to git scc provider.
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/decorationProvider.ts
  extensions/git/src/repository.ts
Labels: scm

#60051 Allow scc providers hide commit input box.
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/electron-browser/mainThreadSCM.ts
  src/vs/workbench/api/node/extHost.protocol.ts
  src/vs/workbench/api/node/extHostSCM.ts
  src/vs/workbench/parts/scm/electron-browser/scmViewlet.ts
  src/vs/workbench/services/scm/common/scm.ts
Labels: scm

#61859 multiline breakpoint widget - implementing #56521
  src/vs/workbench/parts/debug/browser/media/breakpointWidget.css
  src/vs/workbench/parts/debug/electron-browser/breakpointWidget.ts
Labels: debug

#60566 improve titlebarpart layout perf
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/browser/parts/titlebar/titlebarPart.ts
  src/vs/workbench/electron-browser/workbench.ts
Labels: perf-startup, workbench-title
