Repository microsoft/vscode, pull requests merged in 2018-11, with the labels that each got.

#61448 feat: add push to git extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
Labels: git

#62504 SelectBox: ComboBox role workaround for native select Addresses: #60929
  src/vs/base/browser/ui/selectBox/selectBoxNative.ts
Labels: accessibility-voiceover, bug, dropdown

#62823 Fix #62785 empty lines in debug console copyAll
  src/vs/workbench/parts/debug/electron-browser/electronDebugActions.ts
Labels: debug

#63069 Expose 'apply' and 'diff --cached' from git extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#63150 custom name when there are multiple outline providers - feature request #62839
  src/vs/vscode.d.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHostLanguageFeatures.ts
Labels: api-proposal

#60104 Fix #60002 Undo last commit: keep staged files
  extensions/git/src/git.ts
Labels: git

#63565 Fix #63490
  src/vs/base/browser/ui/tree/indexTreeModel.ts
Labels: tree

#63750 Remove StartupWMClass from URL handler desktop file
  resources/linux/code-url-handler.desktop
Labels: linux, os-integration

#63716 Fixed checkForSnapUpdate in updateService.linux.ts to correctly identify snap version
  src/vs/platform/update/electron-main/updateService.linux.ts
Labels: linux
