Repository microsoft/vscode, pull requests merged in 2018-02, with the labels that each got.

#42071 fix issue #40848 show extension tab if extension has previously been …
  src/vs/workbench/parts/extensions/node/extensionsWorkbenchService.ts
Labels: extensions

#42869 Monokai: Use new dropdown.listBackground to correct contrast Fixes: #42480
  extensions/theme-monokai/themes/monokai-color-theme.json
Labels: dropdown, themes

#43334 Make diff gutter decorators width configurable
  src/vs/workbench/parts/scm/electron-browser/dirtydiffDecorator.ts
  src/vs/workbench/parts/scm/electron-browser/scm.contribution.ts
Labels: scm

#43261 Allow extensions to specify custom tree view resoure type
  src/vs/vscode.d.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHostTreeViews.ts
  src/vs/workbench/api/node/extHostTypes.ts
  src/vs/workbench/browser/parts/views/customView.ts
  src/vs/workbench/common/views.ts
Labels: explorer-custom

#42831 Re-enable the unused variables tslint rule for the hygiene task fixes #42157
  .vscode/launch.json
  build/gulpfile.hygiene.js
  extensions/configuration-editing/src/extension.ts
  package.json
  tslint-hygiene.json
  tslint.json
  yarn.lock
Labels: engineering

#42647 Fix #42494
  build/gulpfile.hygiene.js
  src/vs/editor/contrib/suggest/suggestWidget.ts
Labels: bug, suggest
