Repository microsoft/vscode, pull requests merged in 2018-03, with the labels that each got.

#44073 Added focus to quick fix widget click
  src/vs/editor/contrib/quickFix/lightBulbWidget.ts
Labels: editor-code-actions

#43702 make the timeout for formatOnSave configurable
  src/vs/workbench/api/electron-browser/mainThreadSaveParticipant.ts
  src/vs/workbench/parts/files/electron-browser/files.contribution.ts
Labels: feature-request, formatting

#44946 Put .split-view-view's into a container
  src/vs/base/browser/ui/splitview/splitview.css
  src/vs/base/browser/ui/splitview/splitview.ts
  src/vs/workbench/parts/terminal/electron-browser/media/terminal.css
  src/vs/workbench/parts/terminal/electron-browser/terminalTab.ts
Labels: workbench-views

#44951 Remove old code from when suggest docs was shown inline
  src/vs/editor/contrib/suggest/suggestWidget.ts
Labels: suggest

#43393 Allow to filter keyBindings by 'Source'.
  src/vs/workbench/parts/preferences/browser/keybindingsEditor.ts
  src/vs/workbench/parts/preferences/common/keybindingsEditorModel.ts
  src/vs/workbench/parts/preferences/common/preferences.ts
  src/vs/workbench/parts/preferences/test/common/keybindingsEditorModel.test.ts
Labels: keybindings-editor

#45881 added the key bindings for first and last selection in suggestions.
  src/vs/editor/contrib/suggest/suggestController.ts
Labels: feature-request, suggest

#45935 Conditional breakpoint icon polish for #45406
  src/vs/workbench/parts/debug/browser/media/breakpoint-conditional-disabled.svg
  src/vs/workbench/parts/debug/browser/media/breakpoint-conditional.svg
Labels: debug

#45659 Fix #30450
  src/vs/workbench/parts/localizations/browser/localizations.contribution.ts
Labels: needs more info

#46044 Removing unnecessary lines in .travis.yml
  .travis.yml
Labels: engineering

#45946 Fixes #21423 | Add ANSI colour tokens as children of existing tokens
  src/vs/workbench/parts/debug/electron-browser/replViewer.ts
Labels: debug

#43941 Add partial staging actions to diff editor context menu
  extensions/git/package.json
Labels: git

#45727 Adds workspace config for submodules detection limit
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/model.ts
Labels: git

#46049 Add more time-based variables for snippets
  src/vs/editor/contrib/snippet/snippetVariables.ts
  src/vs/editor/contrib/snippet/test/snippetVariables.test.ts
Labels: feature-request, snippets

#46177 API - Expose TreeView in API
  src/vs/vscode.d.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHostTreeViews.ts
  src/vs/workbench/test/electron-browser/api/extHostTreeViews.test.ts
Labels: api, api-proposal, explorer-custom

#45958 Leverage notification progress support for progress API
  src/vs/platform/progress/common/progress.ts
  src/vs/vscode.d.ts
  src/vs/workbench/api/electron-browser/mainThreadProgress.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHost.protocol.ts
  src/vs/workbench/api/node/extHostProgress.ts
  src/vs/workbench/api/node/extHostTypeConverters.ts
  src/vs/workbench/api/node/extHostTypes.ts
  src/vs/workbench/parts/extensions/node/extensionsWorkbenchService.ts
  src/vs/workbench/services/progress/browser/progressService2.ts
Labels: api-proposal

#46477 DropDown: Remove old-duplicates option-disabled class. Addresses: #46011
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: dropdown

#46516 DropDown: Remove prior option-disabled class. Fixes: #46011
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: dropdown

#46311 Add context menu to search tree
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/parts/search/browser/searchActions.ts
  src/vs/workbench/parts/search/browser/searchResultsView.ts
  src/vs/workbench/parts/search/browser/searchView.ts
  src/vs/workbench/parts/search/common/constants.ts
  src/vs/workbench/parts/search/electron-browser/search.contribution.ts
Labels: search

#46518 fixed terminal doesn't open when window has no folders, fixes #46139
  src/vs/workbench/parts/execution/electron-browser/execution.contribution.ts
Labels: integrated-terminal
