Repository microsoft/vscode, pull requests merged in 2018-05, with the labels that each got.

#48906 Implement new settings GUI
  src/vs/workbench/parts/preferences/browser/media/action-remove-dark.svg
  src/vs/workbench/parts/preferences/browser/media/action-remove-focus.svg
  src/vs/workbench/parts/preferences/browser/media/action-remove.svg
  src/vs/workbench/parts/preferences/browser/media/preferences.css
  src/vs/workbench/parts/preferences/browser/media/settingsEditor2.css
  src/vs/workbench/parts/preferences/browser/preferencesActions.ts
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
  src/vs/workbench/parts/preferences/electron-browser/preferences.contribution.ts
  src/vs/workbench/services/preferences/browser/preferencesService.ts
  src/vs/workbench/services/preferences/common/preferences.ts
  src/vs/workbench/services/preferences/common/preferencesEditorInput.ts
  src/vs/workbench/services/preferences/common/preferencesModels.ts
Labels: settings-editor

#48345 Correct comment inside script tag and style tag in razor file
  extensions/razor/package.json
  extensions/razor/syntaxes/cshtml.tmLanguage.json
Labels: languages basic

#40546 Fix backspace in IME composition on iOS Safari
  src/vs/editor/browser/controller/textAreaInput.ts
Labels: editor-ime

#48999 search results copy All with sort like tree
  src/vs/workbench/parts/search/browser/searchActions.ts
  src/vs/workbench/parts/search/browser/searchResultsView.ts
  src/vs/workbench/parts/search/browser/searchView.ts
  src/vs/workbench/parts/search/test/browser/searchViewlet.test.ts
Labels: needs more info

#49020 Use different problem colors for editor and tree
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/workbench/parts/markers/electron-browser/markersFileDecorations.ts
Labels: file-decorations, lang-diagnostics

#49506 Fixes #18233: Added replace history for Find view
  src/vs/workbench/parts/search/browser/searchActions.ts
  src/vs/workbench/parts/search/browser/searchView.ts
  src/vs/workbench/parts/search/browser/searchWidget.ts
  src/vs/workbench/parts/search/electron-browser/search.contribution.ts
Labels: search-replace

#49523 Added a setting for configuring open direction for "open to the side"
  src/vs/workbench/common/editor.ts
  src/vs/workbench/electron-browser/main.contribution.ts
  src/vs/workbench/services/editor/browser/nextEditorService.ts
Labels: workbench-grid

#50322 Use translations from manifest to prompt to install lang pack
  src/vs/platform/localizations/common/localizations.ts
  src/vs/platform/node/minimalTranslations.ts
  src/vs/workbench/parts/extensions/electron-browser/extensionTipsService.ts
  src/vs/workbench/parts/localizations/electron-browser/localizations.contribution.ts
Labels: i18n

#50285 Implement Go To Next/Previous Breakpoint editor actions
  src/vs/workbench/parts/debug/browser/breakpointsView.ts
  src/vs/workbench/parts/debug/browser/debugEditorActions.ts
  src/vs/workbench/parts/debug/common/debug.ts
Labels: debug, feature-request
