Repository microsoft/vscode, pull requests merged in 2018-06, with the labels that each got.

#50940 faster toString, toJSON method
  src/vs/base/common/uri.ts
  src/vs/base/node/encoding.ts
  src/vs/base/test/node/uri.test.data.txt
  src/vs/base/test/node/uri.test.perf.ts
  src/vs/workbench/test/electron-browser/api/extHostTypes.test.ts
Labels: debt, uri

#44271 Add option to hide/show release notes on update #44020
  src/vs/platform/update/node/update.config.contribution.ts
  src/vs/workbench/parts/update/electron-browser/update.ts
Labels: release-notes

#45254 Show warning when git commit input box only contains whitespaces
  extensions/git/src/repository.ts
Labels: git

#46068 Restore focus on message field when git include multiple projects.
  src/vs/workbench/parts/scm/electron-browser/scmViewlet.ts
Labels: scm

#51204 Support grid styles using CSS variables
  src/vs/base/browser/ui/grid/grid.ts
  src/vs/base/browser/ui/grid/gridview.ts
  src/vs/base/browser/ui/splitview/splitview.css
  src/vs/base/browser/ui/splitview/splitview.ts
  src/vs/workbench/browser/parts/editor/editorPart.ts
  src/vs/workbench/common/theme.ts
Labels: feature-request, workbench-grid

#51351 Grid: Enable multiple sash resizing
  src/vs/base/browser/ui/grid/gridview.ts
  src/vs/base/browser/ui/sash/sash.css
  src/vs/base/browser/ui/sash/sash.ts
  src/vs/base/browser/ui/splitview/splitview.css
  src/vs/base/browser/ui/splitview/splitview.ts
  src/vs/base/test/browser/ui/splitview/splitview.test.ts
  src/vs/editor/browser/widget/diffEditorWidget.ts
  src/vs/editor/contrib/zoneWidget/zoneWidget.ts
  src/vs/workbench/browser/layout.ts
Labels: feature-request, workbench-grid

#51337 Support grid descriptors
  src/vs/base/browser/ui/grid/grid.ts
  src/vs/base/browser/ui/grid/gridview.ts
  src/vs/base/test/browser/ui/grid/grid.test.ts
  src/vs/workbench/browser/parts/editor/editorPart.ts
Labels: workbench-grid

#51224 Delay shared process to improve startup times
  src/vs/code/electron-main/app.ts
Labels: bug, perf, shared-process

#51612 Remove VSash
  src/vs/base/browser/ui/sash/sash.ts
  src/vs/workbench/browser/parts/editor/sideBySideEditor.ts
  src/vs/workbench/parts/preferences/browser/preferencesEditor.ts
Labels: debt, engineering

#51876 API tweaks for grid editor
  extensions/markdown-language-features/src/commands/showPreview.ts
  extensions/vscode-api-tests/src/singlefolder-tests/window.test.ts
  src/vs/vscode.d.ts
  src/vs/workbench/api/electron-browser/mainThreadEditors.ts
  src/vs/workbench/api/node/apiCommands.ts
  src/vs/workbench/api/node/extHostApiCommands.ts
  src/vs/workbench/api/node/extHostTypeConverters.ts
  src/vs/workbench/api/node/extHostTypes.ts
  src/vs/workbench/api/shared/editor.ts
  src/vs/workbench/services/group/common/editorGroupsService.ts
Labels: api-proposal

#51989 Workbench grid dimension constraint propagation
  src/vs/base/browser/ui/grid/grid.ts
  src/vs/base/browser/ui/grid/gridview.ts
  src/vs/base/browser/ui/splitview/splitview.ts
  src/vs/workbench/browser/layout.ts
  src/vs/workbench/browser/parts/editor/baseEditor.ts
  src/vs/workbench/browser/parts/editor/editor.ts
  src/vs/workbench/browser/parts/editor/editorControl.ts
  src/vs/workbench/browser/parts/editor/editorGroupView.ts
  src/vs/workbench/browser/parts/editor/editorPart.ts
  src/vs/workbench/browser/parts/editor/sideBySideEditor.ts
  src/vs/workbench/common/editor.ts
  src/vs/workbench/parts/preferences/browser/preferencesEditor.ts
Labels: bug, workbench-grid

#52146 Fix to #43625: spin sync icon on push
  extensions/git/src/statusbar.ts
Labels: git

#49167 Await git.pullFrom and gitt.pushTo to ensure any failures display an …
  extensions/git/src/commands.ts
Labels: git

#52145 Remove inline git revert confirmation alert (Issue #43625)
  extensions/git/src/commands.ts
Labels: git

#51621 Add transformations for placeholders
  src/vs/editor/contrib/snippet/snippet.md
  src/vs/editor/contrib/snippet/snippetParser.ts
  src/vs/editor/contrib/snippet/snippetSession.ts
  src/vs/editor/contrib/snippet/test/snippetParser.test.ts
  src/vs/editor/contrib/snippet/test/snippetSession.test.ts
Labels: feature-request, snippets

#52506 Fix for issue #39458
  src/vs/editor/contrib/goToDefinition/goToDefinitionMouse.ts
Labels: editor-symbols

#52765 Win32 User Install
  build/gulpfile.vscode.win32.js
  build/tfs/product-build.yml
  build/win32/.gitignore
  build/win32/code.iss
  package.json
  product.json
  src/vs/platform/node/product.ts
  src/vs/platform/update/electron-main/updateService.win32.ts
  src/vs/workbench/parts/update/electron-browser/update.ts
Labels: feature-request, install-update, plan-item, windows

#50419 Add "Recommend" action to extension viewlet
  src/vs/workbench/parts/extensions/common/extensionsFileTemplate.ts
  src/vs/workbench/parts/extensions/electron-browser/extensionsActions.ts
  src/vs/workbench/parts/extensions/test/electron-browser/extensionsActions.test.ts
Labels: extensions

#53226 IUpdateService#isLatestVersion
  src/vs/platform/update/common/update.ts
  src/vs/platform/update/common/updateIpc.ts
  src/vs/platform/update/electron-main/abstractUpdateService.ts
  src/vs/platform/update/electron-main/updateService.darwin.ts
  src/vs/platform/update/electron-main/updateService.linux.ts
  src/vs/platform/update/electron-main/updateService.win32.ts
  src/vs/workbench/parts/performance/electron-browser/startupTimings.ts
Labels: perf-startup

#52861 Handle --enable-proposed-api without extension IDs as "enable all"
  src/vs/platform/environment/node/argv.ts
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
Labels: debt
