Repository microsoft/vscode, pull requests merged in 2018-09, with the labels that each got.

#57747 Automate macOS signing
  build/tfs/darwin/product-build-darwin.yml
Labels: engineering, vscode-build

#57745 Use the new VSTS YAML syntax
  build/tfs/continuous-build.yml
  build/tfs/product-build.yml
Labels: engineering, vscode-build

#57691 collect and print stats when running a build
  build/gulpfile.vscode.js
  build/lib/extensions.js
  build/lib/extensions.ts
  build/lib/optimize.js
  build/lib/optimize.ts
  build/lib/stats.js
  build/lib/stats.ts
Labels: debt, engineering

#57956 use packagedDependencies from running vsce#ls
  build/gulpfile.vscode.js
  build/lib/extensions.js
  build/lib/extensions.ts
  build/lib/stats.js
  build/lib/stats.ts
  extensions/emmet/.vscodeignore
  extensions/git/.vscodeignore
  extensions/typescript-language-features/.vscodeignore
  package.json
  yarn.lock
Labels: engineering

#57955 CancellationToken for request logic
  src/vs/base/node/request.ts
  src/vs/code/electron-main/logUploader.ts
  src/vs/platform/extensionManagement/node/extensionGalleryService.ts
  src/vs/platform/request/electron-browser/requestService.ts
  src/vs/platform/request/electron-main/requestService.ts
  src/vs/platform/request/node/request.ts
  src/vs/platform/request/node/requestService.ts
  src/vs/platform/theme/test/electron-browser/colorRegistry.releaseTest.ts
  src/vs/platform/update/electron-main/abstractUpdateService.ts
  src/vs/platform/update/electron-main/updateService.linux.ts
  src/vs/platform/update/electron-main/updateService.win32.ts
  src/vs/workbench/parts/experiments/node/experimentService.ts
  src/vs/workbench/parts/extensions/electron-browser/extensionTipsService.ts
  src/vs/workbench/parts/preferences/electron-browser/preferencesSearch.ts
  src/vs/workbench/parts/update/electron-browser/releaseNotesEditor.ts
Labels: debt

#58082 Use latest spdlog that has support for file names with non ascii character
  package.json
  yarn.lock
Labels: log

#58114 Selectbox: Fix layout for extended descriptions. Fixes: #57662
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: bug, dropdown

#58129 SelectBox: Add aria-describedby for enum descriptions. Fixes: #57710
  src/vs/base/browser/ui/selectBox/selectBoxCustom.css
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: accessibility, dropdown

#58208 fixes #57786
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/platform/menubar/electron-main/menubarService.ts
Labels: debt

#49747 Prevent scrollbar to be considered as a drop target for drag-and-drop
  src/vs/base/parts/tree/browser/treeView.ts
Labels: tree

#50526 Align GIT light colored check icon with dark
  extensions/git/resources/icons/light/check.svg
Labels: git

#57806 Fix #54315
  src/vs/base/parts/tree/browser/treeModel.ts
Labels: tree

#58412 Add missing access keys (mnemonics) for menu items
  src/vs/code/electron-main/menus.ts
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/parts/debug/electron-browser/debug.contribution.ts
  src/vs/workbench/parts/files/electron-browser/fileActions.contribution.ts
Labels: workbench-menu

#58482 Settings: Add aria-label for context menu shortcut. Fixes #57378
  src/vs/workbench/parts/preferences/browser/media/settingsEditor2.css
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
Labels: accessibility, settings-editor

#51111 Allowing disable the submodule auto detection warning
  extensions/git/src/model.ts
Labels: git

#52527 Adding the git.syncRebase setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/statusbar.ts
Labels: git

#54897 Try to checkout a new local branch when checking out a remote branch
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#55975 Fixing text when reverting changes for deleted file
  extensions/git/src/commands.ts
Labels: git

#58467 fixes #52531
  src/vs/workbench/electron-browser/media/shell.css
  src/vs/workbench/electron-browser/workbench.ts
Labels: workbench-menu

#56727 Add URL handler support for Linux desktops
  build/gulpfile.vscode.linux.js
  resources/linux/code-url-handler.desktop
  resources/linux/debian/postinst.template
  resources/linux/rpm/code.spec.template
Labels: linux, os-integration

#56943 Fix #46123 : Remove absolute path for python
  resources/darwin/bin/code.sh
Labels: mac, os-integration

#57374 #57373 Replace brackets as well upon creating a branch
  extensions/git/src/commands.ts
Labels: git

#57651 Git rebase detection
  extensions/git/src/repository.ts
Labels: git

#51235 Center viewport for nextChange/previousChange using keybinding
  src/vs/workbench/parts/scm/electron-browser/dirtydiffDecorator.ts
Labels: scm

#54300 #54204 Add commands to apply stash
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#58591 Introduce --force arg to install extension without prompts
  src/vs/code/node/cliProcessMain.ts
Labels: cli, extensions

#53286 Add support for force push and force-with-lease
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#58373 Fix #58183 - hide dirty-diff decorator when inside the diff-editor
  src/vs/workbench/parts/scm/electron-browser/media/dirtydiffDecorator.css
Labels: git

#58568 refactor menu theming to be cleaner and remove css colors
  src/vs/base/browser/ui/menu/menu.css
  src/vs/base/browser/ui/menu/menu.ts
  src/vs/editor/standalone/browser/standalone-tokens.css
  src/vs/editor/standalone/browser/standaloneServices.ts
  src/vs/platform/contextview/browser/contextMenuHandler.ts
  src/vs/platform/contextview/browser/contextMenuService.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/common/theme.ts
Labels: workbench-menu

#58825 check only dot at the end of a branch
  extensions/git/src/commands.ts
Labels: git

#58852 improve markdown preview scroll sync
  extensions/markdown-language-features/media/index.js
  extensions/markdown-language-features/media/pre.js
  extensions/markdown-language-features/preview-src/index.ts
  extensions/markdown-language-features/src/features/preview.ts
  extensions/markdown-language-features/src/features/previewContentProvider.ts
  extensions/markdown-language-features/src/markdownEngine.ts
  src/vs/workbench/parts/webview/electron-browser/webview-pre.js
Labels: markdown

#58731 always show create a branch button
  extensions/git/src/commands.ts
  src/vs/vscode.d.ts
  src/vs/workbench/api/node/extHostQuickOpen.ts
Labels: git

#58932 dismiss context menus on window focus lost
  src/vs/platform/contextview/browser/contextMenuHandler.ts
Labels: ux, workbench-menu

#58982 SelectBox: Fix selectable separator. Fixes #58961
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: bug, dropdown

#58723 Dont update disabled extensions
  src/vs/workbench/parts/extensions/electron-browser/extensionsActions.ts
  src/vs/workbench/parts/extensions/electron-browser/extensionsViewlet.ts
Labels: extensions

#58116 Add push option in createOutputChannel API
  src/vs/vscode.d.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHostOutputService.ts
Labels: api, api-finalization, output

#59092 Allow snippet json prefix to be an array to support multiple prefixes for the same snippet
  src/vs/workbench/parts/snippets/electron-browser/snippets.contribution.ts
  src/vs/workbench/parts/snippets/electron-browser/snippetsFile.ts
Labels: snippets

#59123 update built-in dark themes as menus look pale
  extensions/theme-defaults/themes/dark_defaults.json
  extensions/theme-kimbie-dark/themes/kimbie-dark-color-theme.json
  extensions/theme-monokai-dimmed/themes/dimmed-monokai-color-theme.json
  extensions/theme-monokai/themes/monokai-color-theme.json
Labels: themes, workbench-menu

#59263 Settings: Fix shortcutkey label enabling translation. Fixes #59147
  src/vs/workbench/parts/preferences/browser/settingsEditor2.ts
Labels: accessibility, settings-editor

#59462 Update output channel when visible
  src/vs/workbench/api/electron-browser/mainThreadOutputService.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHost.protocol.ts
  src/vs/workbench/api/node/extHostOutputService.ts
  src/vs/workbench/parts/output/common/output.ts
  src/vs/workbench/parts/output/electron-browser/outputServices.ts
Labels: output

#59131 Return whether git.checkout succeeded
  extensions/git/src/commands.ts
Labels: git

#59642 node-pty@0.7.8
  package.json
  yarn.lock
Labels: candidate
