Repository microsoft/vscode, pull requests merged in 2019-09, with the labels that each got.

#80300 Fix AsyncDataTree concurrent refresh/expand calls
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/test/browser/ui/tree/asyncDataTree.test.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
Labels: tree

#80393 Fixes #80336
  src/vs/base/browser/ui/splitview/splitview.css
  src/vs/base/browser/ui/splitview/splitview.ts
Labels: candidate

#80217 buildSnapPackage: use the default snapcraft target
  build/gulpfile.vscode.linux.js
Labels: snap

#80260 Implement URLHandler router which looks at windowId query param
  src/vs/code/electron-main/app.ts
  src/vs/platform/url/common/urlIpc.ts
  src/vs/workbench/services/url/electron-browser/urlService.ts
Labels: feature-request

#80517 Update enablement of status bar item in constructor
  extensions/git/src/statusbar.ts
Labels: git

#80585 snap: add assets verbatim
  build/gulpfile.vscode.linux.js
  resources/linux/code-url-handler.desktop
  resources/linux/code.desktop
  resources/linux/snap/snapcraft.yaml
Labels: snap

#80634 remove wsl2 workaround
  resources/win32/bin/code.sh
Labels: candidate

#77876 Introduce `CompressibleObjectTree`
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/compressedObjectTree.ts
  src/vs/base/browser/ui/tree/compressedObjectTreeModel.ts
  src/vs/base/browser/ui/tree/indexTree.ts
  src/vs/base/browser/ui/tree/indexTreeModel.ts
  src/vs/base/browser/ui/tree/objectTree.ts
  src/vs/base/browser/ui/tree/objectTreeModel.ts
  src/vs/base/browser/ui/tree/tree.ts
  src/vs/base/test/browser/ui/tree/compressedObjectTreeModel.test.ts
  src/vs/base/test/browser/ui/tree/indexTreeModel.test.ts
  src/vs/base/test/browser/ui/tree/objectTree.test.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/workbench/browser/actions/listCommands.ts
  src/vs/workbench/contrib/search/browser/searchActions.ts
  src/vs/workbench/contrib/search/test/browser/mockSearchTree.ts
  test/tree/public/index.html
Labels: tree

#75802 chore: Update to Electron 6.x
  .yarnrc
  build/azure-pipelines/linux/product-build-linux.yml
  build/npm/preinstall.js
  cgmanifest.json
  remote/.yarnrc
  scripts/test-integration.sh
  src/bootstrap.js
  src/main.js
  src/typings/electron.d.ts
  src/vs/base/parts/contextmenu/electron-main/contextmenu.ts
  src/vs/code/electron-main/app.ts
  src/vs/code/electron-main/sharedProcess.ts
  src/vs/code/electron-main/windows.ts
  src/vs/platform/issue/electron-main/issueService.ts
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/workbench/contrib/webview/electron-browser/pre/electron-index.js
  test/electron/index.js
Labels: electron-6.0.x-update

#81338 Adopt icon fonts in Search viewlet
  src/vs/workbench/contrib/search/browser/media/clear-dark.svg
  src/vs/workbench/contrib/search/browser/media/clear-hc.svg
  src/vs/workbench/contrib/search/browser/media/clear-light.svg
  src/vs/workbench/contrib/search/browser/media/collapse-all-dark.svg
  src/vs/workbench/contrib/search/browser/media/collapse-all-hc.svg
  src/vs/workbench/contrib/search/browser/media/collapse-all-light.svg
  src/vs/workbench/contrib/search/browser/media/ellipsis-dark.svg
  src/vs/workbench/contrib/search/browser/media/ellipsis-hc.svg
  src/vs/workbench/contrib/search/browser/media/ellipsis-light.svg
  src/vs/workbench/contrib/search/browser/media/exclude-settings-dark.svg
  src/vs/workbench/contrib/search/browser/media/exclude-settings-hc.svg
  src/vs/workbench/contrib/search/browser/media/exclude-settings-light.svg
  src/vs/workbench/contrib/search/browser/media/refresh-dark.svg
  src/vs/workbench/contrib/search/browser/media/refresh-hc.svg
  src/vs/workbench/contrib/search/browser/media/refresh-light.svg
  src/vs/workbench/contrib/search/browser/media/remove-dark.svg
  src/vs/workbench/contrib/search/browser/media/remove-hc.svg
  src/vs/workbench/contrib/search/browser/media/remove-light.svg
  src/vs/workbench/contrib/search/browser/media/replace-all-dark.svg
  src/vs/workbench/contrib/search/browser/media/replace-all-hc.svg
  src/vs/workbench/contrib/search/browser/media/replace-all-light.svg
  src/vs/workbench/contrib/search/browser/media/replace-dark.svg
  src/vs/workbench/contrib/search/browser/media/replace-hc.svg
  src/vs/workbench/contrib/search/browser/media/replace-light.svg
  src/vs/workbench/contrib/search/browser/media/searchview.css
  src/vs/workbench/contrib/search/browser/media/stop-dark.svg
  src/vs/workbench/contrib/search/browser/media/stop-hc.svg
  src/vs/workbench/contrib/search/browser/media/stop-light.svg
  src/vs/workbench/contrib/search/browser/media/tree-collapsed-dark.svg
  src/vs/workbench/contrib/search/browser/media/tree-collapsed-hc.svg
  src/vs/workbench/contrib/search/browser/media/tree-collapsed-light.svg
  src/vs/workbench/contrib/search/browser/media/tree-expanded-dark.svg
  src/vs/workbench/contrib/search/browser/media/tree-expanded-hc.svg
  src/vs/workbench/contrib/search/browser/media/tree-expanded-light.svg
  src/vs/workbench/contrib/search/browser/patternInputWidget.ts
  src/vs/workbench/contrib/search/browser/searchActions.ts
  src/vs/workbench/contrib/search/browser/searchView.ts
  src/vs/workbench/contrib/search/browser/searchWidget.ts
  test/automation/src/search.ts
Labels: icons-product

#81350 Adopt icon font in explorer
  .vscode/settings.json
  src/vs/base/browser/ui/splitview/panelview.css
  src/vs/base/browser/ui/toolbar/ellipsis-dark.svg
  src/vs/base/browser/ui/toolbar/ellipsis-hc.svg
  src/vs/base/browser/ui/toolbar/ellipsis-light.svg
  src/vs/base/browser/ui/toolbar/toolbar.css
  src/vs/base/browser/ui/toolbar/toolbar.ts
  src/vs/base/browser/ui/tree/treeDefaults.ts
  src/vs/workbench/browser/actions/layoutActions.ts
  src/vs/workbench/browser/actions/media/actions.css
  src/vs/workbench/browser/actions/media/layout-dark.svg
  src/vs/workbench/browser/actions/media/layout-hc.svg
  src/vs/workbench/browser/actions/media/layout-light.svg
  src/vs/workbench/browser/actions/media/remove-dark.svg
  src/vs/workbench/browser/actions/media/remove-light.svg
  src/vs/workbench/browser/parts/editor/editorActions.ts
  src/vs/workbench/browser/parts/editor/media/close-dark.svg
  src/vs/workbench/browser/parts/editor/media/close-dirty-alt.svg
  src/vs/workbench/browser/parts/editor/media/close-dirty-dark.svg
  src/vs/workbench/browser/parts/editor/media/close-dirty-light.svg
  src/vs/workbench/browser/parts/editor/media/close-dirty.svg
  src/vs/workbench/browser/parts/editor/media/close-hc.svg
  src/vs/workbench/browser/parts/editor/media/close-light.svg
  src/vs/workbench/browser/parts/editor/media/editorgroupview.css
  src/vs/workbench/browser/parts/editor/media/editorstatus.css
  src/vs/workbench/browser/parts/editor/media/tabstitlecontrol.css
  src/vs/workbench/browser/parts/editor/media/titlecontrol.css
  src/vs/workbench/contrib/files/browser/fileActions.ts
  src/vs/workbench/contrib/files/browser/media/action-close-dark.svg
  src/vs/workbench/contrib/files/browser/media/action-close-dirty-dark.svg
  src/vs/workbench/contrib/files/browser/media/action-close-dirty-focus.svg
  src/vs/workbench/contrib/files/browser/media/action-close-dirty.svg
  src/vs/workbench/contrib/files/browser/media/action-close-focus.svg
  src/vs/workbench/contrib/files/browser/media/action-close-light.svg
  src/vs/workbench/contrib/files/browser/media/add-file-dark.svg
  src/vs/workbench/contrib/files/browser/media/add-file-hc.svg
  src/vs/workbench/contrib/files/browser/media/add-file-light.svg
  src/vs/workbench/contrib/files/browser/media/add-folder-dark.svg
  src/vs/workbench/contrib/files/browser/media/add-folder-hc.svg
  src/vs/workbench/contrib/files/browser/media/add-folder-light.svg
  src/vs/workbench/contrib/files/browser/media/close-all-dark.svg
  src/vs/workbench/contrib/files/browser/media/close-all-light.svg
  src/vs/workbench/contrib/files/browser/media/collapse-all-dark.svg
  src/vs/workbench/contrib/files/browser/media/collapse-all-hc.svg
  src/vs/workbench/contrib/files/browser/media/collapse-all-light.svg
  src/vs/workbench/contrib/files/browser/media/explorerviewlet.css
  src/vs/workbench/contrib/files/browser/media/fileactions.css
  src/vs/workbench/contrib/files/browser/media/refresh-dark.svg
  src/vs/workbench/contrib/files/browser/media/refresh-hc.svg
  src/vs/workbench/contrib/files/browser/media/refresh-light.svg
  src/vs/workbench/contrib/files/browser/media/save-all-dark.svg
  src/vs/workbench/contrib/files/browser/media/save-all-hc.svg
  src/vs/workbench/contrib/files/browser/media/save-all-light.svg
  src/vs/workbench/contrib/markers/browser/markersPanel.ts
Labels: icons-product

#81336 Improve LinkDetector
  src/vs/workbench/contrib/debug/browser/baseDebugView.ts
  src/vs/workbench/contrib/debug/browser/debugANSIHandling.ts
  src/vs/workbench/contrib/debug/browser/debugEditorContribution.ts
  src/vs/workbench/contrib/debug/browser/debugSession.ts
  src/vs/workbench/contrib/debug/browser/exceptionWidget.ts
  src/vs/workbench/contrib/debug/browser/linkDetector.ts
  src/vs/workbench/contrib/debug/browser/media/debug.contribution.css
  src/vs/workbench/contrib/debug/browser/repl.ts
  src/vs/workbench/contrib/debug/common/debugModel.ts
  src/vs/workbench/contrib/debug/common/replModel.ts
  src/vs/workbench/contrib/debug/test/browser/debugANSIHandling.test.ts
  src/vs/workbench/contrib/debug/test/browser/debugModel.test.ts
  src/vs/workbench/contrib/debug/test/browser/linkDetector.test.ts
  test/automation/src/debug.ts
  test/smoke/src/areas/debug/debug.test.ts
Labels: debug

#81392 Fire onDidChangeReplElements directly from ReplModel
  src/vs/workbench/contrib/debug/browser/debugSession.ts
  src/vs/workbench/contrib/debug/common/replModel.ts
  src/vs/workbench/contrib/debug/test/browser/debugModel.test.ts
Labels: debug

#81446 Adopt icon font in tree widgets and panels
  src/vs/base/browser/ui/splitview/panelview.css
  src/vs/base/browser/ui/splitview/tree-collapsed-dark.svg
  src/vs/base/browser/ui/splitview/tree-collapsed-hc.svg
  src/vs/base/browser/ui/splitview/tree-collapsed-light.svg
  src/vs/base/browser/ui/splitview/tree-expanded-dark.svg
  src/vs/base/browser/ui/splitview/tree-expanded-hc.svg
  src/vs/base/browser/ui/splitview/tree-expanded-light.svg
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/media/tree.css
  src/vs/base/parts/tree/browser/loading-dark.svg
  src/vs/base/parts/tree/browser/loading-hc.svg
  src/vs/base/parts/tree/browser/loading.svg
  src/vs/base/parts/tree/browser/tree-collapsed-dark.svg
  src/vs/base/parts/tree/browser/tree-collapsed-hc.svg
  src/vs/base/parts/tree/browser/tree-collapsed-light.svg
  src/vs/base/parts/tree/browser/tree-expanded-dark.svg
  src/vs/base/parts/tree/browser/tree-expanded-hc.svg
  src/vs/base/parts/tree/browser/tree-expanded-light.svg
  src/vs/base/parts/tree/browser/tree.css
  src/vs/base/parts/tree/browser/treeView.ts
  src/vs/editor/browser/viewParts/glyphMargin/glyphMargin.css
  src/vs/editor/contrib/folding/folding.css
  src/vs/workbench/browser/parts/views/media/tree-collapsed-dark.svg
  src/vs/workbench/browser/parts/views/media/tree-collapsed-hc.svg
  src/vs/workbench/browser/parts/views/media/tree-collapsed-light.svg
  src/vs/workbench/browser/parts/views/media/tree-expanded-dark.svg
  src/vs/workbench/browser/parts/views/media/tree-expanded-hc.svg
  src/vs/workbench/browser/parts/views/media/tree-expanded-light.svg
  src/vs/workbench/browser/parts/views/media/views.css
  src/vs/workbench/browser/parts/views/panelViewlet.ts
  src/vs/workbench/contrib/files/browser/media/explorerviewlet.css
  src/vs/workbench/contrib/preferences/browser/media/preferences.css
  src/vs/workbench/contrib/preferences/browser/media/tree-collapsed-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/tree-collapsed-light.svg
  src/vs/workbench/contrib/preferences/browser/media/tree-expanded-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/tree-expanded-light.svg
  src/vs/workbench/contrib/preferences/browser/preferencesWidgets.ts
Labels: icons-product

#81505 Update Octicons to use new style
  src/vs/base/browser/ui/octiconLabel/octiconLabel.ts
  src/vs/base/browser/ui/octiconLabel/octicons/octicons-main.css
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.css
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.svg
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.ttf
  src/vs/base/browser/ui/octiconLabel/octicons/octicons2.css
  src/vs/base/browser/ui/octiconLabel/octicons/octicons2.ttf
  src/vs/workbench/browser/layout.ts
  src/vs/workbench/browser/workbench.contribution.ts
Labels: icons-product

#81570 Adopt icon font in settings
  src/vs/workbench/contrib/preferences/browser/media/check-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/check-light.svg
  src/vs/workbench/contrib/preferences/browser/media/clear-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/clear-light.svg
  src/vs/workbench/contrib/preferences/browser/media/configure-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/configure-light.svg
  src/vs/workbench/contrib/preferences/browser/media/edit-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/edit-light.svg
  src/vs/workbench/contrib/preferences/browser/media/preferences.css
  src/vs/workbench/contrib/preferences/browser/media/remove-dark.svg
  src/vs/workbench/contrib/preferences/browser/media/remove-light.svg
  src/vs/workbench/contrib/preferences/browser/media/settingsEditor2.css
  src/vs/workbench/contrib/preferences/browser/media/settingsWidgets.css
  src/vs/workbench/contrib/preferences/browser/settingsTree.ts
  src/vs/workbench/contrib/preferences/browser/settingsWidgets.ts
Labels: icons-product

#81609 Save all and commit fix
  extensions/git/src/commands.ts
Labels: git
