Repository microsoft/vscode, pull requests merged in 2019-02, with the labels that each got.

#67811 Prevent Explorer from refreshing nodes which were never resolved
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerView.ts
Labels: file-explorer

#67640 rejected promise not handled verbose message
  src/vs/workbench/services/extensions/node/extensionHostProcess.ts
Labels: engineering, extension-host

#67856 properly initialise rendering data for multi-thread case
  src/vs/workbench/parts/debug/electron-browser/callStackView.ts
Labels: debug

#67862 Fixes #67860
  src/vs/base/browser/ui/tree/asyncDataTree.ts
Labels: file-explorer

#67911 Fix explorer DND regression
  src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts
Labels: file-explorer

#67762 Increase spacing between keybinding keys
  src/vs/base/browser/ui/keybindingLabel/keybindingLabel.css
Labels: keybindings, keybindings-editor, polish

#67817 Fix wrong hover on empty when column
  src/vs/workbench/parts/preferences/browser/keybindingsEditor.ts
Labels: keybindings-editor

#67955 adding telemtetry to detect machine id guids
  src/vs/platform/telemetry/common/telemetryService.ts
Labels: telemetry

#68092 Candidate: Middle mouse click should open pinned editor
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerView.ts
Labels: candidate

#68090 Candidate: Fix input box text selection in Explorer
  src/vs/base/browser/ui/list/listView.ts
  src/vs/workbench/parts/files/electron-browser/explorerService.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerViewer.ts
Labels: candidate

#68088 Candidate: Fix twistie click in doubleClick open mode
  src/vs/base/browser/ui/tree/abstractTree.ts
Labels: candidate

#68091 Candidate: Fix input box text click in Explorer
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
Labels: candidate

#68115 Workaround 68095
  src/vs/workbench/parts/files/electron-browser/views/explorerViewer.ts
Labels: candidate

#68104 Fix 68031
  src/vs/workbench/parts/files/electron-browser/fileActions.contribution.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerView.ts
Labels: candidate

#68023 Ctrl+Click - Either open in Peek or go to definition, not BOTH!
  src/vs/editor/contrib/goToDefinition/goToDefinitionCommands.ts
Labels: editor-symbols, feature-request

#68153 Fix terminal crash when resizing larger in both dimensions
  package.json
  yarn.lock
Labels: candidate

#68332 Remove cloneElementFont Fixes: bpasero comments
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: dropdown, perf-bloat, polish

#68412 Implement #68408
  src/vs/workbench/contrib/extensions/electron-browser/extensionsActions.ts
  src/vs/workbench/services/themes/common/workbenchThemeService.ts
  src/vs/workbench/services/themes/electron-browser/workbenchThemeService.ts
Labels: extensions, themes

#68463 Hide simpleFind with visibility to remove from tab order. Fixes: #67563
  src/vs/editor/contrib/find/simpleFindWidget.css
  src/vs/editor/contrib/find/simpleFindWidget.ts
Labels: accessibility, webview

#68435 Use hard quotes rather than soft quotes #61902
  src/vs/workbench/contrib/debug/node/terminals.ts
Labels: debug

#66418 Code inset feature
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/electron-browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/electron-browser/mainThreadWebview.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHost.protocol.ts
  src/vs/workbench/api/node/extHostLanguageFeatures.ts
  src/vs/workbench/api/node/extHostTypes.ts
  src/vs/workbench/api/node/extHostWebview.ts
  src/vs/workbench/contrib/codeinset/codeInset.contribution.ts
  src/vs/workbench/contrib/codeinset/codeInset.ts
  src/vs/workbench/contrib/codeinset/codeInsetWidget.css
  src/vs/workbench/contrib/codeinset/codeInsetWidget.ts
  src/vs/workbench/contrib/webview/electron-browser/webviewElement.ts
  src/vs/workbench/workbench.main.ts
Labels: api, api-proposal, editor, feature-request

#68250 Updating ARM code from arm to armv7l
  build/gulpfile.vscode.js
Labels: engineering

#68964 add high contrast border color to editor actions
  src/vs/workbench/browser/parts/editor/tabsTitleControl.ts
Labels: themes, workbench-tabs

#69524 Fix rename input in Explorer
  src/vs/workbench/contrib/files/browser/fileActions.ts
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
Labels: file-explorer
