Repository microsoft/vscode, pull requests merged in 2019-05, with the labels that each got.

#73214 Incorrect wording of Outline drawer default message
  src/vs/workbench/contrib/outline/browser/outlinePanel.ts
Labels: outline, polish

#73108 Add DirtyWorkTree git error matching to git exec
  extensions/git/src/git.ts
Labels: git

#73123 Hot Exit - Allow arbitrary metadata with backups
  extensions/vscode-api-tests/src/singlefolder-tests/workspace.test.ts
  src/vs/editor/common/services/resolverService.ts
  src/vs/editor/standalone/browser/simpleServices.ts
  src/vs/workbench/browser/dnd.ts
  src/vs/workbench/browser/nodeless.simpleservices.ts
  src/vs/workbench/common/editor/resourceEditorModel.ts
  src/vs/workbench/common/editor/textEditorModel.ts
  src/vs/workbench/common/editor/untitledEditorModel.ts
  src/vs/workbench/contrib/backup/common/backupModelTracker.ts
  src/vs/workbench/services/backup/common/backup.ts
  src/vs/workbench/services/backup/node/backupFileService.ts
  src/vs/workbench/services/backup/test/electron-browser/backupFileService.test.ts
  src/vs/workbench/services/backup/test/node/backupFileService.test.ts
  src/vs/workbench/services/textfile/common/textFileEditorModel.ts
  src/vs/workbench/services/textfile/common/textFileService.ts
  src/vs/workbench/services/textfile/common/textfiles.ts
  src/vs/workbench/services/textfile/node/textResourcePropertiesService.ts
  src/vs/workbench/services/textfile/test/textFileEditorModel.test.ts
  src/vs/workbench/services/textfile/test/textFileService.test.ts
  src/vs/workbench/test/workbenchTestServices.ts
Labels: workbench-hot-exit

#73553 fixes #73218
  src/vs/base/browser/ui/contextview/contextview.ts
Labels: workbench-menu

#74026 Add shortcut to Collapse All Trees in Outline View
  src/vs/workbench/browser/actions/listCommands.ts
Labels: list, ux

#67527 Add git.pullTags setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/git.ts
Labels: git

#73850 Smart select: only add line ranges if they’re contained by the next range
  src/vs/editor/contrib/smartSelect/smartSelect.ts
Labels: smart-select

#62021 [git] Expose git.pushForce in the UI
  extensions/git/package.json
Labels: git

#73890 Support negated .gitignore rules.
  extensions/git/src/repository.ts
Labels: git

#74228 Add runInBackground option to Terminal API
  extensions/vscode-api-tests/src/singlefolder-tests/window.test.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadTerminalService.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalTab.ts
  src/vs/workbench/contrib/terminal/common/terminal.ts
  src/vs/workbench/contrib/terminal/common/terminalService.ts
Labels: api, api-proposal

#74430 SelectBox: Fix select title. Fixes: #73844
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
Labels: bug, dropdown

#74519 Tighten native node modules cleanup rules
  build/.nativeignore
Labels: engineering
