Repository microsoft/vscode, pull requests merged in 2019-06, with the labels that each got.

#73849 support query encoding in http, http, ftp and fix path decode issues
  src/vs/base/common/uri.ts
  src/vs/base/test/common/uri.test.ts
Labels: uri

#73119 Update to Electron 4.0.x
  .yarnrc
  build/azure-pipelines/common/symbols.ts
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/linux/publish.sh
  build/azure-pipelines/product-build.yml
  build/gulpfile.vscode.linux.js
  build/lib/electron.js
  cgmanifest.json
  package.json
  resources/linux/rpm/dependencies.json
  src/typings/electron.d.ts
  src/vs/platform/product/node/product.ts
  src/vs/workbench/contrib/performance/electron-browser/perfviewEditor.ts
  src/vs/workbench/contrib/update/electron-browser/update.contribution.ts
  src/vs/workbench/contrib/update/electron-browser/update.ts
  src/vs/workbench/services/timer/electron-browser/timerService.ts
  test/smoke/package.json
  test/smoke/yarn.lock
  yarn.lock
Labels: electron-4.0.x-update

#74723 Added `cachedScrollTop` to SCM panel
  src/vs/workbench/contrib/scm/browser/scmViewlet.ts
Labels: list

#75218 Separate Native and Custom Menubar Controls for clearer dependencies
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/browser/parts/titlebar/titlebarPart.ts
Labels: workbench-menu

#75224 remove simple search service for complete remote implementation
  src/vs/workbench/browser/web.simpleservices.ts
  src/vs/workbench/services/search/common/searchService.ts
  src/vs/workbench/services/search/node/searchService.ts
  src/vs/workbench/test/electron-browser/quickopen.perf.integrationTest.ts
  src/vs/workbench/test/electron-browser/textsearch.perf.integrationTest.ts
  src/vs/workbench/workbench.web.main.ts
Labels: search, web-companion

#69763 Add an option to allow to open in new window after git initializing or cloning
  extensions/git/src/commands.ts
Labels: git

#74462 Object Tree: Preserve collapse state by id
  src/vs/base/browser/ui/tree/objectTreeModel.ts
  src/vs/workbench/contrib/preferences/browser/tocTree.ts
Labels: settings-editor, tree

#75455 Implement API to get default shell
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadTerminalService.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalConfigHelper.ts
  src/vs/workbench/contrib/terminal/common/terminal.ts
  src/vs/workbench/contrib/terminal/common/terminalEnvironment.ts
Labels: api, api-proposal

#75667 Fullscreen Action.
  src/vs/platform/windows/common/windows.ts
  src/vs/workbench/browser/actions/windowActions.ts
  src/vs/workbench/browser/web.simpleservices.ts
  src/vs/workbench/electron-browser/actions/windowActions.ts
  src/vs/workbench/electron-browser/main.contribution.ts
  src/vs/workbench/services/keybinding/browser/keybindingService.ts
  src/vs/workbench/services/window/electron-browser/windowService.ts
  src/vs/workbench/workbench.main.ts
  src/vs/workbench/workbench.web.main.ts
Labels: web

#75822 remove trailing '/' from repo url for baseFolderName
  extensions/git/src/git.ts
Labels: git

#75828 shellscript: Add folding markers
  extensions/shellscript/language-configuration.json
Labels: languages-basic

#75882 vscode.workspace.fs
  extensions/vscode-api-tests/src/singlefolder-tests/workspace.fs.test.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadFileSystem.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostFileSystem.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
Labels: api-proposal, feature-request

#76266 Stop propagation on minimap slider
  src/vs/editor/browser/viewParts/minimap/minimap.ts
Labels: verification-needed

#76157 Add border between tabs and breadcrumbs in HC
  src/vs/workbench/browser/parts/editor/tabsTitleControl.ts
Labels: breadcrumbs, feature-request

#76286 Fix-74281 Standard themes force SourceControlResourceGroup titles to UPPERCASE
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/media/scmViewlet.css
Labels: git
