Repository microsoft/vscode, pull requests merged in 2019-07, with the labels that each got.

#76379 Adopt settings and keybindings to use user data filesystem provider
  src/vs/platform/windows/electron-main/windowsService.ts
  src/vs/workbench/contrib/files/browser/fileActions.contribution.ts
  src/vs/workbench/services/configuration/browser/configuration.ts
  src/vs/workbench/services/configuration/browser/configurationService.ts
  src/vs/workbench/services/environment/browser/environmentService.ts
  src/vs/workbench/services/environment/node/environmentService.ts
  src/vs/workbench/services/keybinding/browser/keybindingService.ts
  src/vs/workbench/services/userData/common/fileUserDataProvider.ts
  src/vs/workbench/services/userData/common/userDataFileSystemProvider.ts
Labels: web

#76329 git HEAD info in tab title
  extensions/git/src/commands.ts
Labels: git

#72957 Put current git branch name as value when renaming
  extensions/git/src/commands.ts
Labels: git

#76431 Build Improvements for Telemetry Command
  build/azure-pipelines/common/extract-telemetry.sh
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/win32/product-build-win32.yml
Labels: vscode-build

#76843 Use right arch in distro dependencies
  build/azure-pipelines/win32/product-build-win32.yml
Labels: candidate, engineering

#76807 Make vscode.env.shell stable API
  extensions/vscode-api-tests/src/singlefolder-tests/env.test.ts
  src/vs/vscode.d.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/node/extHost.api.impl.ts
Labels: api, api-finalization

#76893 Cleanup distro dependencies installation
  build/.nativeignore
  build/azure-pipelines/common/installDistroDependencies.ts
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/linux/product-build-linux-multiarch.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/product-compile.yml
  build/azure-pipelines/win32/product-build-win32.yml
  build/gulpfile.mixin.js
  build/gulpfile.vscode.js
  package.json
Labels: engineering

#77058 Remove legacy extensions compilation from build
  build/azure-pipelines/product-compile.yml
  extensions/python/.vscodeignore
  extensions/python/extension.webpack.config.js
  extensions/shared.webpack.config.js
  package.json
  yarn.lock
Labels: engineering, vscode-build

#75293 implement browser clipboard service
  src/vs/editor/contrib/snippet/test/snippetVariables.test.ts
  src/vs/platform/clipboard/browser/clipboardService.ts
  src/vs/platform/clipboard/common/clipboardService.ts
  src/vs/platform/clipboard/electron-browser/clipboardService.ts
  src/vs/workbench/api/browser/mainThreadClipboard.ts
  src/vs/workbench/browser/parts/notifications/notificationsActions.ts
  src/vs/workbench/browser/web.simpleservices.ts
  src/vs/workbench/contrib/debug/browser/debugActions.ts
  src/vs/workbench/contrib/debug/browser/debugCommands.ts
  src/vs/workbench/contrib/debug/browser/repl.ts
  src/vs/workbench/contrib/debug/browser/variablesView.ts
  src/vs/workbench/contrib/extensions/electron-browser/extensionsActions.ts
  src/vs/workbench/contrib/files/browser/fileActions.ts
  src/vs/workbench/contrib/files/browser/fileCommands.ts
  src/vs/workbench/contrib/markers/browser/markers.contribution.ts
  src/vs/workbench/contrib/performance/electron-browser/startupProfiler.ts
  src/vs/workbench/contrib/preferences/browser/keybindingsEditor.ts
  src/vs/workbench/contrib/preferences/browser/preferences.contribution.ts
  src/vs/workbench/contrib/preferences/browser/settingsTree.ts
  src/vs/workbench/contrib/preferences/common/preferences.ts
  src/vs/workbench/contrib/search/browser/searchActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
  src/vs/workbench/contrib/terminal/browser/terminalPanel.ts
  src/vs/workbench/contrib/terminal/common/terminal.ts
  src/vs/workbench/workbench.web.main.ts
Labels: web

#71500 Fixed #71134
  src/vs/base/browser/ui/list/listWidget.ts
Labels: list

#77431 Update 'vs-minimal' file icon theme
  extensions/theme-defaults/fileicons/images/Document_16x.svg
  extensions/theme-defaults/fileicons/images/Document_16x_inverse.svg
  extensions/theme-defaults/fileicons/images/FolderOpen_16x.svg
  extensions/theme-defaults/fileicons/images/FolderOpen_16x_inverse.svg
  extensions/theme-defaults/fileicons/images/Folder_16x.svg
  extensions/theme-defaults/fileicons/images/Folder_16x_inverse.svg
  extensions/theme-defaults/fileicons/images/RootFolderOpen_16x.svg
  extensions/theme-defaults/fileicons/images/RootFolderOpen_16x_inverse.svg
  extensions/theme-defaults/fileicons/images/RootFolder_16x.svg
  extensions/theme-defaults/fileicons/images/RootFolder_16x_inverse.svg
  extensions/theme-defaults/fileicons/images/document-dark.svg
  extensions/theme-defaults/fileicons/images/document-light.svg
  extensions/theme-defaults/fileicons/images/folder-dark.svg
  extensions/theme-defaults/fileicons/images/folder-light.svg
  extensions/theme-defaults/fileicons/images/folder-open-dark.svg
  extensions/theme-defaults/fileicons/images/folder-open-light.svg
  extensions/theme-defaults/fileicons/images/root-folder-dark.svg
  extensions/theme-defaults/fileicons/images/root-folder-light.svg
  extensions/theme-defaults/fileicons/images/root-folder-open-dark.svg
  extensions/theme-defaults/fileicons/images/root-folder-open-light.svg
  extensions/theme-defaults/fileicons/vs_minimal-icon-theme.json
Labels: icons

#77496 Add '.ent' and '.mod' file extensions for the XML language
  extensions/xml/package.json
Labels: feature-request, languages-basic

#77664 Allows terminal errors to work in the remote case
  src/vs/workbench/api/browser/mainThreadTerminalService.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
  src/vs/workbench/contrib/terminal/browser/terminalProcessManager.ts
  src/vs/workbench/contrib/terminal/common/terminal.ts
  src/vs/workbench/contrib/terminal/common/terminalProcessExtHostProxy.ts
Labels: integrated-terminal

#60311 #42382 Preserve case while search and replace
  src/vs/editor/contrib/find/findController.ts
  src/vs/editor/contrib/find/findModel.ts
  src/vs/editor/contrib/find/findState.ts
  src/vs/editor/contrib/find/findWidget.css
  src/vs/editor/contrib/find/findWidget.ts
  src/vs/editor/contrib/find/replacePattern.ts
  src/vs/editor/contrib/find/test/replacePattern.test.ts
Labels: editor-find, search, ux

#77958 Change default search to find previous
  src/vs/editor/contrib/find/simpleFindWidget.ts
  src/vs/workbench/contrib/terminal/browser/terminalFindWidget.ts
Labels: integrated-terminal

#77760 feat(Diagnostics): Add proposed DiagnosticTag.Deprecated enum member
  src/vs/editor/browser/widget/codeEditorWidget.ts
  src/vs/editor/common/model/intervalTree.ts
  src/vs/editor/common/services/markerDecorationsServiceImpl.ts
  src/vs/editor/common/standalone/standaloneEnums.ts
  src/vs/monaco.d.ts
  src/vs/platform/markers/common/markers.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/common/extHostTypeConverters.ts
  src/vs/workbench/api/common/extHostTypes.ts
Labels: feature-request

#73139 in multiple git repositories workspace, can't view/focus changes on keypress up arrow and enter in `source control provider view`
  src/vs/workbench/contrib/scm/browser/scmViewlet.ts
Labels: git

#78104 Allow Variable References for terminal CWD
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalProcessManager.ts
  src/vs/workbench/contrib/terminal/common/terminalEnvironment.ts
  src/vs/workbench/contrib/terminal/test/node/terminalEnvironment.test.ts
Labels: integrated-terminal

#77852 Use active indent guide when active tree item is folder
  src/vs/base/browser/ui/tree/abstractTree.ts
Labels: tree
