Repository microsoft/vscode, pull requests merged in 2019-01, with the labels that each got.

#65776 Define less fonts
  src/vs/workbench/browser/parts/editor/media/notabstitlecontrol.css
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
  src/vs/workbench/electron-browser/media/shell.css
  src/vs/workbench/electron-browser/shell.ts
  src/vs/workbench/electron-browser/workbench.ts
  src/vs/workbench/parts/debug/browser/media/debug.contribution.css
  src/vs/workbench/parts/debug/browser/media/debugViewlet.css
  src/vs/workbench/parts/debug/browser/media/exceptionWidget.css
  src/vs/workbench/parts/debug/browser/media/repl.css
  src/vs/workbench/parts/files/electron-browser/media/explorerviewlet.css
  src/vs/workbench/parts/terminal/electron-browser/media/terminal.css
  src/vs/workbench/parts/watermark/electron-browser/watermark.css
  src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.css
  src/vs/workbench/parts/welcome/walkThrough/electron-browser/walkThroughPart.css
Labels: perf-startup

#60217 Fix issues with keybindings list header behavior (#41558)
  src/vs/workbench/parts/preferences/browser/keybindingsEditor.ts
  src/vs/workbench/parts/preferences/browser/media/keybindingsEditor.css
  src/vs/workbench/services/preferences/common/keybindingsEditorModel.ts
Labels: keybindings-editor

#65968 Fixed issue 65204: open keybindings icon disappears
  src/vs/workbench/parts/preferences/browser/keybindingsEditor.ts
Labels: keybindings-editor

#59849 Add option to automatically stash changes before performing `git pull`
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/repository.ts
Labels: git

#59078 [git] Add command to create branch from specific ref
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#56670 code command completions for Bash & Zsh
  build/gulpfile.hygiene.js
  build/gulpfile.vscode.js
  build/gulpfile.vscode.linux.js
  resources/completions/bash/code
  resources/completions/zsh/_code
  resources/linux/rpm/code.spec.template
Labels: languages-basic

#59988 Fix #57910 - Add setting for auto fetch timeout
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/autofetch.ts
Labels: git

#60387 Add entries to scm/git context menu for force pushing
  extensions/git/package.json
Labels: git

#60973 Allow updates to be completely disabled or manual, as well as automatic
  src/vs/platform/update/electron-main/abstractUpdateService.ts
  src/vs/platform/update/node/update.config.contribution.ts
Labels: install-update

#60407 Git: Separate the commit length limit of subject line and description…
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/repository.ts
Labels: git

#65941 Gentle shutdown of application in smoke test
  src/vs/platform/driver/electron-main/driver.ts
  src/vs/platform/driver/node/driver.ts
  test/smoke/src/application.ts
  test/smoke/src/vscode/code.ts
Labels: smoke-test

#65786 Fix microsoft/vscode-pull-request-github#612. Allow fetching with limited depths
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#66138 Fix 65956
  src/vs/editor/common/services/modelServiceImpl.ts
Labels: editor-hover

#65989 Update Octicons
  cgmanifest.json
  src/vs/base/browser/ui/octiconLabel/octicons/README.md
  src/vs/base/browser/ui/octiconLabel/octicons/cgmanifest.json
  src/vs/base/browser/ui/octiconLabel/octicons/octicons-local.ttf
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.css
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.eot
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.less
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.scss
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.svg
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.ttf
  src/vs/base/browser/ui/octiconLabel/octicons/octicons.woff
  src/vs/base/browser/ui/octiconLabel/octicons/sprockets-octicons.scss
Labels: ux

#66291 Implement List & new Tree drag and drop
  src/vs/base/browser/dnd.ts
  src/vs/base/browser/dom.ts
  src/vs/base/browser/ui/list/list.css
  src/vs/base/browser/ui/list/list.ts
  src/vs/base/browser/ui/list/listView.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/indexTreeModel.ts
  src/vs/base/browser/ui/tree/objectTreeModel.ts
  src/vs/base/browser/ui/tree/tree.ts
  src/vs/base/parts/tree/browser/tree.ts
  src/vs/base/parts/tree/browser/treeDefaults.ts
  src/vs/base/parts/tree/browser/treeDnd.ts
  src/vs/base/parts/tree/browser/treeView.ts
  src/vs/editor/contrib/suggest/media/suggest.css
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/workbench/browser/dnd.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerViewer.ts
  src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts
Labels: list, tree

#66159 Add multiline description support in user snippets
  src/vs/workbench/parts/snippets/electron-browser/snippets.contribution.ts
  src/vs/workbench/parts/snippets/electron-browser/snippetsFile.ts
Labels: feature-request, snippets

#64733 Allow a terminal creation to ignore VSCode's process environment
  src/vs/vscode.d.ts
  src/vs/workbench/api/electron-browser/mainThreadTerminalService.ts
  src/vs/workbench/api/node/extHost.protocol.ts
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/parts/terminal/common/terminal.ts
  src/vs/workbench/parts/terminal/electron-browser/terminalProcessManager.ts
Labels: api-finalization, api-proposal

#65008 Explorer adopt new tree
  .vscode/settings.json
  src/vs/base/browser/ui/list/listView.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/media/tree.css
  src/vs/workbench/browser/parts/views/customView.ts
  src/vs/workbench/browser/parts/views/media/views.css
  src/vs/workbench/browser/parts/views/views.ts
  src/vs/workbench/browser/parts/views/viewsViewlet.ts
  src/vs/workbench/parts/files/browser/editors/textFileEditor.ts
  src/vs/workbench/parts/files/browser/files.ts
  src/vs/workbench/parts/files/common/explorerModel.ts
  src/vs/workbench/parts/files/common/files.ts
  src/vs/workbench/parts/files/electron-browser/explorerService.ts
  src/vs/workbench/parts/files/electron-browser/explorerViewlet.ts
  src/vs/workbench/parts/files/electron-browser/fileActions.ts
  src/vs/workbench/parts/files/electron-browser/fileCommands.ts
  src/vs/workbench/parts/files/electron-browser/files.contribution.ts
  src/vs/workbench/parts/files/electron-browser/media/explorerviewlet.css
  src/vs/workbench/parts/files/electron-browser/views/explorerDecorationsProvider.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerView.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerViewer.ts
  src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts
  src/vs/workbench/parts/files/test/electron-browser/explorerModel.test.ts
  src/vs/workbench/services/themes/electron-browser/fileIconThemeData.ts
Labels: feature-request, file-explorer

#66416 add git blame api
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#66249 GoToLine: Screenreader output line number, handles #66245, #65219
  src/vs/editor/standalone/browser/quickOpen/gotoLine.ts
  src/vs/workbench/parts/quickopen/browser/gotoLineHandler.ts
Labels: accessibility, bug

#66700 Use Script#createCachedData
  src/main.js
  src/vs/loader.js
Labels: perf, perf-startup

#66669 Fancy list/tree navigation
  src/vs/base/browser/dnd.ts
  src/vs/base/browser/ui/list/list.css
  src/vs/base/browser/ui/list/listView.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/list/media/close-dark.svg
  src/vs/base/browser/ui/list/media/close-hc.svg
  src/vs/base/browser/ui/list/media/close.svg
  src/vs/base/browser/ui/list/media/filter-dark.svg
  src/vs/base/browser/ui/list/media/filter-hc.svg
  src/vs/base/browser/ui/list/media/filter.svg
  src/vs/base/browser/ui/list/media/no-filter-dark.svg
  src/vs/base/browser/ui/list/media/no-filter-hc.svg
  src/vs/base/browser/ui/list/media/no-filter.svg
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/common/color.ts
  src/vs/base/common/filters.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/electron-browser/commands.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerView.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerViewer.ts
Labels: tree, ux

#66966 Update touch bar icons
  src/vs/workbench/browser/parts/editor/media/back-tb.png
  src/vs/workbench/browser/parts/editor/media/forward-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/continue-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/pause-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/restart-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/stepinto-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/stepout-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/stepover-tb.png
  src/vs/workbench/parts/debug/electron-browser/media/stop-tb.png
Labels: ux

#65059 Add typings for Promise#finally
  src/typings/lib.es2018.promise.d.ts
  src/vs/base/common/async.ts
  src/vs/workbench/api/node/extHostSearch.fileIndex.ts
  src/vs/workbench/services/extensions/node/lazyPromise.ts
  src/vs/workbench/services/search/node/rawSearchService.ts
Labels: engineering

#65062 Enables strictNullChecks to breadcrumbs.ts, outlineModel.ts, breadcrumbsModel.ts
  src/tsconfig.strictNullChecks.json
  src/vs/editor/contrib/documentSymbols/outlineModel.ts
  src/vs/workbench/browser/parts/editor/breadcrumbs.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsModel.ts
Labels: engineering

#63066 Workbench Grid Layout Behind flag
  .vscode/launch.json
  src/vs/base/browser/ui/grid/grid.ts
  src/vs/workbench/browser/media/part.css
  src/vs/workbench/browser/parts/activitybar/activitybarPart.ts
  src/vs/workbench/browser/parts/activitybar/media/activityaction.css
  src/vs/workbench/browser/parts/activitybar/media/activitybarpart.css
  src/vs/workbench/browser/parts/compositePart.ts
  src/vs/workbench/browser/parts/editor/editorGroupView.ts
  src/vs/workbench/browser/parts/editor/editorPart.ts
  src/vs/workbench/browser/parts/editor/media/breadcrumbscontrol.css
  src/vs/workbench/browser/parts/editor/media/editorgroupview.css
  src/vs/workbench/browser/parts/editor/media/notabstitlecontrol.css
  src/vs/workbench/browser/parts/editor/media/tabstitlecontrol.css
  src/vs/workbench/browser/parts/editor/media/titlecontrol.css
  src/vs/workbench/browser/parts/editor/tabsTitleControl.ts
  src/vs/workbench/browser/parts/media/compositepart.css
  src/vs/workbench/browser/parts/panel/media/panelpart.css
  src/vs/workbench/browser/parts/panel/panelPart.ts
  src/vs/workbench/browser/parts/sidebar/media/sidebarpart.css
  src/vs/workbench/browser/parts/sidebar/sidebarPart.ts
  src/vs/workbench/browser/parts/statusbar/media/statusbarpart.css
  src/vs/workbench/browser/parts/statusbar/statusbarPart.ts
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
  src/vs/workbench/browser/parts/titlebar/titlebarPart.ts
  src/vs/workbench/electron-browser/main.contribution.ts
  src/vs/workbench/electron-browser/media/workbench.css
  src/vs/workbench/electron-browser/workbench.ts
  src/vs/workbench/parts/debug/browser/media/debug.contribution.css
  src/vs/workbench/parts/debug/browser/media/debugViewlet.css
  src/vs/workbench/parts/debug/browser/statusbarColorProvider.ts
  src/vs/workbench/parts/extensions/electron-browser/media/extensions.css
  src/vs/workbench/parts/feedback/electron-browser/feedbackStatusbarItem.ts
  src/vs/workbench/parts/files/electron-browser/media/explorerviewlet.css
  src/vs/workbench/parts/relauncher/electron-browser/relauncher.contribution.ts
  src/vs/workbench/parts/scm/electron-browser/media/scmViewlet.css
  src/vs/workbench/parts/search/electron-browser/media/search.contribution.css
  src/vs/workbench/parts/watermark/electron-browser/watermark.css
  src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.css
  src/vs/workbench/parts/welcome/page/electron-browser/welcomePage.ts
  src/vs/workbench/parts/welcome/walkThrough/electron-browser/walkThroughPart.css
  src/vs/workbench/parts/welcome/walkThrough/electron-browser/walkThroughPart.ts
  src/vs/workbench/services/editor/test/browser/editorService.test.ts
  src/vs/workbench/services/group/test/browser/editorGroupsService.test.ts
  src/vs/workbench/services/progress/browser/media/progressService2.css
Labels: workbench-layout

#67008 Update build badge url
  README.md
Labels: engineering

#67123 List horizontal scrolling
  src/vs/base/browser/ui/list/list.css
  src/vs/base/browser/ui/list/listPaging.ts
  src/vs/base/browser/ui/list/listView.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/splitview/panelview.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/editor/contrib/referenceSearch/referencesWidget.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/workbench/browser/parts/notifications/notificationsList.ts
  src/vs/workbench/browser/parts/quickinput/quickInputList.ts
  src/vs/workbench/browser/parts/views/panelViewlet.ts
  src/vs/workbench/parts/debug/browser/breakpointsView.ts
  src/vs/workbench/parts/debug/browser/loadedScriptsView.ts
  src/vs/workbench/parts/debug/browser/media/debugHover.css
  src/vs/workbench/parts/debug/electron-browser/callStackView.ts
  src/vs/workbench/parts/debug/electron-browser/debugHover.ts
  src/vs/workbench/parts/debug/electron-browser/repl.ts
  src/vs/workbench/parts/debug/electron-browser/variablesView.ts
  src/vs/workbench/parts/debug/electron-browser/watchExpressionsView.ts
  src/vs/workbench/parts/extensions/electron-browser/extensionsViews.ts
  src/vs/workbench/parts/extensions/electron-browser/runtimeExtensionsEditor.ts
  src/vs/workbench/parts/files/electron-browser/views/explorerView.ts
  src/vs/workbench/parts/files/electron-browser/views/openEditorsView.ts
  src/vs/workbench/parts/markers/electron-browser/markersPanel.ts
  src/vs/workbench/parts/preferences/browser/keybindingsEditor.ts
  src/vs/workbench/parts/preferences/electron-browser/settingsEditor2.ts
  src/vs/workbench/parts/scm/electron-browser/scmViewlet.ts
  src/vs/workbench/parts/search/browser/searchView.ts
Labels: list, tree, ux

#67092 ObjectTree/List: Add ariaRootRole option. Addresses: #65939
  src/vs/base/browser/ui/list/list.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/workbench/parts/preferences/browser/settingsTree.ts
  src/vs/workbench/parts/preferences/electron-browser/settingsEditor2.ts
Labels: accessibility, list, settings-editor

#67164 Move cursor inside braces
  src/vs/workbench/api/common/configurationExtensionPoint.ts
Labels: config
