Repository microsoft/vscode, pull requests merged in 2019-08, with the labels that each got.

#78265 eng - strict field initialisations
  src/vs/base/browser/ui/breadcrumbs/breadcrumbsWidget.ts
  src/vs/base/common/event.ts
  src/vs/editor/contrib/codelens/codelensWidget.ts
  src/vs/editor/contrib/documentSymbols/outlineTree.ts
  src/vs/editor/contrib/goToDefinition/goToDefinitionMouse.ts
  src/vs/editor/contrib/referenceSearch/referencesModel.ts
  src/vs/editor/contrib/snippet/snippetParser.ts
  src/vs/editor/contrib/suggest/suggestAlternatives.ts
  src/vs/editor/contrib/suggest/wordContextKey.ts
  src/vs/workbench/api/browser/mainThreadCodeInsets.ts
  src/vs/workbench/api/browser/mainThreadDocumentsAndEditors.ts
  src/vs/workbench/api/common/extHostCodeInsets.ts
  src/vs/workbench/api/common/extHostDocumentData.ts
  src/vs/workbench/api/common/extHostDocumentsAndEditors.ts
  src/vs/workbench/api/common/extHostFileSystem.ts
  src/vs/workbench/api/common/extHostMemento.ts
  src/vs/workbench/api/common/extHostOutput.ts
  src/vs/workbench/browser/parts/editor/breadcrumbs.ts
  src/vs/workbench/contrib/extensions/electron-browser/extensionProfileService.ts
  src/vs/workbench/contrib/extensions/electron-browser/extensionsSlowActions.ts
  src/vs/workbench/contrib/markers/browser/markersFileDecorations.ts
  src/vs/workbench/contrib/performance/electron-browser/perfviewEditor.ts
  src/vs/workbench/contrib/snippets/browser/snippetCompletionProvider.ts
  src/vs/workbench/contrib/snippets/browser/tabCompletion.ts
  src/vs/workbench/contrib/splash/electron-browser/partsSplash.contribution.ts
  src/vs/workbench/services/bulkEdit/browser/bulkEditService.ts
  src/vs/workbench/services/timer/electron-browser/timerService.ts
Labels: debt

#77213 Toggle for disabling autofocus on debugger stop
  src/vs/workbench/contrib/debug/browser/debug.contribution.ts
  src/vs/workbench/contrib/debug/browser/debugSession.ts
Labels: debug

#61112 Git clone fix to use basename
  extensions/git/src/git.ts
Labels: git

#63743 'suggestSmartCommit' configuration setting was introduced
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#62584 if there is no documentation don't show border
  src/vs/editor/contrib/parameterHints/parameterHintsWidget.ts
Labels: editor-parameter-hints

#78504 Feat. #77878 - trim git clone
  extensions/git/src/commands.ts
Labels: git

#65212 Git: Support sync cancellation #59047 Issue Fix
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#65247 Git sync now publishes branch upon confirmation (#64183 issue fix)
  extensions/git/src/commands.ts
Labels: git

#65906 Clean user input for git clone extension
  extensions/git/src/commands.ts
Labels: git

#66095 Git discard changes fails for large changesets with "ENAMETOOLONG" Fix for #65693
  extensions/git/src/repository.ts
Labels: git

#66097 Try resolve git branches beginning with '@' before replacing with symbolic full path
  extensions/git/src/git.ts
Labels: git

#66181 Bundle/Install completions with the correct appname
  build/gulpfile.vscode.js
  build/gulpfile.vscode.linux.js
  resources/completions/bash/code
  resources/completions/zsh/_code
  resources/linux/rpm/code.spec.template
Labels: workbench-os-integration

#67625 set screencast to display 15 characters
  src/vs/workbench/electron-browser/actions/developerActions.ts
Labels: screencast-mode

#67823 [Screencast] Smooth showing/hiding of marker
  src/vs/workbench/electron-browser/actions/developerActions.ts
Labels: screencast-mode

#67641 [Screencast] Add border for keys
  src/vs/workbench/electron-browser/actions/developerActions.ts
Labels: screencast-mode

#68048 Hide screencast overflow
  src/vs/workbench/electron-browser/actions/developerActions.ts
Labels: screencast-mode

#75213 Fix #72640
  extensions/git/src/commands.ts
Labels: git

#69506 Fixes #69240
  extensions/git/src/commands.ts
Labels: git

#78690 web - enable sourcemaps
  build/azure-pipelines/upload-sourcemaps.js
  build/azure-pipelines/web/product-build-web.yml
Labels: web

#67953 Git prompt save only on staged
  extensions/git/src/commands.ts
Labels: git

#70536 Add option to hide git sync button in status bar
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/statusbar.ts
Labels: git

#71710 fix commit template message whitespace removing #71312
  extensions/git/src/git.ts
Labels: git

#72169 Check for updates only once at launch
  src/vs/platform/update/electron-main/abstractUpdateService.ts
  src/vs/platform/update/node/update.config.contribution.ts
Labels: install-update

#72275 Updated git branch tooltip to display full branch name instead of "checkout..."
  extensions/git/src/statusbar.ts
Labels: git

#72171 Use DOM scrollbar in SCM commit message box
  src/vs/base/browser/ui/inputbox/inputBox.ts
  src/vs/workbench/contrib/scm/browser/scmViewlet.ts
Labels: scm

#72699 Fix Microsoft #71258 - Cannot undo empty commits
  extensions/git/src/commands.ts
Labels: git

#75295 Show head label in placeholder of commit message
  extensions/git/src/repository.ts
Labels: git

#73625 Fix #72587 suggestWidget no scroll on first open
  src/vs/editor/contrib/suggest/suggestWidget.ts
Labels: suggest

#78709 list.clear should clear both focus and selection in one go
  src/vs/workbench/browser/actions/listCommands.ts
Labels: accessibility, list, tree

#78630 Extension host service injection
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostCommands.ts
  src/vs/workbench/api/common/extHostConfiguration.ts
  src/vs/workbench/api/common/extHostDebugService.ts
  src/vs/workbench/api/common/extHostDecorations.ts
  src/vs/workbench/api/common/extHostDocumentsAndEditors.ts
  src/vs/workbench/api/common/extHostExtensionService.ts
  src/vs/workbench/api/common/extHostInitDataService.ts
  src/vs/workbench/api/common/extHostOutput.ts
  src/vs/workbench/api/common/extHostRpcService.ts
  src/vs/workbench/api/common/extHostSearch.ts
  src/vs/workbench/api/common/extHostStorage.ts
  src/vs/workbench/api/common/extHostStoragePaths.ts
  src/vs/workbench/api/common/extHostTask.ts
  src/vs/workbench/api/common/extHostTerminalService.ts
  src/vs/workbench/api/common/extHostUriTransformerService.ts
  src/vs/workbench/api/common/extHostWorkspace.ts
  src/vs/workbench/api/node/extHost.services.ts
  src/vs/workbench/api/node/extHostCLIServer.ts
  src/vs/workbench/api/node/extHostDebugService.ts
  src/vs/workbench/api/node/extHostDownloadService.ts
  src/vs/workbench/api/node/extHostExtensionService.ts
  src/vs/workbench/api/node/extHostOutputService.ts
  src/vs/workbench/api/node/extHostRequireInterceptor.ts
  src/vs/workbench/api/node/extHostSearch.ts
  src/vs/workbench/api/node/extHostStoragePaths.ts
  src/vs/workbench/api/node/extHostTask.ts
  src/vs/workbench/api/node/extHostTerminalService.ts
  src/vs/workbench/services/extensions/common/extensionHostMain.ts
  src/vs/workbench/services/extensions/node/extensionHostProcessSetup.ts
  src/vs/workbench/test/electron-browser/api/extHostApiCommands.test.ts
  src/vs/workbench/test/electron-browser/api/extHostCommands.test.ts
  src/vs/workbench/test/electron-browser/api/extHostConfiguration.test.ts
  src/vs/workbench/test/electron-browser/api/extHostDocumentsAndEditors.test.ts
  src/vs/workbench/test/electron-browser/api/extHostSearch.test.ts
  src/vs/workbench/test/electron-browser/api/extHostTreeViews.test.ts
  src/vs/workbench/test/electron-browser/api/extHostWorkspace.test.ts
  src/vs/workbench/test/electron-browser/api/testRPCProtocol.ts
Labels: debt, extensions, web

#78773 List: additionalScrollHeight
  src/vs/base/browser/ui/list/listView.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
Labels: file-explorer, tree

#77848 [wip]feat: support list.focusParent command
  src/vs/workbench/browser/actions/listCommands.ts
Labels: tree

#78922 Ignore double click on twistie
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
Labels: tree

#78998 Fix pasting in Windows to Linux remote
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
Labels: candidate

#78995 xterm@3.15.0-vscode1
  package.json
  remote/package.json
  remote/yarn.lock
  yarn.lock
Labels: candidate

#78695 Fix #64077 - Allow to sort branches alphabetically
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#78982 Issue 78480: Clear Filter command link includes dot
  src/vs/workbench/contrib/markers/browser/markersPanel.ts
Labels: error-list

#78092 Strikeout deprecated CompletionItems
  src/vs/editor/common/modes.ts
  src/vs/editor/contrib/suggest/media/suggest.css
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/monaco.d.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostLanguageFeatures.ts
Labels: feature-request, suggest

#79712 Introduce cursor word accessibilty commands
  src/vs/editor/common/controller/cursorWordOperations.ts
  src/vs/editor/contrib/wordOperations/test/wordOperations.test.ts
  src/vs/editor/contrib/wordOperations/wordOperations.ts
Labels: accessibility

#80050 chore: update tsc target
  src/tsconfig.json
Labels: debt, engineering
