Repository microsoft/vscode, pull requests merged in 2019-12, with the labels that each got.

#85894 Enable synchronising keybindings
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/platform/environment/common/environment.ts
  src/vs/platform/environment/node/environmentService.ts
  src/vs/platform/userDataSync/common/content.ts
  src/vs/platform/userDataSync/common/keybindingsMerge.ts
  src/vs/platform/userDataSync/common/keybindingsSync.ts
  src/vs/platform/userDataSync/common/keybindingsSyncIpc.ts
  src/vs/platform/userDataSync/common/settingsSync.ts
  src/vs/platform/userDataSync/common/userDataSync.ts
  src/vs/platform/userDataSync/common/userDataSyncService.ts
  src/vs/platform/userDataSync/test/common/keybindingsMerge.test.ts
  src/vs/workbench/contrib/userDataSync/browser/userDataSync.ts
  src/vs/workbench/contrib/userDataSync/electron-browser/userDataSync.contribution.ts
  src/vs/workbench/services/environment/browser/environmentService.ts
  src/vs/workbench/services/userDataSync/common/keybindingsMerge.ts
  src/vs/workbench/services/userDataSync/common/settingsMergeService.ts
  src/vs/workbench/workbench.common.main.ts
Labels: settings-sync

#86286 fix #85938: prevent duplicate selections
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
Labels: file-explorer

#86610 Fix gitfs scheme check
  extensions/git/src/model.ts
Labels: candidate

#85842 #85645 display Variables fetch failure message
  src/vs/workbench/contrib/debug/common/debugModel.ts
Labels: debug

#81403 Process debug adapter messages in separate tasks; see #33822, #79196
  src/vs/workbench/contrib/debug/browser/debugSession.ts
  src/vs/workbench/contrib/debug/common/abstractDebugAdapter.ts
  src/vs/workbench/contrib/debug/test/browser/debugModel.test.ts
  src/vs/workbench/contrib/debug/test/common/mockDebug.ts
Labels: debug

#87093 allow prepareCallHierarchy to also return an array
  src/vs/vscode.d.ts
  src/vs/workbench/api/browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostLanguageFeatures.ts
  src/vs/workbench/contrib/callHierarchy/browser/callHierarchy.ts
  src/vs/workbench/contrib/callHierarchy/browser/callHierarchyTree.ts
Labels: api-finalization

#87405 auto switch of color theme based on browser API `prefers-color-scheme`
  src/vs/workbench/services/themes/browser/workbenchThemeService.ts
  src/vs/workbench/services/themes/common/workbenchThemeService.ts
Labels: themes

#84955 Fixed #83983 added highlight collapsed
  src/vs/editor/contrib/folding/foldingDecorations.ts
  src/vs/editor/contrib/folding/foldingModel.ts
Labels: editor-folding

#83249 Hide Debug Console After Session Has Stopped
  src/vs/workbench/contrib/debug/browser/debug.contribution.ts
  src/vs/workbench/contrib/debug/browser/debugService.ts
  src/vs/workbench/contrib/debug/common/debug.ts
Labels: debug
