Repository microsoft/vscode, pull requests merged in 2020-04, with the labels that each got.

#94406 chore: update distro
  package.json
Labels: candidate

#94222 Fix #93621. Emit wheel event only when the webview does not scroll.
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
Labels: notebook

#94503 Address GDK snap issues
  src/main.js
Labels: linux, snap

#94526 Cleanup built-in extensions mechanism
  build/builtInExtensions.json
  build/builtin/browser-main.js
  build/lib/builtInExtensions.js
  build/lib/extensions.js
  build/lib/extensions.ts
  package.json
  product.json
  src/vs/platform/extensionManagement/common/extensionManagementUtil.ts
  src/vs/platform/extensionManagement/node/extensionManagementService.ts
  src/vs/platform/product/common/productService.ts
  src/vs/workbench/services/extensions/electron-browser/cachedExtensionScanner.ts
Labels: debt

#94540 Adopt native iterators across the workbench
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/compressedObjectTreeModel.ts
  src/vs/base/browser/ui/tree/dataTree.ts
  src/vs/base/browser/ui/tree/indexTree.ts
  src/vs/base/browser/ui/tree/indexTreeModel.ts
  src/vs/base/browser/ui/tree/objectTree.ts
  src/vs/base/browser/ui/tree/objectTreeModel.ts
  src/vs/base/browser/ui/tree/tree.ts
  src/vs/base/common/iterator.ts
  src/vs/base/common/map.ts
  src/vs/base/common/resourceTree.ts
  src/vs/base/test/browser/ui/tree/compressedObjectTreeModel.test.ts
  src/vs/base/test/browser/ui/tree/indexTreeModel.test.ts
  src/vs/base/test/browser/ui/tree/objectTree.test.ts
  src/vs/base/test/browser/ui/tree/objectTreeModel.test.ts
  src/vs/base/test/common/iterator.test.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/preferences/browser/settingsEditor2.ts
  src/vs/workbench/contrib/preferences/browser/tocTree.ts
  src/vs/workbench/contrib/scm/browser/repositoryPane.ts
  src/vs/workbench/contrib/search/browser/searchView.ts
Labels: debt

#94529 Fixes issue #94521: Make sure to always specify Uint32Array length
  src/vs/workbench/api/common/shared/semanticTokensDto.ts
  src/vs/workbench/test/common/api/semanticTokensDto.test.ts
Labels: candidate

#94486 always report important exe recommendations
  src/vs/workbench/contrib/extensions/browser/extensionTipsService.ts
Labels: candidate

#94558 refs #94507
  src/vs/workbench/contrib/output/browser/media/output.css
  src/vs/workbench/contrib/output/browser/outputView.ts
  src/vs/workbench/contrib/terminal/browser/media/terminal.css
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
Labels: candidate

#94567 fixes #94502
  src/vs/workbench/browser/parts/views/viewPaneContainer.ts
Labels: candidate

#94566 safest refs #94454
  src/vs/workbench/browser/parts/panel/panelPart.ts
Labels: candidate

#94459 Display future events in timeline correctly
  src/vs/base/common/date.ts
Labels: timeline

#94549 Contributed tasks aren't added to recent
  src/vs/workbench/contrib/tasks/browser/abstractTaskService.ts
  src/vs/workbench/contrib/tasks/common/taskService.ts
Labels: candidate

#91261 Fixes apply debug console font size setting to input field
  src/vs/workbench/contrib/debug/browser/media/repl.css
  src/vs/workbench/contrib/debug/browser/repl.ts
Labels: debug

#91872 Fixes missing git folder actions under Untracked Changes group in scm viewlet
  extensions/git/package.json
Labels: git

#94798 Finalize SourceControlInputBox.visible
  src/vs/vscode.d.ts
  src/vs/vscode.proposed.d.ts
Labels: api-finalization

#95462 Fixes - Git on network drive broken after upgrade to 1.44.0
  extensions/git/src/git.ts
Labels: candidate, git

#95393 Notebook: support hidden regions
  src/vs/workbench/contrib/notebook/browser/contrib/notebookActions.ts
  src/vs/workbench/contrib/notebook/browser/media/notebook.css
  src/vs/workbench/contrib/notebook/browser/notebookBrowser.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditor.ts
  src/vs/workbench/contrib/notebook/browser/view/notebookCellList.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/contrib/notebook/browser/viewModel/notebookViewModel.ts
  src/vs/workbench/contrib/notebook/common/model/notebookTextModel.ts
  src/vs/workbench/contrib/notebook/common/notebookCommon.ts
  src/vs/workbench/contrib/notebook/test/notebookViewModel.test.ts
  src/vs/workbench/contrib/notebook/test/testNotebookEditor.ts
Labels: notebook

#95438 Improve sync flow from Accounts UI
  src/vs/workbench/api/browser/mainThreadAuthentication.ts
  src/vs/workbench/contrib/userDataSync/browser/userDataSync.ts
  src/vs/workbench/contrib/userDataSync/browser/userDataSyncAccount.ts
  src/vs/workbench/contrib/userDataSync/browser/userDataSyncAuthentication.ts
  src/vs/workbench/services/authentication/browser/authenticationService.ts
Labels: settings-sync

#81982 Add git.showCommitInput config option (#79074)
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/repository.ts
Labels: git

#95721 Unify view descriptor and view model into IViewContainerModel
  src/vs/workbench/api/browser/mainThreadComments.ts
  src/vs/workbench/api/browser/viewsExtensionPoint.ts
  src/vs/workbench/browser/actions/layoutActions.ts
  src/vs/workbench/browser/parts/activitybar/activitybarPart.ts
  src/vs/workbench/browser/parts/compositeBar.ts
  src/vs/workbench/browser/parts/compositeBarActions.ts
  src/vs/workbench/browser/parts/panel/panelActions.ts
  src/vs/workbench/browser/parts/panel/panelPart.ts
  src/vs/workbench/browser/parts/views/viewPaneContainer.ts
  src/vs/workbench/browser/parts/views/views.ts
  src/vs/workbench/browser/parts/views/viewsViewlet.ts
  src/vs/workbench/common/views.ts
  src/vs/workbench/contrib/bulkEdit/browser/bulkEdit.contribution.ts
  src/vs/workbench/contrib/debug/browser/debug.contribution.ts
  src/vs/workbench/contrib/debug/browser/debugViewlet.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViewlet.ts
  src/vs/workbench/contrib/files/browser/explorerViewlet.ts
  src/vs/workbench/contrib/markers/browser/markers.contribution.ts
  src/vs/workbench/contrib/output/browser/output.contribution.ts
  src/vs/workbench/contrib/quickaccess/browser/viewQuickAccess.ts
  src/vs/workbench/contrib/remote/browser/remote.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewlet.ts
  src/vs/workbench/contrib/search/browser/search.contribution.ts
  src/vs/workbench/contrib/terminal/browser/terminal.contribution.ts
  src/vs/workbench/contrib/terminal/browser/terminalService.ts
  src/vs/workbench/contrib/userDataSync/browser/userDataSyncView.ts
  src/vs/workbench/services/views/browser/viewDescriptorService.ts
  src/vs/workbench/services/views/test/browser/viewDescriptorService.test.ts
  src/vs/workbench/services/views/test/browser/viewsModel.test.ts
  src/vs/workbench/test/browser/parts/views/views.test.ts
Labels: workbench-views

#95732 Hide cell output in webview when fold
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/contrib/notebook/browser/contrib/fold/folding.ts
  src/vs/workbench/contrib/notebook/browser/contrib/fold/foldingModel.ts
  src/vs/workbench/contrib/notebook/browser/notebookBrowser.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditor.ts
  src/vs/workbench/contrib/notebook/browser/view/notebookCellList.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/markdownCell.ts
  src/vs/workbench/contrib/notebook/browser/viewModel/markdownCellViewModel.ts
  src/vs/workbench/contrib/notebook/browser/viewModel/notebookViewModel.ts
  src/vs/workbench/contrib/notebook/test/notebookFolding.test.ts
Labels: notebook

#95877 list: accessibility
  src/vs/base/browser/ui/list/listPaging.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/parts/quickinput/browser/quickInputList.ts
  src/vs/editor/contrib/documentSymbols/outlineTree.ts
  src/vs/editor/contrib/gotoSymbol/peek/referencesTree.ts
  src/vs/editor/contrib/gotoSymbol/peek/referencesWidget.ts
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsPicker.ts
  src/vs/workbench/browser/parts/notifications/notificationsCenter.ts
  src/vs/workbench/browser/parts/notifications/notificationsList.ts
  src/vs/workbench/browser/parts/notifications/notificationsToasts.ts
  src/vs/workbench/browser/parts/views/treeView.ts
  src/vs/workbench/contrib/bulkEdit/browser/bulkEditTree.ts
  src/vs/workbench/contrib/callHierarchy/browser/callHierarchyPeek.ts
  src/vs/workbench/contrib/callHierarchy/browser/callHierarchyTree.ts
  src/vs/workbench/contrib/comments/browser/commentsTreeViewer.ts
  src/vs/workbench/contrib/debug/browser/breakpointsView.ts
  src/vs/workbench/contrib/debug/browser/callStackView.ts
  src/vs/workbench/contrib/debug/browser/debugHover.ts
  src/vs/workbench/contrib/debug/browser/loadedScriptsView.ts
  src/vs/workbench/contrib/debug/browser/repl.ts
  src/vs/workbench/contrib/debug/browser/replViewer.ts
  src/vs/workbench/contrib/debug/browser/variablesView.ts
  src/vs/workbench/contrib/debug/browser/watchExpressionsView.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViewer.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViews.ts
  src/vs/workbench/contrib/extensions/electron-browser/runtimeExtensionsEditor.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
  src/vs/workbench/contrib/files/browser/views/openEditorsView.ts
  src/vs/workbench/contrib/markers/browser/markersTreeViewer.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/outline/browser/outlinePane.ts
  src/vs/workbench/contrib/preferences/browser/keybindingsEditor.ts
  src/vs/workbench/contrib/preferences/browser/settingsTree.ts
  src/vs/workbench/contrib/preferences/browser/tocTree.ts
  src/vs/workbench/contrib/scm/browser/repositoryPane.ts
  src/vs/workbench/contrib/search/browser/searchResultsView.ts
  src/vs/workbench/contrib/timeline/browser/timelinePane.ts
Labels: accessibility, list

#95778 make API to access theme kind final
  src/vs/vscode.d.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
Labels: api-finalization

#95807 debug: enable js-debug to auto attach
  extensions/debug-auto-launch/src/extension.ts
Labels: debug

#95935 Improve debug viewlet dropdown outline
  src/vs/workbench/contrib/debug/browser/media/debugViewlet.css
Labels: under-discussion

#96072 Consistent notebook action names
  src/vs/workbench/contrib/notebook/browser/contrib/coreActions.ts
  src/vs/workbench/contrib/notebook/browser/contrib/find/findController.ts
  src/vs/workbench/contrib/notebook/browser/contrib/fold/folding.ts
Labels: notebook

#96069 Provide automatic git authentication to GitHub
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/askpass.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/github.ts
  extensions/git/src/ipc/ipcServer.ts
  extensions/git/src/main.ts
  extensions/git/src/model.ts
Labels: git

#96080 Treat `.gitignore_global` as an Ignore file by default.
  extensions/git/package.json
Labels: git

#96515 Fix command `scm.mainPane.focus` does not focus Source Control Providers view
  src/vs/workbench/contrib/scm/browser/mainPane.ts
Labels: scm
