Repository microsoft/vscode, pull requests merged in 2020-06, with the labels that each got.

#98831 Clean up notebook cell styles
  src/vs/workbench/contrib/notebook/browser/media/notebook.css
  src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts
Labels: notebook

#99317 debug: fix being unable to debug extensions with js-debug on web
  src/vs/workbench/contrib/debug/browser/extensionHostDebugService.ts
  src/vs/workbench/services/environment/browser/environmentService.ts
Labels: debug

#99453 Fixes focused status bar entry should use orange border when using the high contrast theme
  src/vs/workbench/browser/parts/statusbar/statusbarPart.ts
Labels: accessibility

#99469 Use js debug stable for release
  package.json
  product.json
Labels: candidate

#99637 fix: wrong extension id for js-debug
  product.json
Labels: candidate

#99432 Removed a redundand 'resolve' in SimpleFileDialog by reusing the alre…
  src/vs/workbench/services/dialogs/browser/simpleFileDialog.ts
Labels: simple-file-dialog

#100014 adding rich navigation workflow
  .github/workflows/rich-navigation.yml
Labels: engineering, vscode-build

#100126 Fix list dom focus after changing focused element
  src/vs/workbench/browser/actions/listCommands.ts
Labels: list, tree

#100179 Delete list open controller
  src/vs/base/browser/ui/list/listPaging.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/parts/quickinput/browser/quickInputList.ts
  src/vs/editor/contrib/gotoSymbol/peek/referencesWidget.ts
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/workbench/browser/actions/listCommands.ts
  src/vs/workbench/browser/parts/views/treeView.ts
  src/vs/workbench/contrib/bulkEdit/browser/bulkEditPane.ts
  src/vs/workbench/contrib/comments/browser/commentsTreeViewer.ts
  src/vs/workbench/contrib/comments/browser/commentsView.ts
  src/vs/workbench/contrib/debug/browser/breakpointsView.ts
  src/vs/workbench/contrib/debug/browser/callStackView.ts
  src/vs/workbench/contrib/debug/browser/loadedScriptsView.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViews.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
  src/vs/workbench/contrib/files/browser/views/openEditorsView.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/outline/browser/outlinePane.ts
  src/vs/workbench/contrib/remote/browser/remote.ts
  src/vs/workbench/contrib/remote/browser/tunnelView.ts
  src/vs/workbench/contrib/scm/browser/repositoryPane.ts
  src/vs/workbench/contrib/search/browser/searchView.ts
  src/vs/workbench/contrib/timeline/browser/timelinePane.ts
Labels: list, tree

#100032 notebooks: add ID for rich outputs, expose to renderer and webview
  extensions/vscode-notebook-tests/src/notebookTestMain.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostNotebook.ts
  src/vs/workbench/contrib/notebook/browser/notebookServiceImpl.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/webviewPreloads.ts
  src/vs/workbench/contrib/notebook/common/notebookCommon.ts
Labels: notebook

#100023 Add secondary button color tokens
  src/vs/platform/theme/common/colorRegistry.ts
Labels: themes

#100419 Trusted Domains: Timeout filesystem access
  src/vs/workbench/contrib/url/browser/trustedDomains.ts
Labels: candidate

#100480 stage ibus-gtk3 to try to make ibus work
  resources/linux/snap/snapcraft.yaml
Labels: snap

#100145 Make POSIX-compliant to increase portability and remove `bash` depend…
  resources/linux/bin/code.sh
Labels: workbench-os-integration

#100794 debug: allow a single debug extension to provide multiple configs
  src/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts
Labels: debug

#100242 debug: allow debugging the renderer process
  src/vs/code/electron-main/app.ts
  src/vs/platform/debug/common/extensionHostDebug.ts
  src/vs/platform/debug/common/extensionHostDebugIpc.ts
  src/vs/workbench/contrib/customEditor/browser/customEditorInputFactory.ts
  src/vs/workbench/contrib/debug/browser/extensionHostDebugService.ts
  src/vs/workbench/contrib/debug/browser/rawDebugSession.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/contrib/webview/browser/webview.ts
  src/vs/workbench/contrib/webview/browser/webviewElement.ts
Labels: debug

#101047 Use HTTPS urls for SchemaStore.org
  extensions/npm/package.json
Labels: json

#101114 Adding .git/SQUASH_MSG detection to commit message auto-fill #101078
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git
