Repository microsoft/vscode, pull requests merged in 2020-02, with the labels that each got.

#89871 Fixes cannot undo in SCM input box
  src/vs/workbench/contrib/scm/browser/repositoryPane.ts
Labels: candidate

#89915 Fixes #89857
  src/vs/workbench/contrib/scm/browser/repositoryPane.ts
Labels: candidate

#89777 Lint rules that enforce our api-guidelines
  .eslintrc.json
  build/lib/eslint/vscode-dts-create-func.js
  build/lib/eslint/vscode-dts-create-func.ts
  build/lib/eslint/vscode-dts-event-naming.js
  build/lib/eslint/vscode-dts-event-naming.ts
  build/lib/eslint/vscode-dts-interface-naming.js
  build/lib/eslint/vscode-dts-interface-naming.ts
  build/lib/eslint/vscode-dts-literal-or-types.js
  build/lib/eslint/vscode-dts-literal-or-types.ts
  src/vs/vscode.proposed.d.ts
Labels: engineering

#89919 Fix #89900 - improve text on editor.showFoldingControls setting
  src/vs/editor/common/config/editorOptions.ts
Labels: editor-folding

#90010 Use playwright for unit tests
  package.json
  src/vs/base/test/common/utils.ts
  src/vs/base/test/node/path.test.ts
  src/vs/workbench/contrib/debug/test/browser/baseDebugView.test.ts
  src/vs/workbench/services/extensions/test/common/rpcProtocol.test.ts
  test/assert.js
  test/browser/index.js
  test/browser/renderer.html
  test/browser/renderer.js
  yarn.lock
Labels: engineering

#90081 Remove slow task provider warning
  src/vs/workbench/contrib/tasks/browser/abstractTaskService.ts
Labels: candidate

#58324 Theming: add workbench configuration option for minimap opacity
  src/vs/editor/browser/viewParts/minimap/minimap.ts
  src/vs/editor/common/core/rgba.ts
  src/vs/platform/theme/common/colorRegistry.ts
Labels: editor-minimap

#89842 Rename "Contributions" to "Feature Contributions"
  src/vs/workbench/contrib/extensions/browser/extensionEditor.ts
Labels: extensions

#90153 add browser tests to continous builds
  build/azure-pipelines/darwin/continuous-build-darwin.yml
  build/azure-pipelines/linux/continuous-build-linux.yml
  build/azure-pipelines/win32/continuous-build-win32.yml
  package.json
  test/unit/browser/index.js
Labels: engineering

#90353 Add browser unit tests to product build
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/win32/product-build-win32.yml
  test/unit/browser/index.js
  test/unit/browser/renderer.html
Labels: unit-test, web

#90252 Migrate Terminal Panel to ViewPane
  src/vs/workbench/contrib/tasks/browser/terminalTaskSystem.ts
  src/vs/workbench/contrib/terminal/browser/media/scrollbar.css
  src/vs/workbench/contrib/terminal/browser/media/terminal.css
  src/vs/workbench/contrib/terminal/browser/terminal.contribution.ts
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
  src/vs/workbench/contrib/terminal/browser/terminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalView.ts
  src/vs/workbench/contrib/terminal/common/terminal.ts
  src/vs/workbench/workbench.common.main.ts
Labels: integrated-terminal, workbench-views

#90404 Add new action to close side bar
  src/vs/workbench/browser/actions/layoutActions.ts
Labels: verification-needed

#90398 Fixes #90229
  extensions/git/src/git.ts
Labels: candidate

#88041 Avoid polluting shell history with debugger commands
  src/vs/workbench/contrib/debug/node/terminals.ts
Labels: debug

#90631 Add minimap slider color options
  src/vs/editor/browser/viewParts/minimap/minimap.ts
  src/vs/platform/theme/common/colorRegistry.ts
Labels: editor-minimap

#89005 Fix #88294 Add commitData in commit interface
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
Labels: git

#90917 Enable Drag and Drop for views
  src/vs/workbench/browser/parts/activitybar/activitybarPart.ts
  src/vs/workbench/browser/parts/compositeBar.ts
  src/vs/workbench/browser/parts/compositeBarActions.ts
  src/vs/workbench/browser/parts/panel/panelPart.ts
  src/vs/workbench/browser/parts/views/viewPaneContainer.ts
Labels: workbench-views

#91182 Snap fixes
  resources/linux/snap/electron-launch
Labels: snap

#89868 Fixes no link detection in SCM input box
  src/vs/editor/contrib/links/links.ts
  src/vs/workbench/contrib/scm/browser/repositoryPane.ts
Labels: scm

#91781 suggest: fix handling around long lines
  src/vs/editor/contrib/suggest/media/suggest.css
  src/vs/editor/contrib/suggest/suggestWidget.ts
Labels: candidate, suggest
