Repository microsoft/vscode, pull requests merged in 2020-10, with the labels that each got.

#107862 force .exe, .dll as binary to fix CRLF/LF problems
  build/.gitattributes
Labels: engineering

#108128 vscode.Uri.joinPath instead of Node's path.join
  extensions/search-result/src/extension.ts
Labels: candidate

#108329 Fix `No Nerify` typo inside git package
  extensions/git/package.nls.json
Labels: bug, git

#97101 Don't focus editor when un-expanded comment is hidden
  src/vs/workbench/contrib/comments/browser/commentThreadWidget.ts
Labels: bug, comments

#108366 ESRP Cert
  build/azure-pipelines/win32/ESRPClient/packages.config
  build/azure-pipelines/win32/import-esrp-auth-cert.ps1
  build/azure-pipelines/win32/product-build-win32-arm64.yml
  build/azure-pipelines/win32/product-build-win32.yml
  build/azure-pipelines/win32/sign.ps1
  build/gulpfile.vscode.win32.js
Labels: engineering

#108787 Add explorer context menu to install an extension from a VSIX
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViewlet.ts
  src/vs/workbench/contrib/extensions/common/extensions.ts
Labels: feature-request

#108691 fix(git): fatal when adding, reverting files or cleaning repo on win32 [#108690]
  extensions/git/src/git.ts
Labels: git

#109170 SCM viewlet filter on type improvements
  src/vs/base/browser/ui/list/list.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#97440 Fix launch configuration input variable resolution.
  src/vs/workbench/contrib/debug/browser/debugConfigurationManager.ts
  src/vs/workbench/contrib/debug/common/debug.ts
  src/vs/workbench/contrib/debug/common/debugger.ts
  src/vs/workbench/services/configurationResolver/browser/configurationResolverService.ts
  src/vs/workbench/services/configurationResolver/test/electron-browser/configurationResolverService.test.ts
Labels: variable-resolving

#109368 Use a custom dialog for proxy authentication
  src/vs/base/browser/ui/button/button.ts
  src/vs/base/browser/ui/checkbox/checkbox.css
  src/vs/base/browser/ui/checkbox/checkbox.ts
  src/vs/base/browser/ui/dialog/dialog.css
  src/vs/base/browser/ui/dialog/dialog.ts
  src/vs/base/parts/sandbox/electron-sandbox/electronTypes.ts
  src/vs/code/electron-main/app.ts
  src/vs/code/electron-main/auth2.ts
  src/vs/editor/standalone/browser/simpleServices.ts
  src/vs/platform/dialogs/common/dialogs.ts
  src/vs/platform/dialogs/test/common/testDialogService.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/platform/windows/common/windows.ts
  src/vs/platform/windows/electron-main/windows.ts
  src/vs/platform/windows/electron-main/windowsMainService.ts
  src/vs/workbench/contrib/relauncher/browser/relauncher.contribution.ts
  src/vs/workbench/electron-sandbox/desktop.contribution.ts
  src/vs/workbench/electron-sandbox/window.ts
  src/vs/workbench/services/dialogs/browser/dialogService.ts
  src/vs/workbench/services/dialogs/electron-sandbox/dialogService.ts
  src/vs/workbench/test/browser/api/extHostMessagerService.test.ts
Labels: proxy

#109282 Git: Add tags to '...' menu
  extensions/git/package.json
  extensions/git/package.nls.json
Labels: git

#109257 reduce number of files in the emmet extension
  extensions/emmet/extension.webpack.config.js
Labels: emmet

#109433 UI items are incorrect order when applying the language pack
  src/vs/platform/actions/common/menuService.ts
Labels: menus

#109608 Linux Snap: Prevent GDK_PIXBUF env from leaking out
  build/hygiene.js
  src/main.js
  src/vs/base/common/processes.ts
  src/vs/base/test/common/processes.test.ts
  src/vs/code/electron-main/app.ts
  src/vs/platform/issue/electron-main/issueMainService.ts
  src/vs/platform/menubar/electron-main/menubar.ts
  src/vs/platform/native/electron-main/nativeHostMainService.ts
  src/vs/platform/update/electron-main/updateService.linux.ts
  src/vs/platform/update/electron-main/updateService.win32.ts
Labels: linux, snap

#109372 Changed shebang same as code.sh
  scripts/generate-definitelytyped.sh
  scripts/node-electron.sh
  scripts/npm.sh
  scripts/test-documentation.sh
  scripts/test-integration.sh
  scripts/test.sh
Labels: engineering
