Repository microsoft/vscode, pull requests merged in 2020-11, with the labels that each got.

#109757 Fixes non-themed comment body border
  src/vs/workbench/contrib/comments/browser/commentThreadWidget.ts
Labels: comments

#109859 terminal: fix typeahead leaving stray characters with backspaces
  src/vs/workbench/contrib/terminal/browser/terminalTypeAheadAddon.ts
  src/vs/workbench/contrib/terminal/test/browser/terminalTypeahead.test.ts
Labels: candidate

#109940 Avoids paragraphs for newlines in string tooltips
  src/vs/base/browser/ui/iconLabel/iconLabel.ts
  src/vs/base/common/htmlContent.ts
  src/vs/workbench/services/hover/browser/hoverWidget.ts
Labels: bug, candidate

#109916 Add ability to ignore snippets (from IntelliSense)
  src/vs/workbench/contrib/snippets/browser/insertSnippet.ts
  src/vs/workbench/contrib/snippets/browser/snippets.contribution.ts
  src/vs/workbench/contrib/snippets/browser/snippetsFile.ts
  src/vs/workbench/contrib/snippets/browser/snippetsService.ts
  src/vs/workbench/contrib/snippets/test/browser/snippetsService.test.ts
Labels: snippets

#86283 Windows explorer icons
  build/win32/code.iss
Labels: install-update, windows

#108964 Update OneSnippet#move method to fix #96545.
  src/vs/editor/contrib/snippet/snippetSession.ts
  src/vs/editor/contrib/snippet/test/snippetSession.test.ts
Labels: snippets

#109966 workspace color theme setting not picked up on remote
  src/vs/workbench/services/themes/browser/workbenchThemeService.ts
  src/vs/workbench/services/themes/common/themeExtensionPoints.ts
Labels: themes

#91245 Better diff for deleted file in merge conflict
  extensions/git/src/commands.ts
Labels: git

#94267 Added a warning before dropping a stash.
  extensions/git/src/commands.ts
Labels: git

#94280 Fix #93946. Remove focus when scrolling.
  src/vs/base/browser/ui/list/listWidget.ts
Labels: list

#106873 Fix composition logic for Firefox
  src/vs/editor/browser/controller/textAreaInput.ts
Labels: bug, editor-input-IME, firefox

#110096 feat: implement Git: Push Tags command
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#110036 New ThemeIcon color in tree views can pollute other nodes
  src/vs/workbench/contrib/views/browser/treeView.ts
Labels: candidate

#105887 Add dirSep variable for launch.json
  src/vs/workbench/services/configurationResolver/common/variableResolver.ts
Labels: debug

#110273 search: fix freezing ui on long lines
  .vscode/launch.json
  extensions/search-result/src/extension.ts
  extensions/search-result/syntaxes/generateTMLanguage.js
  extensions/search-result/syntaxes/searchResult.tmLanguage.json
  src/vs/workbench/services/search/common/search.ts
  src/vs/workbench/services/search/test/common/search.test.ts
Labels: search

#110494 Add a setting to include word based suggestions regardless of the language
  src/vs/editor/common/config/commonEditorConfig.ts
  src/vs/editor/common/services/editorWorkerServiceImpl.ts
  src/vs/editor/standalone/browser/standaloneCodeEditor.ts
  src/vs/monaco.d.ts
Labels: suggest

#110541 Mark .ember-cli as jsonc instead of json
  extensions/json/package.json
Labels: languages-basic

#110733 Git/SCM: Use vscode.open and vscode.diff for a better editor opening experience
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: git, scm, ux

#110748 Update default styles and polish focus treatment
  extensions/theme-defaults/themes/light_defaults.json
  src/vs/workbench/contrib/notebook/browser/media/notebook.css
  src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts
Labels: notebook, polish, ux

#110573 Implement on-type-rename for TypeScript
  extensions/typescript-language-features/src/languageFeatures/renameOnType.ts
  extensions/typescript-language-features/src/languageProvider.ts
Labels: editor-synced-region, typescript

#110760 Fixing ListWidget escape button behavior
  src/vs/base/browser/ui/list/listWidget.ts
Labels: list

#111363 update playwright
  package.json
  yarn.lock
Labels: :apple: si, engineering

#111405 Trusted extension urls
  src/vs/code/electron-main/app.ts
  src/vs/platform/extensionManagement/common/extensionUrlTrust.ts
  src/vs/platform/extensionManagement/node/extensionUrlTrustService.ts
  src/vs/platform/launch/electron-main/launchMainService.ts
  src/vs/platform/product/common/productService.ts
  src/vs/platform/url/common/url.ts
  src/vs/platform/url/common/urlIpc.ts
  src/vs/platform/url/electron-main/electronUrlListener.ts
  src/vs/workbench/contrib/url/browser/url.contribution.ts
  src/vs/workbench/services/extensionManagement/browser/extensionUrlTrustService.ts
  src/vs/workbench/services/extensionManagement/electron-sandbox/extensionUrlTrustService.ts
  src/vs/workbench/services/extensions/browser/extensionUrlHandler.ts
  src/vs/workbench/workbench.sandbox.main.ts
  src/vs/workbench/workbench.web.main.ts
Labels: extensions
