Repository microsoft/vscode, pull requests merged in 2020-09, with the labels that each got.

#105748 Add script for running tsec
  package.json
Labels: engineering

#106038 Settings - Add string validator for color-hex format
  src/vs/workbench/browser/actions/developerActions.ts
  src/vs/workbench/services/preferences/common/preferencesValidation.ts
Labels: settings-editor

#105740 :up: playwright@1.3.0
  package.json
  yarn.lock
Labels: debt

#104284 Fixes settings editor scrolls slowly when `workbench.list.smoothScrolling` enabled
  src/vs/base/browser/ui/list/listView.ts
Labels: list

#83900 Increased height of proxy authentication dialog to prevent cutting confirmation buttons
  src/vs/code/electron-main/auth.ts
Labels: ux

#106270 Update gitignore decorations when .git/info/exclude file is edited
  extensions/git/src/decorationProvider.ts
Labels: git

#95637 Register mimetype for *.code-workspace
  build/gulpfile.vscode.linux.js
  resources/linux/code-workspace.xml
  resources/linux/code.desktop
  resources/linux/debian/postinst.template
  resources/linux/debian/postrm.template
  resources/linux/rpm/code.spec.template
Labels: linux, workbench-os-integration

#106335 Adds commands for --no-verify commit variants
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: git

#85954 Multi git executable paths
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/git.ts
  extensions/git/src/main.ts
Labels: git

#106289 Produce official ARM and ARM64 builds
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/linux/publish.sh
  build/azure-pipelines/product-build.yml
  build/azure-pipelines/product-compile.yml
  build/gulpfile.reh.js
  build/gulpfile.vscode.js
  build/gulpfile.vscode.linux.js
  build/lib/electron.js
  build/lib/electron.ts
  package.json
  resources/linux/rpm/dependencies.json
Labels: engineering, linux, vscode-build

#106512 debug: update js-debug
  product.json
Labels: candidate

#106656 Use debian stretch images for Linux ARM
  build/azure-pipelines/product-build.yml
Labels: linux, vscode-build

#106523 Add action to move sidebar to right from activity bar #101578
  src/vs/workbench/browser/parts/activitybar/activitybarPart.ts
Labels: layout

#106479 Web - try to detect native fullscreen
  src/vs/base/browser/dom.ts
  src/vs/workbench/browser/web.main.ts
Labels: web

#106781 debug: update js-debug
  product.json
Labels: candidate

#105668 Adds titleDescription to TreeView
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadTreeViews.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostTreeViews.ts
  src/vs/workbench/browser/parts/views/treeView.ts
  src/vs/workbench/common/views.ts
  src/vs/workbench/contrib/views/browser/treeView.ts
Labels: api, api-proposal, explorer-custom

#106751 [Git] Allow empty tag message
  extensions/git/src/commands.ts
Labels: git

#105878 Replace 'master' with branch head when publishing to github
  extensions/github/src/publish.ts
Labels: git

#106822 normalize EOL setting for build folder
  build/.gitattributes
Labels: vscode-build

#106521 debug: use only js-debug auto attach, collapse settings
  extensions/debug-auto-launch/package.json
  extensions/debug-auto-launch/package.nls.json
  extensions/debug-auto-launch/src/extension.ts
Labels: debug

#107292 sandbox - move keytar into native host service
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/platform/credentials/common/credentials.ts
  src/vs/platform/credentials/node/credentialsService.ts
  src/vs/platform/native/common/native.ts
  src/vs/platform/native/electron-main/nativeHostMainService.ts
  src/vs/workbench/api/browser/mainThreadKeytar.ts
  src/vs/workbench/services/credentials/browser/credentialsService.ts
  src/vs/workbench/services/credentials/common/credentials.ts
  src/vs/workbench/services/credentials/electron-sandbox/credentialsService.ts
  src/vs/workbench/test/electron-browser/workbenchTestServices.ts
  src/vs/workbench/workbench.desktop.main.ts
  src/vs/workbench/workbench.sandbox.main.ts
  src/vs/workbench/workbench.web.api.ts
Labels: sandbox

#107407 Adds cancellation to children fetch to avoid timing issue on refresh
  src/vs/workbench/api/common/extHostTreeViews.ts
Labels: explorer-custom
