Repository microsoft/vscode, pull requests merged in 2020-03, with the labels that each got.

#91896 remove polyfill promise
  .eslintignore
  build/gulpfile.editor.js
  build/gulpfile.hygiene.js
  src/vs/editor/common/standalone/promise-polyfill/cgmanifest.json
  src/vs/editor/common/standalone/promise-polyfill/polyfill.js
  src/vs/editor/common/standalone/promise-polyfill/polyfill.license.txt
  src/vs/editor/common/standalone/standaloneBase.ts
  src/vs/monaco.d.ts
Labels: debt, engineering

#92044 fix: order of crash reporter initialization
  src/vs/workbench/electron-browser/window.ts
Labels: candidate

#92180 fix: create new guid for crash reporter
  src/vs/platform/storage/node/storageIpc.ts
  src/vs/platform/telemetry/common/telemetry.ts
  src/vs/workbench/electron-browser/window.ts
Labels: candidate

#91232 Easy pick codelenses with keyboard shortcut
  src/vs/editor/contrib/codelens/codelensController.ts
  src/vs/editor/contrib/codelens/codelensWidget.ts
  src/vs/platform/quickinput/common/quickInput.ts
Labels: editor-code-lens

#92221 Show warning when filename start/end with whitespace in explorer inputbox
  src/vs/workbench/common/views.ts
  src/vs/workbench/contrib/files/browser/fileActions.ts
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
  src/vs/workbench/contrib/remote/browser/tunnelView.ts
Labels: file-explorer

#92284 Implement toggle aware icons and labels in command actions
  src/vs/platform/actions/browser/menuEntryActionViewItem.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/platform/actions/common/menuService.ts
  src/vs/workbench/contrib/output/browser/output.contribution.ts
Labels: workbench-actions

#92375 debug: show errros from scopes request
  src/vs/workbench/contrib/debug/browser/media/debug.contribution.css
  src/vs/workbench/contrib/debug/browser/media/debugViewlet.css
  src/vs/workbench/contrib/debug/browser/variablesView.ts
  src/vs/workbench/contrib/debug/common/debug.ts
  src/vs/workbench/contrib/debug/common/debugModel.ts
Labels: debug

#92737 Semantic highlighting fixes for 1.43.1
  extensions/theme-abyss/themes/abyss-color-theme.json
  extensions/theme-defaults/themes/dark_defaults.json
  extensions/theme-defaults/themes/hc_black_defaults.json
  extensions/theme-defaults/themes/light_defaults.json
  extensions/theme-kimbie-dark/themes/kimbie-dark-color-theme.json
  extensions/theme-monokai-dimmed/themes/dimmed-monokai-color-theme.json
  extensions/theme-monokai/themes/monokai-color-theme.json
  extensions/theme-quietlight/themes/quietlight-color-theme.json
  extensions/theme-red/themes/Red-color-theme.json
  extensions/theme-solarized-dark/themes/solarized-dark-color-theme.json
  extensions/theme-solarized-light/themes/solarized-light-color-theme.json
  extensions/theme-tomorrow-night-blue/themes/tomorrow-night-blue-theme.json
  extensions/typescript-language-features/package.json
  extensions/typescript-language-features/yarn.lock
  src/vs/editor/common/services/modelServiceImpl.ts
  src/vs/editor/standalone/browser/standaloneThemeServiceImpl.ts
  src/vs/editor/standalone/test/browser/standaloneLanguages.test.ts
  src/vs/platform/theme/common/themeService.ts
  src/vs/platform/theme/test/common/testThemeService.ts
  src/vs/workbench/contrib/codeEditor/browser/inspectEditorTokens/inspectEditorTokens.ts
  src/vs/workbench/contrib/search/test/browser/searchActions.test.ts
  src/vs/workbench/contrib/search/test/browser/searchViewlet.test.ts
  src/vs/workbench/contrib/search/test/common/searchModel.test.ts
  src/vs/workbench/contrib/search/test/common/searchResult.test.ts
  src/vs/workbench/contrib/terminal/test/common/terminalColorRegistry.test.ts
  src/vs/workbench/services/keybinding/test/electron-browser/keybindingEditing.test.ts
  src/vs/workbench/services/themes/browser/workbenchThemeService.ts
  src/vs/workbench/services/themes/common/colorThemeData.ts
  src/vs/workbench/services/themes/common/colorThemeSchema.ts
  src/vs/workbench/services/themes/common/workbenchThemeService.ts
  src/vs/workbench/services/themes/test/electron-browser/tokenStyleResolving.test.ts
  src/vs/workbench/test/browser/parts/editor/editorModel.test.ts
  src/vs/workbench/test/browser/parts/editor/rangeDecorations.test.ts
  src/vs/workbench/test/browser/workbenchTestServices.ts
Labels: candidate, themes

#92739 Semantic tokens help for 1.43.1
  src/vs/editor/common/model/textModel.ts
  src/vs/editor/common/model/textModelEvents.ts
  src/vs/workbench/contrib/codeEditor/browser/codeEditor.contribution.ts
  src/vs/workbench/contrib/codeEditor/browser/semanticTokensHelp.ts
Labels: candidate

#93207 Fixes #93206 - adds extension context key
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
Labels: extensions
