Repository microsoft/vscode, pull requests merged in 2021-08, with the labels that each got.

#129788 Improve accessibility in disassembly view
  src/vs/workbench/contrib/debug/browser/disassemblyView.ts
Labels: debug

#128686 Sort threads in response order
  src/vs/workbench/contrib/debug/browser/debugSession.ts
Labels: debug

#127132 fix: debug console variables output problem
  src/vs/workbench/contrib/debug/browser/debugSession.ts
Labels: debug

#129955 Makes eslint-plugin-header a dev dependency
  package.json
Labels: candidate

#126843 fix #126842 clear Explorer root folder error indicator when refresh succeeds
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
  src/vs/workbench/contrib/files/common/explorerModel.ts
Labels: file-explorer

#129995 Bump telemetry package
  extensions/git/package.json
  extensions/git/yarn.lock
  extensions/github-authentication/package.json
  extensions/github-authentication/yarn.lock
  extensions/html-language-features/package.json
  extensions/html-language-features/yarn.lock
  extensions/image-preview/package.json
  extensions/image-preview/yarn.lock
  extensions/json-language-features/package.json
  extensions/json-language-features/yarn.lock
  extensions/markdown-language-features/package.json
  extensions/markdown-language-features/yarn.lock
  extensions/microsoft-authentication/package.json
  extensions/microsoft-authentication/yarn.lock
  extensions/simple-browser/package.json
  extensions/simple-browser/yarn.lock
  extensions/typescript-language-features/package.json
  extensions/typescript-language-features/yarn.lock
Labels: candidate

#129721 Fix focused stack frame colors in disassembly view
  src/vs/workbench/contrib/debug/browser/disassemblyView.ts
Labels: debug

#130061 Set context key on more than just the working tree
  extensions/git/src/repository.ts
Labels: candidate

#125931 click on disabled breakpoint enable instead of removing #125904
  src/vs/workbench/contrib/debug/browser/breakpointEditorContribution.ts
Labels: debug

#130130 Reverting #125570 (against release)
  src/vs/platform/keybinding/common/abstractKeybindingService.ts
Labels: candidate

#130128 Uplift for "Hide non-functional walkthroughs in virtual workspaces"
  src/vs/workbench/contrib/welcome/gettingStarted/common/gettingStartedContent.ts
Labels: candidate

#130103 Implements #129053
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/services/extensions/browser/webWorkerExtensionHost.ts
  src/vs/workbench/services/extensions/common/remoteExtensionHost.ts
  src/vs/workbench/services/extensions/electron-browser/localProcessExtensionHost.ts
Labels: api-proposal

#130193 Load telemetry module in an async manner
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
Labels: telemetry

#130327 Fixed vertical alignment
  src/vs/base/parts/quickinput/browser/media/quickInput.css
Labels: quick-pick

#130754 Suppress 'Open launch.json' command on error dialog if DA provided a command (#124020)
  src/vs/workbench/contrib/debug/browser/debugService.ts
  src/vs/workbench/contrib/debug/browser/rawDebugSession.ts
Labels: debug

#130916 fix: native module bundling in universal builds
  build/darwin/create-universal-app.js
  build/darwin/create-universal-app.ts
  build/package.json
  build/yarn.lock
Labels: candidate

#130926 Bump up version number
  package.json
  src/vs/platform/product/common/product.ts
Labels: candidate

#130930 Differentiate cell unitialized and restored from cache state
  src/vs/workbench/contrib/notebook/browser/notebookBrowser.ts
  src/vs/workbench/contrib/notebook/browser/viewModel/codeCellViewModel.ts
  src/vs/workbench/contrib/notebook/browser/viewModel/markupCellViewModel.ts
Labels: candidate

#130641 Welcome telemetry footer
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.css
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStartedInput.ts
  src/vs/workbench/contrib/welcome/page/browser/welcomePage.ts
  src/vs/workbench/contrib/welcome/telemetryOptOut/browser/telemetryOptOut.contribution.ts
  src/vs/workbench/contrib/welcome/telemetryOptOut/browser/telemetryOptOut.ts
  src/vs/workbench/contrib/welcome/telemetryOptOut/electron-sandbox/telemetryOptOut.contribution.ts
  src/vs/workbench/contrib/welcome/telemetryOptOut/electron-sandbox/telemetryOptOut.ts
  src/vs/workbench/workbench.sandbox.main.ts
  src/vs/workbench/workbench.web.main.ts
Labels: getting-started

#131048 Adding most frequently used file associations
  build/lib/electron.js
  build/lib/electron.ts
  build/win32/code.iss
Labels: install-update

#129797 Add a special entry when disassembly is unavailable
  src/vs/workbench/contrib/debug/browser/disassemblyView.ts
Labels: debug, under-discussion

#131153 Initial draft for web-optimized walkthrough
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.css
  src/vs/workbench/contrib/welcome/gettingStarted/common/gettingStartedContent.ts
Labels: getting-started

#131919 centralize telemetry level
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/code/electron-main/app.ts
  src/vs/code/node/cliProcessMain.ts
  src/vs/platform/telemetry/common/telemetryUtils.ts
  src/vs/workbench/api/browser/mainThreadTelemetry.ts
  src/vs/workbench/contrib/update/browser/releaseNotesEditor.ts
  src/vs/workbench/services/telemetry/electron-sandbox/telemetryService.ts
Labels: debt

#131681 Fix updating notebook metadata through editor api
  src/vs/workbench/contrib/notebook/common/model/notebookTextModel.ts
Labels: candidate

#131644 fix: GetSessionOptions -> AuthenticationGetSessionOptions
  src/vs/vscode.d.ts
Labels: authentication
