Repository microsoft/vscode, pull requests merged in 2021-04, with the labels that each got.

#119069 Factor in workspace trust when installing/enabling an extension
  src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts
Labels: workspace-trust

#118842 Emmet: Select next/previous item does not work with script tag.
  extensions/emmet/src/selectItemHTML.ts
  extensions/emmet/src/util.ts
Labels: bug, emmet

#119468 Update seti-ui file icons
  extensions/theme-seti/build/update-icon-theme.js
  extensions/theme-seti/cgmanifest.json
  extensions/theme-seti/icons/seti.woff
  extensions/theme-seti/icons/vs-seti-icon-theme.json
Labels: feature-request, themes

#120358 debug: update js-debug
  product.json
Labels: candidate

#120436 Prototype side by side commands for getting started
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStartedService.ts
  src/vs/workbench/contrib/welcome/gettingStarted/common/gettingStartedContent.ts
Labels: getting-started

#120519 Update distro with new app icons for big sur
  package.json
Labels: candidate

#120247 Better action hover feedback
  src/vs/base/browser/ui/actionbar/actionbar.css
  src/vs/base/browser/ui/dropdown/dropdown.css
  src/vs/base/browser/ui/splitview/paneview.css
  src/vs/base/browser/ui/toolbar/toolbar.css
  src/vs/editor/contrib/peekView/media/peekViewWidget.css
  src/vs/platform/actions/browser/menuEntryActionViewItem.css
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/workbench/browser/actions/toolbar.contribution.ts
  src/vs/workbench/browser/media/part.css
  src/vs/workbench/browser/parts/editor/media/editorgroupview.css
  src/vs/workbench/browser/parts/editor/media/tabstitlecontrol.css
  src/vs/workbench/browser/parts/editor/media/titlecontrol.css
  src/vs/workbench/browser/parts/panel/media/panelpart.css
  src/vs/workbench/browser/parts/views/media/views.css
  src/vs/workbench/contrib/debug/browser/media/debugViewlet.css
  src/vs/workbench/contrib/extensions/browser/media/extension.css
  src/vs/workbench/contrib/extensions/browser/media/extensionEditor.css
  src/vs/workbench/contrib/files/browser/views/media/openeditors.css
  src/vs/workbench/contrib/markers/browser/media/markers.css
  src/vs/workbench/contrib/notebook/browser/media/notebook.css
  src/vs/workbench/contrib/preferences/browser/media/settingsEditor2.css
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/search/browser/media/searchview.css
  src/vs/workbench/workbench.common.main.ts
Labels: ux

#120317 Refactor npm extension to only use npm
  extensions/npm/src/features/packageJSONContribution.ts
Labels: json

#120733 Don't call node-gyp anymore (#120673)
  build/azure-pipelines/linux/product-build-linux.yml
  yarn.lock
Labels: candidate, engineering

#120974 Split WorkspaceTrustService
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/api/browser/mainThreadWorkspace.ts
  src/vs/workbench/contrib/experiments/test/electron-browser/experimentService.test.ts
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
  src/vs/workbench/contrib/extensions/test/electron-browser/extensionsActions.test.ts
  src/vs/workbench/contrib/tasks/browser/abstractTaskService.ts
  src/vs/workbench/contrib/tasks/browser/runAutomaticTasks.ts
  src/vs/workbench/contrib/tasks/electron-browser/taskService.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/configuration/browser/configurationService.ts
  src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts
  src/vs/workbench/services/extensionManagement/electron-sandbox/extensionManagementService.ts
  src/vs/workbench/services/extensionManagement/test/browser/extensionEnablementService.test.ts
  src/vs/workbench/services/workspaces/browser/workspaceTrustEditorInput.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/browser/workspaces.test.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
  src/vs/workbench/test/browser/workbenchTestServices.ts
Labels: workspace-trust

#120769 Resolve unix shell env when default shell is PowerShell
  src/vs/platform/environment/node/shellEnv.ts
Labels: workbench-os-integration

#120891 Fixed and extended Debug Console support for most ANSI SGR codes
  src/vs/workbench/contrib/debug/browser/debugANSIHandling.ts
  src/vs/workbench/contrib/debug/browser/media/repl.css
  src/vs/workbench/contrib/debug/test/browser/debugANSIHandling.test.ts
Labels: debug

#121021 Extension workspace trust request using product/settings files
  extensions/configuration-editing/src/extensionsProposals.ts
  extensions/configuration-editing/src/settingsDocumentHelper.ts
  src/vs/base/common/product.ts
  src/vs/platform/extensions/common/extensions.ts
  src/vs/workbench/contrib/extensions/browser/extensionsList.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViews.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts
  src/vs/workbench/services/extensionManagement/electron-sandbox/extensionManagementService.ts
  src/vs/workbench/services/extensionManagement/test/browser/extensionEnablementService.test.ts
  src/vs/workbench/services/extensions/common/extensionWorkspaceTrustRequest.ts
  src/vs/workbench/services/extensions/test/common/extensionWorkspaceTrustRequest.test.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
Labels: workspace-trust

#121141 Boolean Trust State
  extensions/typescript-language-features/src/tsServer/versionManager.ts
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadWorkspace.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostWorkspace.ts
  src/vs/workbench/contrib/preferences/browser/preferencesRenderers.ts
  src/vs/workbench/contrib/preferences/browser/settingsEditor2.ts
  src/vs/workbench/contrib/preferences/browser/settingsTreeModels.ts
  src/vs/workbench/contrib/tasks/browser/abstractTaskService.ts
  src/vs/workbench/contrib/tasks/browser/runAutomaticTasks.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustTree.ts
  src/vs/workbench/services/configuration/browser/configuration.ts
  src/vs/workbench/services/configuration/browser/configurationService.ts
  src/vs/workbench/services/configuration/test/browser/configurationService.test.ts
  src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
  src/vs/workbench/test/browser/api/extHostConfiguration.test.ts
  src/vs/workbench/test/browser/api/extHostWorkspace.test.ts
Labels: workspace-trust

#121173 Workspace trust transition improvements
  src/vs/workbench/contrib/extensions/browser/extensionEnablementByWorkspaceTrustRequirement.ts
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagement.ts
Labels: workspace-trust

#121338 Support markdown styling in task descriptions.
  src/vs/base/browser/formattedTextRenderer.ts
  src/vs/base/test/browser/formattedTextRenderer.test.ts
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.contribution.ts
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts
Labels: getting-started

#121385 Workspace trust - extract isWorkspaceTrustEnabled into a function
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/services/extensions/common/extensionWorkspaceTrustRequest.ts
  src/vs/workbench/services/extensions/test/common/extensionWorkspaceTrustRequest.test.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#121197 Use workspace trust signal when adding a folder to a workspace
  src/vs/editor/contrib/snippet/test/snippetVariables.test.ts
  src/vs/editor/standalone/browser/simpleServices.ts
  src/vs/platform/workspace/common/workspace.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/configuration/browser/configurationService.ts
  src/vs/workbench/services/configuration/test/browser/configurationService.test.ts
  src/vs/workbench/test/common/workbenchTestServices.ts
Labels: workspace-trust

#121540 Workspace trust - merge storage and management services
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/browser/web.main.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustTree.ts
  src/vs/workbench/electron-sandbox/shared.desktop.main.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#121575 vscode.git - jschardet 2.2.1 -> 2.3.0
  extensions/git/package.json
  extensions/git/yarn.lock
Labels: engineering

#121264 Add common.platformDetail in telemetry
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/code/electron-main/app.ts
  src/vs/code/node/cliProcessMain.ts
  src/vs/platform/telemetry/common/commonProperties.ts
  src/vs/platform/windows/common/windows.ts
  src/vs/platform/windows/electron-main/windowsMainService.ts
  src/vs/workbench/services/telemetry/electron-sandbox/telemetryService.ts
  src/vs/workbench/services/telemetry/electron-sandbox/workbenchCommonProperties.ts
  src/vs/workbench/services/telemetry/test/electron-browser/commonProperties.test.ts
  src/vs/workbench/test/electron-browser/workbenchTestServices.ts
Labels: telemetry

#120602 Intermediate content for Getting Started
  src/vs/workbench/contrib/welcome/gettingStarted/common/gettingStartedContent.ts
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/dark/debug.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/dark/playground.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/dark/scm.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/dark/shortcuts.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/dark/splitview.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/dark/tasks.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/light/debug.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/light/playground.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/light/scm.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/light/shortcuts.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/light/splitview.png
  src/vs/workbench/contrib/welcome/gettingStarted/common/media/light/tasks.png
Labels: getting-started

#121528 Allow text search providers to give messages
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadSearch.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/contrib/search/browser/media/searchview.css
  src/vs/workbench/contrib/search/browser/searchView.ts
  src/vs/workbench/contrib/search/common/searchModel.ts
  src/vs/workbench/contrib/search/test/common/searchModel.test.ts
  src/vs/workbench/contrib/searchEditor/browser/searchEditor.ts
  src/vs/workbench/services/search/common/search.ts
  src/vs/workbench/services/search/common/searchExtTypes.ts
  src/vs/workbench/services/search/common/searchService.ts
  src/vs/workbench/services/search/common/textSearchManager.ts
  src/vs/workbench/services/search/electron-browser/searchService.ts
  src/vs/workbench/services/search/node/fileSearch.ts
  src/vs/workbench/services/search/node/rawSearchService.ts
  src/vs/workbench/services/search/test/electron-browser/rawSearchService.test.ts
  src/vs/workbench/test/electron-browser/api/mainThreadWorkspace.test.ts
Labels: api, search

#121765 Workspace trust - multi-root workspace file
  src/vs/workbench/browser/web.main.ts
  src/vs/workbench/electron-sandbox/shared.desktop.main.ts
  src/vs/workbench/services/workspaces/browser/abstractWorkspaceEditingService.ts
  src/vs/workbench/services/workspaces/browser/workspaceEditingService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/electron-sandbox/workspaceEditingService.ts
Labels: workspace-trust

#122234 Workspace trust - Return undefined if dialog is cancelled
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadWorkspace.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostWorkspace.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
Labels: workspace-trust

#121857 Add explicit dispose calls for `DiskFileSystemProvider`
  src/vs/platform/checksum/test/node/checksumService.test.ts
  src/vs/workbench/services/themes/test/electron-browser/tokenStyleResolving.test.ts
  src/vs/workbench/services/workingCopy/test/electron-browser/workingCopyBackupService.test.ts
Labels: debt, polish, sandbox

#122603 Improve capabilities.untrustedWorkspaces contribution schema
  src/vs/workbench/services/extensions/common/extensionsRegistry.ts
Labels: workspace-trust

#122730 Ensure non-selected tab actions apply to correct instance
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalTabbedView.ts
  src/vs/workbench/contrib/terminal/browser/terminalTabsWidget.ts
Labels: candidate

#122742 Fix multiple editors being marked as active
  src/vs/workbench/services/editor/browser/editorService.ts
Labels: candidate

#122764 Fix cell keybindings prompt
  src/vs/workbench/contrib/notebook/browser/contrib/statusBar/statusBarProviders.ts
Labels: candidate
