Repository microsoft/vscode, pull requests merged in 2021-01, with the labels that each got.

#113303 Add outline and breadcrumbs for notebooks
  src/vs/base/browser/ui/breadcrumbs/breadcrumbsWidget.ts
  src/vs/base/browser/ui/iconLabel/iconlabel.css
  src/vs/editor/common/services/markerDecorationsServiceImpl.ts
  src/vs/editor/common/services/markersDecorationService.ts
  src/vs/editor/contrib/documentSymbols/documentSymbols.ts
  src/vs/editor/contrib/documentSymbols/media/symbol-icons.css
  src/vs/editor/contrib/documentSymbols/outline.ts
  src/vs/editor/contrib/documentSymbols/outlineModel.ts
  src/vs/editor/contrib/hover/markerHoverParticipant.ts
  src/vs/editor/contrib/quickAccess/gotoSymbolQuickAccess.ts
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/editor/editor.all.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsControl.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsModel.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsPicker.ts
  src/vs/workbench/browser/parts/editor/media/tabstitlecontrol.css
  src/vs/workbench/contrib/codeEditor/browser/outline/documentSymbolsOutline.ts
  src/vs/workbench/contrib/codeEditor/browser/outline/documentSymbolsTree.css
  src/vs/workbench/contrib/codeEditor/browser/outline/documentSymbolsTree.ts
  src/vs/workbench/contrib/codeEditor/browser/quickaccess/gotoSymbolQuickAccess.ts
  src/vs/workbench/contrib/notebook/browser/contrib/outline/notebookOutline.css
  src/vs/workbench/contrib/notebook/browser/contrib/outline/notebookOutline.ts
  src/vs/workbench/contrib/notebook/browser/contrib/toc/tocProvider.ts
  src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditor.ts
  src/vs/workbench/contrib/outline/browser/outline.contribution.ts
  src/vs/workbench/contrib/outline/browser/outlinePane.ts
  src/vs/workbench/contrib/outline/browser/outlineViewState.ts
  src/vs/workbench/services/outline/browser/outline.ts
  src/vs/workbench/services/outline/browser/outlineService.ts
  src/vs/workbench/test/browser/api/extHostApiCommands.test.ts
  src/vs/workbench/test/browser/api/extHostLanguageFeatures.test.ts
  src/vs/workbench/test/browser/parts/editor/breadcrumbModel.test.ts
  src/vs/workbench/workbench.common.main.ts
Labels: notebook, outline

#113364 Allow ResourceCommandResolver.getRightResource() to return undefined
  extensions/git/src/repository.ts
  extensions/git/src/test/smoke.test.ts
Labels: git

#113902 Azure Pipeline - Adopt pipeline parameters in favour of pipeline variables
  build/azure-pipelines/product-build.yml
Labels: engineering

#112316 fix: The git commit message field is cropped with negative zoom
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: git

#114205 Azure DevOps - Move release into a separate stage
  build/azure-pipelines/product-build.yml
Labels: engineering

#114285 Azure DevOps - publish Windows artifacts
  build/azure-pipelines/win32/product-build-win32.yml
Labels: engineering

#114375 Publish scripts update
  build/azure-pipelines/linux/alpine/publish.sh
  build/azure-pipelines/linux/publish.sh
Labels: engineering

#114388 Respect multi selection when Copy value in Watch Expression View
  src/vs/workbench/contrib/debug/browser/variablesView.ts
  src/vs/workbench/contrib/debug/browser/watchExpressionsView.ts
Labels: debug

#114405 Azure DevOps pipeline artifacts
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/linux/alpine/publish.sh
  build/azure-pipelines/linux/product-build-alpine.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/linux/publish.sh
  build/azure-pipelines/linux/snap-build-linux.yml
  build/azure-pipelines/web/product-build-web.yml
  build/azure-pipelines/win32/product-build-win32.yml
Labels: engineering

#114419 fix #114416 LabelService.getUriLabel bad relative path if in root workspace
  src/vs/workbench/services/label/common/labelService.ts
  src/vs/workbench/services/label/test/browser/label.test.ts
Labels: label-provider

#114527 Migrate to new deb repo
  build/gulpfile.vscode.linux.js
  resources/linux/debian/postinst.template
Labels: linux

#113285 Inline Hints controller and API proposal
  src/vs/editor/browser/services/codeEditorServiceImpl.ts
  src/vs/editor/browser/widget/codeEditorWidget.ts
  src/vs/editor/common/config/editorOptions.ts
  src/vs/editor/common/editorCommon.ts
  src/vs/editor/common/editorContextKeys.ts
  src/vs/editor/common/modes.ts
  src/vs/editor/common/standalone/standaloneEnums.ts
  src/vs/editor/contrib/inlineHints/inlineHintsController.ts
  src/vs/editor/editor.all.ts
  src/vs/monaco.d.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostApiCommands.ts
  src/vs/workbench/api/common/extHostLanguageFeatures.ts
  src/vs/workbench/api/common/extHostTypeConverters.ts
  src/vs/workbench/api/common/extHostTypes.ts
  src/vs/workbench/test/browser/api/extHostApiCommands.test.ts
Labels: editor-contrib

#114687 Create our own node modules archive in CI
  .github/workflows/ci.yml
Labels: engineering

#114660 asyncDataTree adopt diffIdentityProvider
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/workbench/contrib/debug/browser/repl.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
Labels: tree

#114601 Polyfil test heirarchies
  src/vs/workbench/api/common/extHostTesting.ts
  src/vs/workbench/test/browser/api/extHostTesting.test.ts
Labels: testing

#112169 Fix/debug auto decode link
  src/vs/workbench/contrib/debug/browser/linkDetector.ts
Labels: debug

#113841 fix #111587 Apply enablement to command links in welcome views
  src/vs/platform/opener/browser/link.ts
  src/vs/workbench/browser/parts/views/viewPane.ts
  src/vs/workbench/contrib/welcome/common/viewsWelcomeExtensionPoint.ts
Labels: workbench-views
