Repository microsoft/vscode, pull requests merged in 2021-05, with the labels that each got.

#122747 Fix Notebook Cell URI
  src/vs/base/test/common/glob.test.ts
  src/vs/workbench/contrib/notebook/browser/notebookServiceImpl.ts
  src/vs/workbench/services/editor/browser/editorOverrideService.ts
  src/vs/workbench/services/editor/common/editorOverrideService.ts
Labels: candidate

#122869 Block windows/iframes from preventing the unload (#122835)
  src/vs/platform/windows/electron-main/window.ts
  src/vs/workbench/contrib/webview/browser/pre/main.js
Labels: candidate

#122856 Fix context on LabelTunnelAction
  src/vs/workbench/contrib/remote/browser/tunnelView.ts
Labels: candidate

#122915 Fix port theme color typo
  extensions/theme-abyss/themes/abyss-color-theme.json
  extensions/theme-defaults/themes/dark_vs.json
  extensions/theme-defaults/themes/hc_black.json
  extensions/theme-defaults/themes/light_vs.json
  extensions/theme-kimbie-dark/themes/kimbie-dark-color-theme.json
  extensions/theme-monokai-dimmed/themes/dimmed-monokai-color-theme.json
  extensions/theme-monokai/themes/monokai-color-theme.json
  extensions/theme-quietlight/themes/quietlight-color-theme.json
  extensions/theme-red/themes/Red-color-theme.json
  extensions/theme-solarized-dark/themes/solarized-dark-color-theme.json
  extensions/theme-solarized-light/themes/solarized-light-color-theme.json
  extensions/theme-tomorrow-night-blue/themes/tomorrow-night-blue-color-theme.json
  src/vs/workbench/contrib/remote/browser/tunnelView.ts
Labels: candidate

#122929 Finalize TerminalOptions.message API
  src/vs/vscode.d.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
Labels: api-finalization

#122933 Completion in settings does not work on Linux
  extensions/json-language-features/server/package.json
  extensions/json-language-features/server/yarn.lock
Labels: candidate

#122893 Update quick pick list widget focus colors
  extensions/theme-defaults/themes/light_vs.json
  src/vs/base/parts/quickinput/browser/media/quickInput.css
  src/vs/editor/contrib/suggest/media/suggest.css
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/editor/standalone/browser/quickInput/standaloneQuickInput.css
  src/vs/editor/standalone/common/themes.ts
  src/vs/platform/quickinput/browser/quickInput.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/browser/style.ts
Labels: accessibility, quick-pick, suggest, themes

#97272 New Sort Order Lexicographic Options setting for Explorer
  src/vs/base/common/comparers.ts
  src/vs/base/test/browser/comparers.test.ts
  src/vs/workbench/contrib/files/browser/explorerService.ts
  src/vs/workbench/contrib/files/browser/files.contribution.ts
  src/vs/workbench/contrib/files/browser/files.ts
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
  src/vs/workbench/contrib/files/common/files.ts
Labels: file-explorer, under-discussion

#122727 Workspace trust transition participants
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/contrib/extensions/browser/extensionEnablementByWorkspaceTrustRequirement.ts
  src/vs/workbench/contrib/extensions/browser/extensionEnablementWorkspaceTrustTransitionParticipant.ts
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#123287 Fix 123041 for 1.56
  src/vs/platform/actions/browser/menuEntryActionViewItem.css
Labels: candidate

#123110 Workspace trust - restricted mode banner
  src/vs/workbench/browser/layout.ts
  src/vs/workbench/browser/parts/banner/bannerActions.ts
  src/vs/workbench/browser/parts/banner/bannerPart.ts
  src/vs/workbench/browser/parts/banner/media/bannerpart.css
  src/vs/workbench/browser/workbench.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/banner/browser/bannerService.ts
  src/vs/workbench/services/layout/browser/layoutService.ts
  src/vs/workbench/workbench.common.main.ts
Labels: workspace-trust

#123566 The default Monokai highlight color is displayed incorrectly
  extensions/theme-monokai/themes/monokai-color-theme.json
Labels: bug

#123213 Allow text search providers to give messages with links that trigger researching.
  src/vs/platform/opener/browser/link.ts
  src/vs/vscode.proposed.d.ts
  src/vs/workbench/browser/parts/views/viewPane.ts
  src/vs/workbench/contrib/search/browser/searchView.ts
  src/vs/workbench/contrib/searchEditor/browser/searchEditor.ts
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/search/common/search.ts
  src/vs/workbench/services/search/common/searchExtTypes.ts
  src/vs/workbench/services/search/common/searchService.ts
Labels: search

#123833 fix #123831 handle command URL in ErrorResponse Message from debug adapter
  src/vs/workbench/contrib/debug/browser/rawDebugSession.ts
Labels: debug

#123726 Fix setting the debug call stack display for exceptions
  src/vs/workbench/contrib/debug/browser/callStackView.ts
  src/vs/workbench/contrib/debug/browser/debugColors.ts
Labels: debug

#123899 sandbox - make CLI commands a native host thing
  src/vs/platform/native/common/native.ts
  src/vs/platform/native/electron-main/nativeHostMainService.ts
  src/vs/workbench/contrib/cli/node/cli.contribution.ts
  src/vs/workbench/electron-sandbox/actions/installActions.ts
  src/vs/workbench/electron-sandbox/desktop.contribution.ts
  src/vs/workbench/test/electron-browser/workbenchTestServices.ts
  src/vs/workbench/workbench.desktop.main.ts
Labels: macos, workbench-cli

#124006 Pipe language edit counts into CES survey
  src/vs/workbench/contrib/surveys/browser/ces.contribution.ts
Labels: telemetry

#123895 Replaced wmic call with windows-process-tree
  src/vs/workbench/contrib/debug/node/terminals.ts
Labels: debug

#123065 add color customizations for inline debug values
  src/vs/workbench/contrib/debug/browser/debugEditorContribution.ts
Labels: debug

#123811 Workspace trust - empty workspace
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/contrib/files/test/browser/textFileEditorTracker.test.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/electron-sandbox/window.ts
  src/vs/workbench/services/editor/browser/editorService.ts
  src/vs/workbench/services/editor/test/browser/editorService.test.ts
  src/vs/workbench/services/workingCopy/test/browser/workingCopyBackupTracker.test.ts
  src/vs/workbench/services/workingCopy/test/browser/workingCopyEditorService.test.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#124566 Workspace trust - no need to call setWorkspaceTrust
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
Labels: workspace-trust

#124589 Get rid of classes for workbench editor options
  src/vs/platform/editor/common/editor.ts
  src/vs/workbench/api/browser/mainThreadNotebookEditors.ts
  src/vs/workbench/browser/parts/editor/binaryEditor.ts
  src/vs/workbench/browser/parts/editor/editor.ts
  src/vs/workbench/browser/parts/editor/editorControl.ts
  src/vs/workbench/browser/parts/editor/editorDropTarget.ts
  src/vs/workbench/browser/parts/editor/editorGroupView.ts
  src/vs/workbench/browser/parts/editor/editorPane.ts
  src/vs/workbench/browser/parts/editor/sideBySideEditor.ts
  src/vs/workbench/browser/parts/editor/textDiffEditor.ts
  src/vs/workbench/browser/parts/editor/textEditor.ts
  src/vs/workbench/browser/parts/editor/textResourceEditor.ts
  src/vs/workbench/browser/parts/editor/workspaceTrustRequiredEditor.ts
  src/vs/workbench/common/editor.ts
  src/vs/workbench/common/editor/editorOptions.ts
  src/vs/workbench/contrib/codeEditor/browser/quickaccess/gotoLineQuickAccess.ts
  src/vs/workbench/contrib/codeEditor/browser/quickaccess/gotoSymbolQuickAccess.ts
  src/vs/workbench/contrib/extensions/browser/extensionEditor.ts
  src/vs/workbench/contrib/files/browser/editors/binaryFileEditor.ts
  src/vs/workbench/contrib/files/browser/editors/textFileEditor.ts
  src/vs/workbench/contrib/files/electron-sandbox/textFileEditor.ts
  src/vs/workbench/contrib/notebook/browser/contrib/undoRedo/notebookUndoRedo.ts
  src/vs/workbench/contrib/notebook/browser/diff/notebookTextDiffEditor.ts
  src/vs/workbench/contrib/notebook/browser/notebookBrowser.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditor.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts
  src/vs/workbench/contrib/notebook/browser/notebookServiceImpl.ts
  src/vs/workbench/contrib/output/browser/outputView.ts
  src/vs/workbench/contrib/preferences/browser/keybindingsEditor.ts
  src/vs/workbench/contrib/preferences/browser/preferencesEditor.ts
  src/vs/workbench/contrib/preferences/browser/settingsEditor2.ts
  src/vs/workbench/contrib/preferences/common/preferencesContribution.ts
  src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts
  src/vs/workbench/contrib/searchEditor/browser/searchEditor.ts
  src/vs/workbench/contrib/webviewPanel/browser/webviewEditor.ts
  src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts
  src/vs/workbench/contrib/welcome/walkThrough/browser/walkThroughPart.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/services/editor/browser/codeEditorService.ts
  src/vs/workbench/services/editor/browser/editorOverrideService.ts
  src/vs/workbench/services/editor/browser/editorService.ts
  src/vs/workbench/services/editor/common/editorGroupsService.ts
  src/vs/workbench/services/editor/common/editorOverrideService.ts
  src/vs/workbench/services/editor/common/editorService.ts
  src/vs/workbench/services/editor/test/browser/editorGroupsService.test.ts
  src/vs/workbench/services/editor/test/browser/editorsObserver.test.ts
  src/vs/workbench/services/history/browser/history.ts
  src/vs/workbench/services/history/test/browser/history.test.ts
  src/vs/workbench/services/preferences/browser/preferencesService.ts
  src/vs/workbench/services/preferences/common/preferences.ts
  src/vs/workbench/services/preferences/test/browser/preferencesService.test.ts
  src/vs/workbench/test/browser/parts/editor/editorPane.test.ts
  src/vs/workbench/test/browser/workbenchTestServices.ts
Labels: debt, workbench-editors

#124617 Workspace trust - remote workspace
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/browser/web.main.ts
  src/vs/workbench/contrib/extensions/browser/extensionEnablementWorkspaceTrustTransitionParticipant.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
  src/vs/workbench/electron-sandbox/shared.desktop.main.ts
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#124664 dart as built-in language
  extensions/dart/.vscodeignore
  extensions/dart/cgmanifest.json
  extensions/dart/language-configuration.json
  extensions/dart/package.json
  extensions/dart/package.nls.json
  extensions/dart/syntaxes/dart.tmLanguage.json
  extensions/vscode-colorize-tests/test/colorize-fixtures/test.dart
  extensions/vscode-colorize-tests/test/colorize-results/test_dart.json
Labels: languages-basic

#124546 Support for @recommended:languages search
  src/vs/base/common/product.ts
  src/vs/workbench/contrib/extensions/browser/extensionRecommendationsService.ts
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViews.ts
  src/vs/workbench/contrib/extensions/browser/languageRecommendations.ts
  src/vs/workbench/services/extensionRecommendations/common/extensionRecommendations.ts
Labels: extension-recommendations
