Repository microsoft/vscode, pull requests merged in 2021-06, with the labels that each got.

#125179 Workspace trust - extension enablement
  src/vs/workbench/contrib/extensions/browser/extensionEnablementWorkspaceTrustTransitionParticipant.ts
  src/vs/workbench/services/extensionManagement/browser/extensionEnablementService.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagement.ts
  src/vs/workbench/services/extensions/browser/extensionService.ts
  src/vs/workbench/services/extensions/common/abstractExtensionService.ts
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
Labels: workspace-trust

#125283 Workspace trust - calculate trust before extension host starts
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/contrib/extensions/browser/extensionEnablementWorkspaceTrustTransitionParticipant.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#125221 Preserve repl filter value through reloads
  src/vs/workbench/contrib/debug/browser/repl.ts
Labels: debug

#124998 Workspace trust - add --disable-workspace-trust flag
  src/vs/platform/environment/common/argv.ts
  src/vs/platform/environment/common/environment.ts
  src/vs/platform/environment/common/environmentService.ts
  src/vs/platform/environment/node/argv.ts
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/browser/actions/workspaceActions.ts
  src/vs/workbench/contrib/extensions/browser/extensionEnablementWorkspaceTrustTransitionParticipant.ts
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/services/environment/browser/environmentService.ts
  src/vs/workbench/services/extensionManagement/test/browser/extensionEnablementService.test.ts
  src/vs/workbench/services/extensions/common/extensionManifestPropertiesService.ts
  src/vs/workbench/services/extensions/test/common/extensionManifestPropertiesService.test.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#125445 Make sure we layout editors in sideBySideEditor after they are created
  src/vs/workbench/browser/parts/editor/sideBySideEditor.ts
Labels: workbench-editors

#125537 add restricted mode to created issues
  src/vs/code/electron-sandbox/issue/issueReporterMain.ts
  src/vs/code/electron-sandbox/issue/issueReporterModel.ts
  src/vs/platform/issue/common/issue.ts
  src/vs/workbench/services/issue/electron-sandbox/issueService.ts
Labels: workspace-trust

#125574 Revert ESBuild updates and fix #125518
  build/package.json
  build/yarn.lock
  src/vs/workbench/services/editor/browser/editorOverrideService.ts
Labels: candidate

#125650 Workspace trust - empty workspace should not transition to restricted mode
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
Labels: candidate, workspace-trust

#125651 Workspace trust - loose file choice is cleared when reloading
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
Labels: candidate, workspace-trust

#123478 use title for terminal selection
  src/vs/workbench/api/node/extHostDebugService.ts
Labels: debug

#125696 Clone object before applying migrated setting
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
Labels: candidate

#125659 Update to latest seti-ui & add ReScript to the icon theme
  extensions/theme-seti/build/update-icon-theme.js
  extensions/theme-seti/cgmanifest.json
  extensions/theme-seti/icons/seti.woff
  extensions/theme-seti/icons/vs-seti-icon-theme.json
Labels: themes

#125679 better context key for run menu
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/contrib/debug/browser/debug.contribution.ts
  src/vs/workbench/contrib/debug/browser/debugAdapterManager.ts
Labels: debug

#125570 Skip logging for high-frequency keybinding commands
  src/vs/platform/keybinding/common/abstractKeybindingService.ts
Labels: telemetry

#125154 Optimize english please actions
  .github/workflows/english-please.yml
Labels: engineering

#125788 candy/125747
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
Labels: workspace-trust

#125487 empty space should be root context also in MR workspace
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
Labels: file-explorer

#125670 Smoke tests - run each suite in its own user-data-dir
  test/automation/src/application.ts
  test/automation/src/playwrightDriver.ts
  test/smoke/src/areas/editor/editor.test.ts
  test/smoke/src/areas/extensions/extensions.test.ts
  test/smoke/src/areas/languages/languages.test.ts
  test/smoke/src/areas/multiroot/multiroot.test.ts
  test/smoke/src/areas/notebook/notebook.test.ts
  test/smoke/src/areas/preferences/preferences.test.ts
  test/smoke/src/areas/search/search.test.ts
  test/smoke/src/areas/statusbar/statusbar.test.ts
  test/smoke/src/areas/workbench/data-loss.test.ts
  test/smoke/src/areas/workbench/localization.test.ts
  test/smoke/src/main.ts
  test/smoke/src/utils.ts
Labels: engineering

#125835 Workspace trust - refactor workspace trust calculation
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/workspaceTrust.test.ts
Labels: workspace-trust

#126026 Revert back to Electron `12.0.7`
  .yarnrc
  cgmanifest.json
  package.json
  src/vs/platform/windows/electron-main/windowsStateHandler.ts
  yarn.lock
Labels: candidate

#126028 linux - restore `--no-sandbox` for startup scripts
  resources/linux/code-url-handler.desktop
  resources/linux/code.desktop
  src/vs/code/node/cli.ts
Labels: candidate

#126045 macos - restore Cmd+W to close window when no editors opened
  src/vs/workbench/electron-sandbox/actions/windowActions.ts
  src/vs/workbench/electron-sandbox/desktop.contribution.ts
Labels: candidate

#126234 Fix external terminal when the user has no terminal user settings
  src/vs/platform/externalTerminal/common/externalTerminal.ts
  src/vs/platform/externalTerminal/electron-main/externalTerminalService.test.ts
  src/vs/platform/externalTerminal/node/externalTerminalService.ts
  src/vs/workbench/contrib/debug/node/terminals.ts
  src/vs/workbench/contrib/externalTerminal/browser/externalTerminal.contribution.ts
  src/vs/workbench/contrib/externalTerminal/electron-sandbox/externalTerminal.contribution.ts
Labels: candidate

#126215 Workspace trust - Remote indicator stuck in 'Initializing' when resolver fails
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
Labels: workspace-trust

#126062 Workspace trust - move open file trust request dialog into the contribution
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/services/editor/browser/editorService.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#126288 Make list focus icon themeable
  extensions/theme-defaults/themes/dark_vs.json
  extensions/theme-defaults/themes/light_vs.json
  src/vs/base/browser/ui/list/list.css
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/media/tree.css
  src/vs/base/parts/quickinput/browser/media/quickInput.css
  src/vs/editor/contrib/suggest/media/suggest.css
  src/vs/editor/contrib/suggest/suggestWidget.ts
  src/vs/platform/quickinput/browser/quickInput.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/contrib/debug/browser/media/debugViewlet.css
  src/vs/workbench/contrib/extensions/browser/media/extensionsWidgets.css
Labels: themes

#126362 Workspace trust - improve settings discoverability
  src/vs/workbench/browser/actions/workspaceActions.ts
  src/vs/workbench/contrib/preferences/browser/settingsEditor2.ts
  src/vs/workbench/contrib/preferences/common/preferences.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.css
  src/vs/workbench/contrib/workspace/browser/workspaceTrustEditor.ts
Labels: workspace-trust

#126372 Workspace trust - emit telemetry if workspace trust is disabled
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
Labels: workspace-trust

#126413 Do not auto-trigger suggest when typing exactly the inline suggestion
  src/vs/editor/contrib/inlineCompletions/ghostTextController.ts
  src/vs/editor/contrib/suggest/suggestModel.ts
  src/vs/editor/contrib/suggest/test/suggestModel.test.ts
Labels: candidate

#126183 Fix duplicated code format
  src/vs/editor/contrib/format/format.ts
Labels: formatting

#126852 Set top level stopped reason when threadId not specified
  src/vs/workbench/contrib/debug/browser/callStackView.ts
  src/vs/workbench/contrib/debug/browser/debugSession.ts
  src/vs/workbench/contrib/debug/common/debug.ts
  src/vs/workbench/contrib/debug/test/browser/mockDebug.ts
Labels: debug

#127334 Add `wordPattern` for XML and XSL languages
  extensions/xml/xml.language-configuration.json
  extensions/xml/xsl.language-configuration.json
Labels: bug, languages-basic
