Repository microsoft/vscode, pull requests merged in 2022-11, with the labels that each got.

#165151 Release port: fix Alpine builds with npm custom registry
  build/azure-pipelines/linux/product-build-alpine.yml
Labels: candidate

#165152 Release port: fix inno setup build for non-insider qualities
  build/gulpfile.vscode.win32.js
  build/win32/code.iss
Labels: candidate

#165129 Git - Remove localization from askpass-main
  extensions/git/src/askpass-main.ts
Labels: git

#165487 Git - Add "OK, Don't Ask Again" button to the publish branch prompt
  extensions/git/src/commands.ts
  extensions/git/src/main.ts
Labels: git

#165237 Git - Optimistic UI plumbing + commit action
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git

#165509 Add accessibility role type to the checkbox in getting started step
  src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStarted.ts
Labels: accessibility, getting-started

#165505 Update role and aria-label for the Hide button in the Welcome View
  src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStarted.ts
Labels: accessibility, getting-started

#165497 Git - Only use `this.dotGit` when resolving HEAD
  extensions/git/src/git.ts
Labels: git

#165699 Git - Optimistic UI updates for rebase continue
  extensions/git/src/repository.ts
Labels: git

#165716 Git - Stage/Unstage optimistic UI updates
  extensions/git/src/repository.ts
Labels: git

#165815 Git - Tweak optimistic update
  extensions/git/src/repository.ts
Labels: git

#165794 Git - Only use `this.dotGit` when resolving HEAD (#165497)
  extensions/git/src/git.ts
Labels: git, candidate

#165752 Increase min-height to 100% (#165566)
  src/vs/workbench/contrib/preferences/browser/media/settingsEditor2.css
Labels: candidate

#165853 Switch to webhook
  .github/workflows/pr-chat.yml
Labels: polish, engineering

#165832 Revert "respect auto-save setting even for single file edits"
  src/vs/workbench/contrib/bulkEdit/browser/bulkEditService.ts
Labels: candidate

#165865 Revert "respect auto-save setting even for single file edits" (#165832)
  src/vs/workbench/contrib/bulkEdit/browser/bulkEditService.ts
Labels: candidate

#165949 Git - Improve branch publish prompt
  extensions/git/src/commands.ts
Labels: git

#166022 Git - Tweak git config parser
  extensions/git/src/git.ts
Labels: git

#165938 Git - Add calcellation support for getRefs
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#166032 Enable telemetry logging only in OSS
  src/vs/platform/telemetry/common/telemetryUtils.ts
  src/vs/workbench/api/browser/mainThreadTelemetry.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostTelemetry.ts
  src/vs/workbench/api/test/browser/extHostTelemetry.test.ts
  src/vs/workbench/contrib/logs/common/logs.contribution.ts
Labels: polish, telemetry, engineering

#166099 Git - Optimistic UI update for discarding changes
  extensions/git/src/repository.ts
Labels: git

#166124 Git - Don't show progress for commands that support optimistic UI updates
  extensions/git/src/repository.ts
Labels: git

#166263 Git - 💄 Remove code duplication
  extensions/git/src/repository.ts
Labels: git

#166277 Git - Fix optimistic UI update for untracked changes
  extensions/git/src/repository.ts
Labels: git

#166532 moves css rules
  src/vs/platform/opener/browser/link.css
  src/vs/platform/opener/browser/link.ts
Labels: css-less-scss

#166595 GitHub - fix dialog when user does not have permissions to commit
  extensions/github/src/pushErrorHandler.ts
Labels: github

#136579 Fix unwanted extra spaces when pasting code with JSDoc
  src/vs/editor/common/languages/autoIndent.ts
  src/vs/editor/contrib/indentation/browser/indentation.ts
  src/vs/editor/contrib/indentation/test/browser/indentation.test.ts
  src/vs/editor/test/common/modes/supports/javascriptIndentationRules.ts
Labels: editor-autoindent

#166634 dirty diff: use IEditorGroupsService instead of IEditorService
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
Labels: scm

#166965 Git - Move log change event handler to main
  extensions/git/src/main.ts
  extensions/git/src/repository.ts
Labels: git

#167036 Git - Additional tracing for opening git submodules
  extensions/git/src/model.ts
Labels: git

#165632 shellIntegration-bash.sh: escape values in "E" (executed command) and "P" (property KV) codes
  src/vs/workbench/contrib/terminal/browser/media/shellIntegration-bash.sh
Labels: triage-needed

#167099 NPM - Update minimatch
  extensions/npm/yarn.lock
Labels: engineering

#167101 Test - update minimatch
  test/automation/yarn.lock
  test/integration/browser/yarn.lock
  test/smoke/yarn.lock
Labels: engineering

#167102 Engineering - Update minimatch
  yarn.lock
Labels: engineering

#167248 Git - handle unsafe repositories
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/model.ts
  extensions/github/package.json
Labels: git

#167278 Git - Handle tag conflict during pull operation
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#167309 Git - Fix GitConfigParser regression
  extensions/git/src/git.ts
Labels: git

#167380 SCM - Fix When typing Chinese in git commit editor, There are overlapping shadows on the text. #165682
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#167473 improve & simplify quick fix info
  src/vs/workbench/contrib/terminal/browser/terminalQuickFixBuiltinActions.ts
  src/vs/workbench/contrib/terminal/browser/xterm/quickFixAddon.ts
  src/vs/workbench/contrib/terminal/test/browser/quickFixAddon.test.ts
Labels: on-testplan

#167711 Git - fix unsafe repository path to use `\` as path separator
  extensions/git/src/model.ts
Labels: git

#167728 Git - Unsafe repositories flow polish
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/model.ts
Labels: git
