Repository microsoft/vscode, pull requests merged in 2022-06, with the labels that each got.

#150956 SCM "open containing folder" shouldn't show in remote environments
  extensions/git/package.json
Labels: scm

#150962 Errors are not sorted by file path
  src/vs/workbench/contrib/markers/browser/markersTable.ts
Labels: error-list

#151095 Git log level polish
  extensions/git/src/commands.ts
  extensions/git/src/log.ts
  extensions/git/src/main.ts
Labels: git

#151132 Git - Add minItems/maxItems for branch dictionary setting
  extensions/git/package.json
Labels: git

#151212 Git - Switch to using the remoteName context key
  extensions/git/package.json
Labels: git

#151308 chore: bump electron@17.4.7
  .yarnrc
  cgmanifest.json
  package.json
  yarn.lock
Labels: candidate

#151349 chore: update rpm deps
  build/linux/rpm/dep-lists.js
  build/linux/rpm/dep-lists.ts
Labels: candidate

#150794 Engineering - Do not run macOSTest job if VSCODE_STEP_ON_IT is set
  build/azure-pipelines/darwin/product-build-darwin-test.yml
  build/azure-pipelines/product-build.yml
Labels: engineering

#151120 Engineering - macOS sign job optimization
  build/azure-pipelines/darwin/product-build-darwin-sign.yml
Labels: engineering

#151473 Continue using vortex endpoint
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
Labels: candidate

#151491 Git - use editor as commit message input
  extensions/git/extension.webpack.config.js
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/api/git.d.ts
  extensions/git/src/askpass.ts
  extensions/git/src/commands.ts
  extensions/git/src/git-editor-empty.sh
  extensions/git/src/git-editor-main.ts
  extensions/git/src/git-editor.sh
  extensions/git/src/git.ts
  extensions/git/src/gitEditor.ts
  extensions/git/src/main.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
  src/vs/workbench/contrib/scm/browser/util.ts
Labels: git

#151522 debug: preserve scope expand state better
  src/vs/workbench/contrib/debug/browser/variablesView.ts
  src/vs/workbench/contrib/debug/common/debugModel.ts
Labels: debug

#151602 Problems table - add tooltip for each cell
  src/vs/workbench/contrib/markers/browser/markersTable.ts
Labels: error-list

#151725 Cache/restore the node_modules folder in the build directory
  build/azure-pipelines/darwin/product-build-darwin-universal.yml
Labels: engineering

#151820 Open file command does not start in relative to the current file's path (fix #151668)
  src/vs/platform/dialogs/electron-main/dialogMainService.ts
Labels: candidate

#151788 Problems view - Can't multi-select in table mode
  src/vs/workbench/contrib/markers/browser/markersTable.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
Labels: error-list

#151915 Engineering - do not run SBOM tasks in macOSTest
  build/azure-pipelines/darwin/product-build-darwin.yml
Labels: engineering

#151925 Engineering - fix macOS jobs
  build/azure-pipelines/darwin/product-build-darwin-universal.yml
  build/azure-pipelines/darwin/product-build-darwin.yml
Labels: engineering

#152022 Problems view table - remove left padding
  src/vs/workbench/contrib/markers/browser/media/markers.css
Labels: error-list

#151954 Engineering - standardize macOS support jobs
  build/azure-pipelines/darwin/product-build-darwin-sign.yml
  build/azure-pipelines/darwin/product-build-darwin-universal.yml
Labels: engineering

#152064 Problems view table - reveal the selection when switching view modes
  src/vs/workbench/contrib/markers/browser/markersTable.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/markers/browser/media/markers.css
Labels: error-list

#152066 Problems view table - add dnd support
  src/vs/workbench/contrib/markers/browser/markersView.ts
Labels: error-list

#151043 Add provides exclude for library files
  resources/linux/rpm/code.spec.template
Labels: rpm

#152051 Git - add support for SSH Uri
  extensions/git/src/protocolHandler.ts
Labels: git

#152045 Profile support for global storage
  src/vs/base/browser/indexedDB.ts
  src/vs/code/electron-main/app.ts
  src/vs/platform/externalServices/common/serviceMachineId.ts
  src/vs/platform/notification/common/notification.ts
  src/vs/platform/storage/browser/storageService.ts
  src/vs/platform/storage/common/storage.ts
  src/vs/platform/storage/common/storageIpc.ts
  src/vs/platform/storage/electron-main/storageIpc.ts
  src/vs/platform/storage/electron-main/storageMain.ts
  src/vs/platform/storage/electron-main/storageMainService.ts
  src/vs/platform/storage/electron-sandbox/storageService.ts
  src/vs/platform/storage/test/browser/storageService.test.ts
  src/vs/platform/storage/test/common/storageService.test.ts
  src/vs/platform/storage/test/electron-main/storageMainService.test.ts
  src/vs/platform/userDataProfile/common/userDataProfile.ts
  src/vs/platform/windows/electron-main/window.ts
  src/vs/platform/workspaces/electron-main/workspacesHistoryMainService.ts
  src/vs/workbench/browser/web.main.ts
  src/vs/workbench/common/memento.ts
  src/vs/workbench/contrib/experiments/common/experimentService.ts
  src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStarted.ts
  src/vs/workbench/services/notification/common/notificationService.ts
  src/vs/workbench/services/telemetry/browser/workbenchCommonProperties.ts
  src/vs/workbench/services/telemetry/electron-sandbox/workbenchCommonProperties.ts
  src/vs/workbench/services/telemetry/test/electron-browser/commonProperties.test.ts
  src/vs/workbench/test/common/memento.test.ts
  src/vs/workbench/test/electron-browser/workbenchTestServices.ts
Labels: user-profiles

#152171 SourceControlInputBox API finalization
  extensions/git/package.json
  extensions/git/tsconfig.json
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.d.ts
  src/vscode-dts/vscode.proposed.scmInput.d.ts
Labels: scm, api-finalization

#152218 Git - branch protection
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#152158 Git - enable using the editor as the git commit input
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/askpass.ts
  extensions/git/src/gitEditor.ts
  extensions/git/src/ipc/ipcServer.ts
  extensions/git/src/main.ts
  extensions/git/src/terminal.ts
Labels: git

#152310 Add web command to request device access
  src/vs/base/browser/deviceAccess.ts
  src/vs/workbench/browser/actions/workspaceCommands.ts
  src/vs/workbench/browser/window.ts
  src/vs/workbench/services/extensions/browser/webWorkerExtensionHost.ts
Labels: triage-needed

#152782 SCM - Add action button tooltip
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#152469 Git - add settings to control the branch protection indicator
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#152849 SCM - Add capability to disable the SCM action button
  extensions/git/src/actionButton.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vscode-dts/vscode.proposed.scmActionButton.d.ts
Labels: scm

#152867 Git - Fix configuration service warnings
  extensions/git/package.json
Labels: git

#152903 SCM - Action button localization fix
  extensions/git/src/actionButton.ts
Labels: scm

#152878 SCM - SCMInput should use StorageScope.APPLICATION
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm

#152974 Git - fix regression with creating an empty commit
  extensions/git/src/git.ts
Labels: git

#153020 Git - Remove git.branchProtectionIndicator setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#153085 Git - Update git.terminalGitEditor default value
  extensions/git/package.json
Labels: git

#153097 Problems table - Focus table when clicking on the empty space
  src/vs/workbench/contrib/markers/browser/markersTable.ts
Labels: error-list

#153102 SCM - Add MessageController to SCM input
  src/vs/editor/contrib/message/browser/messageController.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#153149 Git - Add icons to branch picker
  extensions/git/src/commands.ts
Labels: git

#153107 SCM - Use default cursor for the action button list item
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#153433 Git - Remove icons from branch picker to address regression
  extensions/git/src/commands.ts
Labels: git

#153604 Git - fix secondary action localization
  extensions/git/src/actionButton.ts
Labels: git

#149668 Make the guided git.missing welcome view default
  extensions/git/package.json
  extensions/git/package.nls.json
Labels: scm

#153662 Git - Action button precedence
  extensions/git/src/actionButton.ts
Labels: git

#153692 Git - Add commands to the editor title to accept/discard commit message
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#153702 durationSinceUpdate should be in seconds
  src/vs/platform/extensionManagement/common/abstractExtensionManagementService.ts
Labels: bug, telemetry

#153739 Git - Disable undo last commit command while commit is in progress
  extensions/git/package.json
Labels: git

#153749 Git - "Commit & Push" command now publishes the branch if there is no tracking remote
  extensions/git/src/commands.ts
Labels: git

#153794 Git - Tweak the git.useEditorAsCommitInput setting description
  extensions/git/package.nls.json
Labels: git

#153821 Git - Do not show Sync Changes and Publish Branch action button when commit is in progress
  extensions/git/src/actionButton.ts
Labels: git

#153825 SCM - Fix issue with focusing the action button
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm
