Repository microsoft/vscode, pull requests merged in 2022-08, with the labels that each got.

#156141 Show Issue Reporter window in taskbar (#130497)
  src/vs/platform/issue/electron-main/issueMainService.ts
Labels: issue-reporter

#156884 Increasing the character limit to 500 (#156880)
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
Labels: bug, debt, editor-sticky-scroll

#156891 Adding the click event to the dom.addDisposableListener. Fixes #156879.
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
Labels: bug, debt, editor-sticky-scroll

#156890 Extracting the CSS to a separate file (fixes #156876)
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.css
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
Labels: debt, editor-sticky-scroll

#157000 Fix duplicated intersected label highlight
  src/vs/base/browser/ui/highlightedlabel/highlightedLabel.ts
Labels: bug

#147914 Fix #147912 (multipleSessionWarning debug option)
  src/vs/workbench/contrib/debug/browser/debugAdapterManager.ts
  src/vs/workbench/contrib/debug/browser/debugService.ts
  src/vs/workbench/contrib/debug/common/debug.ts
Labels: debug

#157101 Make sticky scroll disappear on the line before the end of the scope. Fixes #156999.
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
Labels: bug, editor-sticky-scroll

#157274 Don't do telemetry health check when telemetry is off
  src/vs/platform/telemetry/browser/1dsAppender.ts
  src/vs/platform/telemetry/common/1dsAppender.ts
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
Labels: candidate

#157328 [1.70] Ignore pwsh shell integration script errors on Windows
  src/vs/platform/terminal/node/terminalEnvironment.ts
Labels: candidate

#157352 [1.70] Escape % in bash and zsh shell integration
  src/vs/workbench/contrib/terminal/browser/media/shellIntegration-bash.sh
  src/vs/workbench/contrib/terminal/browser/media/shellIntegration-rc.zsh
Labels: candidate

#157351 [1.70] Fix pwsh shell integration tests
  src/vs/platform/terminal/test/node/terminalEnvironment.test.ts
Labels: candidate

#157368 Issue reporter fails to report when `sandbox` is enabled
  src/vs/code/electron-sandbox/issue/issueReporterMain.ts
Labels: issue-reporter

#157257 actionViewItem - make sure to also set the aira-label on the label el…
  src/vs/base/browser/ui/actionbar/actionViewItems.ts
Labels: candidate

#157557 Send a disconnection message via the management connection before killing the local extension host
  src/vs/workbench/services/extensions/common/abstractExtensionService.ts
Labels: candidate

#157608 Unblock stable build around policies
  build/lib/policies.js
  build/lib/policies.ts
Labels: candidate

#157617 Commit keyboard shortcut to honor the post commit command setting
  extensions/git/src/repository.ts
Labels: git

#157619 Git - Commit keyboard shortcut to honor the post commit command setting
  extensions/git/src/repository.ts
Labels: git, candidate

#156411 Git - Upgrade file-type package
  extensions/git/package.json
  extensions/git/src/git.ts
  extensions/git/yarn.lock
Labels: git

#155166 ActionWithDropdownActionViewItem - add separator
  src/vs/base/browser/ui/actionbar/actionbar.css
  src/vs/base/browser/ui/dropdown/dropdownActionViewItem.ts
  src/vs/workbench/contrib/extensions/browser/extensionsActions.ts
  src/vs/workbench/contrib/extensions/browser/media/extension.css
  src/vs/workbench/contrib/extensions/browser/media/extensionEditor.css
Labels: ux, extensions

#157762 SCM - remove workspace specific views
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#157764 UX - Remove !important for the opacity of the focused elements
  src/vs/workbench/browser/media/style.css
Labels: ux

#157807 Initial first run of telemetry output API
  src/vs/platform/environment/common/environment.ts
  src/vs/platform/environment/common/environmentService.ts
  src/vs/platform/telemetry/common/telemetryLogAppender.ts
  src/vs/workbench/api/browser/mainThreadTelemetry.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.common.services.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostTelemetryLogService.ts
  src/vs/workbench/contrib/logs/common/logConstants.ts
  src/vs/workbench/contrib/logs/common/logs.contribution.ts
  src/vs/workbench/services/environment/browser/environmentService.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.telemetry.d.ts
  src/vscode-dts/vscode.proposed.telemetryLog.d.ts
Labels: api, api-proposal

#157804 Git - Fix more scenarios where the post commit command setting is not honoured.
  extensions/git/src/actionButton.ts
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git

#157916 Taking into account the sticky scroll widget when revealing a range
  src/vs/editor/browser/viewParts/lines/viewLines.ts
  src/vs/editor/common/config/editorOptions.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
  src/vs/monaco.d.ts
Labels: editor-sticky-scroll

#158167 Git - Fix text alignment for Sync button
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git, scm

#156965 Replace the deprecated canceled with Cancellation Error in ipc.ts
  src/vs/base/parts/ipc/common/ipc.ts
Labels: triage-needed

#158176 Marker service handling of unsupported schemas
  src/vs/platform/markers/common/markerService.ts
  src/vs/workbench/contrib/markers/browser/markersTable.ts
  src/vs/workbench/contrib/markers/browser/markersTreeViewer.ts
Labels: error-list

#158131 Add close button to SCM editor validation message (#143036)
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#158449 Git - Add setting to remember post commit command
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/actionButton.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/postCommitCommands.ts
  extensions/git/src/repository.ts
  src/vs/base/browser/ui/button/button.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#158747 Git - Clear global state if setting is not enabled
  extensions/git/src/postCommitCommands.ts
Labels: git

#158751 Engineering - Update notebook
  .vscode/notebooks/endgame.github-issues
Labels: engineering

#158815 Merge Editor: use dashed borders for unhandled changes
  src/vs/workbench/contrib/mergeEditor/browser/view/media/mergeEditor.css
Labels: merge-editor

#158825 Merge Editor: update background and border colors
  src/vs/workbench/contrib/mergeEditor/browser/view/colors.ts
  src/vs/workbench/contrib/mergeEditor/browser/view/media/mergeEditor.css
Labels: merge-editor

#158865 Removes accidentally committed css change to improve debuggability.
  src/vs/workbench/contrib/mergeEditor/browser/view/media/mergeEditor.css
Labels: important

#158945 Merge Editor: minor updates to font and title bar styles
  src/vs/workbench/contrib/mergeEditor/browser/view/media/mergeEditor.css
Labels: merge-editor

#159002 Add swift to supported darwin document types
  build/lib/electron.js
  build/lib/electron.ts
Labels: macos

#159146 SCM - Ensure commit action button text is not bold
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#159180 Markers - Better fix for #156186
  src/vs/platform/markers/common/markerService.ts
  src/vs/workbench/contrib/markers/browser/markersModel.ts
Labels: error-list

#159065 SCM - Enable text dnd for commit input field
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#159441 Engineering - Disable Terrapin
  build/azure-pipelines/product-build.yml
Labels: engineering

#159446 Engineering - Disable Terrapin
  build/azure-pipelines/product-build.yml
Labels: engineering

#159439 Commit action button - do not add separator for an empty command group
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#159321 Sticky Scroll : Take into account child scope starting on the same line as the parent scope
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollProvider.ts
  src/vs/editor/contrib/stickyScroll/test/browser/stickyScroll.test.ts
Labels: bug, editor-sticky-scroll

#159315 [npm] package.json latest vue version incorrect
  extensions/npm/src/features/packageJSONContribution.ts
Labels: bug, json

#159475 Align code action command ids with suggest widget (#159349)
  src/vs/editor/contrib/codeAction/browser/codeActionCommands.ts
  src/vs/editor/contrib/codeAction/browser/codeActionMenu.ts
Labels: candidate

#159461 Git - Handle repository paths with a trailing \ character
  extensions/git/src/git.ts
  extensions/git/src/util.ts
Labels: git

#159305 Sticky Scroll : when several outline models are available, choose the one spanning the biggest total range
  src/vs/editor/contrib/documentSymbols/browser/outlineModel.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollProvider.ts
  src/vs/editor/contrib/stickyScroll/test/browser/stickyScroll.test.ts
Labels: bug, editor-sticky-scroll

#159568 Ordering the outermost outline elements in the function fromOutlineModel before calling fromOutlineElement
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollProvider.ts
Labels: bug, editor-sticky-scroll

#159594 Revert "Queue all parts of debug start that can require user input (#…
  src/vs/workbench/contrib/debug/browser/debugService.ts
Labels: candidate
