Repository microsoft/vscode, pull requests merged in 2022-07, with the labels that each got.

#153890 Git - Disable commit button while merge is in progress
  extensions/git/src/actionButton.ts
Labels: git

#154034 SCM - Fix issue with commit dropdown button
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#154057 SCM - Fix issue with commit dropdown button
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: candidate, scm

#154087 SCM - More focus related fixes to the commit action button
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#154091 SCM - Fix inconsistent outline for the commit action button
  src/vs/base/browser/ui/button/button.css
Labels: scm

#154088 SCM - Fix commit action button dropdown title
  src/vs/base/browser/ui/button/button.ts
Labels: scm

#154101 Git - Update commit button icon and tooltip based on branch protection
  extensions/git/src/actionButton.ts
Labels: git

#154187 Update UTC flags properly for 1DS
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/platform/telemetry/browser/1dsAppender.ts
  src/vs/platform/telemetry/common/1dsAppender.ts
  src/vs/platform/telemetry/node/1dsAppender.ts
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
Labels: bug, candidate, telemetry

#154269 GitHub - Add translation comment not to translate the $(github) codicon
  extensions/github/package.nls.json
Labels: github

#154299 Switch extensions to 1DS
  extensions/git/package.json
  extensions/git/yarn.lock
  extensions/github-authentication/package.json
  extensions/github-authentication/yarn.lock
  extensions/html-language-features/package.json
  extensions/image-preview/package.json
  extensions/image-preview/yarn.lock
  extensions/json-language-features/package.json
  extensions/json-language-features/yarn.lock
  extensions/markdown-language-features/package.json
  extensions/markdown-language-features/yarn.lock
  extensions/markdown-math/package.json
  extensions/merge-conflict/package.json
  extensions/microsoft-authentication/package.json
  extensions/microsoft-authentication/yarn.lock
  extensions/simple-browser/package.json
  extensions/simple-browser/yarn.lock
  extensions/typescript-language-features/package.json
  extensions/typescript-language-features/yarn.lock
Labels: telemetry

#154296 Remove app insights
  .eslintrc.json
  build/package.json
  build/yarn.lock
  package.json
  remote/package.json
  remote/web/package.json
  remote/web/yarn.lock
  remote/yarn.lock
  src/vs/base/common/product.ts
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/code/node/cliProcessMain.ts
  src/vs/platform/telemetry/browser/appInsightsAppender.ts
  src/vs/platform/telemetry/common/1dsAppender.ts
  src/vs/platform/telemetry/node/1dsAppender.ts
  src/vs/platform/telemetry/node/appInsightsAppender.ts
  src/vs/platform/telemetry/test/electron-browser/1dsAppender.test.ts
  src/vs/server/node/serverServices.ts
  src/vs/workbench/contrib/debug/node/telemetryApp.ts
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
  yarn.lock
Labels: telemetry

#154357 standalone theme service: improve detection, toggle
  src/vs/editor/standalone/browser/standaloneThemeService.ts
  src/vs/editor/standalone/browser/toggleHighContrast/toggleHighContrast.ts
Labels: bug, themes

#154169 Git - Commit action button should use smart commit settings
  extensions/git/src/actionButton.ts
Labels: git

#154109 ButtonWithDropdown separator style update
  src/vs/base/browser/ui/button/button.css
  src/vs/base/browser/ui/button/button.ts
Labels: ux, scm

#154368 storage - properly update is new only once (#153913)
  src/vs/workbench/services/storage/browser/storageService.ts
Labels: candidate

#154699 Fix compilation error
  extensions/markdown-language-features/extension.webpack.config.js
Labels: engineering

#154518 Problems view table - Fix code column rendering issue
  src/vs/workbench/contrib/markers/browser/markersTable.ts
  src/vs/workbench/contrib/markers/browser/media/markers.css
Labels: error-list

#154685 Git - Maintain spaces in the arguments
  extensions/git/src/git-editor.sh
Labels: git

#154781 Commit Action Button - Fix separator when button is disabled
  src/vs/base/browser/ui/button/button.css
  src/vs/base/browser/ui/button/button.ts
Labels: scm

#154785 Git - Maintain spaces in the arguments (#154685)
  extensions/git/src/git-editor.sh
Labels: git, candidate

#139779 Make hidden fold ranges independent of range provider, add manual fol…
  src/vs/editor/contrib/folding/browser/folding.ts
  src/vs/editor/contrib/folding/browser/foldingDecorations.ts
  src/vs/editor/contrib/folding/browser/foldingModel.ts
  src/vs/editor/contrib/folding/browser/foldingRanges.ts
  src/vs/editor/contrib/folding/browser/hiddenRangeModel.ts
  src/vs/editor/contrib/folding/browser/intializingRangeProvider.ts
  src/vs/editor/contrib/folding/test/browser/foldingRanges.test.ts
Labels: editor-folding

#154801 Allow to hide menu items from their respective menus
  src/vs/base/common/arrays.ts
  src/vs/base/test/common/arrays.test.ts
  src/vs/platform/actions/browser/dropdownWithPrimaryActionViewItem.ts
  src/vs/platform/actions/browser/menuEntryActionViewItem.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/platform/actions/common/menuService.ts
  src/vs/platform/actions/test/common/menuService.test.ts
  src/vs/workbench/browser/actions.ts
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/notebook/browser/controller/editActions.ts
  src/vs/workbench/contrib/notebook/browser/diff/diffComponents.ts
  src/vs/workbench/contrib/notebook/browser/diff/notebookTextDiffList.ts
  src/vs/workbench/contrib/notebook/browser/view/cellParts/cellActionView.ts
  src/vs/workbench/contrib/notebook/browser/view/cellParts/cellToolbars.ts
  src/vs/workbench/contrib/notebook/browser/viewParts/notebookEditorToolbar.ts
  src/vs/workbench/contrib/notebook/browser/viewParts/notebookTopCellToolbar.ts
  src/vs/workbench/contrib/terminal/browser/terminalMenus.ts
  src/vs/workbench/contrib/terminal/browser/terminalView.ts
  src/vs/workbench/contrib/testing/browser/testingExplorerView.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
Labels: menus

#154908 Commit Action button polish
  src/vs/base/browser/ui/button/button.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#154342 Git - fix edge case with Windows mapped drives
  extensions/git/src/git.ts
Labels: git

#154941 Emmet: Add back trigger character arguments
  extensions/emmet/src/emmetCommon.ts
Labels: candidate

#154799 Release 1.69: Reduce shell integration relaunch cases
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
Labels: candidate

#155053 git - Add localization comment for Publish Branch action button
  extensions/git/src/actionButton.ts
Labels: git

#155016 Fix typo in files.contribution.ts
  src/vs/workbench/contrib/files/browser/files.contribution.ts
Labels: triage-needed

#155140 Git - Use cloud icon for remote branches
  extensions/git/src/commands.ts
Labels: git

#155051 Git - Add events to IPostCommitCommandsProviderRegistry
  extensions/git/src/actionButton.ts
  extensions/git/src/model.ts
  extensions/git/src/postCommitCommands.ts
Labels: git

#155192 Sync Changes button - only show when local branch is ahead/behind the remote branch
  extensions/git/package.nls.json
  extensions/git/src/actionButton.ts
Labels: git

#155195 Settings editor - Boolean setting description should take up the full width instead of just 60%
  src/vs/workbench/contrib/preferences/browser/media/settingsWidgets.css
Labels: settings-editor

#155230 Switch to 1DS SDK + Fix importScripts Error
  extensions/git/package.json
  extensions/git/yarn.lock
  extensions/github-authentication/package.json
  extensions/github-authentication/yarn.lock
  extensions/html-language-features/package.json
  extensions/html-language-features/yarn.lock
  extensions/image-preview/package.json
  extensions/image-preview/yarn.lock
  extensions/json-language-features/package.json
  extensions/json-language-features/yarn.lock
  extensions/markdown-language-features/package.json
  extensions/markdown-language-features/yarn.lock
  extensions/markdown-math/package.json
  extensions/merge-conflict/package.json
  extensions/microsoft-authentication/package.json
  extensions/microsoft-authentication/yarn.lock
  extensions/shared.webpack.config.js
  extensions/simple-browser/package.json
  extensions/simple-browser/yarn.lock
  extensions/typescript-language-features/package.json
  extensions/typescript-language-features/yarn.lock
Labels: candidate

#155298 Add syntax highlighting for .env files without extensions
  extensions/ini/package.json
Labels: languages-basic

#155319 A11y bug: OS color settings are not respected
  src/vs/platform/theme/electron-main/themeMainService.ts
Labels: bug, themes

#152481 Support find widget in lists/trees
  src/vs/base/browser/ui/findinput/findInput.ts
  src/vs/base/browser/ui/list/list.css
  src/vs/base/browser/ui/list/listPaging.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/table/tableWidget.ts
  src/vs/base/browser/ui/toggle/toggle.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/media/tree.css
  src/vs/base/browser/ui/tree/tree.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/browser/actions/listCommands.ts
  src/vs/workbench/contrib/comments/browser/commentsTreeViewer.ts
  src/vs/workbench/contrib/debug/browser/debugHover.ts
  src/vs/workbench/contrib/debug/browser/loadedScriptsView.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViewer.ts
  src/vs/workbench/contrib/list/browser/list.contribution.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/notebook/browser/diff/notebookTextDiffEditor.ts
  src/vs/workbench/contrib/notebook/browser/diff/notebookTextDiffList.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts
  src/vs/workbench/contrib/notebook/browser/view/notebookCellList.ts
  src/vs/workbench/contrib/notebook/test/browser/testNotebookEditor.ts
  src/vs/workbench/contrib/outline/browser/outlinePane.ts
  src/vs/workbench/contrib/preferences/browser/settingsTree.ts
  src/vs/workbench/contrib/preferences/browser/tocTree.ts
  src/vs/workbench/contrib/testing/browser/testingExplorerView.ts
Labels: tree-widget

#155486 Git - Do not show SmartCommit dialog when using "Commit All"
  extensions/git/src/commands.ts
Labels: git

#155511 Git - The git.sync command should use the git.rebaseWhenSync setting
  extensions/git/src/actionButton.ts
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#155581 Button - fix style of the disabled dropdown button
  src/vs/base/browser/ui/button/button.css
Labels: scm

#155610 Engineering - update Code OSS pipeline
  build/azure-pipelines/darwin/product-build-darwin-test.yml
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/linux/product-build-linux-client-test.yml
  build/azure-pipelines/linux/product-build-linux-client.yml
  build/azure-pipelines/product-build-pr.yml
  build/azure-pipelines/product-compile.yml
  build/azure-pipelines/win32/product-build-win32-test.yml
  build/azure-pipelines/win32/product-build-win32.yml
Labels: engineering

#155641 LabelService - custom formatter function
  src/vs/platform/label/common/label.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/services/label/common/labelService.ts
  src/vs/workbench/services/label/test/browser/label.test.ts
Labels: scm, label-provider

#155725 [html] update service and fix url resolving
  extensions/html-language-features/server/package.json
  extensions/html-language-features/server/src/utils/documentContext.ts
  extensions/html-language-features/server/yarn.lock
Labels: bug, html

#155748 Git - Use GIT_EDITOR environment variable to suppress the git commit editor during rebase
  extensions/git/src/git.ts
Labels: git

#155779 Action button - remove button borders that are adjacent to the separator.
  src/vs/base/browser/ui/button/button.css
  src/vs/base/browser/ui/button/button.ts
  src/vs/platform/theme/common/colorRegistry.ts
Labels: scm

#155744 Git - Enable action button while rebasing
  extensions/git/src/actionButton.ts
Labels: git

#155811 Git - Add telemetry comments
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git

#155824 SCM - Fixed a regression due to which post-commit commands were not being executed
  extensions/git/src/commands.ts
Labels: scm

#155829 Engineering - Tactical change so that we do not run the Test stage for CodeOSS CI builds
  build/azure-pipelines/product-build-pr-cache.yml
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#155853 Problems view - Fix issue with the SCM input label provider when problems are displayed in a tree view
  src/vs/workbench/contrib/markers/browser/markersTreeViewer.ts
Labels: error-list

#155846 Add "Developer: Apply Update..." command
  src/vs/platform/update/common/update.ts
  src/vs/platform/update/common/updateIpc.ts
  src/vs/platform/update/electron-main/abstractUpdateService.ts
  src/vs/platform/update/electron-main/updateService.snap.ts
  src/vs/platform/update/electron-main/updateService.win32.ts
  src/vs/workbench/contrib/update/browser/update.contribution.ts
  src/vs/workbench/services/update/browser/updateService.ts
Labels: install-update

#154524 Closes #54285 adds webview/context contribution
  package.json
  src/vs/workbench/api/browser/mainThreadWebviewPanels.ts
  src/vs/workbench/contrib/customEditor/browser/customEditorInput.ts
  src/vs/workbench/contrib/customEditor/browser/customEditorInputFactory.ts
  src/vs/workbench/contrib/webview/browser/overlayWebview.ts
  src/vs/workbench/contrib/webview/browser/pre/index-no-csp.html
  src/vs/workbench/contrib/webview/browser/pre/index.html
  src/vs/workbench/contrib/webview/browser/webview.contribution.ts
  src/vs/workbench/contrib/webview/browser/webviewElement.ts
  src/vs/workbench/contrib/webviewView/browser/webviewViewPane.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.contribWebviewContext.d.ts
Labels: api-proposal

#152883 Add .nvmrc
  .nvmrc
Labels: triage-needed

#155923 Fix typo in languageDetectionWorkerServiceImpl.ts
  src/vs/workbench/services/languageDetection/browser/languageDetectionWorkerServiceImpl.ts
Labels: triage-needed

#155894 SCM - Create dedicated schema for the source control commit input
  src/vs/base/common/network.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#155310 fix: typos
  extensions/git/src/commands.ts
  src/vs/editor/common/services/getIconClasses.ts
  src/vs/workbench/browser/web.main.ts
  src/vs/workbench/services/configuration/browser/configurationService.ts
  src/vs/workbench/services/extensionManagement/browser/webExtensionsScannerService.ts
Labels: triage-needed

#156410 Git - fix edge case during rebase
  extensions/git/src/actionButton.ts
  extensions/git/src/commands.ts
Labels: git

#156417 Git - Fix regression with Commit action button icon
  extensions/git/src/actionButton.ts
Labels: git

#156490 Create and remove manual folding range use the same shortcut.
  src/vs/editor/contrib/folding/browser/folding.ts
Labels: editor-folding

#156493 Remove Manual Folding Range doesn't work
  src/vs/editor/contrib/folding/browser/folding.ts
Labels: editor-folding

#156273 manual folding ranges: memento does not store all sources
  src/vs/editor/contrib/folding/browser/folding.ts
  src/vs/editor/contrib/folding/browser/foldingModel.ts
  src/vs/editor/contrib/folding/browser/foldingRanges.ts
  src/vs/editor/contrib/folding/test/browser/foldingRanges.test.ts
Labels: editor-folding

#156537 Engineering - Code OSS pipeline to use generic node modules cache
  build/azure-pipelines/linux/product-build-linux-client.yml
Labels: engineering

#156540 Engineering - Add missing variable to cache maintenance job
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#156552 Engineering - unify all Code OSS pipeline jobs
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#156573 Consider using regular folding icons for manual or preserved folding ranges. Fixes #156279
  src/vs/editor/contrib/folding/browser/folding.css
  src/vs/editor/contrib/folding/browser/foldingDecorations.ts
Labels: editor-folding

#156578 Filtering the ranges with the hidden ranges from folding. Fixes #156268.
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
Labels: editor-sticky-scroll

#156650 Change the sticky scroll option to `editor.experimental.stickyScroll`
  src/vs/editor/common/config/editorOptions.ts
  src/vs/editor/common/standalone/standaloneEnums.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
  src/vs/monaco.d.ts
Labels: candidate

#156649 Include namespace in the sticky scroll. Fixes https://github.com/microsoft/vscode/issues/156611.
  src/vs/editor/contrib/stickyScroll/browser/stickyScroll.ts
Labels: candidate, editor-sticky-scroll
