Repository microsoft/vscode, pull requests merged in 2022-10, with the labels that each got.

#162444 Fixes #162275
  src/vs/workbench/contrib/mergeEditor/browser/view/conflictActions.ts
Labels: candidate

#162547 Fixes #162275
  src/vs/workbench/contrib/mergeEditor/browser/view/conflictActions.ts
Labels: candidate

#162560 Engineering - Add reason filter to issue notebooks
  .vscode/notebooks/endgame.github-issues
  .vscode/notebooks/my-endgame.github-issues
  .vscode/notebooks/verification.github-issues
Labels: engineering

#162562 Git - fix commitInProgress context key
  extensions/git/src/model.ts
  extensions/git/src/repository.ts
Labels: git

#162491 Simplify context menu usage from menus
  src/vs/editor/standalone/browser/standaloneServices.ts
  src/vs/platform/actions/browser/toolbar.ts
  src/vs/platform/contextview/browser/contextMenuService.ts
  src/vs/platform/contextview/browser/contextView.ts
  src/vs/workbench/browser/parts/editor/editorGroupView.ts
  src/vs/workbench/browser/parts/editor/titleControl.ts
  src/vs/workbench/browser/parts/titlebar/titlebarPart.ts
  src/vs/workbench/contrib/bulkEdit/browser/preview/bulkEditPane.ts
  src/vs/workbench/contrib/comments/browser/commentMenus.ts
  src/vs/workbench/contrib/comments/browser/commentNode.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
  src/vs/workbench/contrib/files/browser/views/openEditorsView.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/notebook/browser/notebookEditorWidget.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/contrib/remote/browser/tunnelView.ts
  src/vs/workbench/contrib/search/browser/searchView.ts
  src/vs/workbench/contrib/webview/browser/webviewElement.ts
  src/vs/workbench/electron-sandbox/parts/titlebar/titlebarPart.ts
  src/vs/workbench/services/contextmenu/electron-sandbox/contextmenuService.ts
Labels: debt

#162543 Fix references to non-existent `runTests` API
  src/vscode-dts/vscode.d.ts
Labels: triage-needed

#162479 Use correct context key service in code action widget
  src/vs/editor/contrib/codeAction/browser/codeActionUi.ts
  src/vs/editor/contrib/codeAction/browser/codeActionWidget.ts
Labels: candidate

#162599 debug: bump js-debug
  product.json
Labels: candidate

#162500 cli: point docs to the new RA extension ns
  cli/CONTRIBUTING.md
Labels: triage-needed

#162425 Adding context menu on the sticky scroll line (Fixes #162330)
  src/vs/editor/contrib/gotoSymbol/browser/link/clickLinkGesture.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollActions.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollController.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollWidget.ts
  src/vs/editor/contrib/stickyScroll/test/browser/stickyScroll.test.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/browser/parts/editor/breadcrumbsControl.ts
Labels: feature-request, editor-sticky-scroll

#162694 Fix race when loading notebook webviews (#162472)
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/webviewMessages.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/webviewPreloads.ts
Labels: candidate

#162720 💄 IWorkspaceTrustRequestService delayed insta
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
Labels: workspace-trust

#162731 send telemetry about git-exec duration
  extensions/git/src/git.ts
  extensions/git/src/main.ts
Labels: git

#161567 Fix #161565
  src/vs/platform/telemetry/common/telemetryService.ts
Labels: polish, telemetry

#162883 Update Get Started `h2` font weight
  src/vs/workbench/contrib/welcomeGettingStarted/browser/media/gettingStarted.css
Labels: debt, polish

#163400 Git - Fix typo in setting description
  extensions/git/package.nls.json
Labels: git

#163265 Fixes Merge editor saves files using the wrong newlines
  src/vs/workbench/contrib/mergeEditor/browser/model/mergeEditorModel.ts
Labels: candidate

#163405 Git - Fix Commit action button enablement regression
  extensions/git/src/actionButton.ts
Labels: git, candidate

#163423 Git- get commit input template in parallel with other operations
  extensions/git/src/repository.ts
Labels: git

#163425 Git - Show progress indicator while running fetch
  extensions/git/src/autofetch.ts
  extensions/git/src/repository.ts
Labels: git

#163335 Darken red colour in light theme for better contrast
  extensions/theme-defaults/themes/light_vs.json
  extensions/vscode-colorize-tests/test/colorize-results/12750_html.json
  extensions/vscode-colorize-tests/test/colorize-results/14119_less.json
  extensions/vscode-colorize-tests/test/colorize-results/25920_html.json
  extensions/vscode-colorize-tests/test/colorize-results/test-4287_pug.json
  extensions/vscode-colorize-tests/test/colorize-results/test-7115_xml.json
  extensions/vscode-colorize-tests/test/colorize-results/test-cssvariables_less.json
  extensions/vscode-colorize-tests/test/colorize-results/test-cssvariables_scss.json
  extensions/vscode-colorize-tests/test/colorize-results/test-embedding_html.json
  extensions/vscode-colorize-tests/test/colorize-results/test-regex_coffee.json
  extensions/vscode-colorize-tests/test/colorize-results/test-variables_css.json
  extensions/vscode-colorize-tests/test/colorize-results/test_coffee.json
  extensions/vscode-colorize-tests/test/colorize-results/test_cshtml.json
  extensions/vscode-colorize-tests/test/colorize-results/test_css.json
  extensions/vscode-colorize-tests/test/colorize-results/test_handlebars.json
  extensions/vscode-colorize-tests/test/colorize-results/test_hbs.json
  extensions/vscode-colorize-tests/test/colorize-results/test_html.json
  extensions/vscode-colorize-tests/test/colorize-results/test_jsx.json
  extensions/vscode-colorize-tests/test/colorize-results/test_less.json
  extensions/vscode-colorize-tests/test/colorize-results/test_md.json
  extensions/vscode-colorize-tests/test/colorize-results/test_pug.json
  extensions/vscode-colorize-tests/test/colorize-results/test_scss.json
  extensions/vscode-colorize-tests/test/colorize-results/test_xml.json
Labels: accessibility

#163695 Git - adopt log output channel api
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/log.ts
  extensions/git/src/main.ts
  extensions/git/src/model.ts
  extensions/git/src/protocolHandler.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
Labels: git

#163854 Remove too many folding regions notification
  build/lib/i18n.resources.json
  extensions/json-language-features/client/src/jsonClient.ts
  extensions/json-language-features/client/src/languageStatus.ts
  extensions/json-language-features/server/README.md
  extensions/json-language-features/server/src/jsonServer.ts
  src/vs/editor/contrib/folding/browser/folding.ts
  src/vs/editor/contrib/folding/browser/indentRangeProvider.ts
  src/vs/editor/contrib/folding/browser/syntaxRangeProvider.ts
  src/vs/editor/contrib/folding/test/browser/foldingRanges.test.ts
  src/vs/editor/contrib/folding/test/browser/indentFold.test.ts
  src/vs/editor/contrib/folding/test/browser/syntaxFold.test.ts
  src/vs/workbench/contrib/folding/browser/folding.contribution.ts
  src/vs/workbench/contrib/notebook/browser/viewModel/foldingModel.ts
  src/vs/workbench/workbench.common.main.ts
Labels: feature-request, plan-item, editor-folding

#163756 Git - Get HEAD details in parallel
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#162285 Add extension signature verification service
  src/vs/code/electron-browser/sharedProcess/sharedProcessMain.ts
  src/vs/code/node/cliProcessMain.ts
  src/vs/platform/environment/common/environment.ts
  src/vs/platform/environment/common/environmentService.ts
  src/vs/platform/extensionManagement/common/abstractExtensionManagementService.ts
  src/vs/platform/extensionManagement/common/extensionGalleryService.ts
  src/vs/platform/extensionManagement/common/extensionManagement.ts
  src/vs/platform/extensionManagement/common/extensionManagementIpc.ts
  src/vs/platform/extensionManagement/common/extensionManagementUtil.ts
  src/vs/platform/extensionManagement/node/extensionDownloader.ts
  src/vs/platform/extensionManagement/node/extensionManagementService.ts
  src/vs/platform/extensionManagement/node/extensionSignatureVerificationService.ts
  src/vs/platform/extensionManagement/test/node/installGalleryExtensionTask.test.ts
  src/vs/server/node/remoteExtensionHostAgentCli.ts
  src/vs/server/node/serverServices.ts
  src/vs/workbench/contrib/extensions/test/electron-browser/extensionRecommendationsService.test.ts
  src/vs/workbench/contrib/extensions/test/electron-browser/extensionsWorkbenchService.test.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts
  src/vs/workbench/services/extensionManagement/common/webExtensionManagementService.ts
  src/vs/workbench/services/extensionManagement/electron-sandbox/nativeExtensionManagementService.ts
  src/vs/workbench/services/extensionManagement/electron-sandbox/remoteExtensionManagementService.ts
  src/vs/workbench/test/browser/workbenchTestServices.ts
Labels: extensions

#164128 Git - catch exceptions while fast-forwarding a branch
  extensions/git/src/commands.ts
Labels: git

#163990 Git - Extract querying for status so that it can run in parallel with the other operations
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#163926 Git - implement cancellation for updating the model
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#164242 Git - Add operation start/end trace log
  extensions/git/src/repository.ts
Labels: git

#164245 tunnel command polish
  src/vs/platform/remoteTunnel/common/remoteTunnel.ts
  src/vs/platform/remoteTunnel/electron-browser/remoteTunnelService.ts
  src/vs/workbench/contrib/remoteTunnel/electron-sandbox/remoteTunnel.contribution.ts
Labels: remote

#164151 Git - parse config file for remotes
  extensions/git/src/git.ts
  extensions/git/src/test/git.test.ts
Labels: git

#157434 feat: select the folding provider to use
  src/vs/editor/common/languages.ts
  src/vs/editor/contrib/folding/browser/folding.ts
  src/vs/workbench/api/browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostLanguageFeatures.ts
  src/vs/workbench/contrib/folding/browser/folding.contribution.ts
Labels: editor-folding

#164450 Git - getSCMResource() should also look at the merge group
  extensions/git/src/commands.ts
Labels: git

#164455 Engineering - Pin macOS build agent
  build/azure-pipelines/product-build-pr.yml
  build/azure-pipelines/product-build.yml
Labels: engineering

#164487 remote tunnel access polish
  src/vs/platform/remoteTunnel/electron-browser/remoteTunnelService.ts
  src/vs/workbench/contrib/remoteTunnel/electron-sandbox/remoteTunnel.contribution.ts
Labels: remote

#164855 Engineering - Add quality in the build name
  build/azure-pipelines/product-build.yml
Labels: engineering

#164566 Engineering - adopt l10n for git-base/git/github extesions
  extensions/git-base/package.json
  extensions/git-base/src/remoteSource.ts
  extensions/git-base/yarn.lock
  extensions/git/package.json
  extensions/git/src/actionButton.ts
  extensions/git/src/askpass-main.ts
  extensions/git/src/askpass.ts
  extensions/git/src/autofetch.ts
  extensions/git/src/commands.ts
  extensions/git/src/main.ts
  extensions/git/src/model.ts
  extensions/git/src/postCommitCommands.ts
  extensions/git/src/protocolHandler.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
  extensions/git/src/timelineProvider.ts
  extensions/git/yarn.lock
  extensions/github/package.json
  extensions/github/src/publish.ts
  extensions/github/src/pushErrorHandler.ts
  extensions/github/yarn.lock
Labels: git, L10N

#164746 Commit Action button polish
  extensions/git/src/actionButton.ts
  extensions/git/src/commands.ts
  extensions/git/src/postCommitCommands.ts
  extensions/git/src/repository.ts
Labels: git

#164889 💄 Diff decorators - remove registerThemingParticipant
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/browser/media/dirtydiffDecorator.css
Labels: debt, scm

#164986 Port md fixes to release branch
  extensions/markdown-language-features/server/package.json
  extensions/markdown-language-features/server/src/workspace.ts
  extensions/markdown-language-features/server/yarn.lock
Labels: candidate

#165038 💄 SCM - Remove registerThemingParticipant
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: debt, scm

#165048 SCM - fix action button border
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#165060 remove tunnelApplicationConfig and handle in cli in release/1.73
  package.json
  src/vs/code/node/cli.ts
Labels: candidate

#164863 Fix text of IW command palette entries (#164860)
  src/vs/workbench/contrib/interactive/browser/interactive.contribution.ts
Labels: triage-needed
