Repository microsoft/vscode, pull requests merged in 2022-09, with the labels that each got.

#159712 Fixes broken web telemetry
  src/vs/workbench/services/telemetry/browser/telemetryService.ts
Labels: bug, telemetry

#160102 Git - Initial repository scan telemetry
  extensions/git/src/model.ts
Labels: git

#160117 Git - fix telemetry comment
  extensions/git/src/model.ts
Labels: git

#160146 fix tests
  extensions/css-language-features/server/src/test/links.test.ts
Labels: css-less-scss

#158250 Optional TreeItem Checkbox
  extensions/vscode-api-tests/package.json
  src/vs/workbench/api/browser/mainThreadTreeViews.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostTreeViews.ts
  src/vs/workbench/api/common/extHostTypes.ts
  src/vs/workbench/browser/checkbox.ts
  src/vs/workbench/browser/parts/views/media/views.css
  src/vs/workbench/browser/parts/views/treeView.ts
  src/vs/workbench/common/views.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.treeItemCheckbox.d.ts
Labels: api, api-proposal

#160233 Revert "Fix language-specific tab expansion and polish (#157035)"
  extensions/emmet/package.json
  extensions/emmet/src/abbreviationActions.ts
  extensions/emmet/src/defaultCompletionProvider.ts
  extensions/emmet/src/selectItemHTML.ts
  src/vs/workbench/contrib/emmet/browser/emmetActions.ts
Labels: candidate

#160213 Disable WCO by default
  src/vs/workbench/electron-sandbox/desktop.contribution.ts
Labels: candidate

#159753 Git - Add merge abort command
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/actionButton.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#159291 Git - discover nested git repositories
  extensions/git/src/model.ts
Labels: git

#159573 Git - implement SSH_ASKPASS handler
  extensions/git/src/askpass-main.ts
  extensions/git/src/askpass.sh
  extensions/git/src/askpass.ts
  extensions/git/src/ssh-askpass-empty.sh
  extensions/git/src/ssh-askpass.sh
Labels: git

#160348 GitHub - publish repository
  extensions/github/package.json
  extensions/github/src/publish.ts
  extensions/github/yarn.lock
Labels: git

#160490 Engineering - Add timeout and retries to the task to download Electron and Playwright
  build/azure-pipelines/darwin/product-build-darwin-test.yml
  build/azure-pipelines/linux/product-build-linux-client-test.yml
  build/azure-pipelines/win32/product-build-win32-test.yml
Labels: engineering

#160527 Git - Add the ability to commit and not execute a post-commit command
  extensions/git/src/api/git.d.ts
  extensions/git/src/repository.ts
  extensions/github/src/publish.ts
  extensions/github/src/typings/git.d.ts
Labels: git

#160546 GitHub - Disable command & view in codespaces
  extensions/git/package.json
  extensions/github/package.json
Labels: github-codespaces

#160597 Git - Disable git.init command, and a welcome view that uses the git.init command in codespaces
  extensions/git/package.json
Labels: github-codespaces

#160655 Tooltip for checkboxes
  src/vs/workbench/api/browser/mainThreadTreeViews.ts
  src/vs/workbench/api/common/extHostTreeViews.ts
  src/vs/workbench/api/common/extHostTypes.ts
  src/vs/workbench/browser/checkbox.ts
  src/vs/workbench/browser/parts/views/treeView.ts
  src/vs/workbench/common/views.ts
  src/vscode-dts/vscode.proposed.treeItemCheckbox.d.ts
Labels: api-proposal

#159937 fix: dynamic debug of node.js terminal types failing
  product.json
Labels: candidate

#160332 [release/1.71] Disables the canvas renderer on Safari
  src/vs/workbench/contrib/terminal/browser/xterm/xtermTerminal.ts
Labels: candidate

#160210 [release/1.71] Remove reliance on sed -r
  src/vs/workbench/contrib/terminal/browser/media/shellIntegration-bash.sh
Labels: candidate

#160878 Engineering - use specific image version
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#160551 Disable WCO by default in main process
  src/vs/platform/window/common/window.ts
Labels: candidate

#160216 Disable WCO by default
  src/vs/workbench/electron-sandbox/desktop.contribution.ts
Labels: candidate

#159644 Git - Improve git fetch command for repositories with multiple remotes
  extensions/git/src/commands.ts
Labels: git

#160234 Revert "Fix language-specific tab expansion and polish (#157035)"
  extensions/emmet/package.json
  extensions/emmet/src/abbreviationActions.ts
  extensions/emmet/src/defaultCompletionProvider.ts
  extensions/emmet/src/selectItemHTML.ts
  src/vs/workbench/contrib/emmet/browser/emmetActions.ts
Labels: candidate

#160916 GitHub - Tweak working of the GitHub publishing welcome view
  extensions/github/package.nls.json
Labels: github

#160834 Commit dropdown button uses text-overflow
  extensions/git/src/actionButton.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/postCommitCommands.ts
  extensions/github/src/typings/git.d.ts
  src/vs/base/browser/ui/button/button.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#160935 Git - Do not override SSH_ASKPASS for the terminal
  extensions/git/src/askpass.ts
Labels: git, ssh

#160181 Git - Add the ability to fetch a branch before it is checked out
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#161092 Enable git.fetchBeforeCheckout
  .vscode/settings.json
Labels: engineering

#161385 Git - Checkout command aria label now includes the branch name
  extensions/git/src/statusbar.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: git

#161578 Engingeering - Lazy initialization for ISCMService, ISCMViewService
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm, engineering

#160357 Enable auto-close of multi-line comments in cpp
  extensions/cpp/language-configuration.json
Labels: feature-request, languages-basic, verification-needed

#161642 fix: propagate log level to client
  src/vs/server/node/webClientServer.ts
Labels: triage-needed

#161859 Update inlay hints contrast
  src/vs/platform/theme/common/colorRegistry.ts
Labels: inlay-hints

#160385 Update Groovy extension language contribution
  extensions/groovy/package.json
Labels: triage-needed

#162052 Revert "Engineering - use specific image version (#160878)"
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#162144 Git protocol handler improvements
  extensions/git/src/protocolHandler.ts
Labels: git

#162146 Changing the z-index of the find options widget (Fixes #160627)
  src/vs/editor/contrib/find/browser/findOptionsWidget.ts
Labels: bug, editor-sticky-scroll

#154013 Python conventional changes + typo
  extensions/python/test/colorize-fixtures/test.py
Labels: triage-needed

#162306 Git - Use modal dialog after cloning a repository
  extensions/git/src/commands.ts
Labels: git

#162303 Git - Rename git.fetchBeforeCheckout to git.pullBeforeCheckout
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git
