Repository microsoft/vscode, pull requests merged in 2022-04, with the labels that each got.

#146711 Handle some URIs in new windows
  src/vs/code/electron-main/app.ts
Labels: workbench-os-integration

#146742 Rename user facing instances of SCM to Source Control
  src/vs/workbench/contrib/preferences/browser/settingsLayout.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#146817 Use `style="unicode-bidi:isolate"` instead of `dir="auto"` for parts containing RTL
  src/vs/editor/common/viewLayout/viewLineRenderer.ts
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Labels: candidate

#146724 SCM - Add settings to toggle diff decorator pattern
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#146872 chore: bump distro
  package.json
Labels: candidate

#146842 Do not render whitespace in tokens that contain RTL text
  src/vs/editor/common/viewLayout/viewLineRenderer.ts
  src/vs/editor/test/common/viewLayout/viewLineRenderer.test.ts
Labels: candidate

#146860 Add an eager `pointerup` listener which shouldn't miss any events
  src/vs/editor/browser/controller/mouseHandler.ts
Labels: candidate

#146274 variables: allow resolving `extensionDir`
  extensions/configuration-editing/src/configurationEditingMain.ts
  src/vs/base/common/strings.ts
  src/vs/base/test/common/strings.test.ts
  src/vs/server/node/remoteTerminalChannel.ts
  src/vs/server/node/serverServices.ts
  src/vs/workbench/api/browser/mainThreadExtensionService.ts
  src/vs/workbench/api/common/extHost.common.services.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostDebugService.ts
  src/vs/workbench/api/common/extHostExtensionService.ts
  src/vs/workbench/api/common/extHostVariableResolverService.ts
  src/vs/workbench/api/node/extHost.node.services.ts
  src/vs/workbench/api/node/extHostDebugService.ts
  src/vs/workbench/api/node/extHostTask.ts
  src/vs/workbench/api/node/extHostVariableResolverService.ts
  src/vs/workbench/contrib/terminal/browser/terminalProcessManager.ts
  src/vs/workbench/contrib/terminal/browser/terminalProfileResolverService.ts
  src/vs/workbench/contrib/terminal/common/environmentVariable.ts
  src/vs/workbench/contrib/terminal/common/environmentVariableCollection.ts
  src/vs/workbench/contrib/terminal/common/terminalEnvironment.ts
  src/vs/workbench/contrib/terminal/electron-sandbox/localTerminalBackend.ts
  src/vs/workbench/contrib/terminal/test/common/environmentVariableCollection.test.ts
  src/vs/workbench/contrib/terminal/test/common/environmentVariableService.test.ts
  src/vs/workbench/contrib/terminal/test/common/terminalEnvironment.test.ts
  src/vs/workbench/services/configurationResolver/browser/baseConfigurationResolverService.ts
  src/vs/workbench/services/configurationResolver/browser/configurationResolverService.ts
  src/vs/workbench/services/configurationResolver/common/configurationResolver.ts
  src/vs/workbench/services/configurationResolver/common/variableResolver.ts
  src/vs/workbench/services/configurationResolver/electron-sandbox/configurationResolverService.ts
  src/vs/workbench/services/configurationResolver/test/electron-browser/configurationResolverService.test.ts
Labels: variable-resolving

#146968 Fix editor eating ContextMenu key when contexmenu is disabled
  src/vs/editor/contrib/contextmenu/browser/contextmenu.ts
Labels: triage-needed

#147091 Bump to mocha@9
  package.json
  yarn.lock
Labels: engineering

#147001 SCM - Source Control Repositories view sort setting
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewService.ts
Labels: scm

#147666 sandbox - more sandboxed usages in ext host starter
  src/vs/base/common/platform.ts
  src/vs/base/common/processes.ts
  src/vs/base/node/processes.ts
  src/vs/base/parts/ipc/node/ipc.cp.ts
  src/vs/base/parts/sandbox/electron-browser/preload.js
  src/vs/base/parts/sandbox/electron-sandbox/globals.ts
  src/vs/platform/native/common/native.ts
  src/vs/platform/native/electron-main/nativeHostMainService.ts
  src/vs/platform/sharedProcess/electron-browser/sharedProcessWorkerMain.ts
  src/vs/server/node/extensionHostConnection.ts
  src/vs/workbench/services/extensions/electron-browser/localProcessExtensionHost.ts
  src/vs/workbench/test/electron-browser/workbenchTestServices.ts
Labels: sandbox

#147598 Disable a breakpoint on shift+click
  src/vs/workbench/contrib/debug/browser/breakpointEditorContribution.ts
Labels: debug

#145899 Address heuristic when stage ranges act on same line number diff
  extensions/git/src/staging.ts
Labels: git

#147825 SCM - surface sorting options in the menus
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewService.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#147849 SCM - polish changes sorting experience
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#147613 Enrich Git extension's remote source provider API
  extensions/git-base/src/api/git-base.d.ts
  extensions/git-base/src/remoteSource.ts
  extensions/github/src/remoteSourceProvider.ts
  extensions/github/src/typings/git-base.d.ts
Labels: git, github

#147930 Fixes #147420
  extensions/github/src/remoteSourceProvider.ts
Labels: github

#148172 Fixes #148162
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
Labels: scm

#148461 chore: bump js-debug
  product.json
Labels: candidate
