Repository microsoft/vscode, pull requests merged in 2022-01, with the labels that each got.

#133643 debug: read/write memory support
  src/vs/base/common/buffer.ts
  src/vs/base/test/common/buffer.test.ts
  src/vs/base/test/common/mock.ts
  src/vs/workbench/contrib/debug/browser/baseDebugView.ts
  src/vs/workbench/contrib/debug/browser/debug.contribution.ts
  src/vs/workbench/contrib/debug/browser/debugIcons.ts
  src/vs/workbench/contrib/debug/browser/debugMemory.ts
  src/vs/workbench/contrib/debug/browser/debugService.ts
  src/vs/workbench/contrib/debug/browser/debugSession.ts
  src/vs/workbench/contrib/debug/browser/media/debugViewlet.css
  src/vs/workbench/contrib/debug/browser/rawDebugSession.ts
  src/vs/workbench/contrib/debug/browser/variablesView.ts
  src/vs/workbench/contrib/debug/common/debug.ts
  src/vs/workbench/contrib/debug/common/debugModel.ts
  src/vs/workbench/contrib/debug/common/debugViewModel.ts
  src/vs/workbench/contrib/debug/test/browser/baseDebugView.test.ts
  src/vs/workbench/contrib/debug/test/browser/debugHover.test.ts
  src/vs/workbench/contrib/debug/test/browser/debugMemory.test.ts
  src/vs/workbench/contrib/debug/test/browser/mockDebug.ts
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
  src/vs/workbench/test/browser/api/extHostTesting.test.ts
Labels: feature-request, debug

#138054 Enable IPC API for web
  build/lib/layersChecker.js
  build/lib/layersChecker.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostExtensionService.ts
  src/vs/workbench/services/extensions/browser/webWorkerExtensionHost.ts
  src/vs/workbench/services/extensions/common/extensionHostMain.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/services/extensions/worker/extensionHostWorker.ts
  src/vs/workbench/services/extensions/worker/webWorkerExtensionHostIframe.html
  src/vs/workbench/workbench.web.api.ts
  src/vscode-dts/vscode.proposed.ipc.d.ts
Labels: api

#140038 Include root for postDebugTask
  src/vs/workbench/contrib/debug/browser/debugService.ts
Labels: debug

#140163 Web: publish web files.txt
  build/azure-pipelines/upload-cdn.js
  build/azure-pipelines/upload-cdn.ts
Labels: engineering, web

#140152 code-insiders --status results in error
  src/vs/platform/launch/electron-main/launchMainService.ts
  src/vs/workbench/contrib/remote/electron-sandbox/remote.contribution.ts
Labels: workbench-diagnostics

#120467 fix #118617 use term 'remote' when referring to lack of upstream branch
  extensions/git/src/commands.ts
Labels: git

#140260 Git - add setting to control repository scan depth
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/model.ts
Labels: git

#123232 Add Source Control View Sort to Storage
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#140320 editors - fix typo
  src/vs/workbench/browser/parts/editor/editorPanes.ts
Labels: triage-needed

#140532 Fix connection token parsing
  src/vs/server/main.js
  src/vs/server/remoteExtensionHostAgentServer.ts
Labels: triage-needed

#140595 delegate encryption and credentials to server if we have a remote
  package.json
  src/vs/base/parts/ipc/common/ipc.ts
  src/vs/code/browser/workbench/workbench.ts
  src/vs/code/electron-main/app.ts
  src/vs/code/electron-main/auth.ts
  src/vs/platform/encryption/node/encryptionMainService.ts
  src/vs/server/remoteExtensionHostAgentServer.ts
  src/vs/workbench/browser/web.main.ts
  src/vs/workbench/services/encryption/browser/encryptionService.ts
Labels: triage-needed

#139881 API: Allow to use the file watcher for aribitrary folders (#3025)
  extensions/typescript-language-features/src/languageFeatures/updatePathsOnRename.ts
  extensions/vscode-api-tests/src/memfs.ts
  extensions/vscode-api-tests/src/singlefolder-tests/workspace.watcher.test.ts
  src/vs/workbench/api/browser/mainThreadFileSystem.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostFileSystemEventService.ts
  src/vs/workbench/api/common/extHostTypeConverters.ts
  src/vs/workbench/api/common/extHostTypes.ts
  src/vs/workbench/api/common/extHostWorkspace.ts
  src/vs/workbench/test/browser/api/extHostFileSystemEventService.test.ts
  src/vs/workbench/test/browser/api/extHostWorkspace.test.ts
  src/vscode-dts/vscode.d.ts
Labels: api, file-watcher, api-proposal

#139140 Restrict vscode-file requests to main window
  src/vs/code/electron-main/app.ts
  src/vs/platform/windows/electron-main/window.ts
Labels: triage-needed

#140927 make sure that proxied functions return dto'ed types
  src/vs/base/common/types.ts
  src/vs/workbench/api/browser/mainThreadCommands.ts
  src/vs/workbench/api/browser/mainThreadTesting.ts
  src/vs/workbench/api/browser/mainThreadTimeline.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostCommands.ts
  src/vs/workbench/api/common/extHostDebugService.ts
  src/vs/workbench/api/common/extHostTask.ts
  src/vs/workbench/api/common/shared/tasks.ts
  src/vs/workbench/services/extensions/common/proxyIdentifier.ts
Labels: engineering

#141130 creating pr's section
  CONTRIBUTING.md
Labels: triage-needed

#140293 New git welcome missing guide
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/main.ts
Labels: git

#141592 Workspace trust - Startup dialog goes through the request service
  src/vs/platform/workspace/common/workspaceTrust.ts
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/testWorkspaceTrustService.ts
Labels: workspace-trust

#141730 Check that the `/build/` folder compiles and all `.js` is checked in
  .github/workflows/check-clean-git-state.sh
  .github/workflows/ci.yml
Labels: engineering

#141765 Restart the local extension host automatically after a crash
  src/vs/workbench/services/extensions/electron-browser/extensionService.ts
Labels: extension-host

#141818 Trim characters off match instead to get key, fixes #141614
  src/vs/workbench/contrib/preferences/browser/settingsTree.ts
Labels: bug, candidate, settings-editor, regression
