Repository microsoft/vscode, pull requests merged in 2022-12, with the labels that each got.

#167812 Git - Fix command name
  extensions/git/package.json
Labels: git

#167832 Git - Update unsafe repositories link
  extensions/git/package.nls.json
  extensions/git/src/model.ts
Labels: git

#167898 Disable passing in locale to Electron on macOS (#167889)
  src/main.js
Labels: candidate

#167953 tunnels: add preview dialog for turning on tunnel access
  cli/src/commands/args.rs
  src/vs/workbench/contrib/remoteTunnel/electron-sandbox/remoteTunnel.contribution.ts
Labels: candidate

#168063 Engineering - Update classifier
  .github/classifier.json
Labels: engineering

#168170 Engineering - Exclude engineering label from missing types query
  .vscode/notebooks/my-work.github-issues
Labels: engineering

#168297 Git - Do not pop the stash as part of the "Stash & Checkout" action
  extensions/git/src/commands.ts
Labels: git

#166547 Refactor css
  src/vs/workbench/contrib/welcomeWalkthrough/browser/media/walkThroughPart.css
  src/vs/workbench/contrib/welcomeWalkthrough/browser/walkThroughPart.ts
Labels: getting-started

#168334 Engineering - Update classifier
  .github/classifier.json
Labels: engineering

#168340 Workspace trust - Rename "Configure Workspace Trust" action
  src/vs/workbench/contrib/workspace/browser/workspace.contribution.ts
Labels: workspace-trust

#168356 Revert "Fix: New md file scrolls to Top. (#164999)" (#168224)
  extensions/markdown-language-features/preview-src/index.ts
  extensions/markdown-language-features/src/preview/preview.ts
Labels: candidate

#168359 Fix translation string
  extensions/typescript-language-features/src/tsServer/serverProcess.electron.ts
Labels: candidate

#168421 Git - Fix error handling regression
  extensions/git/src/repository.ts
Labels: git, candidate

#159113 Fix: make git commands work with keyboard
  extensions/git/src/commands.ts
Labels: git

#156084 feat: screencast mode move scale
  src/vs/workbench/browser/actions/developerActions.ts
Labels: screencast-mode

#168469 screencast: handle duplicate keyboard shortcuts
  src/vs/workbench/browser/actions/developerActions.ts
Labels: screencast-mode

#168503 Pick up TS 4.9.4
  extensions/package.json
  extensions/yarn.lock
Labels: candidate

#168519 Make sure `lib.d.ts` is included in build
  build/.moduleignore
Labels: candidate

#168593 Git - fix untracked group commands
  extensions/git/src/model.ts
Labels: git

#168628 SCM - fix placeholder position
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#168568 Git - Improve unsafe repository handling
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/model.ts
Labels: git

#168636 fix `HISTFILE` issues
  src/vs/workbench/contrib/terminal/browser/media/shellIntegration-rc.zsh
Labels: candidate

#168623 remove task from in progress when it terminates
  src/vs/workbench/contrib/tasks/browser/abstractTaskService.ts
Labels: candidate

#168986 When `tabSize` is set via API, also set `indentSize` to the same value
  src/vs/workbench/api/browser/mainThreadEditor.ts
Labels: candidate

#166821 Terminal Tabs: disable dragging and clicking during renaming
  src/vs/workbench/contrib/terminal/browser/terminal.ts
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalService.ts
  src/vs/workbench/contrib/terminal/browser/terminalTabsList.ts
Labels: feature-request, verification-needed

#169044 update `inProgressTasks` in `executeTask`
  src/vs/workbench/contrib/tasks/browser/abstractTaskService.ts
Labels: candidate

#169072 Fix terminal locale handling
  src/main.js
Labels: candidate

#169124 Git - Disable git commands while commit is in progress
  extensions/git/package.json
Labels: git

#169133 Git - Disable git status bar items while commit is running
  extensions/git/src/statusbar.ts
Labels: git

#169233 Git - status bar item improvements
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#169251 Git - Add button to migrate changes during checkout
  extensions/git/src/commands.ts
Labels: git

#169258 Git - Remove duplicate resources to have the correct resource count in the discard dialog
  extensions/git/src/commands.ts
Labels: git

#169292 Git - more tweaks to command enablement
  extensions/git/package.json
  extensions/git/src/model.ts
  extensions/git/src/statusbar.ts
Labels: git

#169371 Git - Add the capability to "attach" state to operations
  extensions/git/src/actionButton.ts
  extensions/git/src/autofetch.ts
  extensions/git/src/model.ts
  extensions/git/src/postCommitCommands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#169387 Git - Do not pull before checkout when checking out detached
  extensions/git/src/repository.ts
Labels: git

#169394 Git - better handling for failed stash creation
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git

#169397 Git - fix discard changes when the repository does not have an initial commit
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#169530 Git - Fix Sync button layout regression
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#169539 Git - Add support for git stash --staged
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/main.ts
  extensions/git/src/repository.ts
Labels: git

#169571 Git - Remove remote quick pick includes description and icon
  extensions/git/src/commands.ts
Labels: git

#169576 remove mac specific styling for WCO (#169549)
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
Labels: candidate

#169555 offside languages: changing ignoreTrimWhitespace default to false
  extensions/clojure/package.json
  extensions/coffeescript/package.json
  extensions/fsharp/package.json
  extensions/markdown-basics/package.json
  extensions/pug/package.json
  extensions/python/package.json
  extensions/yaml/package.json
Labels: languages-basic

#169594 fix: disable AutoDisableAccessibility feature (#169201)
  src/main.js
Labels: candidate

#169627 Engineering - Add Windows test jobs to PR pipeline
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#169675 Engineering - Create Windows job to maintain cache
  build/azure-pipelines/product-build-pr-cache-win32.yml
  build/azure-pipelines/product-build-pr.yml
Labels: engineering

#169727 Engineering - Windows job use generic node modules cache when quality is OSS
  build/azure-pipelines/win32/product-build-win32.yml
Labels: engineering

#169736 Engineering - do not extract node modules archive in the job that keeps the cache warm
  build/azure-pipelines/product-build-pr-cache-win32.yml
  build/azure-pipelines/product-build-pr-cache.yml
Labels: engineering

#169739 Revert "Engineering - do not extract node modules archive in the job that keeps the cache warm (#169736)"
  build/azure-pipelines/product-build-pr-cache-win32.yml
  build/azure-pipelines/product-build-pr-cache.yml
Labels: engineering

#169518 Git - Define Operations as types
  extensions/git/src/actionButton.ts
  extensions/git/src/autofetch.ts
  extensions/git/src/model.ts
  extensions/git/src/operation.ts
  extensions/git/src/postCommitCommands.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#169274 Git - Fix bug when we checkout a remote branch detached
  extensions/git/src/commands.ts
Labels: git

#169781 Git - Add `blocking` property to operation types
  extensions/git/src/model.ts
  extensions/git/src/operation.ts
Labels: git

#169824 Git - fix issue with optimistic ui updates
  extensions/git/src/repository.ts
Labels: git

#137962 Retain maximized group size when adding and removing groups or toggling side bar
  src/vs/base/browser/ui/grid/gridview.ts
  src/vs/base/browser/ui/splitview/splitview.ts
  src/vs/workbench/browser/parts/editor/editorGroupView.ts
  src/vs/workbench/browser/parts/editor/editorPart.ts
Labels: splitview-widget

#169777 Extensions: warn not fail on UnknownError during signature verification
  src/vs/platform/extensionManagement/common/abstractExtensionManagementService.ts
  src/vs/platform/extensionManagement/node/extensionDownloader.ts
  src/vs/platform/extensionManagement/node/extensionManagementService.ts
  src/vs/platform/extensionManagement/node/extensionSignatureVerificationService.ts
  src/vs/platform/extensionManagement/test/node/installGalleryExtensionTask.test.ts
Labels: extensions

#170272 Git - disable publish branch action button when in detached mode
  extensions/git/src/actionButton.ts
Labels: git
