Repository microsoft/vscode, pull requests merged in 2023-05, with the labels that each got.

#181125 Fixes `PieceTreeBase.equal`
  src/vs/editor/common/model/pieceTreeTextBuffer/pieceTreeBase.ts
  src/vs/editor/test/common/model/pieceTreeTextBuffer/pieceTreeTextBuffer.test.ts
Labels: candidate

#181286 cli: tunnels can sporadically become unresponsive
  cli/src/msgpack_rpc.rs
Labels: candidate

#180946 Diff decorators - honor reduce motion setting
  src/vs/workbench/contrib/scm/browser/media/dirtydiffDecorator.css
Labels: scm

#181402 Git - do not show publish branch action button when a tag is checked out
  extensions/git/src/actionButton.ts
Labels: git

#181880 GitHub - refactor branch protection
  extensions/github/package.json
  extensions/github/src/auth.ts
  extensions/github/src/branchProtection.ts
  extensions/github/yarn.lock
Labels: github

#181924 GitHub - update authentication flow for branch protection
  extensions/github/src/auth.ts
  extensions/github/src/branchProtection.ts
Labels: github

#182054 candidate: bump @vscode/proxy-agent
  package.json
  remote/package.json
  remote/yarn.lock
  yarn.lock
Labels: candidate

#182032 SCM - fix action bar regression
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: candidate, scm

#181884 Git - add setting to control default branch name
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: git

#182195 SCM - group statusbar commands
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#182334 suggest: trigger when one starts typing before a word, e.g.,
  src/vs/editor/contrib/suggest/browser/suggestModel.ts
  src/vs/editor/contrib/suggest/test/browser/suggestModel.test.ts
Labels: feature-request, suggest

#182477 SCM - fix input widget regression
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#182492 Git - add similarity threshold setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#182504 Git - fix branch creation regression
  extensions/git/src/commands.ts
Labels: git

#182310 Git - fix working tree file system watcher regex
  extensions/git/src/repository.ts
Labels: git

#182739 Git - fix git status regression for git versions older than 2.18
  extensions/git/src/git.ts
Labels: git

#182351 add interactive editor session help menu
  src/vs/workbench/contrib/accessibility/browser/accessibilityContribution.ts
  src/vs/workbench/contrib/chat/browser/actions/chatAccessibilityHelp.ts
  src/vs/workbench/contrib/chat/browser/actions/chatActions.ts
  src/vs/workbench/contrib/chat/browser/chatInputPart.ts
  src/vs/workbench/contrib/interactiveEditor/browser/interactiveEditor.contribution.ts
  src/vs/workbench/contrib/interactiveEditor/browser/interactiveEditorActions.ts
  src/vs/workbench/contrib/interactiveEditor/browser/interactiveEditorWidget.ts
  src/vs/workbench/contrib/notebook/browser/diff/diffComponents.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
Labels: feature-request

#182884 finalize `TaskPresentationOptions.close`
  src/vscode-dts/vscode.d.ts
  src/vscode-dts/vscode.proposed.taskPresentationGroup.d.ts
Labels: api-finalization

#183127 Transfer SCM view mode and sort key in Continue On transition
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#183207 GitHub - use GitHub default branch name when publishing to GitHub
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/github/src/publish.ts
  extensions/github/src/typings/git.d.ts
Labels: github

#181549 Open branches on vscode.dev from ref picker
  extensions/git-base/src/api/api1.ts
  extensions/git-base/src/api/git-base.d.ts
  extensions/git-base/src/remoteSource.ts
  extensions/git/src/api/git-base.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/remoteSource.ts
  extensions/github/src/commands.ts
  extensions/github/src/links.ts
  extensions/github/src/remoteSourceProvider.ts
  extensions/github/src/typings/git-base.d.ts
Labels: git

#183307 Git - handle --intent-to-add on a renamed resource
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/decorationProvider.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  extensions/github/src/typings/git.d.ts
Labels: git

#183531 Engineering - update winget configuration file
  .configurations/configuration.dsc.yaml
Labels: engineering

#182542 Fix context menu for deleted lines in diff inline mode
  src/vs/editor/browser/widget/inlineDiffMargin.ts
Labels: triage-needed

#153017 feat: .vuerc as json file
  extensions/json/package.json
Labels: languages-basic

#183768 Status - fix compact padding
  src/vs/workbench/browser/parts/statusbar/media/statusbarpart.css
Labels: workbench-status

#183944 Git - fix #183941
  extensions/git/src/commands.ts
Labels: git
