Repository microsoft/vscode, pull requests merged in 2023-12, with the labels that each got.

#199739 SCM - fix input box action button regression
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199743 SCM - fix input box action button regression (#199739)
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199750 SCM - remove diffIdentityProvider
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199755 Tree - revert options propagation
  src/vs/base/browser/ui/tree/asyncDataTree.ts
Labels: tree-widget

#199728 chore: update builds for electron@25.9.6
  .yarnrc
  package.json
Labels: candidate

#199764 Git - remove history provider action button
  extensions/git/src/actionButton.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#199778 SCM - delete scmInputBoxValueProvider proposal
  extensions/git/package.json
  extensions/git/tsconfig.json
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/contrib/scm/common/scmService.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.scmInputBoxValueProvider.d.ts
Labels: scm

#199809 SCM - remove old action bar from SCMInputWidget
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199885 SCM - SCMInputWidget toolbar 💄
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199934 Schedule animation frame runners in each editor's window
  src/vs/editor/browser/view.ts
Labels: candidate

#199855 chore: update electron@25.9.7
  .yarnrc
  build/checksums/electron.txt
  cgmanifest.json
  package.json
  yarn.lock
Labels: candidate

#199841 aux window - fix web (fix #199836)
  src/vs/base/browser/dom.ts
  src/vs/workbench/services/auxiliaryWindow/browser/auxiliaryWindowService.ts
Labels: candidate, workbench-auxwindow

#199840 aux window - track input focus properly (fix #199729)
  src/vs/workbench/browser/contextkeys.ts
Labels: candidate, workbench-auxwindow

#199937 improve async data tree default collapse state handling
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/test/browser/ui/tree/asyncDataTree.test.ts
Labels: candidate

#199882 aux window: add barrier waiting for styles to load
  src/vs/base/common/async.ts
  src/vs/editor/standalone/browser/quickInput/standaloneQuickInputService.ts
  src/vs/editor/standalone/browser/standaloneLayoutService.ts
  src/vs/platform/layout/browser/layoutService.ts
  src/vs/workbench/browser/layout.ts
  src/vs/workbench/services/auxiliaryWindow/browser/auxiliaryWindowService.ts
  src/vs/workbench/services/auxiliaryWindow/electron-sandbox/auxiliaryWindowService.ts
  src/vs/workbench/test/browser/workbenchTestServices.ts
Labels: workbench-auxwindow

#198909 fix: console format of fetchUrl
  build/lib/fetch.js
  build/lib/fetch.ts
Labels: info-needed

#200008 ci: lock container images
  build/azure-pipelines/alpine/product-build-alpine.yml
  build/azure-pipelines/product-build.yml
Labels: candidate

#200016 Engineering - update feature labels
  .vscode/notebooks/grooming.github-issues
  .vscode/notebooks/my-work.github-issues
Labels: engineering

#200012 SCM - delete scmInputBoxActionButton proposal
  extensions/git/package.json
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/commitMessageProvider.ts
  extensions/git/src/model.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.scmInputBoxActionButton.d.ts
Labels: scm

#200160 Engineering - adopt ensureNoDisposablesAreLeakedInTestSuite() in workspace trust tests
  .eslintrc.json
  src/vs/workbench/services/workspaces/common/workspaceTrust.ts
  src/vs/workbench/services/workspaces/test/common/workspaceTrust.test.ts
Labels: debt

#200230 Engineering - adopt disposable store with disposableTimeout()
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#200331 Git - improve branch picker when merging
  extensions/git/src/commands.ts
Labels: git

#187174 timeline: use follow option so timeline follow file beyond renames
  extensions/git/src/git.ts
  extensions/git/src/timelineProvider.ts
Labels: git

#200358 Git - gif config should not throw if key does not exist
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#200362 bump @vscode/test-electron
  package.json
  yarn.lock
Labels: candidate

#200402 Patch crashing explorer on paste (#200396)
  src/vs/workbench/contrib/files/browser/explorerService.ts
  src/vs/workbench/contrib/files/browser/fileActions.ts
Labels: bug, file-explorer, candidate

#200544 SCM - Input widget should use a context key service with an overlay
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#200627 allow CORS from PRSS CDN
  src/vs/code/electron-main/app.ts
Labels: candidate

#200637 SCM - fix scmProvider context key
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#200642 SCM - use overlay with scmProvider context key
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#200643 Fix explorer paste
  src/vs/workbench/contrib/files/browser/explorerService.ts
  src/vs/workbench/contrib/files/browser/views/explorerView.ts
Labels: candidate

#200712 Refactor menu's css seems missing (fix #198881)
  src/vs/base/browser/ui/contextview/contextview.ts
Labels: candidate

#200890 SCM - 💄 refactor input toolbar so it's only created once
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#200893 Git - add command to close other repositories
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#200925 Git - make close other repositories command available in the command palette
  extensions/git/package.json
Labels: git

#200947 SCM - adopt WorkbenchToolbar for the repository toolbar
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#200954 Git - only add --diff-merges if flag is supported
  extensions/git/src/git.ts
Labels: git

#200957 Git - explicitly open repository after initialized
  extensions/git/src/commands.ts
Labels: git

#200962 Git - timeline provider should handle repository with no commits
  extensions/git/src/git.ts
Labels: git

#200977 SCM - 💄 code cleanup
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#200983 SCM - fix regression with hiding menu items
  src/vs/workbench/contrib/scm/browser/menus.ts
Labels: scm

#201060 Git - add autoClosingPairs to git language definitions
  extensions/git-base/languages/git-commit.language-configuration.json
  extensions/git-base/languages/git-rebase.language-configuration.json
  extensions/git-base/languages/ignore.language-configuration.json
Labels: git

#201068 SCM - 💄 code cleanup and bug fix
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#201078 SCM - update settings to be consistent with other settings
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#201091 Git - improve git-commit language settings
  extensions/git/package.json
Labels: git

#201119 SCM - fix #194524
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#201134 SCM - enable editor option overrides for the scminput language
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#201135 Git - disable wrapping for git-commit language
  extensions/git/package.json
Labels: git

#201160 Git - add missing error handler
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: git

#201186 SCM - extract scm input editor options
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#201189 SCM - do not show incoming/outgoing if we cannot determine base branch
  src/vs/workbench/api/browser/mainThreadSCM.ts
Labels: scm

#180078 Implement keyboard navigation between list find/filter matches
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/workbench/browser/actions/listCommands.ts
Labels: tree-widget

#175137 Workbench actions for Tree Fuzzy Search Toggle
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/workbench/browser/actions/listCommands.ts
Labels: tree-widget

#201298 Git - enable commit signing using SSH key
  extensions/git/package.nls.json
  extensions/git/src/askpass-main.ts
  extensions/git/src/askpass.ts
Labels: git

#197518 chore: replace deprecated octal escape sequences with hex
  build/npm/preinstall.js
Labels: engineering

#201411 Git - refactor ref pickers
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git
