Repository microsoft/vscode, pull requests merged in 2023-06, with the labels that each got.

#184116 chore: update electron@22.5.5
  build/lib/electron.js
  build/lib/electron.ts
Labels: candidate

#184137 Do not auto start the local web worker extension host
  src/vs/workbench/services/extensions/browser/extensionService.ts
Labels: candidate

#184136 Allow embedders to intercept trustedTypes.createPolicy calls
  build/monaco/monaco.d.ts.recipe
  src/tsec.exemptions.json
  src/vs/base/browser/defaultWorkerFactory.ts
  src/vs/base/browser/trustedTypes.ts
  src/vs/editor/browser/view/domLineBreaksComputer.ts
  src/vs/editor/browser/view/viewLayer.ts
  src/vs/editor/browser/widget/diffEditorWidget.ts
  src/vs/editor/browser/widget/diffReview.ts
  src/vs/editor/contrib/inlineCompletions/browser/ghostTextWidget.ts
  src/vs/editor/contrib/markdownRenderer/browser/markdownRenderer.ts
  src/vs/editor/contrib/stickyScroll/browser/stickyScrollWidget.ts
  src/vs/editor/standalone/browser/colorizer.ts
  src/vs/monaco.d.ts
  src/vs/workbench/contrib/notebook/browser/view/cellParts/cellDragRenderer.ts
Labels: candidate

#184200 code --status displays a lot of errors before actual status output (fix #183787)
  src/vs/code/node/cli.ts
Labels: candidate

#184205 (cherry-pick to 1.79 from main) Handle galleryExtension failure in featuredExtensionService
  src/vs/workbench/contrib/welcomeGettingStarted/browser/featuredExtensionService.ts
Labels: candidate

#184188 Fix #184183. Multiple output height updates are skipped.
  src/vs/workbench/contrib/notebook/browser/view/renderers/backLayerWebView.ts
Labels: candidate

#184309 Engineering - fix CLI build for Alpine ARM64
  build/azure-pipelines/alpine/cli-build-alpine.yml
Labels: engineering

#184303 Take into account already activated extensions when computing running locations
  src/vs/workbench/services/extensions/common/abstractExtensionService.ts
  src/vs/workbench/services/extensions/common/extensionRunningLocationTracker.ts
Labels: candidate

#184310 Avoid `extensionService.getExtension` and use `ActivationKind.Immediate` to allow that URI handling works while resolving
  src/vs/workbench/api/browser/mainThreadUrls.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostUrls.ts
  src/vs/workbench/services/extensions/browser/extensionUrlHandler.ts
Labels: candidate

#184363 don't automatically inject fish shell integration
  src/vs/platform/terminal/node/terminalEnvironment.ts
Labels: candidate

#184410 Git - fix close diff editor regression
  extensions/git/src/repository.ts
Labels: git

#172979 Add dialog role to editor find widget
  src/vs/editor/contrib/find/browser/findWidget.css
  src/vs/editor/contrib/find/browser/findWidget.ts
Labels: accessibility

#184487 Allow extensions to get at the exports of other extensions during resolving
  src/vs/workbench/api/common/extHostExtensionService.ts
Labels: candidate

#184502 Git - handle branch name with incorrect casing
  extensions/git/src/git.ts
Labels: git

#184506 Git - add tracing messages to help with troubleshooting
  extensions/git/src/repository.ts
Labels: git

#184584 Engineering - skip property mangling in PR builds
  build/azure-pipelines/product-compile.yml
Labels: engineering

#184607 Git - upgrade which dependency
  extensions/git/package.json
  extensions/git/src/git.ts
  extensions/git/yarn.lock
Labels: engineering

#184609 GitHub - branch protection uses silent auth
  extensions/github/src/auth.ts
  extensions/github/src/branchProtection.ts
Labels: github

#184637 Git - Close Repository command should be disabled when there is only one repository opened
  extensions/git/package.json
Labels: git

#184685 Revert "Git - Close Repository command should be disabled when there is only one repository opened (#184637)"
  extensions/git/package.json
Labels: git

#184708 Git - close repository improvements
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/main.ts
  extensions/git/src/model.ts
  extensions/git/src/observable.ts
  extensions/github/package.json
Labels: git

#184752 Git - extract close repository management into its own class
  extensions/git/package.json
  extensions/git/src/model.ts
  extensions/git/src/observable.ts
Labels: git

#184891 Git - extract code into ParentRepositoriesManager
  extensions/git/src/commands.ts
  extensions/git/src/model.ts
Labels: git

#184896 Git - extract code into UnsafeRepositoryManager
  extensions/git/src/commands.ts
  extensions/git/src/model.ts
Labels: git

#184998 Git - use close event when detecting git version
  extensions/git/src/git.ts
Labels: git

#185053 Git - only add --find-renames if the value is not the default one
  extensions/git/src/git.ts
Labels: git

#184747 Cherry-pick: Revert changes to render featured extensions when available
  src/vs/workbench/contrib/welcomeGettingStarted/browser/featuredExtensionService.ts
  src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStarted.ts
  src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStartedService.ts
Labels: candidate

#185233 Git - fix welcome view regression
  extensions/git/src/model.ts
Labels: git

#185557 Git - only add default branch name if supported
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/git.ts
Labels: git

#182571 Add option for smartSelect to ignore subwords
  src/vs/editor/common/config/editorOptions.ts
  src/vs/editor/contrib/smartSelect/browser/smartSelect.ts
  src/vs/editor/contrib/smartSelect/browser/wordSelections.ts
  src/vs/editor/contrib/smartSelect/test/browser/smartSelect.test.ts
  src/vs/monaco.d.ts
  src/vs/workbench/api/test/browser/extHostLanguageFeatures.test.ts
Labels: smart-select

#186742 SCM - add distinct commands/menu items to open a repository in the terminal + setting to control which menu item appears
  src/vs/workbench/contrib/externalTerminal/electron-sandbox/externalTerminal.contribution.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#186717 fix: gracefully handle process stdout/stderr EPIPE error
  src/vs/code/electron-main/app.ts
Labels: bug
