Repository microsoft/vscode, pull requests merged in 2023-11, with the labels that each got.

#196802 SCM - correctly set the context of the action bar of the view pane container
  src/vs/workbench/contrib/scm/browser/scmViewPaneContainer.ts
Labels: scm

#196988 SCM - input box polish
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#197284 Fix toggleData button (#197279)
  src/vs/workbench/contrib/preferences/browser/settingsEditor2.ts
  src/vs/workbench/contrib/preferences/common/preferences.ts
Labels: candidate

#197341 Engineering - Add Python setuptools installation
  build/azure-pipelines/darwin/product-build-darwin.yml
Labels: engineering

#197349 SCM - Move SCM View to async data tree
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/browser/ui/tree/tree.ts
  src/vs/base/common/lifecycle.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/editSessions/browser/editSessions.contribution.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#197813 SCM - Add undo/redo when SCMInput value is set problematically
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#197771 SCM - Add Incoming/Outgoing information into the Source Control view
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#197855 SCM - do not push empty string to undo stack
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#197876 SCM - add statistics badge for incoming/outgoing
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#197877 Git - incoming/outgoing polish
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#197896 SCM - fix statistics tooltip localization
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#197905 SCM - fix stats badge style
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#197910 SCM - fix SCMInput regression
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#197918 Git - fix readOnly for the Config operation
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#197960 SCM - Add multi-diff editor to incoming/outgoing
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#198084 Git - update open commit command icon
  extensions/git/package.json
Labels: git

#198086 SCM - refactor title generation code
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198090 SCM - collapse configuration change event handlers
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198132 SCM - incoming/outgoing improve state management
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198140 SCM - fix incoming/outgoing separator color
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#198149 SCM - fix file icon rendering in incoming/outgoing
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198150 SCM - optimize tree rendering when having multiple repositories
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198161 SCM - improve SourceControlResourceState comparison
  src/vs/workbench/api/common/extHostSCM.ts
Labels: scm

#198197 SCM - fix files icon color in statistics badge
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#198208 Git - better error handling for git merge-base
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: git

#198232 SCM - add input box value provider proposal
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/contrib/scm/common/scmService.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.scmInputBoxValueProvider.d.ts
Labels: scm

#198306 SCM - add caching layer to incoming/outgoing tree nodes
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#198328 SCM - another attempt to fix getParent()
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198353 SCM - improve statistics badge
  build/lib/stylelint/vscode-known-variables.json
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198367 SCM - adjust statistics badge border when item is selected/focused
  build/lib/stylelint/vscode-known-variables.json
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198368 SCM - refactor incoming/outgoing settings
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198154 Publish to new CDN
  build/azure-pipelines/cli/cli-darwin-sign.yml
  build/azure-pipelines/cli/cli-win32-sign.yml
  build/azure-pipelines/common/createAsset.js
  build/azure-pipelines/common/createAsset.ts
  build/azure-pipelines/common/publish.js
  build/azure-pipelines/common/publish.ts
  build/azure-pipelines/common/retry.js
  build/azure-pipelines/common/retry.ts
  build/azure-pipelines/common/sign-win32.js
  build/azure-pipelines/common/sign-win32.ts
  build/azure-pipelines/common/sign.js
  build/azure-pipelines/common/sign.ts
  build/azure-pipelines/darwin/product-build-darwin-sign.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/product-build.yml
  build/azure-pipelines/product-publish.ps1
  build/azure-pipelines/product-publish.yml
  build/azure-pipelines/win32/product-build-win32.yml
  build/package.json
  build/yarn.lock
Labels: feature-request

#198386 Engineering - update incoming/outgoing workspace settings
  .vscode/settings.json
Labels: engineering

#198378 SCM - refactor history provider cache cleanup
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198396 Git - fix incorrect check
  extensions/git/src/historyProvider.ts
Labels: git

#198427 SCM - add twistie for empty resource group and incoming/outgoing node
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198408 replace node-fetch with native fetch
  build/azure-pipelines/common/publish.js
  build/azure-pipelines/common/publish.ts
  build/azure-pipelines/common/retry.js
  build/azure-pipelines/common/retry.ts
  build/lib/builtInExtensionsCG.js
  build/lib/builtInExtensionsCG.ts
  build/lib/compilation.js
  build/lib/compilation.ts
  build/lib/fetch.js
  build/lib/fetch.ts
  build/lib/policies.js
  build/lib/policies.ts
  build/lib/typings/stream.d.ts
  build/package.json
  build/yarn.lock
Labels: vscode-build, engineering

#198545 Workaround for AZDO artifact throttling
  build/azure-pipelines/common/publish.js
  build/azure-pipelines/common/publish.ts
Labels: vscode-build, engineering

#198553 tighten up blob uploading
  build/azure-pipelines/common/publish.js
  build/azure-pipelines/common/publish.ts
Labels: engineering

#198475 SCM - remove the sync view
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#198476 SCM - update incoming/outgoing setting default
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#198663 SCM - fix text overflow for incoming/outgoing labels
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#198515 Simplify `'solid' || ''` in viewPaneContainer.ts
  src/vs/workbench/browser/parts/views/viewPaneContainer.ts
Labels: triage-needed

#198704 SCM - only refresh the repository node if it exist in the tree
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#196623 Avoid empty or ambiguous repository label in Repositories submenu (fix #196613)
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#198467 Add multi-document highlight provider feature
  extensions/typescript-language-features/package.json
  extensions/typescript-language-features/src/languageFeatures/documentHighlight.ts
  extensions/typescript-language-features/tsconfig.json
  src/vs/editor/common/languages.ts
  src/vs/editor/contrib/wordHighlighter/browser/textualHighlightProvider.ts
  src/vs/editor/contrib/wordHighlighter/browser/wordHighlighter.ts
  src/vs/monaco.d.ts
  src/vs/workbench/api/browser/mainThreadLanguageFeatures.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostLanguageFeatures.ts
  src/vs/workbench/api/common/extHostTypeConverters.ts
  src/vs/workbench/api/common/extHostTypes.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.multiDocumentHighlightProvider.d.ts
Labels: editor-highlight

#198918 SCM - clean-up setting description
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#198921 SCM - updating icons for incoming/outgoing
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#198923 SCM - input box value provider rendering
  extensions/git/package.json
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/commitMessageProvider.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
  src/vs/base/browser/ui/actionbar/actionViewItems.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.api.impl.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/contrib/scm/common/scmService.ts
  src/vscode-dts/vscode.proposed.scmInputBoxValueProvider.d.ts
Labels: scm

#198953 Git - deprecate registerCommitMessageProvider
  extensions/git/src/api/api1.ts
Labels: git

#198980 SCM - always show incoming/outgoing separator
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#198996 Git - fix command titles
  extensions/git/package.json
  extensions/git/package.nls.json
Labels: git

#192050 Increase the target of Monaco from es6 to es2018
  src/tsconfig.monaco.json
Labels: debt

#199019 Git - update git.inputValidation default value
  extensions/git/package.json
Labels: git

#199031 SCM - fix regression related to the scm input box action button
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199039 Load data urls with fetch instead of using file service
  src/vs/platform/extensionResourceLoader/browser/extensionResourceLoaderService.ts
Labels: triage-needed

#199147 SCM - implement scm/inputBox menu
  extensions/git/package.json
  src/vs/platform/actions/browser/dropdownWithPrimaryActionViewItem.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.contribSourceControlInputBoxMenu.d.ts
Labels: scm

#199152 Engineering - update distro
  package.json
Labels: engineering

#199229 SCM - clean-up code in toolbar and action runner
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199399 SCM - fix #199398
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199438 SCM - handle empty commit in diff statistics badge
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199464 SCM - fix input button focus border on hover
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#199475 Git - Commit action button fix
  extensions/git/src/actionButton.ts
Labels: git

#199476 Git - do not show incoming/outgoing for tags, detached
  extensions/git/src/historyProvider.ts
Labels: git

#199519 SCM - another attempt to fix focus border when action is disabled
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199590 SCM - fix issue with button state initialization
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199595 SCM - fix regression related to scm.autoReveal
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199616 Git - remove references of scm.experimental.showSyncView from the Commit action button
  extensions/git/src/actionButton.ts
Labels: git

#199648 SCM - fix aria label for incoming/outoing nodes
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#199679 SCM - add throttling to scm treeview rendering
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm
