Repository microsoft/vscode, pull requests merged in 2023-09, with the labels that each got.

#191963 editors - do not focus empty editor group when created
  src/vs/workbench/browser/parts/editor/editorActions.ts
Labels: candidate

#191971 Enable the family autodetection algorithm
  src/vs/server/node/remoteExtensionHostAgentServer.ts
Labels: candidate

#191992 Git - Bump which package
  extensions/git/package.json
  extensions/git/yarn.lock
Labels: git

#192139 Git - clarify git extension API usage
  extensions/git/README.md
Labels: git

#192161 Revert "Remove superfluous arg in git smoke.test.ts (#173194)"
  extensions/git/src/test/smoke.test.ts
Labels: git

#192220 Restore default paste fallback
  src/vs/editor/contrib/dropOrPasteInto/browser/copyPasteController.ts
Labels: candidate

#191987 Git - fix stage/unstage selected ranges in nested git repositories
  extensions/git/src/model.ts
  extensions/git/src/repository.ts
Labels: git

#192297 Git - improve logging for git detection
  extensions/git/src/git.ts
  extensions/git/src/main.ts
Labels: git

#192622 Git - remove extra character from the log message
  extensions/git/src/model.ts
Labels: git

#192571 Debug toolbar and CC
  src/vs/platform/actions/browser/menuEntryActionViewItem.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/browser/actions/quickAccessActions.ts
  src/vs/workbench/browser/parts/titlebar/commandCenterControl.ts
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
  src/vs/workbench/common/theme.ts
  src/vs/workbench/contrib/debug/browser/debug.contribution.ts
  src/vs/workbench/contrib/debug/browser/debugToolBar.ts
  src/vs/workbench/contrib/debug/browser/statusbarColorProvider.ts
  src/vs/workbench/contrib/debug/common/debug.ts
Labels: feature-request, debug, command-center

#193142 SCM: Adopt `StorageScope.WORKSPACE` and `StorageTarget.USER`
  src/vs/base/common/history.ts
  src/vs/base/common/iterator.ts
  src/vs/base/common/map.ts
  src/vs/base/test/common/history.test.ts
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm

#193232 fix: do not set this._sequence to undefined if path title not windows path
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
Labels: triage-needed

#193440 SCM - Initial implementation of the Sync view
  extensions/git/package.json
  extensions/git/src/actionButton.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#193470 SCM - tweak API for the SCM sync view
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#193509 SCM - more cleanup of the SCMHistoryProvider API
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#193520 SCM - extracted code into MainThreadSCMHistoryProvider
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#193550 SCM - clean up the history provider listeners when removing a repository
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193552 SCM - add aria labels to the SCMSyncViewPane
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193567 SCM - set of fixes for the SCM Sync View
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193576 SCM - Add file decorations to history item changes
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: scm

#193696 SCM - Add List/Tree view mode to the SCM Sync view
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193755 Git - fix file decoration for history item changes
  extensions/git/src/historyProvider.ts
Labels: git

#193805 SCM - refactor getChildren(), add Refresh action
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193779 SCM - fix file decoration for Tree mode
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193808 SCM - keep file selection when switching between view modes
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#193953 Git - fix regular expression for fully qualified ref names
  extensions/git/src/git.ts
Labels: git

#193973 Git - refactor getting base of a branch
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: git

#193986 Git - improve heuristics for determining branch base
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#193998 SCM - fix sync view actions
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#194107 Engineering - update winget configuration file
  .configurations/configuration.dsc.yaml
Labels: engineering

#194208 SCM - disable multi-select in the treeview
  src/vs/workbench/contrib/scm/browser/scmSyncViewPane.ts
Labels: scm

#194273 Git - provide correct editor title for resources under the "All Changes" node
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#194487 chore: bump electron@25.8.4 for release/1.83
  .yarnrc
  build/checksums/electron.txt
  cgmanifest.json
  package.json
  yarn.lock
Labels: candidate

#194500 fix nb codeactions running on autosave when set `true` [release]
  src/vs/workbench/contrib/notebook/browser/contrib/saveParticipants/saveParticipants.ts
Labels: candidate
