Repository microsoft/vscode, pull requests merged in 2023-01, with the labels that each got.

#145788 145458 List: Support scroll by page
  src/vs/base/browser/ui/list/listPaging.ts
  src/vs/base/browser/ui/list/listView.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/platform/list/browser/listService.ts
Labels: list-widget

#159188 Add history to new list/tree search/filter widget (#155578)
  src/vs/base/browser/ui/inputbox/inputBox.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/common/history.ts
  src/vs/base/test/common/history.test.ts
Labels: tree-widget

#164376 Add 'Fuzzy Match' toggle to tree find widget (#116286)
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/platform/list/browser/listService.ts
Labels: tree-widget

#170271 Git - detect when HEAD is a tag
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  extensions/git/src/statusbar.ts
Labels: git

#170415 Git - Add command to delete remote tags
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#170486 💄 Git - Add icon to the message item
  extensions/git/src/commands.ts
Labels: git

#170565 💄 Git - delete tag does not use `repository.refs`
  extensions/git/src/commands.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#170015 cli: enable code-tunnel systemd service to start when the machine booted
  cli/src/tunnels/service_linux.rs
Labels: triage-needed

#170579 Git - Remove dependency on the `refs` property
  extensions/git/src/commands.ts
Labels: git

#169839 Git - cleanup getRemotes()
  extensions/git/src/git.ts
  extensions/git/src/test/git.test.ts
Labels: git

#170866 perf - use `Lazy` for comparers and 💄 `Lazy` to align with `IdleValue`
  src/vs/base/browser/markdownRenderer.ts
  src/vs/base/common/comparers.ts
  src/vs/base/common/lazy.ts
  src/vs/base/common/strings.ts
  src/vs/base/test/common/lazy.test.ts
  src/vs/editor/contrib/codeAction/browser/codeActionCommands.ts
  src/vs/editor/contrib/codeAction/browser/codeActionKeybindingResolver.ts
  src/vs/editor/contrib/codeAction/browser/codeActionUi.ts
  src/vs/editor/contrib/parameterHints/browser/parameterHints.ts
  src/vs/workbench/api/common/extHostTextEditor.ts
  src/vs/workbench/api/common/extHostVariableResolverService.ts
  src/vs/workbench/contrib/notebook/browser/contrib/find/notebookFindWidget.ts
  src/vs/workbench/contrib/notebook/browser/services/notebookServiceImpl.ts
  src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts
  src/vs/workbench/contrib/search/common/searchModel.ts
  src/vs/workbench/contrib/terminal/browser/links/terminalLinkParsing.ts
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
  src/vs/workbench/contrib/testing/browser/testingOutputPeek.ts
  src/vs/workbench/contrib/testing/common/testResult.ts
Labels: perf-startup

#170834 [Perf] Use `IConfigurationChangeEvent#affectsConfiguration`
  src/vs/editor/common/services/modelService.ts
Labels: perf-startup

#170861 perf - simplify codicon type
  src/vs/base/browser/ui/codicons/codiconStyles.ts
  src/vs/base/common/codicons.ts
  src/vs/platform/theme/common/iconRegistry.ts
Labels: perf-startup

#170903 Git - Add `getRefs()` extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#171058 Git - Fix ref sorting regression
  extensions/git/src/repository.ts
Labels: git

#170908 issue 163803/ first pick a ref then pick a name in create-branch-from...
  extensions/git/src/commands.ts
Labels: git

#171099 Git - Fix bug related to Stash & Checkout
  extensions/git/src/commands.ts
Labels: git

#167827 🖊 Include branch name in commit button popup
  extensions/git/src/actionButton.ts
  extensions/git/src/postCommitCommands.ts
Labels: git

#171161 💄 Git - use double quotation mark in the action button tooltip
  extensions/git/src/actionButton.ts
  extensions/git/src/postCommitCommands.ts
Labels: git

#171151 Git - Another attempt to fix an edge case for adding a safe directory
  extensions/git/src/git.ts
Labels: git

#171416 Git - Migrate post commit command storage
  extensions/git/src/postCommitCommands.ts
Labels: git

#171605 Git - Update getRefs pattern when querying for branches and tags
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: git

#171617 Git - Improvements to opening git repositories in parent folders
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/model.ts
  extensions/github/package.json
Labels: git

#169844 List: move away from styler
  src/vs/base/browser/ui/actionbar/actionViewItems.ts
  src/vs/base/browser/ui/list/listPaging.ts
  src/vs/base/browser/ui/list/listWidget.ts
  src/vs/base/browser/ui/selectBox/selectBox.ts
  src/vs/base/browser/ui/selectBox/selectBoxCustom.ts
  src/vs/base/browser/ui/table/tableWidget.ts
  src/vs/base/browser/ui/tree/abstractTree.ts
  src/vs/base/browser/ui/tree/asyncDataTree.ts
  src/vs/base/parts/quickinput/browser/quickInput.ts
  src/vs/base/parts/quickinput/test/browser/quickinput.test.ts
  src/vs/editor/contrib/suggest/browser/suggestWidget.ts
  src/vs/platform/actionWidget/browser/actionList.ts
  src/vs/platform/actions/browser/menuEntryActionViewItem.ts
  src/vs/platform/list/browser/listService.ts
  src/vs/platform/quickinput/browser/quickInput.ts
  src/vs/platform/theme/browser/defaultStyles.ts
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/contrib/comments/browser/commentsTreeViewer.ts
  src/vs/workbench/contrib/debug/browser/breakpointWidget.ts
  src/vs/workbench/contrib/debug/browser/debugActionViewItems.ts
  src/vs/workbench/contrib/debug/browser/debugViewlet.ts
  src/vs/workbench/contrib/extensions/browser/extensionsViewer.ts
  src/vs/workbench/contrib/markers/browser/markersView.ts
  src/vs/workbench/contrib/notebook/browser/diff/notebookDiffList.ts
  src/vs/workbench/contrib/notebook/browser/view/notebookCellList.ts
  src/vs/workbench/contrib/preferences/browser/settingsTree.ts
  src/vs/workbench/contrib/preferences/browser/settingsWidgets.ts
  src/vs/workbench/contrib/preferences/browser/tocTree.ts
  src/vs/workbench/contrib/preferences/common/settingsEditorColorRegistry.ts
  src/vs/workbench/contrib/remote/browser/explorerViewItems.ts
  src/vs/workbench/contrib/terminal/browser/terminalTabsList.ts
  src/vs/workbench/contrib/terminal/browser/terminalView.ts
Labels: themes

#169748 menu: move away from styler
  src/vs/base/browser/ui/menu/menu.ts
  src/vs/base/browser/ui/menu/menubar.ts
  src/vs/base/test/browser/ui/menu/menubar.test.ts
  src/vs/editor/standalone/browser/standaloneServices.ts
  src/vs/platform/contextview/browser/contextMenuHandler.ts
  src/vs/platform/contextview/browser/contextMenuService.ts
  src/vs/platform/theme/browser/defaultStyles.ts
  src/vs/platform/theme/common/styler.ts
  src/vs/workbench/browser/parts/titlebar/menubarControl.ts
  src/vs/workbench/services/contextmenu/electron-sandbox/contextmenuService.ts
Labels: themes

#171749 Git - fix edge case when the repository is at the root of a mapped drive
  extensions/git/src/git.ts
Labels: git

#171726 Git - handling git repositories in parent folders
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/model.ts
  extensions/github/package.json
Labels: git

#171831 Git - Add back logging message that was removed during refactoring
  extensions/git/src/model.ts
Labels: git

#171840 Git-Base - Add syntax highlighting to the rebase-merge/done file
  extensions/git-base/package.json
Labels: git

#171961 Engineering - Update endgame notebooks
  .vscode/notebooks/endgame.github-issues
  .vscode/notebooks/my-endgame.github-issues
Labels: engineering

#171987 Git - update command label so that it is consistent with the other commands
  extensions/git/package.nls.json
Labels: git

#171989 Git - disable one more commands while a git operation is running
  extensions/git/package.json
Labels: git

#172122 Git - update model state if a git operation fails
  extensions/git/src/repository.ts
Labels: git

#172230 Git - change parent folder notification severity
  extensions/git/src/model.ts
Labels: git

#172271 Git - fix status bar icon for a detached commit
  extensions/git/src/statusbar.ts
Labels: git

#172527 Git - deduplicate annotated and lightweight tags when showing the quick pick for tags
  extensions/git/src/commands.ts
Labels: git

#172587 Turn off kernel picker mru for stable.
  src/vs/workbench/contrib/notebook/browser/notebook.contribution.ts
Labels: notebook-kernel-picker

#172576 Do not block if unable to verify extension signature
  src/vs/platform/extensionManagement/node/extensionDownloader.ts
  src/vs/platform/extensionManagement/node/extensionSignatureVerificationService.ts
  src/vs/platform/extensionManagement/test/node/installGalleryExtensionTask.test.ts
Labels: triage-needed

#172647 Fix #172604. GetWidth can be fast for long line onced rendered.
  src/vs/editor/browser/viewParts/lines/viewLine.ts
Labels: candidate

#172509 Git - mark a failed operation completed as soon as the error dialog is shown
  extensions/git/src/commands.ts
Labels: git

#172762 Git - add separator to the checkout quick pick
  extensions/git/src/commands.ts
Labels: git

#172761 Git - remove the commitInProgress context for the commit message commands
  extensions/git/package.json
  extensions/git/src/model.ts
Labels: git

#172772 Git - Deprecate the `refs` property
  extensions/git/src/api/api1.ts
  extensions/git/src/repository.ts
Labels: git

#172765 Git - more conservative approach to refreshing the timeline
  extensions/git/src/timelineProvider.ts
Labels: git

#172843 Git - Limit the enablement "* selected ranges" command palette commands
  extensions/git/package.json
Labels: git

#172829 Revert "use normalized path when checking for mangled new contents, (#171964)"
  build/lib/compilation.js
  build/lib/compilation.ts
Labels: candidate

#172850 Pick up TS 4.9.5
  extensions/package.json
  extensions/yarn.lock
Labels: candidate

#172941 Complete step on selection
  src/vs/workbench/contrib/welcomeGettingStarted/browser/gettingStarted.ts
Labels: getting-started
