Repository microsoft/vscode, pull requests merged in 2024-08, with the labels that each got.

#224795 SCM - add menu item to show/hide history graph
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#224914 fix: disable core text font matching on macOS
  src/main.js
Labels: candidate

#225031 SCM - do not show initial commit if the repository has been published
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#225335 Add NuShell to core and separate out pwsh, python, julia, nu as GeneralShellType
  src/vs/platform/terminal/common/terminal.ts
  src/vs/platform/terminal/node/terminalProcess.ts
  src/vs/platform/terminal/node/windowsShellHelper.ts
  src/vs/workbench/contrib/terminal/browser/terminal.contribution.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
  src/vs/workbench/contrib/terminal/common/history.ts
  src/vs/workbench/contrib/terminal/test/common/terminalEnvironment.test.ts
Labels: terminal-shell-integration

#226241 SCM - remove incoming/outgoing/history graph from the Source Control view
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#226250 SCM - Source Control Graph view
  extensions/git/package.json
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/platform/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryTitleMenu.d.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#226352 SCM - add refresh command
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226356 SCM - do not use a diffIdentityProvider
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226358 SCM - source control graph rendering improvements
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226368 SCM - repository rendering improvements
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#226421 SCM - improve loading more experience
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#226425 SCM - use fixed references when paging in more data
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226435 SCM - track "load more" state for each repository
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226448 SCM - workaround for view order issue
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#226482 SCM - graph progress indicator improvements
  extensions/git/src/historyProvider.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226495 SCM - improve outdated badge rendering
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226498 SCM - add action runner to show progress
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226623 SCM - tweak appearance of the load more indicator
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226628 SCM - refresh the view when the alwaysShowRepositories setting changes
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#223677 Update workspace tagging for java ai libraries
  src/vs/workbench/contrib/tags/common/javaWorkspaceTags.ts
  src/vs/workbench/contrib/tags/electron-sandbox/workspaceTagsService.ts
Labels: triage-needed

#226545 Experimental undo/redo handling for notebook multicursor
  src/vs/workbench/contrib/notebook/browser/contrib/multicursor/notebookMulticursor.ts
Labels: on-testplan

#226872 SCM - remove label hover
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226879 SCM - only show labels for the current/remote/base branches in the hover
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#226933 SCM - fix hover layout regression
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227191 Engineering - upgrade AzureKeyVault task
  build/azure-pipelines/alpine/product-build-alpine.yml
  build/azure-pipelines/cli/cli-darwin-sign.yml
  build/azure-pipelines/cli/cli-win32-sign.yml
  build/azure-pipelines/darwin/product-build-darwin-sign.yml
  build/azure-pipelines/darwin/product-build-darwin-universal.yml
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/distro/download-distro.yml
  build/azure-pipelines/linux/product-build-linux-legacy-server.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/product-compile.yml
  build/azure-pipelines/product-publish.yml
  build/azure-pipelines/web/product-build-web.yml
  build/azure-pipelines/win32/product-build-win32.yml
  build/azure-pipelines/win32/sdl-scan-win32.yml
Labels: engineering

#227200 SCM - remove old incoming/outgoing code
  build/lib/stylelint/vscode-known-variables.json
  extensions/git/package.json
  src/vs/platform/actions/common/actions.ts
  src/vs/platform/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryItemChangesMenu.d.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryItemGroupMenu.d.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryItemMenu.d.ts
Labels: scm

#227205 SCM - introduce history item `displayId`
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#227195 Engineering - update OSS build agent pool
  build/azure-pipelines/product-build-pr.yml
Labels: engineering
