Repository microsoft/vscode, pull requests merged in 2024-02, with the labels that each got.

#203988 themes: Increase contrast of inputs placeholder text
  extensions/theme-defaults/themes/dark_modern.json
  extensions/theme-defaults/themes/light_modern.json
Labels: themes, accessibility

#204083 Zoom level indicator always reset to level 1 (#204019)
  src/vs/workbench/electron-sandbox/actions/windowActions.ts
Labels: candidate

#204225 [Accessibility] Subsequent "Hey Code" does not work in the Chat view (fix #204137)
  src/vs/workbench/contrib/chat/electron-sandbox/actions/voiceChatActions.ts
Labels: candidate

#204410 Git - fix View Commit action from the timeline view
  extensions/git/src/commands.ts
Labels: git

#204482 fix: use legacy server as default with additional warnings (#204377)
  build/.cachesalt
  build/azure-pipelines/linux/install.sh
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/linux/verify-glibc-requirements.sh
  build/gulpfile.reh.js
  build/npm/postinstall.js
  cli/src/util/prereqs.rs
  package.json
  remote/.yarnrc
  resources/server/bin/helpers/check-requirements-linux.sh
  src/vs/platform/remote/common/remoteAgentEnvironment.ts
  src/vs/server/node/remoteAgentEnvironmentImpl.ts
  src/vs/workbench/browser/parts/banner/bannerPart.ts
  src/vs/workbench/contrib/remote/browser/remote.contribution.ts
  src/vs/workbench/contrib/remote/browser/remoteConnectionHealth.ts
  src/vs/workbench/contrib/remote/common/remote.contribution.ts
  src/vs/workbench/services/banner/browser/bannerService.ts
  src/vs/workbench/services/remote/common/remoteAgentEnvironmentChannel.ts
Labels: candidate

#204504 set inline alerts to `false` by default
  src/vs/workbench/contrib/accessibility/browser/accessibilityConfiguration.ts
Labels: candidate

#204570 chore: legacy server cleanups
  build/azure-pipelines/cli/cli-compile-and-publish.yml
  build/checksums/vscode-sysroot.txt
  build/linux/debian/install-sysroot.js
  build/linux/debian/install-sysroot.ts
  build/linux/rpm/dep-lists.js
  build/linux/rpm/dep-lists.ts
  src/vs/workbench/contrib/remote/browser/remoteConnectionHealth.ts
Labels: candidate

#204574 List - ensure DOM order in lists
  src/vs/base/browser/ui/list/listView.ts
Labels: list-widget

#204585 Git - adjust branch base computation
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: git

#204532 Voice: show mic icon in chat boxes even when no extension is installed (fix #203896)
  src/vs/workbench/contrib/chat/electron-sandbox/actions/voiceChatActions.ts
  src/vs/workbench/contrib/chat/electron-sandbox/chat.contribution.ts
Labels: workbench-voice

#204617 SCM - Use Publish action when the local branch does not have an upstream
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#204689 Git - Add more telemetry to history provider to investigate issue
  extensions/git/src/historyProvider.ts
Labels: git

#204736 SCM - extract title context keys into its own workbench contribution
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#204822 Git - experimental input validation using diagnostics
  extensions/git/package.json
  extensions/git/src/diagnostics.ts
  extensions/git/src/main.ts
  extensions/git/tsconfig.json
Labels: git

#204857 Git - fix commit action button when detached/rebase
  extensions/git/src/actionButton.ts
Labels: git

#204919 Git - add file decoration provider for incoming changes
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/decorationProvider.ts
  extensions/git/src/historyProvider.ts
Labels: git

#205012 Git - Update showProgress value in DiffOperation
  extensions/git/src/operation.ts
Labels: git

#205037 SCM - add menu to configure incoming/outgoing
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#205056 chore: update builds for Electron@27.2.3
  .yarnrc
  package.json
Labels: candidate

#205078 Git - fix upstream state management check
  extensions/git/src/historyProvider.ts
Labels: git

#205069 SCM - Add Incoming/Outgoing menu to the title menu
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#205070 fix: inheriting NODE_OPTIONS on macOS with integrated terminal
  resources/darwin/bin/code.sh
  src/vs/workbench/contrib/terminal/common/terminalEnvironment.ts
Labels: candidate

#205101 Git - 💄 more history provider logging
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#205121 fix surround with naming for the command palette
  src/vs/workbench/contrib/snippets/browser/commands/surroundWithSnippet.ts
  src/vs/workbench/contrib/snippets/browser/snippetCodeActionProvider.ts
Labels: candidate

#205120 SCM - fix issue related to event handler registration
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#205148 Git - Add button/setting to always replace local tags in case of a conflict during the pull operation
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/repository.ts
Labels: git

#205158 chat: Use alternating request/response color
  build/lib/stylelint/vscode-known-variables.json
  src/vs/workbench/contrib/chat/browser/media/chat.css
  src/vs/workbench/contrib/chat/common/chatColors.ts
Labels: themes, accessibility, panel-chat

#205194 SCM - 💄 adopt Event.runAndSubscribe
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#205205 a11y: Use underlined links in HC themes
  src/vs/platform/theme/common/colorRegistry.ts
  src/vs/workbench/browser/media/style.css
  src/vs/workbench/contrib/chat/browser/media/chat.css
Labels: themes, accessibility

#205282 Git - refresh decorators when incoming/outgoing changes
  extensions/git/src/decorationProvider.ts
  extensions/git/src/historyProvider.ts
Labels: git

#205278 Git - add command to close all unmodified editors
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#205292 SCM - do not show action for selected rows
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#205359 Git - Add context menu to history items
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#205364 Git - do not invoke post commit commands when calling commit through the git extension api
  extensions/git/src/api/api1.ts
Labels: git

#205355 Git - toggle diagnostics when git.experimental.inputValidation setting changes
  extensions/git/src/diagnostics.ts
  extensions/git/src/main.ts
Labels: git

#205052 Add Quick pick for notebook indentation status bar entry
  src/vs/workbench/contrib/notebook/browser/contrib/editorStatusBar/editorStatusBar.ts
  src/vs/workbench/contrib/notebook/browser/controller/editActions.ts
  src/vs/workbench/contrib/notebook/browser/controller/notebookIndentationActions.ts
  src/vs/workbench/contrib/notebook/common/notebookEditorInput.ts
Labels: notebook-cell-editor

#205378 Don't run `onDidBlurEditorWidget` and `onDidFocusEditorText` if inline edit is disabled
  src/vs/editor/contrib/inlineEdit/browser/inlineEditController.ts
Labels: triage-needed

#205550 Git - remove git.experimental.inputValidation setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/diagnostics.ts
  extensions/git/src/repository.ts
Labels: git

#205583 Git - comment out GitIncomingChangesFileDecorationProvider
  extensions/git/package.json
  extensions/git/src/decorationProvider.ts
Labels: git

#205711 Gix - recompute diagnostics when settings change
  extensions/git/src/diagnostics.ts
Labels: git

#205712 Git - rename code action
  extensions/git/src/diagnostics.ts
Labels: git

#205831 Git - better handle edge case when hard wrapping a line
  extensions/git/src/diagnostics.ts
Labels: git

#205851 Git - fix reopen closed repositories action visibility issue
  extensions/git/package.json
Labels: git

#205883 SCM - fix an issue with window title variables
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#205891 Update active recording color and animation
  src/vs/workbench/contrib/chat/electron-sandbox/actions/voiceChatActions.ts
Labels: accessibility, panel-chat

#205978 voice chat: Fix mic icon centering in all contexts
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
  src/vs/workbench/contrib/chat/electron-sandbox/actions/voiceChatActions.ts
Labels: ux, polish, icons-product, inline-chat, panel-chat

#205890 Fix off-by-one error in rendering removals in inline edits
  src/vs/editor/contrib/inlineEdit/browser/ghostTextWidget.ts
Labels: triage-needed

#206114 fix: cwd not escaping when running wt.exe externally
  src/vs/platform/externalTerminal/node/externalTerminalService.ts
Labels: candidate

#206092 Register treeview hover delegate
  src/vs/workbench/browser/parts/views/treeView.ts
Labels: candidate

#206259 Feat: Add PascalCase to CaseActions
  src/vs/editor/contrib/linesOperations/browser/linesOperations.ts
  src/vs/editor/contrib/linesOperations/test/browser/linesOperations.test.ts
Labels: triage-needed

#206375 Check for invalid Range parameters when trimming nb newlines
  src/vs/workbench/contrib/notebook/browser/contrib/saveParticipants/saveParticipants.ts
Labels: notebook-format

#206427 codicons: Split list into Library and Derived
  src/vs/base/browser/ui/menu/menu.ts
  src/vs/base/common/codicons.ts
  src/vs/base/common/codiconsLibrary.ts
  src/vs/base/common/codiconsUtil.ts
  src/vs/platform/theme/common/iconRegistry.ts
Labels: icons-product

#206466 cli: fix port forward responses getting truncated
  cli/src/tunnels/socket_signal.rs
Labels: candidate
