Repository microsoft/vscode, pull requests merged in 2024-06, with the labels that each got.

#214151 update default value setting key to `experimental`
  src/vs/workbench/contrib/accessibility/browser/accessibilityConfiguration.ts
Labels: candidate

#214202 SCM - 💄 use observables for count and statusBarCommands
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#213997 SCM - 💄 remove the use of a sequencer
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
Labels: scm

#214225 SCM - fix input theming
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#214228 Engineering - update winget configuration file
  .configurations/configuration.dsc.yaml
Labels: engineering

#214337 SCM - consistent fallback for count calculation
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/browser/util.ts
Labels: scm

#214211 remove gulp-shell
  build/gulpfile.vscode.linux.js
  build/package.json
  build/yarn.lock
Labels: engineering

#214487 Fix HC textPreformat colors
  src/vs/platform/theme/common/colors/baseColors.ts
  src/vs/workbench/contrib/welcomeWalkthrough/browser/media/walkThroughPart.css
Labels: candidate

#214510 SCM - unify code to get a repository using a resource
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm

#214583 SCM - enable clearing the commit input using Escape
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#214587 Git - empty commit should not include unstaged changes
  extensions/git/src/commands.ts
Labels: git

#214638 SCM - fix regression introduced due to moving code
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#214705 SCM - adopt observables for updating the status bar
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#214727 SCM - refactor setting the context keys for the active repository
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#214761 SCM - 💄 cleanup old field + event
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#214602 fix: disable CoreText font matching on macOS
  src/main.js
Labels: candidate

#214549 fix: force software gl backend for snap
  resources/linux/snap/electron-launch
  resources/linux/snap/snapcraft.yaml
  src/vs/platform/environment/common/argv.ts
  src/vs/platform/environment/node/argv.ts
Labels: candidate

#214813 SCM - add logging to track down smoke test failure
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#214842 Watcher Perf: TypeScript 5.5 asks to watch thousands of non-existing paths (fix #214765)
  src/vs/platform/files/node/watcher/baseWatcher.ts
  src/vs/platform/files/test/node/nodejsWatcher.integrationTest.ts
  src/vs/platform/files/test/node/parcelWatcher.integrationTest.ts
Labels: file-watcher

#214800 Add file extensions for C++20 module interface units
  extensions/cpp/package.json
Labels: triage-needed

#214865 SCM - limit logging to smoke tests only
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#214845 Fixing command move regression
  src/vs/editor/contrib/linesOperations/browser/moveLinesCommand.ts
Labels: candidate

#215286 Engineering - bump macOS agent version
  build/azure-pipelines/product-build.yml
Labels: engineering

#215341 SCM - fix context key for clearing the input
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#215982 Encode all chars 0x00-0x1f
  src/vs/workbench/contrib/terminal/browser/media/shellIntegration.ps1
Labels: candidate

#216414 Git - expose untracked changes group
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
Labels: git

#216488 SCM - 💄 repository label should use custom hover
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
Labels: scm

#216531 fix: include editor symbol picks unless symbols are explicitly disabled
  src/vs/workbench/contrib/search/browser/anythingQuickAccess.ts
Labels: candidate

#211666 Fix merged table cells in extension marketplace readme rendering unmerged
  src/vs/base/browser/markdownRenderer.ts
Labels: triage-needed

#216629 SCM - history view
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/test/browser/scmHistory.test.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#216605 Statusbar - support more than 2 items in a group
  src/vs/workbench/browser/parts/statusbar/statusbarModel.ts
Labels: workbench-status

#216641 SCM - more work related to history
  extensions/git/package.json
  extensions/git/src/decorationProvider.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#216645 SCM - open multi-file diff editor from history
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#216647 Git - 💄 history provider cleanup
  extensions/git/src/historyProvider.ts
Labels: git

#216648 Git - more cleanup of the history item labels
  extensions/git/src/historyProvider.ts
Labels: git

#216680 SCM - maintain colors in history section
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#216691 SCM - distinct rendering for HEAD commit
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
Labels: scm

#216713 SCM - switch to an experimental setting
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#216748 SCM - do not show a single commit in the history
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#216758 SCM - rendering bugfix
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
Labels: scm

#216784 SCM - switch logs to trace level
  src/vs/workbench/api/common/extHostSCM.ts
Labels: scm

#216799 SCM - tracking down more rendering bugs
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
Labels: scm

#216823 SCM - improve merge-base detection
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: scm

#216861 adding missing azure ai py packages to tagging
  src/vs/workbench/contrib/tags/electron-sandbox/workspaceTagsService.ts
Labels: triage-needed

#216979 SCM - avoid opening multiple multi-file diff editors for the same history item
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#218249 SCM - fix commit input text selection
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#218377 Revert "Git - do not show smart commit dialog when using Commit (Amend) (#214595)"
  extensions/git/src/commands.ts
Labels: scm

#219101 SCM - 💄 remove custom observable logging
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#219162 SCM - 💄 adopt observables
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm
