Repository microsoft/vscode, pull requests merged in 2024-11, with the labels that each got.

#232827 SCM - do not show progress until the history provider is initializing
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#232752 fix code action race condition
  src/vs/editor/contrib/codeAction/browser/codeAction.ts
Labels: candidate

#233568 Revert "fix #229955 (#229959)"
  src/vs/platform/configuration/common/configurationModels.ts
  src/vs/workbench/services/configuration/browser/configuration.ts
  src/vs/workbench/services/configuration/test/browser/configurationService.test.ts
Labels: candidate

#233591 move to new esrp service connection
  build/azure-pipelines/cli/cli-darwin-sign.yml
  build/azure-pipelines/cli/cli-win32-sign.yml
  build/azure-pipelines/darwin/product-build-darwin-sign.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/product-publish.yml
  build/azure-pipelines/win32/product-build-win32.yml
Labels: debt, engineering

#233570 fix the second and last scenario of #232516
  src/vs/workbench/services/userDataSync/browser/userDataSyncWorkbenchService.ts
Labels: candidate

#233841 Move to auth cert for Release service
  build/azure-pipelines/common/getPublishAuthTokens.js
  build/azure-pipelines/common/getPublishAuthTokens.ts
  build/azure-pipelines/common/publish.js
  build/azure-pipelines/common/publish.ts
  build/azure-pipelines/product-build.yml
  build/azure-pipelines/product-publish.yml
  build/package-lock.json
  build/package.json
Labels: engineering

#233914 DirtyDiff - handle the diff in `trigger` instead of `then`
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
Labels: scm

#233986 Cli serve_web sets the path prefix to /<quality>-<commit>/, commit value parsing error
  cli/src/commands/serve_web.rs
Labels: triage-needed

#234091 SCM Graph - add actions back to the view title
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#234140 Git - stage/unstage/revert selected changes commands use diff information
  extensions/git/src/commands.ts
Labels: git

#234161 Git - handle missingcontext information for commands
  extensions/git/src/commands.ts
Labels: git

#234163 Git - hide git.diff.stageHunk and git.diff.stageSelection commands from the command palette when not in diff editor
  extensions/git/package.json
Labels: git

#234209 Git - experimental git blame editor decoration
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/blame.ts
  extensions/git/src/git.ts
  extensions/git/src/main.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
  extensions/git/src/util.ts
Labels: git

#234221 Git - tag setting + better handling of not yet committed changes
  extensions/git/package.json
  extensions/git/src/blame.ts
Labels: git

#234251 Git - switch stage/unstage/revert commands to use the legacy diff information
  extensions/git/src/commands.ts
Labels: git

#234292 Git - extract editor decoration
  extensions/git/src/blame.ts
Labels: git

#234302 Git - add git blame status bar item
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/blame.ts
Labels: git

#234309 SCM - fix diff information lookup bug
  src/vs/workbench/api/browser/mainThreadEditors.ts
Labels: scm

#234312 Git - only show git blame for text documents with the `file` scheme for now
  extensions/git/src/blame.ts
Labels: git

#234338 Git - add git blame hover (status bar item, editor decoration)
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
Labels: git

#234386 Git - tweak git blame computation
  extensions/git/src/blame.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  src/vs/workbench/browser/parts/editor/editorCommands.ts
Labels: git

#234409 Git Blame - switch to LineRangeMapping and exclusive line ranges
  extensions/git/src/blame.ts
  src/vs/editor/common/diff/rangeMapping.ts
  src/vs/platform/editor/common/editor.ts
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostTextEditors.ts
  src/vs/workbench/browser/parts/editor/editorCommands.ts
  src/vscode-dts/vscode.proposed.textEditorDiffInformation.d.ts
Labels: git

#234420 Git Blame - refactor implementation to use an additional dirty diff provider
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
  extensions/git/src/main.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/api/browser/mainThreadQuickDiff.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostQuickDiff.ts
  src/vs/workbench/api/common/extHostTextEditor.ts
  src/vs/workbench/api/common/extHostTextEditors.ts
  src/vs/workbench/browser/parts/editor/editorCommands.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/common/quickDiff.ts
  src/vs/workbench/contrib/scm/common/quickDiffService.ts
  src/vscode-dts/vscode.proposed.quickDiffProvider.d.ts
  src/vscode-dts/vscode.proposed.textEditorDiffInformation.d.ts
Labels: git

#234425 Git - extract staged resource quick diff provider
  extensions/git/src/blame.ts
  extensions/git/src/main.ts
  extensions/git/src/repository.ts
Labels: git

#234583 Git - fix git blame hover action titles
  extensions/git/src/blame.ts
Labels: git

#234582 Git - add template support for editor decoration/status bar item
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/blame.ts
  extensions/git/src/git.ts
Labels: git

#234604 Git - refactor blame cache in preparation to more changes
  extensions/git/src/blame.ts
Labels: git

#234655 Git - only show blame editor decoration in the active editor
  extensions/git/src/blame.ts
Labels: git

#234701 SCM - attach additional diff information to the diff editor
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/contrib/scm/browser/diff.ts
Labels: scm

#234714 Git - add git blame decoration to diff editors
  extensions/git/src/blame.ts
Labels: git

#234739 Git - more git blame code cleanup
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
  extensions/git/src/util.ts
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/common/quickDiff.ts
Labels: git

#234784 SCM - set the foundation for history item ref actions
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
Labels: scm

#234825 SCM - refactor history item ref context menu actions
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#234838 Git - remove history item ref actions until we finalize on the structure of the context menu
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: git

#234844 SCM - use the scoped contextKeyService for the context menu
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm
