Repository microsoft/vscode, pull requests merged in 2024-09, with the labels that each got.

#227302 SCM - graph always scoped to one repository
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
Labels: scm

#227312 Engineering - update build agents
  build/azure-pipelines/product-build.yml
Labels: engineering

#227325 SCM - add repository picker to graph view
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227346 SCM - add graph settings
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227364 SCM - 💄 remove `icon` from `SourceControlHistoryItem`
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#227370 SCM - fix view container title when there is only a single view
  src/vs/workbench/contrib/scm/browser/scmViewPaneContainer.ts
Labels: scm

#227376 SCM - cleanup SourceControlHistoryProvider api
  extensions/git/src/decorationProvider.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#227377 Update inline hints on type but use fixed lens to guarantee a stable typing experience
  src/vs/editor/contrib/inlayHints/browser/inlayHintsController.ts
Labels: inlay-hints

#227382 SCM - fix repository picker when the view is moved to the auxiliary bar
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227387 SCM - show all labels in the graph
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227415 SCM - 💄 remove debug statement
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227436 SCM - add color to history item labels
  build/lib/stylelint/vscode-known-variables.json
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#227460 SCM - 💄 cleanup history provider observables
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/workingSet.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#227470 SCM - manually port fix for color registrations
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: candidate

#227471 SCM - move all graph colors in one place
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227542 SCM - 💄 more cleanup
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#227538 SCM - show multi-line commit message in hover
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/test/browser/scmHistory.test.ts
Labels: scm

#227555 SCM - show description for colored labels
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227556 Engineering - move runOnChange and runOnChangeWithStore utility functions
  src/vs/base/common/observableInternal/utils.ts
  src/vs/editor/browser/observableCodeEditor.ts
  src/vs/editor/contrib/inlineCompletions/browser/controller/inlineCompletionsController.ts
Labels: engineering

#227557 Engineering - update Linux build agents
  build/azure-pipelines/product-build.yml
Labels: engineering

#227558 Engineering - disable build warning for tool disablement
  build/azure-pipelines/product-build.yml
Labels: engineering

#227584 SCM - only expand the first colored label
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227648 SCM - 💄 context menu cleanup
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#227674 SCM Graph - refactored data fetching to reduce the number of times we fetch data
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227679 SCM Graph - add scm.graph.labels setting
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227701 SCM Graph - fix regression related to switching branches
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227714 SCM Graph - remove duplicate calls to git log
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227720 SCM Graph - rename setting to scm.graph.badges
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227724 Fix shell integration for windows julia
  src/vs/platform/terminal/node/windowsShellHelper.ts
Labels: bug, terminal-shell-integration

#214238 Add test-results.xml to .gitignore
  .gitignore
Labels: triage-needed

#227754 SCM Graph - refactor refresh code to use autorunWithStoreHandleChanges
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227780 SCM Graph - set the groundwork to show all history item groups
  extensions/git/src/git.ts
  src/vs/base/browser/markdownRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227949 SCM Graph - add branch picker
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/test/browser/scmHistory.test.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#227960 SCM - cleanup history provider proposed API
  extensions/git/src/decorationProvider.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#227970 SCM Graph - improve picker rendering
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227996 SCM Graph - add "Outdated" badge to view title
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228000 SCM Graph - 💄 switch to waitForState in favor of an autorun
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228021 SCM Graph - 💄 more observable clean-up
  src/vs/base/common/observableInternal/utils.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228042 SCM - wire-up the onDidChangeHistoryItemRefs event
  extensions/git/src/historyProvider.ts
  extensions/git/src/util.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#228066 Git - only calculate branch merge base on checkout
  extensions/git/src/historyProvider.ts
Labels: git

#228069 SCM - fix badge spacing in the history item hover
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#228072 SCM - Add history item hover action
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228084 SCM Graph - add progress indicator for initial rendering
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228091 SCM Graph - fix action ids to be consistent with other scm workbench actions
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#227725 Observables - add previousValue to runOnChange*
  src/vs/base/common/observableInternal/utils.ts
  src/vs/editor/contrib/inlineCompletions/browser/controller/inlineCompletionsController.ts
Labels: engineering

#223673 Cleanup debug model.
  src/vs/base/common/collections.ts
  src/vs/base/common/event.ts
  src/vs/workbench/contrib/debug/common/debugModel.ts
Labels: debt

#228102 SCM - 💄 remove SourceControlHistoryItemGroup from the API proposal
  extensions/git/src/commands.ts
  extensions/git/src/decorationProvider.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/workingSet.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/test/browser/scmHistory.test.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#228139 SCM - 💄 remove more of the history item group terminology
  build/lib/stylelint/vscode-known-variables.json
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228148 Git - clean-up history provider
  extensions/git/src/historyProvider.ts
Labels: scm

#228164 Git - fix remote reference id
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: git

#228205 SCM Graph - 💄 polish node rendering
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#228212 SCM Graph - bring selected items to the top of the references picker
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228216 SCM Graph - 💄 more picker polish
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228252 SCM Graph - tweak default colors
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
Labels: scm

#228250 Revert YAML grammar back to textmate/yaml.tmbundle
  extensions/vscode-colorize-tests/test/colorize-results/issue-1550_yaml.json
  extensions/vscode-colorize-tests/test/colorize-results/issue-4008_yaml.json
  extensions/vscode-colorize-tests/test/colorize-results/issue-6303_yaml.json
  extensions/vscode-colorize-tests/test/colorize-results/test_yaml.json
  extensions/yaml/build/update-grammar.js
  extensions/yaml/cgmanifest.json
  extensions/yaml/package.json
  extensions/yaml/syntaxes/yaml-1.0.tmLanguage.json
  extensions/yaml/syntaxes/yaml-1.1.tmLanguage.json
  extensions/yaml/syntaxes/yaml-1.2.tmLanguage.json
  extensions/yaml/syntaxes/yaml-1.3.tmLanguage.json
  extensions/yaml/syntaxes/yaml.tmLanguage.json
Labels: candidate

#228282 SCM Graph - add hover to the "Outdated" badge
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228329 SCM Graph - better handling of graph refresh
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#228380 SCM Graph - fix action item title and order
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228419 Engineering - update DownloadPipelineArtifact task
  build/azure-pipelines/linux/snap-build-linux.yml
Labels: engineering

#228428 SCM Graph - Add "Create Tag" action to history item context menu
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/api/api1.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: scm

#228450 SCM Graph - maintain history item filter references state when view is collapsed/expanded
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228438 SCM Graph - Add "Create Branch..." command to the history item context menu
  extensions/git/package.json
  extensions/git/src/commands.ts
Labels: scm

#228458 SCM Graph - save history item references filter to workspace storage
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228480 SCM Graph - Add more commands to the context menu
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: scm

#228600 SCM Graph - Add "Go to Current History Item" action
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228609 Git - retrieve references as part of updating the model
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: scm

#228611 Git - only compute incoming changes decorations when needed
  extensions/git/src/decorationProvider.ts
Labels: scm

#228643 Git - truncate commit hashes before running git log
  extensions/git/src/historyProvider.ts
Labels: git

#228630 Revert moved cursorWordAccessibility* commands and add keybinding rules only to workbench/contrib
  src/vs/editor/contrib/wordOperations/browser/wordOperations.ts
  src/vs/editor/contrib/wordOperations/test/browser/wordOperations.test.ts
  src/vs/workbench/contrib/output/browser/output.contribution.ts
Labels: important

#228754 Git Graph - do not show the view in serverless
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#228795 SCM - 💄 remove negative view order
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#228804 SCM Graph - sort history item references based on current/remote/base, color, name
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/util.ts
Labels: scm

#228817 Git - use --stdin when running git log
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
Labels: scm

#228921 SCM Graph - refactor history item reference filter
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228926 Git Graph - 💄 adjust codicons
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228932 SCM Graph - add option to return only a subset of history item references
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#228934 Git Graph - 💄 more code cleanup
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228939 SCM Graph - fix focus command
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#228956 GitHub - fix welcome message
  extensions/github/package.nls.json
Labels: github

#228942 Git - correctly detect merge base when creating a branch from a remote branch
  extensions/git/src/repository.ts
Labels: git

#229134 Git - error handling while computing merge base
  extensions/git/src/historyProvider.ts
Labels: git

#229139 SCM Graph - add welcome view to handle empty repository
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#229395 Git - remove the usage of `cp.execSync` from git integration test. Add assertions.
  extensions/git/src/test/smoke.test.ts
Labels: git

#229694 SCM - fix history item picker when view is in the auxiliary bar
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#229728 SCM Graph - fix badge rendering for selected lines
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
Labels: scm

#229731 Git - cheery-pick now handles the case where the changes are already present on the current branch
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: scm

#229918 SCM Graph - 💄 switch to using px for badge font size
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#229926 Git - rework integration tests
  extensions/git/src/test/smoke.test.ts
Labels: git

#229943 SCM - 💄 ActionButton API cleanup
  extensions/git/src/actionButton.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vscode-dts/vscode.proposed.scmActionButton.d.ts
Labels: scm

#229947 Engineering - update agent pool
  build/azure-pipelines/distro-build.yml
Labels: engineering

#229958 SCM - switch action button to observable to avoid using the onDidChange event
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#229914 Fix "in none full screen mode" typo
  src/vs/workbench/electron-sandbox/desktop.contribution.ts
Labels: triage-needed

#230022 SCM - first colored badge is being rendered independently
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#230025 SCM Graph - add counter to badges
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#230039 SCM Graph - only set the count and description is shown
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#230100 SCM - Remove onDidChange event
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#230102 SCM - add exception handling for the history provider methods
  src/vs/workbench/api/common/extHostSCM.ts
Labels: scm

#229968 Fail to read from stdin (fix #229962)
  src/vs/platform/environment/node/stdin.ts
Labels: candidate
