Repository microsoft/vscode, pull requests merged in 2024-03, with the labels that each got.

#206449 Export ILocalizedString in nls.mock.ts
  src/vs/nls.mock.ts
Labels: triage-needed

#204417 Only one subscriber for kernels for onDidChangeSelectedNotebooks
  src/vs/workbench/api/browser/mainThreadNotebookKernels.ts
Labels: triage-needed

#207169 Git - add the capability to filter git log based on the author
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
Labels: git

#207227 Render final line number for interval setting
  src/vs/editor/browser/viewParts/lineNumbers/lineNumbers.ts
Labels: triage-needed

#207476 SCM - Fix configuration event registration in DirtyDiffWorkbenchController
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
Labels: scm

#207511 Update listActiveSelectionBackground color
  src/vs/platform/theme/common/colorRegistry.ts
Labels: ux, themes, accessibility

#208017 SCM - fix input widget height on first render
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#208211 chore: Update codicons
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
  src/vs/base/common/codiconsLibrary.ts
Labels: icons-product

#208376 Git - emit change event as soon as file is staged
  extensions/git/src/repository.ts
Labels: git

#208730 GitProtocolHandler - update supported schemes based on the platform
  extensions/git/src/protocolHandler.ts
Labels: git

#208761 Git - fix #208562
  extensions/git/src/decorationProvider.ts
  extensions/git/src/util.ts
Labels: git

#207582 Fix missing class in inlinesuggest toolbar in Monaco-Editor causing CSS variables to be ineffective
  src/vs/base/browser/ui/contextview/contextview.ts
Labels: triage-needed

#209010 Git - remove deprecated extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/repository.ts
Labels: git

#208984 release/1.88 fix: incorrectly gives console error
  src/vs/workbench/services/issue/electron-sandbox/issueService.ts
Labels: candidate

#209070 SCM - history item now supports searching
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#209157 Also fire an event when focus & selection goes to empty
  src/vs/platform/quickinput/browser/quickInputTree.ts
Labels: candidate
