Repository microsoft/vscode, pull requests merged in 2024-05, with the labels that each got.

#212199 SCM - delete old code that is not used
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm

#212580 SCM - eagerly create the input box text model
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#213225 SCM - add command to focus input
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#213337 SCM - add commands to focus next/previous input
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#213377 SCM - add commands to focus previous/next resource group
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#213471 Debt - dispose child instantiation service
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#213035 Fix an issue where defaultLinesDiffComputer does not pass in the timeout variable
  src/vs/editor/common/diff/defaultLinesDiffComputer/defaultLinesDiffComputer.ts
Labels: triage-needed

#213792 SCM - all calls from extHostSCM to mainThreadSCM should use a sequencer to ensure that the source control object is created
  src/vs/workbench/api/common/extHostSCM.ts
Labels: scm

#213975 Git - add error handling for traversing workspace folders during repository discovery
  extensions/git/src/model.ts
Labels: git

#214021 SCM - adopt observables for commitTemplate
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#214037 SCM - fix listener leak
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm
