Repository microsoft/vscode, pull requests merged in 2024-12, with the labels that each got.

#234939 Git - add action button logging
  extensions/git/src/actionButton.ts
  extensions/git/src/repository.ts
Labels: git

#234944 Fixes old extensionHost process is not killed immediately after reloading vscode web tab in the browser
  src/vs/workbench/services/lifecycle/browser/lifecycleService.ts
Labels: triage-needed

#234964 Engineering - update notebooks
  .vscode/notebooks/endgame.github-issues
  .vscode/notebooks/my-endgame.github-issues
Labels: engineering

#234967 Git - fix action button regression (#231108)
  extensions/git/src/actionButton.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
Labels: git

#234988 SCM - fix picker when the graph is in the panel
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#235032 Git Blame - fix an edge case in which the legacy/advanced algos return different results
  extensions/git/src/blame.ts
Labels: git

#235207 Git Blame - fix incorrect git blame positioning
  src/vs/editor/browser/widget/diffEditor/diffEditorWidget.ts
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/api/test/browser/mainThreadDocumentsAndEditors.test.ts
  src/vs/workbench/contrib/scm/browser/diff.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
Labels: git

#235211 Git - remove codicon from git blame status bar item template setting
  extensions/git/package.json
  extensions/git/src/blame.ts
Labels: git

#235244 Git - remove "Copy Subject" command from the git blame hover
  extensions/git/src/blame.ts
Labels: git

#235249 SCM - fix history graph action bugs
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#235253 Git - fix "Not Committed Yet" tooltip
  extensions/git/src/blame.ts
Labels: git

#235255 Git - ensure one git blame editor decoration per line
  extensions/git/src/blame.ts
Labels: git

#235269 Git - do not show blame information when opening a new file
  extensions/git/src/blame.ts
Labels: git

#235464 Git/SCM - fix GC warnings
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: git, scm

#235470 update codicons for release/1.96
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
  src/vs/base/common/codiconsLibrary.ts
Labels: candidate

#235484 chat - some setup and quotas tweaks
  src/vs/workbench/browser/parts/titlebar/media/titlebarpart.css
  src/vs/workbench/contrib/chat/browser/actions/chatActions.ts
  src/vs/workbench/contrib/chat/browser/chatQuotasService.ts
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
Labels: candidate

#235486 SCM - dirty diff refactoring + clean-up
  src/vs/editor/common/diff/rangeMapping.ts
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/common/quickDiff.ts
Labels: scm

#235519 fix: validate chat session ID before trying to create an editing session from it
  src/vs/workbench/contrib/chat/browser/chatEditing/chatEditingService.ts
Labels: candidate

#235549 SCM - adopt IDirtyDiffModelService in various places
  src/vs/workbench/api/browser/mainThreadDocumentsAndEditors.ts
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/api/test/browser/mainThreadDocumentsAndEditors.test.ts
  src/vs/workbench/contrib/scm/browser/diff.ts
  src/vs/workbench/contrib/scm/browser/dirtyDiffModel.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#235579 SCM - switch to using ReferenceCollection in the IdirtyDiffModelService
  src/vs/workbench/api/browser/mainThreadEditors.ts
  src/vs/workbench/api/test/browser/mainThreadDocumentsAndEditors.test.ts
  src/vs/workbench/contrib/scm/browser/dirtyDiffModel.ts
  src/vs/workbench/contrib/scm/browser/dirtydiffDecorator.ts
Labels: scm

#235598 makes inline chat hint stable wrt blame decoration (#235497)
  src/vs/workbench/contrib/inlineChat/browser/inlineChatCurrentLine.ts
Labels: candidate

#235502 Use `disregardIgnoreFiles` in file search queries
  src/vs/workbench/contrib/files/browser/views/explorerViewer.ts
Labels: candidate

#235676 Workspace trust - remove unused code
  extensions/configuration-editing/src/extensionsProposals.ts
Labels: workspace-trust

#235674 chat - disable cache for requests (#235673)
  src/vs/base/parts/request/common/request.ts
  src/vs/base/parts/request/common/requestImpl.ts
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
Labels: candidate

#235658 chat - indicate quota hit in `prominent` status (#235637)
  src/vs/workbench/browser/parts/statusbar/media/statusbarpart.css
  src/vs/workbench/browser/parts/statusbar/statusbarPart.ts
  src/vs/workbench/contrib/chat/browser/chatQuotasService.ts
  src/vs/workbench/services/statusbar/browser/statusbar.ts
Labels: candidate

#235681 update wording, add svg (#235668)
  src/vs/workbench/contrib/welcomeGettingStarted/common/gettingStartedContent.ts
  src/vs/workbench/contrib/welcomeGettingStarted/common/media/multi-file-edits.svg
Labels: candidate

#235713 Git - keybindings to match command pallette `when` clause
  extensions/git/package.json
Labels: git

#65264 Fixes #44237: Add column number in tasks
  src/vs/server/node/remoteTerminalChannel.ts
  src/vs/workbench/api/common/extHostVariableResolverService.ts
  src/vs/workbench/services/configurationResolver/browser/baseConfigurationResolverService.ts
  src/vs/workbench/services/configurationResolver/common/configurationResolver.ts
  src/vs/workbench/services/configurationResolver/common/variableResolver.ts
Labels: debug, tasks, variable-resolving

#235750 chat - setup tweaks and enablement
  src/vs/workbench/contrib/chat/browser/chat.contribution.ts
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
Labels: candidate

#235584 Fix missing responses when transferring messages into chat panel
  src/vs/workbench/contrib/chat/common/chatModel.ts
Labels: candidate

#235849 Tweaks to sign up and 'retry' buttons
  src/vs/workbench/contrib/chat/browser/chatContentParts/chatQuotaExceededPart.ts
  src/vs/workbench/contrib/chat/browser/media/chat.css
Labels: candidate

#235901 chat - tweak setup and quota wording
  src/vs/workbench/contrib/chat/browser/chatQuotasService.ts
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
Labels: candidate

#235908 chat - enable setup by default only on desktop
  src/vs/workbench/contrib/chat/browser/chat.contribution.ts
Labels: candidate

#235865 Update walkthrough step
  src/vs/workbench/contrib/welcomeGettingStarted/common/gettingStartedContent.ts
Labels: candidate

#235985 Updating wording and behavior of walkthrough
  src/vs/workbench/contrib/welcomeGettingStarted/common/gettingStartedContent.ts
Labels: candidate

#235788 ci: fix flaky client module installation in legacy stage
  build/.cachesalt
  build/azure-pipelines/linux/product-build-linux-legacy-server.yml
Labels: candidate

#236045 Git - add the ability to continue merge/rebase if there are no changes
  extensions/git/src/actionButton.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#236051 Git - render emojis when showing blame information
  extensions/git/src/blame.ts
Labels: git

#236053 Git - fix `when` clause for keybindings
  extensions/git/package.json
Labels: git

#236057 Git - stash untracked filed during checkout (#214768)
  extensions/git/src/commands.ts
Labels: git

#236059 Git - auto stash should restore the stash when the operation fails (#232929)
  extensions/git/src/repository.ts
Labels: git

#236098 Git - ignore changes reported to the submodule folder (#205125)
  extensions/git/src/repository.ts
Labels: git

#236192 SCM - only show visible quick diff providers in the quick diff widget
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#236206 Revert "Git - ignore changes reported to the submodule folder (#205125) (#236098)"
  extensions/git/src/repository.ts
Labels: git

#236208 Git - fix submodule decoration
  extensions/git/src/decorationProvider.ts
Labels: git

#236231 SCM - quick diff decorators use legancy diff algorithm to avoid touching diffs
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
Labels: scm

#236234 GitHub - do not show the "Publish to GitHub" command in an empty workspace
  extensions/github/package.json
Labels: github

#236274 Git - only show git blame information for the active text editor
  extensions/git/src/blame.ts
Labels: git

#236279 Git - truncate the git blame information after 50 characters
  extensions/git/src/blame.ts
Labels: git

#236280 SCM - more quick diff cleanup
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
Labels: scm

#236315 SCM - quick diff should better handle untracked files
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
Labels: scm

#236318 SCM - remove more debt from the quick diff
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
Labels: scm

#236361 SCM Input - respect `editor.emptySelectionClipboard` setting
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#236303 Use safer escaping for css url strings
  src/vs/base/browser/cssValue.ts
  src/vs/editor/test/browser/services/decorationRenderOptions.test.ts
Labels: bug

#236392 Git - adjust command `when` clauses
  extensions/git/package.json
  extensions/git/src/commands.ts
Labels: git

#236409 Git - add more tracing to stage/unstage/revert commands
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
  extensions/git/src/staging.ts
Labels: scm

#236447 Git - don't use look-behind regex
  extensions/git/src/git.ts
Labels: git

#236444 Git - adopt #private in Git extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/main.ts
  extensions/git/src/postCommitCommands.ts
Labels: git

#236476 Git - fix context key for unstageSelectedRanges
  extensions/git/package.json
Labels: git

#236552 Copilot not working in Remote windows (fix #236537)
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
  src/vs/workbench/contrib/extensions/browser/extensionsWorkbenchService.ts
  src/vs/workbench/services/extensionManagement/common/extensionManagementService.ts
Labels: candidate

#236484 Git - fix encoding issue with stage selected ranges
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#236598 Git - expose `env` through the extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/git.ts
Labels: git

#236646 Git - better match git conflict decorations
  extensions/git/src/commands.ts
Labels: git

#236672 Git - git installation welcome view should use remoteName context key
  extensions/git/package.json
Labels: git

#226577 fix(git-ext): fix limitWarning block the git status progress
  extensions/git/src/repository.ts
Labels: git

#236694 SCM - add scm.historyProviderCount context key
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm

#236697 SCM - do not show "Open in External Terminal" action when connected to a remote
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#236716 Git - cleanup `vscode-merge-base` git config key when deleteing a branch
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#236813 SCM - disable actions for resource groups that do not have any resources
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/menus.ts
Labels: scm

#236849 Git - escape shell-sensitive characters
  extensions/git/src/git.ts
Labels: git

#236863 Git - handle the diff editor for untracked files now that we throw `FileNotFound` if the file does not exist
  extensions/git/src/fileSystemProvider.ts
  extensions/git/src/repository.ts
Labels: git

#237102 Git - add git blame editor decoration hover provider
  extensions/git/src/blame.ts
Labels: git
