Repository microsoft/vscode, pull requests merged in 2024-07, with the labels that each got.

#219340 rename editor.collapsedText to foldPlaceholderForeground
  build/lib/stylelint/vscode-known-variables.json
  src/vs/editor/contrib/folding/browser/folding.css
  src/vs/editor/contrib/folding/browser/foldingDecorations.ts
Labels: candidate

#219662 SCM - 💄 use editor placeholder instead of custom solution
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#219675 Git - include unstaged changes when amending a commit and smart commit is enabled
  extensions/git/src/commands.ts
Labels: git

#219701 SCM - 💄 adopt observable in working sets
  src/vs/workbench/contrib/scm/browser/workingSet.ts
Labels: scm

#219836 use unofficial 1espt
  build/azure-pipelines/product-build.yml
Labels: candidate

#219864 Git - fix timing issue with branch picker
  extensions/git/src/commands.ts
Labels: git

#219940 Git - do not show progress while running Config and GetBranch operations
  extensions/git/src/operation.ts
Labels: git

#219975 Git - 💄 better error handling and clean-up logging
  extensions/git/src/main.ts
  extensions/git/src/model.ts
  extensions/git/src/protocolHandler.ts
Labels: git

#220043 Git - standardize logging in the git extension
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/model.ts
  extensions/git/src/operation.ts
  extensions/git/src/protocolHandler.ts
  extensions/git/src/repository.ts
Labels: git

#220102 List - context menu should work with SVGElement
  src/vs/base/browser/dom.ts
  src/vs/base/browser/ui/list/listView.ts
Labels: list-widget

#220991 Git - fix commit flow regression
  extensions/git/src/commands.ts
Labels: git

#221039 SCM - update history graph hover
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#220040 fix: use xcode >= 15.1 to address broken builds on macOS <= 12 (#219991)
  build/.cachesalt
  build/azure-pipelines/darwin/product-build-darwin.yml
Labels: candidate

#221138 SCM - history item hover improvements
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221146 SCM - dispose the SCMInputWidgetToolbar
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221173 SCM - use MutableDisposable in SCMInputWidgetToolbar
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221218 Git - 💄 fix log message format
  extensions/git/src/model.ts
Labels: git

#221221 Git - add actions to incoming/outgoing header
  extensions/git/package.json
  src/vs/platform/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryItemChangesMenu.d.ts
Labels: git

#221251 HoverWidget - vertically align codicons in the hover widget
  src/vs/base/browser/ui/hover/hoverWidget.css
Labels: workbench-hover

#221254 Git - add exception handling to handle edge cases
  extensions/git/src/historyProvider.ts
Labels: git

#221268 Git - add exception handling to handle edge cases
  extensions/git/src/historyProvider.ts
Labels: git

#221273 Git - fix fetchRef, pullRef, pushRef commands
  extensions/git/src/commands.ts
Labels: git

#221282 SCM - fix history graph rendering issue
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#221287 Git - do not use commit^.. to get the list of commits
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#221326 SCM - 💄 extract the history provider cache
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221395 SCM - refactoring to enable filtering of history item groups
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#221408 SCM - add revision to history item group
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#221474 SCM - 💄 history provider observables cleanup
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/workingSet.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#221480 SCM - 💄 extract SCMTreeHistoryProviderDataSource
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221485 SCM - 💄 more observable clean-up
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/workingSet.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#221487 SCM - remove legacy historyProvider field
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/workingSet.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#221530 SCM - set context for actions in the incoming/outgoing header
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221738 SCM - fix badge regression
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#221895 Git - add terminal shell execution listener
  extensions/git/package.json
  extensions/git/src/main.ts
  extensions/git/src/terminal.ts
  extensions/git/tsconfig.json
Labels: git

#221963 SCM - add the capability to filter history graph
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#222066 SCM - improve history item hover layout
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#222102 SCM - history graph improvements
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/contrib/scm/test/browser/scmHistory.test.ts
Labels: scm

#222155 Git - update terminal shell integration
  extensions/git/src/terminal.ts
Labels: git

#222163 Git - only set base if it's different than remote
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#222162 SCM - add basic context menu to history graph
  extensions/git/package.json
  extensions/git/src/commands.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
Labels: scm

#222164 Markdown - add border-radius to the supported attribute values
  src/vs/base/browser/markdownRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: markdown

#222186 SCM - add support for multi-select in the history graph
  extensions/git/src/commands.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#222194 SCM - better handle empty commits
  extensions/git/package.json
  extensions/git/src/commands.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#222229 SCM - enable history graph by default
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#222937 Git - get short stats for the common ancestor commit
  extensions/git/src/git.ts
Labels: git

#223050 Git - include changes from both commits in the range
  extensions/git/src/commands.ts
Labels: scm

#223076 Inline edits - UI fixes for word wrap and scrolling
  src/vs/editor/contrib/inlineEdit/browser/inlineEditSideBySideWidget.ts
Labels: triage-needed

#223083 Add customizations.codespaces.disableAutomaticConfiguration to the devcontainer schema
  extensions/configuration-editing/schemas/devContainer.codespaces.schema.json
Labels: triage-needed

#223476 Git - use first commit as common ancestor if the repository has not been published to a remote
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
Labels: git

#223485 SCM - Move "View Changes" action into core
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#223488 SCM - fix incoming/outgoing actions rendering issue
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#223493 Git - fix condition for setting the base branch
  extensions/git/src/historyProvider.ts
Labels: git

#223497 SCM - improve history graph filtering
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#223602 SCM - fix issue related to refreshing the history graph
  src/vs/workbench/api/browser/mainThreadSCM.ts
Labels: scm

#223613 SCM - use correct color when rendering merge commit
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/test/browser/scmHistory.test.ts
Labels: scm

#223816 Improve markdown setting description
  extensions/markdown-language-features/package.nls.json
Labels: candidate

#224111 Fix typo in extHostExtensionService.ts
  src/vs/workbench/api/common/extHostExtensionService.ts
Labels: triage-needed

#224165 Git - improve handling of first commit
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#224147 Close button on notebooks is broken (fix #221582)
  src/vs/workbench/browser/parts/editor/editorCommandsContext.ts
Labels: candidate

#223940 Fixes #223937
  src/vs/editor/browser/widget/codeEditor/editor.css
Labels: candidate

#224185 Git - add more git sub-commands that would result in refreshing the SCM viewlet
  extensions/git/src/terminal.ts
Labels: git

#224187 SCM - fix edge case to show the first commit of the repository
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#221459 Add scm.compactFolders.
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#224038 fix: entry not always listed in Settings editor
  src/vs/workbench/contrib/preferences/browser/settingsEditor2.ts
Labels: candidate

#224194 Fix relative path for inserted `url()`
  extensions/css-language-features/client/src/dropOrPaste/dropOrPasteResource.ts
Labels: candidate

#224270 SCM - fix open in integrated terminal command
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#224290 Revert StableEditorScroll changes
  src/vs/editor/browser/stableEditorScroll.ts
Labels: candidate

#224243 Preserve highlights switching between single/multi file highlights
  src/vs/editor/contrib/wordHighlighter/browser/wordHighlighter.ts
Labels: editor-highlight

#224395 Git - add support for reftable storage format
  extensions/git/src/git.ts
Labels: git

#224408 Fix unclosed code setting tag
  src/vs/workbench/contrib/markdown/browser/markdownSettingRenderer.ts
  src/vs/workbench/contrib/markdown/test/browser/markdownSettingRenderer.test.ts
Labels: candidate
