Repository microsoft/vscode, pull requests merged in 2024-01, with the labels that each got.

#201883 SCM - only save tree state if tree exists
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#201907 Git - improve code that gets commit count
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
Labels: git

#201970 Git - add open stash command
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#201973 Git - rename "Open Stash" to "Preview Stash"
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#201986 Git - fix context menu order
  extensions/git/package.json
Labels: git

#202030 SCM - 💄 make sure scm action ids are unique
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#202036 Git - 💄 clean-up summary generation
  extensions/git/src/historyProvider.ts
Labels: git

#202042 Git - move "Open Commit" command from core to the git extension
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryItemMenu.d.ts
Labels: git

#202063 Git - swap file sides when previewing a stash
  extensions/git/src/commands.ts
Labels: git

#202106 SCM - fix border radius for checkout/sync actions
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: git

#202236 Git - adopt _workbench.openMultiDiffEditor command
  extensions/git/src/commands.ts
  extensions/git/src/uri.ts
Labels: git

#202256 SCM - Add scm.showChangesSummary setting
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#202270 fix: terminal renaming not functioning as expected in editor area
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
Labels: triage-needed

#202327 Git - Add "View All Changes" action + polish
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
Labels: scm

#202383 SCM - shrink the checkout action so that other actions are visible
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#202495 Git - checkout command improvements
  extensions/git/src/commands.ts
Labels: git

#202499 Git - polish view stash command
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
  src/vs/base/common/codicons.ts
  src/vs/workbench/contrib/multiDiffEditor/browser/actions.ts
Labels: git

#202512 Git - Improve "Close Repository" and "Close Other Repositories" commands
  extensions/git/src/commands.ts
  extensions/git/src/util.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
Labels: git

#202513 Git - 💄 show busy state while populating refs
  extensions/git/src/commands.ts
Labels: git

#202521 Git - "Close Repository" and "Close Other Repositories" now works in the main Source Control view
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: git

#202567 Git - do not show checkout commands when searching
  extensions/git/src/commands.ts
Labels: git

#202573 Git - 💄 make stash picker async
  extensions/git/src/commands.ts
Labels: git

#202586 Git - update getBranchBase so that it returns an upstream branch
  extensions/git/src/repository.ts
Labels: git

#202583 do not create a double semi colon when adding to path
  build/win32/code.iss
Labels: windows

#202679 chore: update electron v25.9.7
  .yarnrc
  package.json
Labels: candidate

#201843 add start/stop speech to text in terminal
  src/vs/workbench/contrib/terminal/browser/media/terminalSpeechToText.css
  src/vs/workbench/contrib/terminal/browser/terminal.contribution.ts
  src/vs/workbench/contrib/terminal/browser/terminal.ts
  src/vs/workbench/contrib/terminal/browser/terminalActions.ts
  src/vs/workbench/contrib/terminal/browser/terminalInstance.ts
  src/vs/workbench/contrib/terminal/browser/terminalSpeechToText.ts
  src/vs/workbench/contrib/terminal/common/terminal.ts
Labels: workbench-voice

#202727 Git - 💄 remove unused event handlers
  extensions/git/src/repository.ts
Labels: git

#202766 SCM - 💄 polish incoming/outgoing proposed API
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#202809 Git - add fetch, pull, push commands to incoming/outgoing
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/historyProvider.ts
Labels: git

#202836 Git - only show "Incoming changes" node for upstream
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: git

#202863 Git - add onCommit event to vscode.git extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
Labels: git

#203244 Fix Expand All Diffs command order
  src/vs/workbench/contrib/multiDiffEditor/browser/actions.ts
Labels: diff-editor

#203248 SCM - fix regression related to the editor.wordWrap language setting
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#203325 SCM - fix treeview comparison function
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#203341 Git - fix viewing stahes with added/deleted/renamed files
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#203381 SCM - do not show "View Commit" or "View All Changes" action for empty commits
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/menus.ts
Labels: scm

#203450 Git - view stash should use the stash's parent commit for the left hand side
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: git

#203512 SCM - Add "Reopen Closed Repositories..." action to the "Source control Repositories" view title bar
  extensions/git/package.json
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vs/workbench/services/extensions/common/extensionsApiProposals.ts
  src/vscode-dts/vscode.proposed.contribSourceControlTitleMenu.d.ts
Labels: scm

#203529 Git - fix issue related to a renamed resource
  extensions/git/src/historyProvider.ts
Labels: git

#203530 fix: double account for DPR in mouse wheel classifier
  src/vs/base/browser/ui/scrollbar/scrollableElement.ts
Labels: candidate

#203572 Git - handle stashes that contain untracked files
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#203609 Git - 💄 remove duplicated code
  extensions/git/src/git.ts
Labels: git

#203682 Git - fix issue related to a renamed resource (#203529)
  extensions/git/src/historyProvider.ts
Labels: git

#203688 Git - extract toMultiFileDiffEditorUris
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/uri.ts
Labels: git

#203712 SCM - history item group context menu
  extensions/git/package.json
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
  src/vscode-dts/vscode.proposed.contribSourceControlHistoryItemGroupMenu.d.ts
Labels: scm

#199194 Replace map by foreach
  src/vs/editor/contrib/find/browser/findController.ts
  src/vs/editor/contrib/find/browser/findWidget.ts
  src/vs/workbench/browser/parts/editor/editorGroupWatermark.ts
  src/vs/workbench/contrib/extensions/browser/extensions.contribution.ts
  src/vs/workbench/contrib/search/browser/searchModel.ts
Labels: triage-needed

#203772 fix: update rpm release tag to el8
  resources/linux/rpm/code.spec.template
Labels: candidate

#203715 Enable tree sticky scroll by default
  src/vs/platform/list/browser/listService.ts
Labels: candidate

#202730 docs: update comment for hideFromUser
  src/vs/platform/terminal/common/terminal.ts
  src/vscode-dts/vscode.d.ts
Labels: triage-needed

#203836 Git - fix repository deduplication logic
  extensions/git/src/model.ts
Labels: git

#203837 Fix persistent syntax highlighting in split windows
  src/vs/editor/contrib/wordHighlighter/browser/wordHighlighter.ts
Labels: editor-highlight

#203853 Fix broken highlights when clicking a previously selected symbol
  src/vs/editor/contrib/wordHighlighter/browser/wordHighlighter.ts
Labels: editor-highlight

#203731 fix: skip server requirements check based on file presence
  cli/src/util/prereqs.rs
  resources/server/bin/code-server-linux.sh
  resources/server/bin/helpers/check-requirements-linux.sh
Labels: candidate

#203870 a11y theme fixes
  src/vs/base/browser/ui/actionbar/actionbar.css
Labels: themes, accessibility

#203884 SCM - 💄 Only show Repositories sub-menu if there are multiple repositories
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#203922 Update panel and auxiliary bar action titles
  src/vs/workbench/browser/parts/panel/panelActions.ts
Labels: ux

#203931 cli: skip integrity check when prereq skip flag is present (#203912)
  cli/src/tunnels/code_server.rs
  cli/src/util/prereqs.rs
Labels: candidate
