Repository microsoft/vscode, pull requests merged in 2025-05, with the labels that each got.

#247998 Engineering - bump version
  package-lock.json
  package.json
Labels: engineering

#248038 Use international number formatter to display quota percentage
  src/vs/workbench/contrib/chat/browser/chatStatus.ts
Labels: candidate

#248048 Remove obsolete note on maxRequests setting
  src/vs/workbench/contrib/chat/browser/chat.contribution.ts
Labels: candidate

#248066 Hide button to manage overages for enterprise/business users (fix microsoft/vscode-copilot#16963)
  src/vs/workbench/contrib/chat/browser/chatStatus.ts
Labels: candidate

#248135 SCM Graph - pass editor options to the multi-file diff editor
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#248137 SCM - make the quick diff service more resilient to errors
  src/vs/workbench/contrib/scm/common/quickDiffService.ts
Labels: scm

#248153 Engineering - run OSS tool, update distro
  cglicenses.json
  cli/ThirdPartyNotices.txt
  package.json
Labels: engineering

#248202 Git - disable "unstage selected ranges" and "unstage changes" commands in the editor/peek view
  extensions/git/package.json
Labels: git

#248217 Git - disable "unstage selected ranges" and "unstage changes" commands in the editor/peek view
  extensions/git/package.json
Labels: git

#248232 Fix incorrect manage overages command
  src/vs/workbench/contrib/chat/browser/chatContentParts/chatQuotaExceededPart.ts
Labels: candidate

#248242 SCM - Fix quick diff navigation commands
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#248293 SCM - 💄 refactor quick diffs so that they do not use the quick diff label as a key
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
  src/vs/workbench/contrib/scm/common/quickDiff.ts
Labels: scm

#248298 SCM - disable gutter menu in the quick diff peek widget
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#248316 SCM - don't render the overview rules in the quick diff widget
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#248501 SCM - do not scroll beyond the last line in the quick diff editor
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#248694 SCM Graph - show commit details
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/history.ts
Labels: scm

#248705 SCM Graph - open normal editor for added/deleted files
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#248729 Engineering - remove unused proposal
  extensions/vscode-api-tests/package.json
Labels: engineering

#248727 SCM - 💄 fix disaposable leak
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#248738 SCM - 💄 another disposable leak fix
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#248791 SCM - add copilot commit message generation stub action
  src/vs/base/common/product.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#248801 Engineering - update distro
  package.json
Labels: engineering

#248813 SCM - 💄 show cancel action while generating commit message
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#248821 SCM Graph - fix edge case for commit margin
  src/vs/workbench/contrib/scm/browser/scmHistory.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#248855 debug: bump js-debug
  product.json
Labels: candidate

#248854 SCM - fix quick diff vertical scrolling issue
  src/vs/editor/contrib/peekView/browser/peekView.ts
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#249021 SCM - add history item resolver for the multi-file diff editor
  src/vs/workbench/contrib/multiDiffEditor/browser/scmMultiDiffSourceResolver.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#249073 SCM - add the capability to attach a history item as chat context
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/chat/browser/chatAttachmentWidgets.ts
  src/vs/workbench/contrib/chat/browser/chatContentParts/chatAttachmentsContentPart.ts
  src/vs/workbench/contrib/chat/browser/chatInputPart.ts
  src/vs/workbench/contrib/chat/common/chatModel.ts
  src/vs/workbench/contrib/multiDiffEditor/browser/scmMultiDiffSourceResolver.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#249075 SCM Graph - do not show inline action in the context menu
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#249086 Git - do not add ellipsis to history item subject/timeline item label
  extensions/git/src/historyProvider.ts
  extensions/git/src/timelineProvider.ts
Labels: git

#249088 SCM - polish history item context picker
  src/vs/workbench/contrib/chat/browser/actions/chatContextActions.ts
  src/vs/workbench/contrib/chat/browser/chatContextPickService.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
Labels: scm

#249101 Update codicon font file to reflect recent changes - mcp fix
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
Labels: bug

#249106 SCM - switch quick diff to use the `advanced` diff algo to fix some edge cases
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
Labels: scm

#249199 SCM - expose complete diff information to extensions
  src/vs/workbench/contrib/scm/browser/quickDiffModel.ts
Labels: scm

#249255 SCM Graph - add context menu action to add history item to chat
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
Labels: scm

#249265 SCM Graph - add action to summarize history item
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
Labels: scm

#249308 SCM Graph - improve history item context hover
  src/vs/workbench/contrib/chat/browser/chatAttachmentWidgets.ts
  src/vs/workbench/contrib/chat/common/chatModel.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
Labels: scm

#249331 SCM - extract history item hover content creation
  src/vs/workbench/contrib/chat/browser/chatAttachmentWidgets.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
Labels: scm

#249340 GitHub - fix graphql query regression following the ESM migration
  extensions/github/src/auth.ts
Labels: github

#249360 SCM - adjust source control context picker labels
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
Labels: scm

#248663 Replace -v with -n and parameter expansion zsh shell integration
  src/vs/workbench/contrib/terminal/common/scripts/shellIntegration-rc.zsh
Labels: bug, terminal-shell-zsh

#249386 SCM Graph - simplify margin rendering
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#249483 SCM Graph - add tree rendering for commit
  src/vs/workbench/contrib/scm/browser/media/scm.css
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/util.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#249516 SCM Graph - do not show actions for folders
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#249545 SCM Graph - separate action to toggle view mode
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewService.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#249709 Git - sequantialize calls to `git config`
  extensions/git/src/git.ts
Labels: git

#249819 SCM - add the ability to search for a history item
  extensions/git/src/api/git.d.ts
  extensions/git/src/git.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryChatContext.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: scm

#249874 Git - include short commit hash in the ref picker details
  extensions/git/src/commands.ts
Labels: git

#245024 Enhance GithHub publishing logic to handle renamed repositories
  extensions/github/src/publish.ts
Labels: github

#249890 Git - handle the scenarion in which Recycle Bin/Trash are not supported
  extensions/git/src/repository.ts
Labels: git

#249920 Git - `provideOriginalResource()` should handle symbolic links
  extensions/git/src/repository.ts
Labels: git

#249949 add tools picker code lens to prompt files
  src/vs/workbench/contrib/chat/browser/actions/chatToolPicker.ts
  src/vs/workbench/contrib/chat/browser/chat.contribution.ts
  src/vs/workbench/contrib/chat/browser/promptSyntax/promptToolsCodeLensProvider.ts
Labels: chat-tools

#249979 fix: correct codicon name from `extensionLarge` to `extensionsLarge`
  src/vs/base/common/codiconsLibrary.ts
Labels: bug

#250111 Add new layout codicons for panel and sidebar docking
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
  src/vs/base/common/codiconsLibrary.ts
Labels: icons-product

#250109 Git - add logging for askpass
  extensions/git/src/askpass-main.ts
  extensions/git/src/askpass.ts
  extensions/git/src/main.ts
Labels: git

#250123 Engineering - move to Windows2022 build agents
  build/azure-pipelines/product-build.yml
Labels: engineering
