Repository microsoft/vscode, pull requests merged in 2025-10, with the labels that each got.

#269361 Git - fix regression related to using path.sep
  extensions/git/src/util.ts
Labels: git

#269637 Fix powershell venv Python prompt
  src/vs/workbench/contrib/terminal/common/scripts/shellIntegration.ps1
Labels: candidate

#270075 Git - remove usages of `any`
  extensions/git/src/commands.ts
  extensions/git/src/emoji.ts
  extensions/git/src/git.ts
  extensions/git/src/main.ts
  extensions/git/src/util.ts
Labels: debt, git

#270151 SCM - remove the usage of `any`
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#270168 SCM - more `any` cleanup
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/api/common/extHostTypeConverters.ts
Labels: scm

#269776 Do not recommend extensions if language is set via auto detection
  src/vs/workbench/contrib/extensions/browser/fileBasedRecommendations.ts
Labels: languages-guessing, extension-recommendations
