Repository microsoft/vscode, pull requests merged in 2025-02, with the labels that each got.

#239456 SCM - fix action button container height
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#239462 Git - fix post-commit command for multi-repo workspaces
  extensions/git/src/model.ts
Labels: git

#239471 SCM - fix graph title actions rendering
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#239478 SCM - 💄 remove debug statement
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#239535 Force an update after acquiring a token interactively
  extensions/microsoft-authentication/src/node/authProvider.ts
  extensions/microsoft-authentication/src/node/cachedPublicClientApplication.ts
Labels: candidate

#239511 Safer fix for 239274
  src/vs/platform/contextkey/browser/contextKeyService.ts
  src/vs/workbench/contrib/chat/browser/chat.contribution.ts
  src/vs/workbench/contrib/chat/browser/languageModelToolsService.ts
  src/vs/workbench/contrib/chat/common/chatAgents.ts
  src/vs/workbench/contrib/chat/common/chatContextKeys.ts
Labels: candidate

#239522 Disable MSAL for unsupported web clients
  extensions/microsoft-authentication/src/extension.ts
Labels: candidate

#239547 SCM - add quickDiffDecorationCount context key
  src/vs/workbench/contrib/scm/browser/quickDiffDecorator.ts
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
Labels: scm

#239597 Git - switch to using diff information for the stage/unstage/revert selected ranges commands
  extensions/git/src/commands.ts
  extensions/git/src/staging.ts
  src/vscode-dts/vscode.proposed.textEditorDiffInformation.d.ts
Labels: git

#239303 ci: fix installation of build dependencies (#239290)
  build/azure-pipelines/alpine/cli-build-alpine.yml
  build/azure-pipelines/darwin/product-build-darwin-cli-sign.yml
  build/azure-pipelines/darwin/product-build-darwin-universal.yml
  build/azure-pipelines/linux/cli-build-linux.yml
  build/azure-pipelines/linux/product-build-linux-legacy-server.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/product-build.yml
  build/azure-pipelines/product-publish.yml
  build/azure-pipelines/win32/product-build-win32-cli-sign.yml
Labels: candidate

#187850 [Git] Migrate to git autostash when pulling for better performance
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#192172 Supply multiselects to `scm/resourceGroup/context` menu commands (fix #92337)
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#239692 Git - add command to delete remote branch
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#239700 Git - add a check so that the active branch cannot be deleted
  extensions/git/src/commands.ts
Labels: git

#239723 Git - handle deleted remote branches
  extensions/git/src/git.ts
Labels: git

#239728 Git - enable deleting remote branches from the graph
  extensions/git/package.json
  extensions/git/src/commands.ts
Labels: git

#239842 Git - do not show origin/HEAD ref in the graph
  extensions/git/src/historyProvider.ts
Labels: git

#194804 Add `scmResourceGroupState` context key (#192009)
  src/vs/platform/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/menus.ts
  src/vs/workbench/contrib/scm/common/scm.ts
  src/vscode-dts/vscode.proposed.scmResourceGroupState.d.ts
Labels: git

#239931 SCM - 🧰 fix disposable leak
  src/vs/workbench/contrib/scm/browser/scmRepositoryRenderer.ts
Labels: scm

#239947 SCM - 💄 graph node treatment on hover
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#230693 SCM - Briefer titles on SCM views
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewPaneContainer.ts
Labels: ux, scm

#240264 Initial implementation
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/util.ts
Labels: git

#240357 Git - handle submodule HEAD file
  extensions/git/src/fileSystemProvider.ts
  extensions/git/src/git.ts
Labels: git

#240387 Git - add setting for untracked changes soft delete
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/repository.ts
Labels: git

#239959 [release/1.97] xterm@5.6.0-beta.97
  package-lock.json
  package.json
  remote/package-lock.json
  remote/package.json
  remote/web/package-lock.json
  remote/web/package.json
Labels: candidate

#240221 Make GH completions menu discoverable from the 🤖 menu (fix microsoft/vscode-copilot#13039)
  src/vs/workbench/contrib/chat/browser/actions/chatActions.ts
Labels: candidate

#240431 debug: fix input staying readonly during a restart when repl not visible
  src/vs/workbench/contrib/debug/browser/repl.ts
Labels: candidate

#240417 SCM - finalize scmResourceGroupState API proposal
  src/vs/platform/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vscode-dts/vscode.d.ts
  src/vscode-dts/vscode.proposed.scmResourceGroupState.d.ts
Labels: scm

#239907 Fix tab border and focus outline
  src/vs/workbench/browser/parts/editor/media/multieditortabscontrol.css
Labels: candidate

#240519 Git - polish discard changes dialogs
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git

#240590 Git - polish the diagnostics information commit hook
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#240635 Git - remove the ignore sources setting as it is now merged into the sources setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/util.ts
Labels: git

#240692 Log provider in "tunnel user show"
  cli/src/auth.rs
  cli/src/commands/tunnels.rs
Labels: triage-needed

#240704 Engineering - enable batching for the CI build
  build/azure-pipelines/product-build.yml
Labels: engineering

#240676 Engineering - switch Compile stage to macOS ARM64
  build/azure-pipelines/product-build.yml
  build/azure-pipelines/product-compile.yml
Labels: engineering

#240783 Git - use relative path in `getObjectDetails()`
  extensions/git/src/repository.ts
Labels: git

#240784 Git - use relative path when getting blame information
  extensions/git/src/repository.ts
Labels: git

#240805 Git - disable untracked file soft-delete when connected to a remote
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
  extensions/git/src/util.ts
Labels: git

#240817 SCM - Escape should first clear the selection and then the input
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
Labels: scm

#240998 Git - fix unstage selected ranges for renamed files
  extensions/git/src/commands.ts
Labels: git

#241061 Git - fix regression related to editing the merge commit message
  extensions/git/src/actionButton.ts
  extensions/git/src/git.ts
  extensions/git/src/operation.ts
  extensions/git/src/repository.ts
Labels: git

#240984 Use SAS urls for ESRP
  build/azure-pipelines/common/publish.js
  build/azure-pipelines/common/publish.ts
Labels: engineering

#241076 Engineering - increase worker count for mangling
  build/lib/mangle/index.js
  build/lib/mangle/index.ts
Labels: engineering

#241124 SCM - fix missing actions in the Repositories view
  src/vs/workbench/contrib/scm/browser/menus.ts
Labels: scm

#241256 Git - remove jschardet
  extensions/git/package-lock.json
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/encoding.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
Labels: git

#241363 SCM - 💄 fix disposable leaks
  src/vs/workbench/contrib/scm/browser/quickDiffWidget.ts
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#240054 Allow detection of powershell-preview snap
  src/vs/platform/shell/node/shellEnv.ts
Labels: triage-needed

#241600 Typo in storage URI docs
  src/vscode-dts/vscode.d.ts
Labels: triage-needed

#239929 Fix typos in `editorOptions.ts`
  src/vs/editor/common/config/editorOptions.ts
Labels: triage-needed

#241953 Git - rename "untrackedChangesSoftDelete" to "untrackedChangesEnableTrash"
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
  extensions/git/src/repository.ts
Labels: git

#242207 Fix issue where remote and virtual linux did not get env reporting
  src/vs/server/node/remoteTerminalChannel.ts
  src/vs/workbench/contrib/terminal/browser/remoteTerminalBackend.ts
Labels: bug

#242291 Fixes #241866
  src/vs/workbench/contrib/inlineCompletions/browser/inlineCompletionLanguageStatusBarContribution.ts
Labels: candidate

#242302 Code completions settings is not accurate (fix #242300)
  src/vs/workbench/contrib/chat/browser/chatStatus.ts
Labels: candidate

#242362 Bundle TS 5.8.2
  extensions/package-lock.json
  extensions/package.json
Labels: candidate

#242356 chat: fix some state handling with modified notebook entries
  .github/workflows/telemetry.yml
  src/vs/workbench/contrib/chat/browser/chatEditing/chatEditingModifiedNotebookEntry.ts
  src/vs/workbench/contrib/chat/browser/chatEditing/chatEditingSession.ts
Labels: candidate
