Repository microsoft/vscode, pull requests merged in 2025-03, with the labels that each got.

#242456 Git - improve git blame rendering efficiency
  extensions/git/src/blame.ts
Labels: git

#242469 Revert "Git - remove jschardet (#241256)"
  extensions/git/package-lock.json
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/encoding.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
Labels: git

#242407 Fix a few broken `@link` in vscode.d.ts
  src/vscode-dts/vscode.d.ts
Labels: triage-needed

#231347 Copy UUID impl
  extensions/ipynb/src/helper.ts
  test/automation/src/profiler.ts
Labels: debt

#242508 Git - do not show "Not Committed Yet" while typing
  extensions/git/src/blame.ts
Labels: git

#242497 fix: avoid extra gaps between attachments in chat input part
  src/vs/workbench/contrib/chat/browser/chatInputPart.ts
  src/vs/workbench/contrib/chat/browser/media/chat.css
Labels: candidate

#242544 Git - fix data shape issue for the merge base
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
Labels: git

#242553 Git - 💄 add path delimiter when calling git blame
  extensions/git/src/git.ts
Labels: git

#242539 Revert "Git - remove jschardet (#241256)" (#242469)
  extensions/git/package-lock.json
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/encoding.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
Labels: git, candidate

#242592 disable user prompts synchronization in stable
  src/vs/workbench/contrib/userDataSync/browser/userDataSync.ts
Labels: candidate

#242591 Bundle TS 5.8.2
  extensions/package-lock.json
  extensions/package.json
Labels: candidate

#242665 Git - use `editorInlayHint.foreground` for the git blame editor decoration as it is lighter than `editorCodeLens.foreground`
  extensions/git/package.json
Labels: git

#242675 Git - remove `diffCommand` proposal
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/staging.ts
  extensions/git/tsconfig.json
Labels: git

#243056 SCM - 💄 fix property init order in `activity.ts`
  build/lib/propertyInitOrderChecker.js
  build/lib/propertyInitOrderChecker.ts
  src/vs/workbench/contrib/scm/browser/activity.ts
Labels: scm

#243058 SCM - 💄 fix property init order in `quickDiffDecorator.ts`
  build/lib/propertyInitOrderChecker.js
  build/lib/propertyInitOrderChecker.ts
  src/vs/workbench/contrib/scm/browser/quickDiffDecorator.ts
Labels: scm

#243060 SCM - 💄 fix property init order in `scmViewService.ts`
  build/lib/propertyInitOrderChecker.js
  build/lib/propertyInitOrderChecker.ts
  src/vs/workbench/contrib/scm/browser/scmViewService.ts
Labels: scm

#243061 SCM - 💄 fix property init order in `workingSet.ts`
  build/lib/propertyInitOrderChecker.js
  build/lib/propertyInitOrderChecker.ts
  src/vs/workbench/contrib/scm/browser/workingSet.ts
Labels: scm

#243069 SCM - 💄 fix property init order in `scmHistoryViewPane.ts`
  build/lib/propertyInitOrderChecker.js
  build/lib/propertyInitOrderChecker.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#243078 chore: update runtime builds
  .npmrc
  package.json
Labels: candidate

#242594 Prevent using an invalid model with agent mode
  src/vs/workbench/contrib/chat/browser/chatInputPart.ts
Labels: candidate

#243178 fix: backport cppgc crash fix for linux 16Kb
  .npmrc
  package.json
Labels: candidate

#240906 High contrast gutter items
  build/lib/stylelint/vscode-known-variables.json
  src/vs/editor/browser/widget/diffEditor/style.css
  src/vs/workbench/contrib/scm/common/quickDiff.ts
Labels: triage-needed

#243314 fix: pty crash on windows with legacy conpty path
  package-lock.json
  package.json
  remote/package-lock.json
  remote/package.json
Labels: candidate

#243262 Use Object.freeze when exposing shell env api
  src/vs/workbench/api/common/extHostTerminalShellIntegration.ts
Labels: bug

#243394 enables the `user prompt` synchronization for all vscode qualities
  src/vs/workbench/contrib/userDataSync/browser/userDataSync.ts
Labels: candidate

#243476 Update codicon font file to latest version with updated thumbs up and down styles
  src/vs/base/browser/ui/codicons/codicon/codicon.ttf
Labels: ux, icons-product

#243571 Git - handle both absolute and relative paths
  extensions/git/src/git.ts
Labels: git

#243582 Git - add commit details to ref pickers
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: git

#243471 Increment the request attempt in the chat retry action
  src/vs/workbench/contrib/chat/browser/actions/chatTitleActions.ts
Labels: triage-needed

#243274 Finalize Shell API
  extensions/terminal-suggest/src/terminalSuggestMain.ts
  extensions/terminal-suggest/src/tokens.ts
  extensions/vscode-api-tests/src/singlefolder-tests/terminal.test.ts
  src/vs/platform/extensions/common/extensionsApiProposals.ts
  src/vs/workbench/api/common/extHostTerminalService.ts
  src/vscode-dts/vscode.d.ts
  src/vscode-dts/vscode.proposed.terminalShellType.d.ts
Labels: api-finalization

#243762 Git - enable `git.showReferenceDetails`
  .vscode/settings.json
Labels: git

#243679 Added localization to right-click on icon
  resources/linux/code.desktop
Labels: triage-needed

#243839 Git - enable reference details in pickers by default
  extensions/git/package.json
Labels: git

#243843 Git - remove the usage of jschardet and iconv-lite-umd
  extensions/git/package-lock.json
  extensions/git/package.json
  extensions/git/src/commands.ts
  extensions/git/src/encoding.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
  extensions/git/tsconfig.json
Labels: git

#242903 Honor more cursor settings in scm input editor
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#243899 Git - cleanup ref parsing
  extensions/git/src/git.ts
Labels: git

#243959 Git - add the missing Api proposal
  extensions/git/package.json
Labels: git

#243974 Git - use committerDate in the ref picker
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
Labels: git

#244003 Git - display ahead/behind information in the checkout picker
  extensions/git/src/api/git.d.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#244008 Git - merge branch picker should not include the current branch
  extensions/git/src/commands.ts
Labels: git

#244036 Git - include ahead/behind information in all branch pickers
  extensions/git/src/commands.ts
Labels: git

#244104 Git - refactor code to exclude refs from pickers
  extensions/git/src/commands.ts
Labels: git

#244109 SCM - 💄 remove Disposable inheritance as it is not needed
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#244153 SCM - accessibility help view should use focused repository instead of active repository
  src/vs/workbench/contrib/scm/browser/scmAccessibilityHelp.ts
Labels: scm

#244163 SCM - source control provider status bar item
  src/vs/workbench/contrib/scm/browser/activity.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmViewService.ts
  src/vs/workbench/contrib/scm/common/scm.ts
Labels: scm

#244247 Git - fix issue with losing merge state when discarding untracked file
  extensions/git/src/repository.ts
Labels: git

#244261 SCM - fix repository focus issue when clicking on a selected repository
  src/vs/workbench/contrib/scm/browser/scmRepositoriesViewPane.ts
Labels: scm

#244340 Git - try a different separator in the ref picker
  extensions/git/src/commands.ts
Labels: git

#244447 Engineering - only run unit tests on Webkit
  build/azure-pipelines/darwin/product-build-darwin-test.yml
  build/azure-pipelines/win32/product-build-win32-test.yml
Labels: engineering

#244041 support attach cell output in copilot
  extensions/ipynb/package.json
  src/vs/workbench/browser/labels.ts
  src/vs/workbench/contrib/notebook/browser/controller/chat/notebook.chat.contribution.ts
  src/vs/workbench/contrib/notebook/browser/services/notebookServiceImpl.ts
  src/vs/workbench/contrib/notebook/common/notebookCommon.ts
  src/vs/workbench/services/notebook/common/notebookDocumentService.ts
Labels: feature-request

#244725 SCM - listen to editor configuration changes
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#244729 Git - git blame/timeline hover should not support HTML
  extensions/git/src/blame.ts
  extensions/git/src/timelineProvider.ts
Labels: git

#244792 fix open cell notebook output error
  src/vs/workbench/contrib/notebook/browser/services/notebookServiceImpl.ts
Labels: bug

#244954 Git - 💄 log repository real path as well
  extensions/git/src/model.ts
Labels: git

#244948 Copilot status entry does not hide when "Hide Copilot" (fix #244946)
  src/vs/workbench/contrib/chat/browser/chatStatus.ts
Labels: candidate

#245001 Git - improvements to relative path calculation
  extensions/git/src/git.ts
  extensions/git/src/util.ts
Labels: git

#244937 Align setup and extension welcome view content to avoid flicker
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
Labels: candidate

#244925 Show placeholder welcome view for the unified Edits view
  src/vs/workbench/contrib/chat/browser/chatInputPart.ts
  src/vs/workbench/contrib/chat/browser/chatParticipant.contribution.ts
Labels: candidate

#244964 Engineering - switch over to the new build agents
  build/azure-pipelines/alpine/product-build-alpine.yml
  build/azure-pipelines/darwin/product-build-darwin.yml
  build/azure-pipelines/linux/product-build-linux.yml
  build/azure-pipelines/oss/product-build-pr-cache-linux.yml
  build/azure-pipelines/oss/product-build-pr-cache-win32.yml
  build/azure-pipelines/product-build.yml
  build/azure-pipelines/product-compile.yml
  build/azure-pipelines/web/product-build-web.yml
  build/azure-pipelines/win32/product-build-win32.yml
Labels: engineering

#245164 mcp: order extension host delegates to avoid unnecessary CORS errors
  src/vs/workbench/api/browser/mainThreadMcp.ts
  src/vs/workbench/contrib/mcp/common/mcpRegistry.ts
  src/vs/workbench/contrib/mcp/common/mcpRegistryTypes.ts
  src/vs/workbench/contrib/mcp/test/common/mcpRegistry.test.ts
  src/vs/workbench/contrib/mcp/test/common/mcpServerConnection.test.ts
  src/vs/workbench/contrib/mcp/test/common/mcpServerRequestHandler.test.ts
Labels: candidate

#245181 Add commands to quickly switch between svg preview and text
  extensions/media-preview/package.json
  extensions/media-preview/package.nls.json
  extensions/media-preview/src/audioPreview.ts
  extensions/media-preview/src/imagePreview/index.ts
  extensions/media-preview/src/mediaPreview.ts
  extensions/media-preview/src/videoPreview.ts
  src/vs/workbench/browser/parts/editor/editorCommands.ts
Labels: a11y-partner
