Repository microsoft/vscode, pull requests merged in 2025-01, with the labels that each got.

#237185 Git - refactor git blame code
  extensions/git/src/blame.ts
Labels: git

#237187 Git - update git blame settings
  extensions/git/package.json
Labels: git

#237190 Git - git blame hover commands polish
  extensions/git/src/blame.ts
Labels: git

#237257 Git - add stage/unstage commands to editor title
  extensions/git/package.json
  extensions/git/src/model.ts
Labels: git

#237343 Git - add `git.commitShortHashLength` setting
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/repository.ts
  extensions/git/src/util.ts
Labels: git

#237360 Git - add author email to the blame/graph hover
  extensions/git/src/blame.ts
  extensions/git/src/historyProvider.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: git

#237365 Git - improve timeline hover
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
  extensions/git/src/git.ts
  extensions/git/src/timelineProvider.ts
  src/vs/workbench/contrib/timeline/browser/timelinePane.ts
Labels: git

#237368 Git - remove commands that are not used
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/blame.ts
  extensions/git/src/commands.ts
  extensions/git/src/timelineProvider.ts
Labels: git

#237388 Git - Revert "Git - escape shell-sensitive characters (#236849)"
  extensions/git/src/git.ts
Labels: git

#237390 Git - switch back to using options instead of subcomands
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#237393 Git - expose unsetConfig through the extension API
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/repository.ts
Labels: git

#237409 Git - remove proposed api typings from git/github extensions
  extensions/git/src/api/api1.ts
  extensions/git/src/commands.ts
  extensions/git/src/git-base.ts
  extensions/git/src/remoteSource.ts
  extensions/git/src/typings/git-base.d.ts
  extensions/git/src/typings/vscode.proposed.canonicalUriProvider.d.ts
  extensions/git/src/typings/vscode.proposed.editSessionIdentityProvider.d.ts
  extensions/git/tsconfig.json
  extensions/github/src/typings/vscode.proposed.canonicalUriProvider.d.ts
  extensions/github/src/typings/vscode.proposed.shareProvider.d.ts
  extensions/github/tsconfig.json
Labels: git

#237423 Git - remove hard coded remote name when detecting the default branch
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#237514 GitHub - add "Open on GitHub" to blame hover
  extensions/git-base/src/api/api1.ts
  extensions/git-base/src/api/git-base.d.ts
  extensions/git-base/src/remoteSource.ts
  extensions/git/src/blame.ts
  extensions/git/src/remoteSource.ts
  extensions/git/src/repository.ts
  extensions/git/src/typings/git-base.d.ts
  extensions/github/src/commands.ts
  extensions/github/src/links.ts
  extensions/github/src/remoteSourceProvider.ts
  extensions/github/src/typings/git-base.d.ts
Labels: git, github

#232497 fix 227150: Added a recursive git clone button
  extensions/git/package.nls.json
Labels: git

#237558 Git - update base branch revision when it changes
  extensions/git/src/historyProvider.ts
Labels: git

#237562 Engineering - disable binskim
  build/azure-pipelines/product-build.yml
Labels: engineering

#237580 Engineering - disable binskim (#237562)
  build/azure-pipelines/product-build.yml
Labels: engineering

#237635 GitHub - add "Open on GitHub" action to the SCM graph
  extensions/github/package.json
  extensions/github/src/commands.ts
  extensions/github/tsconfig.json
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: github

#237641 Git - fix timeline item hover rendering
  extensions/git/src/timelineProvider.ts
Labels: git

#237645 Git/SCM - update "view" to "open" in the command titles
  extensions/git/package.nls.json
  extensions/git/src/blame.ts
  extensions/git/src/timelineProvider.ts
  src/vs/workbench/contrib/multiDiffEditor/browser/scmMultiDiffSourceResolver.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: git, scm

#237687 SCM - add plumbing to support history item ref actions
  extensions/git/src/historyProvider.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#237734 Git - Add "Checkout" action to graph
  extensions/git/package.json
  extensions/git/src/commands.ts
Labels: git

#237745 SCM - 💄 cleanup graph submenu/menu code
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
Labels: scm

#237790 Git - cleanup command names
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#237811 Git - add more commands to the graph context menu
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#237832 Git - fix "Open on GitHub" command
  extensions/git/src/repository.ts
  extensions/github/src/commands.ts
Labels: git

#237893 SCM - Add "Open on GitHub" action to history item hover
  extensions/github/package.json
  extensions/github/src/commands.ts
  src/vs/platform/actions/common/actions.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/services/actions/common/menusExtensionPoint.ts
Labels: scm

#237899 GitHub - 💄 extract command strings
  extensions/github/package.json
  extensions/github/package.nls.json
Labels: github

#237959 Revert "Engineering - disable binskim (#237562)"
  build/azure-pipelines/product-build.yml
Labels: engineering

#237961 GitHub - link provider for various hovers
  extensions/git-base/src/api/api1.ts
  extensions/git-base/src/api/git-base.d.ts
  extensions/git-base/src/remoteSource.ts
  extensions/git/src/blame.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/remoteSource.ts
  extensions/git/src/timelineProvider.ts
  extensions/git/src/typings/git-base.d.ts
  extensions/github/src/commands.ts
  extensions/github/src/remoteSourceProvider.ts
  extensions/github/src/typings/git-base.d.ts
  extensions/github/src/util.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: github

#237966 Git - move stage/unstage commands to the `...` menu
  extensions/git/package.json
Labels: git

#237993 Include checking for `github-enterprise`
  src/vs/workbench/contrib/chat/browser/chatSetup.ts
Labels: candidate

#238045 Git - 💄 fix history item details provider name
  extensions/git/src/api/api1.ts
  extensions/git/src/api/git.d.ts
  extensions/git/src/blame.ts
  extensions/git/src/historyItemDetailsProvider.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/model.ts
  extensions/git/src/repository.ts
  extensions/git/src/timelineProvider.ts
  extensions/github/src/extension.ts
  extensions/github/src/historyItemDetailsProvider.ts
  extensions/github/src/typings/git.d.ts
Labels: git

#238083 Git - add avatar resolution to git blame editor decoration hover
  extensions/git/src/api/git.d.ts
  extensions/git/src/blame.ts
  extensions/git/src/historyItemDetailsProvider.ts
  extensions/github/src/extension.ts
  extensions/github/src/historyItemDetailsProvider.ts
  extensions/github/src/typings/git.d.ts
  extensions/github/src/util.ts
Labels: git

#238125 Timeline - expose timeline item to all extensions that have the proposal enabled
  src/vs/workbench/api/common/extHostCommands.ts
  src/vs/workbench/api/common/extHostTimeline.ts
Labels: timeline

#238144 GitHub - add "Open on GitHub" action to timeline context menu
  extensions/github/package.json
  extensions/github/src/commands.ts
  extensions/github/tsconfig.json
Labels: github

#238239 GitHub - avatar resolution improvements
  extensions/git/src/api/git.d.ts
  extensions/git/src/blame.ts
  extensions/git/src/git.ts
  extensions/git/src/historyItemDetailsProvider.ts
  extensions/github/src/historyItemDetailsProvider.ts
  extensions/github/src/links.ts
  extensions/github/src/typings/git.d.ts
Labels: github

#238246 Git - add avatar to graph hover
  extensions/git/src/historyProvider.ts
  extensions/github/src/historyItemDetailsProvider.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostSCM.ts
  src/vs/workbench/contrib/scm/browser/scmHistoryViewPane.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: git

#238247 Timeline - enable paging by default
  src/vs/workbench/contrib/timeline/browser/timeline.contribution.ts
Labels: timeline

#238270 GitHub - add setting to disable avatar resolution
  extensions/github/package.json
  extensions/github/package.nls.json
  extensions/github/src/historyItemDetailsProvider.ts
Labels: github

#238298 Git - add missing event to the Repository interface
  extensions/git/src/api/git.d.ts
Labels: git

#238302 Git - add commands to toggle git blame editor decoration/status bar item
  extensions/git/package.json
  extensions/git/package.nls.json
  extensions/git/src/commands.ts
Labels: git

#238349 Git - fix regression with commits that contain addition/deletion/rename
  extensions/git/src/fileSystemProvider.ts
  extensions/git/src/historyProvider.ts
  extensions/git/src/main.ts
  extensions/git/src/uri.ts
  src/vs/workbench/api/browser/mainThreadSCM.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/contrib/scm/common/history.ts
  src/vscode-dts/vscode.proposed.scmHistoryProvider.d.ts
Labels: git

#238355 Git - adopt async status bar item hover
  extensions/git/package.json
  extensions/git/src/blame.ts
  extensions/git/tsconfig.json
Labels: git

#238367 Git - pass the similarityThreshold to git diff-tree
  extensions/git/src/git.ts
  extensions/git/src/repository.ts
Labels: git

#238368 Git - when doing a git rename close the old file and open the new one
  extensions/git/src/commands.ts
Labels: git

#238395 Git - FS stat should also throw if the file does not exist
  extensions/git/src/fileSystemProvider.ts
Labels: git

#238398 Engineering - update notebooks
  .vscode/notebooks/endgame.github-issues
  .vscode/notebooks/my-endgame.github-issues
Labels: engineering

#238402 SCM - fix `scm.historyProviderCount` context key
  src/vs/workbench/contrib/scm/common/scmService.ts
Labels: scm

#238451 Git - add caching for commit details
  extensions/git/src/blame.ts
  extensions/git/src/cache.ts
Labels: git

#238454 Git - enable git blame status bar entry by default
  extensions/git/package.json
Labels: git

#238453 StatusBar - keep disposing a status bar entry on the extension host side
  src/vs/workbench/api/browser/mainThreadStatusBar.ts
  src/vs/workbench/api/common/extHost.protocol.ts
  src/vs/workbench/api/common/extHostStatusBar.ts
Labels: workbench-status

#238462 Git - simplify git blame caching
  extensions/git/src/blame.ts
Labels: git

#238557 Git - handle merge conflict refs
  extensions/git/src/git.ts
Labels: git

#238560 Git - select the correct object for a merge conflict ref
  extensions/git/src/git.ts
Labels: git

#238602 SCM - fix graph hover pills
  src/vs/workbench/contrib/scm/browser/media/scm.css
Labels: scm

#238645 SCM - accessibility help dialog
  src/vs/platform/accessibility/browser/accessibleView.ts
  src/vs/workbench/contrib/accessibility/browser/accessibilityConfiguration.ts
  src/vs/workbench/contrib/scm/browser/scm.contribution.ts
  src/vs/workbench/contrib/scm/browser/scmAccessibilityHelp.ts
Labels: scm

#238676 GitHub - fix event handled
  extensions/github/src/historyItemDetailsProvider.ts
Labels: github

#238691 splash - support for auxiliary sidebar (workspace specific)
  src/vs/code/electron-sandbox/workbench/workbench.ts
  src/vs/platform/native/electron-main/nativeHostMainService.ts
  src/vs/platform/theme/common/themeService.ts
  src/vs/platform/theme/electron-main/themeMainService.ts
  src/vs/platform/windows/electron-main/windowImpl.ts
  src/vs/platform/windows/electron-main/windows.ts
  src/vs/workbench/contrib/splash/browser/partsSplash.ts
  src/vs/workbench/contrib/splash/browser/splash.contribution.ts
  src/vs/workbench/contrib/splash/electron-sandbox/splash.contribution.ts
Labels: workbench-rapid-render

#238719 Git - fix autostash to work with staged changes
  extensions/git/src/repository.ts
Labels: git

#239098 Revert "SCM - disable actions for resource groups that do not have any resources (#236813)"
  extensions/git/package.json
  src/vs/workbench/contrib/scm/browser/menus.ts
Labels: scm

#239102 Git - fix issue related to opening the first commit of the repository from the git blame hover
  extensions/git/src/commands.ts
Labels: git

#239111 Git - fix bug with opening the first commit from the timeline view
  extensions/git/src/fileSystemProvider.ts
  extensions/git/src/timelineProvider.ts
Labels: git

#239203 SCM - update list aria label for the input
  src/vs/workbench/contrib/accessibility/browser/accessibilityConfiguration.ts
  src/vs/workbench/contrib/scm/browser/scmViewPane.ts
Labels: scm

#239226 Git - use base branch to calculate unpublished commits
  extensions/git/src/repository.ts
Labels: git

#238409 tsb: fix for deleted and re-added source file not being re-generated
  build/lib/tsb/builder.js
  build/lib/tsb/builder.ts
Labels: engineering

#239327 [release/1.97] Revert: Editor GPU: Pass content width through to scroll bar
  src/vs/editor/browser/gpu/gpu.ts
  src/vs/editor/browser/gpu/renderStrategy/baseRenderStrategy.ts
  src/vs/editor/browser/gpu/renderStrategy/fullFileRenderStrategy.ts
  src/vs/editor/browser/gpu/renderStrategy/viewportRenderStrategy.ts
  src/vs/editor/browser/gpu/viewGpuContext.ts
  src/vs/editor/browser/view.ts
  src/vs/editor/browser/viewParts/viewLinesGpu/viewLinesGpu.ts
Labels: candidate

#239294 fix config-context-key handling when config isn't known yet
  src/vs/platform/contextkey/browser/contextKeyService.ts
  src/vs/workbench/contrib/chat/browser/languageModelToolsService.ts
  src/vs/workbench/contrib/chat/common/chatAgents.ts
Labels: candidate

#239365 Fix showing wrong welcome view content when offline
  src/vs/workbench/contrib/chat/browser/chatWidget.ts
  src/vs/workbench/contrib/chat/browser/viewsWelcome/chatViewWelcomeController.ts
Labels: candidate
